<div modal-page>
  <task-monitor monitor="taskMonitor"></task-monitor>
  <form role="form">
    <modal-close (dismiss)="$dismiss()"></modal-close>
    <div class="modal-header">
      <h3>Disassociate Elastic IP with Cluster</h3>
    </div>
    <div class="modal-body container-fluid">
      <div class="form-group">
        <div class="col-sm-12">
          <dl class="dl-horizontal dl-narrow">
            <dt>Elastic IP</dt>
            <dd>{{elasticIp.address}} ({{elasticIp.type}})</dd>
            <dt>Cluster</dt>
            <dd>{{elasticIp.cluster}}</dd>
            <dt>Region</dt>
            <dd>{{elasticIp.region}}</dd>
            <dt>Account</dt>
            <dd>{{elasticIp.account}}</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <user-verification account="serverGroup.account" verification="verification"></user-verification>
      <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button type="submit"
              class="btn btn-primary"
              ng-click="ctrl.disassociate()"
              ng-disabled="!ctrl.isValid()">
        Disassociate
      </button>
    </div>
  </form>
</div>
