@import 'colors.css';
@import 'typography.css';
@import 'buttons.css';
@import 'spinners.css';
@import 'pods.css';
@import 'tabs.css';
@import 'lists.css';
@import 'layouts.css';
@import 'layers.css';
@import 'pagination.css';
@import 'pillsAndTags.css';
@import 'icons.css';

:root {
  --is-phone: false;
  --is-tablet: false;
  --is-desktop: false;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
  :root {
    --is-phone: true;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)  {
  :root {
    --is-tablet: true;
  }
}

@media screen
  and (min-device-width: 992px) {
    :root {
      --is-desktop: true;
    }
  }
