.grid-container {
  display: grid;
  grid-template-areas: header contents;
  grid-template-rows: 40px 1fr;
}

.grid-container > .grid-header {
  grid-area: header;
}

.grid-container > .grid-contents {
  grid-area: contents;
}

