/*
@styleguide

@title Icons

Icons can be disabled or active. Here are those two states

<i class="fa fa-trash button"></i>

    <i class="fa fa-trash button"></i>

<i class="fa fa-trash disabled"></i>

    <i class="fa fa-trash disabled"></i>
*/

i.button {
  color: var(--color-accent);
  cursor: pointer;
}

i.button:hover {
  color: var(--color-primary);
}

i.disabled {
  color: var(--color-accessory);
}
