/*
@styleguide

@title Layers

Controlling the number of layers a page has with z-index selectors.
Use the following selectors to get the specific layer. This eliminates the need to
manually set z-index that can be difficult to track.

    1. .layer-critical    gives you a zindex of 10000
    2. .layer-high        gives you a zindex of 9000
    3. .layer-medium      gives you  a zindex of  8000
    4. .layer-low         gives you a zindex of 7000
    5. .layer-backdrop    gives you a zindex of 6000

*/

:root {
  --layer-critical: 10000;
  --layer-high: 9000;
  --layer-medium: 8000;
  --layer-low: 7000;
  --layer-backdrop: 6000;
}

.layer-critical {
  z-index: var(--layer-critical);
}

.layer-high {
  z-index: var(--layer-high);
}

.layer-medium {
  z-index: var(--layer-medium);
}

.layer-low {
  z-index: var(--layer-low);
}

.layer-backdrop {
  z-index: var(--layer-backdrop);
}
