/*
@styleguide

@title Layouts

Flexbox layouts

Horizontal layout (.horizontal)
<div class="box horizontal">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
    </div>

Horizontal Layout + Aligning items center (.horizontal.center)
<div class="box horizontal center">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal center">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
    </div>


Horizontal Layout + align items center and bottom (.horizontal.center.bottom)
<div class="long-box horizontal center bottom">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal center bottom">
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
    </div>

Horizontal Layout + space between items and top (.horizontal.space-between.top)
<div class="long-box horizontal space-between top">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal space-between top">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
    </div>

Horizontal Layout + space around items and top (.horizontal.space-between.top)
<div class="long-box horizontal space-around top">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal space-around top">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
    </div>

Horizontal Layout + items at bottom right (.horizontal.right.bottom)
<div class="long-box horizontal right bottom">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal right bottom">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
    </div>

Horizontal Layout + items at middle right (.horizontal.middle.right)
<div class="long-box horizontal middle right">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="horizontal middle right">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
    </div>

Horizontal Layout + items occupying a space of ratio 1:2:3
<div class="box horizontal">
  <div class="item first flex-1">First</div>
  <div class="item second flex-2">Second</div>
  <div class="item third flex-3">Third</div>
</div>

    <div class="horizontal">
      <div class="first flex-1">First</div>
      <div class="second flex-1">Second</div>
      <div class="third flex-2">Third</div>
    </div>

Horizontal Layout + items occupying a space of 0:1:2
<div class="box horizontal">
  <div class="item first">First</div>
  <div class="item second flex-1">Second</div>
  <div class="item third flex-2">Third</div>
</div>

    <div class="horizontal">
      <div class="first">First</div>
      <div class="second flex-1">Second</div>
      <div class="third flex-2">Third</div>
    </div>

Horizontal Layout + positioning and spacing each item differently
<div class="long-box horizontal">
  <div class="item first self-left flex-1">First</div>
  <div class="item second self-center flex-1">Second</div>
  <div class="item third self-right flex-1">Third</div>
  <div class="item fourth self-stretch flex-1">Fourth</div>
</div>

    <div class="horizontal">
      <div class="first self-left flex-1">First</div>
      <div class="second self-center flex-1">Second</div>
      <div class="third self-right flex-1">Third</div>
      <div class="fourth self-stretch flex-1">Fourth</div>
    </div>

Horizontal Layout + wrap items
<div class="condensed-box horizontal wrap">
  <div class="item first flex-1">First</div>
  <div class="item second flex-1">Second</div>
  <div class="item third flex-1">Third</div>
  <div class="item fourth flex-1">Fourth</div>
</div>

    <div class="horizontal wrap">
      <div class="first flex-1">First</div>
      <div class="second flex-1">Second</div>
      <div class="third flex-1">Third</div>
      <div class="fourth flex-1">Fourth</div>
    </div>

Horizontal Layout + wrap items reverse
<div class="condensed-box horizontal wrap-reverse">
  <div class="item first flex-1">First</div>
  <div class="item second flex-1">Second</div>
  <div class="item third flex-1">Third</div>
  <div class="item fourth flex-1">Fourth</div>
</div>

    <div class="horizontal wrap-reverse">
      <div class="first flex-1">First</div>
      <div class="second flex-1">Second</div>
      <div class="third flex-1">Third</div>
      <div class="fourth flex-1">Fourth</div>
    </div>

Vertical Layout
<div class="long-wide-box vertical">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + items in center
<div class="long-wide-box vertical center">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical center">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + items in middle and center
<div class="long-wide-box vertical center middle">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical center middle">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + items in middle and right
<div class="long-wide-box vertical right middle">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical right middle">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + items with space between
<div class="long-wide-box vertical space-between">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical space-between">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + items with space-around
<div class="long-wide-box vertical space-around">
  <div class="item first">First</div>
  <div class="item second">Second</div>
  <div class="item third">Third</div>
  <div class="item fourth">Fourth</div>
</div>

    <div class="vertical space-around">
      <div class="first">First</div>
      <div class="second">Second</div>
      <div class="third">Third</div>
      <div class="fourth">Fourth</div>
    </div>

Vertical Layout + item occupying space based on a ratio of 0:1:0
<div class="long-wide-box vertical">
  <div class="item first">First</div>
  <div class="item second flex-1">Second</div>
  <div class="item third">Third</div>
</div>

    <div class="vertical">
      <div class="first">First</div>
      <div class="second flex-1">Second</div>
      <div class="third">Third</div>
    </div>

Vertical Layout Full bleed
<div class="long-wide-box vertical">
  <div class="item flex-1">Fullbleed</div>
</div>

    <div class="vertical">
      <div class="flex-1">Fullbleed</div>
    </div>
*/

.horizontal {
  display: flex;
}

.horizontal.center {
  justify-content: center;
}

.horizontal.middle {
  align-items: center;
}

.horizontal.top {
  align-items: flex-start;
}

.horizontal.bottom {
  align-items: flex-end;
}

.horizontal.space-between {
  justify-content: space-between;
}

.horizontal.space-around {
  justify-content: space-around;
}

.horizontal.right {
  justify-content: flex-end;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical.center {
  align-items: center;
}

.vertical.middle {
  justify-content: center;
}

.vertical.right {
  align-items: flex-end;
}

.vertical.bottom {
  justify-content: flex-end;
}

.vertical.space-around {
  justify-content: space-around;
}

.vertical.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.self-left {
  align-self: flex-start;
}

.self-right {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-12 {
  flex: 12;
}

/* CSS for demonstration purposes of flexbox */
.box, .long-box, .condensed-box, .long-wide-box {
  padding: 8px;
  background-color: var(--color-seashell);
}

.condensed-box {
  max-width: 200px;
}

.long-box {
  height: 130px;
}

.long-wide-box {
  width: 200px;
  height: 400px;
}

.item {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
  background-color: white;
}
