.styleguide ul.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.styleguide ul.pagination li:not(.break) {
  border: 1px solid var(--color-divider);
  margin: 0 4px;
  color: var(--color-text-primary);
  font-weight: 600;
  cursor: pointer;
}

.styleguide ul.pagination li.selected, ul.pagination li:hover {
  background-color: var(--color-primary);
}

.styleguide ul.pagination li.selected  *, ul.pagination li:hover * {
  color: var(--color-text-on-dark);
  text-decoration: none;
}

.styleguide ul.pagination li > a {
  display: block;
  padding: 6px 10px;
  text-align: center;
  color: var(--color-text-primary);
}
