/*
@styleguide

@title Pods

Pods are containers for content.

Here are two types of pods.
1. Default pod - Just a pod with some actions in it
2. Clickable pod - The entire pod is clickable to take you some where.
3. Open Pod - If the pod is not clickable and contains information that is large, the pod is open.
   The content section does  not have a box around it.

<section class="pod">
  <div class="header horizontal middle">
    <div class="flex-1">Some title</div>
    <button class="primary">Action</button>
  </div>
  <div class="contents">Contents</div>
</section>

    <section class="pod">
      <div class="header horizontal middle">
        <div class="flex-1">Some title</div>
        <button class="primary">Action</button>
      </div>
      <div class="contents">Contents</div>
    </section>

<section class="pod clickable">
  <div class="header horizontal middle">
    <div class="flex-1">Some title</div>
    <button class="primary">Action</button>
  </div>
  <div class="contents">Contents</div>
</section>

    <section class="pod clickable">
      <div class="header horizontal middle">
        <div class="flex-1">Some title</div>
        <button class="primary">Action</button>
      </div>
      <div class="contents">Contents</div>
    </section>

<section class="pod open">
  <div class="header horizontal middle">
    <div class="flex-1">Some title</div>
    <button class="primary">Action</button>
  </div>
  <div class="contents">Contents</div>
</section>

    <section class="pod open">
      <div class="header horizontal middle">
        <div class="flex-1">Some title</div>
        <button class="primary">Action</button>
      </div>
      <div class="contents">Contents</div>
    </section>

*/

.pod .header, .pod header {
  background-color: var(--color-accent-g2);
  border: 1px solid var(--color-accent-g2);
  padding: 4px 4px 4px 14px;
}

.pod .contents {
  padding: 16px 14px;
  background-color: white;
}

.pod:not(.open) .contents {
  border: 1px solid var(--color-accent-g2);
}

.pod.clickable:hover .contents {
  border: 1px solid var(--color-accent);
  background-color: var(--color-seashell);
}

.pod.clickable:hover .header, .pod.clickable:hover header {
  border: 1px solid var(--color-accent);
}
