/*
@styleguide

@title Spinners

List of spinners for the app

<div class="spinner"><div class="ball1"></div><div class="ball2"></div><div class="ball3"></div></div>

    <div class="spinner"><div class="ball1"></div><div class="ball2"></div><div class="ball3"></div></div>

*/

@keyframes rollingColor {
    0% {
        opacity: 0.6;
        transform: scale(1)
    }

    40% {
        opacity: 0.8;
        transform: scale(1.3)
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
        transform: scale(1)
    }
}

.spinner {
    display: flex;
}

.spinner .ball1, .spinner .ball2, .spinner .ball3 {
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--color-accent);
    animation: rollingColor 2s infinite ease-in;
    min-width: 13px;
    min-height: 9px;
    max-width: 16px;
    max-height: 12px;
}

.spinner .ball2 {
    animation-delay: 0.3s;
}

.spinner .ball3 {
    animation-delay: 0.6s;
}
