/*
@styleguide

@title Typography

Use the display on header tags h1..h6.
These styles can be applied to any header tags. Display-4 need not be applied just on H1.
Keeping them header tag agnostic helps maintain page hierarchy for accessibility and
helps style aesthetically.

Use text colors from variables for any of the typography.

<h1 class="heading-1">Heading 1</h1>

    <h1 class="heading-1">Heading 1</h1>

<h1 class="heading-2">Heading 2</h1>

    <h1 class="heading-2">Heading 2</h1>

<h4 class="heading-3">Heading 3</h4>

    <h4 class="heading-3">Heading 3</h4>

<h2 class="heading-4">Heading 4</h2>

    <h2 class="heading-4">Heading 4</h2>

<h4 class="heading-5">Heading 5</h4>

    <h4 class="heading-5">Heading 5</h4>

<h5 class="heading-6">Heading 6</h5>

    <h5 class="heading-6">Heading 6</h5>

<p class="body-large">Paragraph Large Body</p>

    <p class="body-large">Paragraph Large Body</p>

<p class="body-regular">Paragraph Regular Body</p>

    <p class="body-regular">Paragraph Regular Body</p>

<p class="body-small">Paragraph Small Body</p>

    <p class="body-small">Paragraph Small Body</p>

<p class="body-small">Paragraph Tiny Body</p>

    <p class="body-small">Paragraph Tiny Body</p>

<div class="caption">Caption Text</div>

    <div class="caption">Caption Text</div>

<label class="label">Label</label>

    <label class="label">Label</label>

Exposing uppercase through a selector:

<label class="label uppercase">Label</label>

    <label class="label uppercase">Label</label>

<p class="headline uppercase">Label</p>

    <p class="headline uppercase">Label</p>
*/

/*
@styleguide

@title Typography weights

1. Bold on headings
2. Bold on regular text

There is however one selector only (.bold). This will set the font-weight appropriately based
on whether its a heading or not.

<h4 class="heading-1 bold">
  Heading-1 Bolded
</h4>

    <h4 class="heading-1 bold">
      Heading-1 Bolded
    </h4>

<p class="bold">Regular text bolded</p>

    <p class="bold">Regular text bolded</p>

*/
/*
@styleguide

@title Typography in different colors

<h1 class="heading-1 color-text-primary">Heading 1</h1>
<h1 class="heading-2 color-text-primary">Heading 2</h1>
<h4 class="heading-3 color-text-primary">Heading 3</h4>
<h2 class="heading-4 color-text-primary">Heading 4</h2>
<h4 class="heading-5 color-text-primary">Heading 5</h4>
<h5 class="heading-6 color-text-primary">Heading 6</h5>
<p class="body-large color-text-primary">Paragraph Large Body</p>
<p class="body-regular color-text-primary">Paragraph Regular Body</p>
<p class="body-small color-text-primary">Paragraph Small Body</p>
<p class="body-small color-text-primary">Paragraph Tiny Body</p>
<div class="caption color-text-primary">Caption Text</div>
<label class="label color-text-primary">Label</label>

<h1 class="heading-1 color-text-secondary">Heading 1</h1>
<h1 class="heading-2 color-text-secondary">Heading 2</h1>
<h4 class="heading-3 color-text-secondary">Heading 3</h4>
<h2 class="heading-4 color-text-secondary">Heading 4</h2>
<h4 class="heading-5 color-text-secondary">Heading 5</h4>
<h5 class="heading-6 color-text-secondary">Heading 6</h5>
<p class="body-large color-text-secondary">Paragraph Large Body</p>
<p class="body-regular color-text-secondary">Paragraph Regular Body</p>
<p class="body-small color-text-secondary">Paragraph Small Body</p>
<p class="body-small color-text-secondary">Paragraph Tiny Body</p>
<div class="caption color-text-secondary">Caption Text</div>
<label class="label color-text-secondary">Label</label>

<h1 class="heading-1 color-text-accent">Heading 1</h1>
<h1 class="heading-2 color-text-accent">Heading 2</h1>
<h4 class="heading-3 color-text-accent">Heading 3</h4>
<h2 class="heading-4 color-text-accent">Heading 4</h2>
<h4 class="heading-5 color-text-accent">Heading 5</h4>
<h5 class="heading-6 color-text-accent">Heading 6</h5>
<p class="body-large color-text-accent">Paragraph Large Body</p>
<p class="body-regular color-text-accent">Paragraph Regular Body</p>
<p class="body-small color-text-accent">Paragraph Small Body</p>
<p class="body-small color-text-accent">Paragraph Tiny Body</p>
<div class="caption color-text-accent">Caption Text</div>
<label class="label color-text-accent">Label</label>

<h1 class="heading-1 color-text-caption">Heading 1</h1>
<h1 class="heading-2 color-text-caption">Heading 2</h1>
<h4 class="heading-3 color-text-caption">Heading 3</h4>
<h2 class="heading-4 color-text-caption">Heading 4</h2>
<h4 class="heading-5 color-text-caption">Heading 5</h4>
<h5 class="heading-6 color-text-caption">Heading 6</h5>
<p class="body-large color-text-caption">Paragraph Large Body</p>
<p class="body-regular color-text-caption">Paragraph Regular Body</p>
<p class="body-small color-text-caption">Paragraph Small Body</p>
<p class="body-small color-text-caption">Paragraph Tiny Body</p>
<div class="caption color-text-caption">Caption Text</div>
<label class="label color-text-caption">Label</label>
*/

/* NOTE: Feel free to set a font-size on body and then use rems and ems
if that is your style. I personally find it hard to read it.

You can also use custom line-height per typography item. I set it to 1.1em which
gives good readability.
*/

/* NOTE: I included Roboto and Alegreya inside the template so that these fonts render
in your styleguide. Please make sure to include them in your template in addition to your
project.

Here's the styleguide template for this project: ../styleguide_template/template.ejs
*/

:root {
  /* alter the display start size to appropriate value for desktop and mobile and all the
   * display sizes will be adjusted appropriately */
  --display-start-font-size: 16px;

  --display-4-font-size: calc(var(--display-start-font-size) * 1.8);
  --display-3-font-size: calc(var(--display-start-font-size) * 1.5);
  --display-2-font-size: calc(var(--display-start-font-size) * 1.32);
  --display-1-font-size: var(--display-start-font-size);
}

@media only screen and (max-device-width: 480px) {
  :root {
    --display-start-font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6, p, div, span, section, li {
  font-family: 'Source Sans Pro', sans-serif;
}

*[class^='headline-'] {
  font-weight: 600;
}

.heading-1 {
  font-size: 22px;
  line-height: 28px;
}

.heading-2 {
  font-size: 18px;
  line-height: 23px;
}

.heading-3, .body-large {
  font-size: 16px;
  line-height: 20px;
}

.heading-4, .body-regular {
  font-size: 14px;
  line-height: 18px;
}

.heading-5 {
  font-size: 13px;
  line-height: 17px;
}

.heading-6, .body-small {
  font-size: 12px;
  line-height: 15px;
}

.heading-7, .body-tiny {
  font-size: 10px;
  line-height: 13px;
}

.body-tiny, .body-small, .body-regular, .body-large {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.bold[class*="heading-"] {
  font-weight: 600;
}

.bold:not([class*="heading-"]) {
  font-weight: 700;
}
