<div class="form-group">
  <div class="col-md-{{$ctrl.labelColumns}} sm-label-right">
    VPC Subnet
    <help-field key="{{$ctrl.helpKey}}"></help-field>
  </div>
  <div class="col-md-7" ng-if="!$ctrl.region">(Select an account)</div>
  <div class="col-md-7" ng-if="$ctrl.region">
    <select class="form-control input-sm" ng-model="$ctrl.component[$ctrl.field]"
            ng-change="$ctrl.onChange()"
            ng-if="!$ctrl.readOnly">
      <option ng-if="!$ctrl.hideClassic" value="">None (EC2 Classic)</option>
      <option ng-repeat="subnet in $ctrl.activeSubnets | orderBy: 'label'" value="{{subnet.purpose}}" ng-selected="$ctrl.component[$ctrl.field] === subnet.purpose">{{subnet.label}}</option>
      <option ng-if="$ctrl.activeSubnets.length && $ctrl.deprecatedSubnets.length" disabled>---------------</option>
      <option ng-repeat="subnet in $ctrl.deprecatedSubnets | orderBy: 'label'" value="{{subnet.purpose}}" ng-selected="$ctrl.component[$ctrl.field] === subnet.purpose">{{subnet.label}}</option>
    </select>
    <p ng-if="$ctrl.readOnly" class="form-control-static">{{$ctrl.component[$ctrl.field] || 'None (EC2 Classic)'}}</p>
  </div>
</div>
