<div ng-if="$ctrl.showOptions">
  <div class="form-group">
    <label class="col-md-4 sm-label-right">Build from</label>
    <div class="col-md-6">
      <select class="form-control input-sm"
              ng-model="$ctrl.viewState.buildSource"
              ng-change="$ctrl.buildSourceChanged()"
              ng-options="option for option in $ctrl.buildSources"></select>
    </div>
  </div>
  <div class="form-group" ng-if="$ctrl.viewState.buildSource === 'branch'">
    <label class="col-md-4 sm-label-right">Branch</label>
    <div class="col-md-6" ng-if="$ctrl.viewState.branches.loading">
      <p class="form-control-static text-center">
        <span class="fa fa-cog fa-spin"></span>
      </p>
    </div>
    <div class="col-md-6" ng-if="$ctrl.viewState.branches.loadError">Error loading branches!</div>
    <div class="col-md-6" ng-if="!$ctrl.viewState.branches.loadError">
      <ui-select class="form-control input-sm"
                 ng-model="$ctrl.command.trigger.branch"
                 on-select="$ctrl.branchSelected($item)"
                 ng-if="$ctrl.branches.length">
        <ui-select-match placeholder="Select...">
          <span>
            <strong>{{$select.selected.displayId}}</strong>
            <span ng-if="$select.selected.default">(default branch)</span>
          </span>
        </ui-select-match>
        <ui-select-choices repeat="branch.displayId as branch in $ctrl.branches | filter: $select.search">
          <div>
            <strong>{{branch.displayId}}</strong>
            <span ng-if="branch.default">(default branch)</span>
            <div>
              Latest commit: {{branch.latestCommitId}}
            </div>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group" ng-if="$ctrl.viewState.buildSource === 'commit'">
    <label class="col-md-4 sm-label-right">Commit</label>
    <div class="col-md-6" ng-if="$ctrl.viewState.commits.loading">
      <p class="form-control-static text-center">
        <span class="fa fa-cog fa-spin"></span>
      </p>
    </div>
    <div class="col-md-6" ng-if="$ctrl.viewState.commits.loadError">Error loading commits!</div>
    <div class="col-md-6" ng-if="!$ctrl.viewState.commits.loadError">
      <ui-select class="form-control input-sm"
                 ng-model="$ctrl.command.trigger.hash"
                 ng-if="$ctrl.commits.length">
        <ui-select-match placeholder="Select...">
          <span>
            <strong>{{$select.selected.displayId}}</strong>
            ({{$select.selected.author.username}})
            <span ng-bind="$select.selected.message"></span>
          </span>
        </ui-select-match>
        <ui-select-choices repeat="commit.id as commit in $ctrl.commits | filter: $select.search">
          <div>
            <strong>{{commit.displayId}}</strong> ({{commit.author.username}})
            <div>
              <span ng-bind="commit.message"></span>
              <div class="text-right">{{commit.authoredTs | timestamp}}</div>
            </div>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group" ng-if="$ctrl.viewState.buildSource === 'tag'">
    <label class="col-md-4 sm-label-right">Tag</label>
    <div class="col-md-6" ng-if="$ctrl.viewState.tags.loading">
      <p class="form-control-static text-center">
        <span class="fa fa-cog fa-spin"></span>
      </p>
    </div>
    <div class="col-md-6" ng-if="$ctrl.viewState.tags.loadError">Error loading tags!</div>
    <div class="col-md-6" ng-if="!$ctrl.viewState.tags.loadError">
      <ui-select class="form-control input-sm"
                 ng-model="$ctrl.command.trigger.hash"
                 ng-if="$ctrl.tags.length">
        <ui-select-match placeholder="Select...">
          <span>
            <strong>{{$select.selected.displayId}}</strong>
            <span ng-if="$select.selected.default">(default branch)</span>
          </span>
        </ui-select-match>
        <ui-select-choices repeat="tag.commitId as tag in $ctrl.tags | filter: $select.search">
          <div>
            <strong>{{tag.displayId}}</strong>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>
