<li class="feedback-nav"  ng-class="{open: state.showMenu}">
  <a href class="dropdown-toggle remove-border-top" ng-click="toggleMenu()">
    <span class="glyphicon glyphicon-question-sign"></span>
    <span class="hidden-xs hidden-sm">Help</span>
  </a>

  <ul class="dropdown-menu">
    <li>
      <a href ng-click="openFeedback(); toggleMenu();">
        <span class="glyphicon glyphicon-envelope"></span>
        Create an issue in JIRA
      </a>
    </li>
    <li ng-if="slackConfig">
      <a href="https://{{slackConfig.teamName}}.slack.com/messages/{{slackConfig.helpChannelName}}"
         target="_blank"
         ng-if="!state.isMac"
         ng-click="toggleMenu()">
        <span class="icon"><span class="glyphicon icon-bubbles"></span></span>
        Talk to us on Slack
      </a>
      <a href="slack://channel?id={{slackConfig.helpChannel}}&team={{slackConfig.team}}"
         ng-if="state.isMac"
         ng-click="toggleMenu()">
        <span class="icon"><span class="glyphicon icon-bubbles"></span></span>
        Talk to us on Slack
      </a>
    </li>
    <li>
      <a href="https://confluence.netflix.com/display/ENGTOOLS/Spinnaker"
         target="_blank"
         ng-click="toggleMenu()">
        <span class="glyphicon glyphicon-file"></span> Documentation
      </a>
    </li>
  </ul>
</li>
