<div class="form-group" ng-if="deploymentStrategies.length">
  <div class="col-md-{{labelColumns || 2}} sm-label-right" style="padding-left: 13px">
    Strategy
    <help-field key="core.serverGroup.strategy"></help-field>
  </div>
  <div class="col-md-{{fieldColumns || 10}}">
    <ui-select ng-model="command.strategy" class="form-control input-sm">
      <ui-select-match placeholder="None">{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="strategy.key as strategy in deploymentStrategies | filter: $select.search">
        <strong ng-bind-html="strategy.label | highlight: $select.search"></strong>
        <div ng-bind-html="strategy.description"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div ng-if="additionalFieldsTemplateUrl" class="col-md-9 col-md-offset-3">
    <div ng-include src="additionalFieldsTemplateUrl"></div>
  </div>
</div>
