@import (reference) '~core/presentation/less/imports/commonImports.less';

.navbar-inverse .navbar-nav > li.whats-new > a {
  &.unread {
    color: var(--color-alert);
    @media (min-width: 768px) and (max-width: 992px) {
      line-height: 20px;
    }
    font-weight: 400;
  }
}
