<div ng-controller="gceDisableAsgExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'disableServerGroupConfig'">
    <div class="row">
      <div class="col-md-9">
        <dl class="dl-narrow dl-horizontal">
          <dt>Account</dt>
          <dd>
            <account-tag account="stage.context.credentials" provider="'gce'"></account-tag>
          </dd>
          <dt>Zone</dt>
          <dd>{{stage.context.zones.join(', ')}}</dd>
          <dt>Server Group</dt>
          <dd>{{stage.context.serverGroupName}}</dd>
        </dl>
      </div>
    </div>
    <stage-failure-message is-failed="stage.isFailed" message="ctrl.getException(stage)"></stage-failure-message>

    <div class="row" ng-if="stage.isCompleted && stage.context.serverGroupName">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <strong>Disabled:</strong>
          {{stage.context.serverGroupName}}
        </div>
      </div>
    </div>

    <div class="row" ng-if="stage.context.execution.logs">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <!-- TODO: Move this to config -->
          <a target="_blank" href="{{stage.context.execution.logs}}">
            View Execution Logs
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
