<div ng-controller="cfDestroyAsgStageCtrl as destroyAsgStageCtrl" class="form-horizontal">
  <div ng-if="!pipeline.strategy">
    <stage-config-field label="Account">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'cf'" on-change="destroyAsgStageCtrl.accountUpdated()" required></account-select-field>
    </stage-config-field>
    <stage-config-field label="Cluster" help-key="pipeline.config.destroyAsg.cluster">
      <input type="text" required ng-model="stage.cluster" class="form-control input-sm" />
    </stage-config-field>
  </div>
  <stage-config-field label="Target">
    <target-select model="stage" options="targets"></target-select>
  </stage-config-field>
</div>
