[Unit]
Description=Spinnaker Fiat
PartOf=spinnaker.service

[Service]
ExecStart=/opt/fiat/bin/fiat 2>&1 /var/log/spinnaker/fiat/fiat.log
WorkingDirectory=/opt/fiat/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
