<div class="heading">
  <h3>
    Load Balancers
    <div>
        <span class="small">by</span>
        <span class="form-inline">
          <div class="form-group small">
              <select class="form-control input-sm"
                      ng-model="sortField"
                      ng-options="option.key as option.label for option in sortOptions">
              </select>
          </div>
        </span>
    </div>
  </h3>
</div>
<div class="content">
  <div class="sub-nav-item show-all-link">
    <a ui-sref="."
       ng-class="{active: $state.includes('**.loadBalancers.**') && !$state.includes('**.loadBalancer.**')}"
      >Show All Load Balancers</a>
  </div>
  <div class="sub-nav" ng-repeat="heading in ctrl.getHeadings() | orderBy:'toString()'">
    <div class="sub-nav-item">
      <h4>{{heading}}</h4>
      <a ng-repeat="loadBalancer in ctrl.getLoadBalancersFor(heading) | orderBy:'name'"
         ui-sref=".loadBalancer.loadBalancerDetails({loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: loadBalancer.account, name: loadBalancer.name, accountId: loadBalancer.account, region: loadBalancer.region, vpcId: loadBalancer.vpcId, provider: loadBalancer.provider})"
         ng-class="{active: $state.includes('**.loadBalancer.**', {loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: loadBalancer.account, provider: loadBalancer.provider} )}">
        {{ctrl.getLoadBalancerLabel(loadBalancer)}} <health-counts container="loadBalancer.healthCounts"></health-counts>
        <span class="sublabel">{{ctrl.getLoadBalancerSublabel(loadBalancer)}}</span></a>
    </div>
  </div>
</div>
