  <div class="form-group">
    <label class="col-md-3 sm-label-right">Master</label>
    <div class="col-md-8">
      <ui-select class="form-control input-sm"
                 ng-model="$ctrl.trigger.master">
        <ui-select-match placeholder="Select a Wercker master...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="master in $ctrl.masters | filter: $select.search">
          <span ng-bind-html="master | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-1 text-center">
      <a href
         ng-click="$ctrl.refreshMasters()"
         tooltip-placement="right"
         uib-tooltip="{{$ctrl.viewState.mastersRefreshing ? 'Masters refreshing.' : 'Refresh masters list' }}"
        >
              <span ng-class="{'fa-spin':$ctrl.viewState.mastersRefreshing}"
                    class="fa fa-sync-alt"></span>
      </a>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-3 sm-label-right">Application</label>
    <div class="col-md-8">
      <p class="form-control-static" ng-if="!$ctrl.trigger.master">(Select a master)</p>
      <div ng-if="$ctrl.trigger.master && $ctrl.viewState.appsLoaded">
        <ui-select class="form-control input-sm"
                   ng-model="$ctrl.trigger.app">
          <ui-select-match placeholder="Select an Application...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="app in $ctrl.apps | filter: $select.search"><span ng-bind-html="app | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
      </div>
      <div class="horizontal center" ng-if="$ctrl.trigger.master && !$ctrl.viewState.appsLoaded">
        <loading-spinner size="'small'"></loading-spinner>
      </div>
    </div>
    <div class="col-md-1 text-center">
      <a href
         ng-click="$ctrl.refreshApps()"
         tooltip-placement="right"
         uib-tooltip="{{$ctrl.viewState.appsRefreshing ? 'Apps refreshing.' : 'Refresh App list' }}"
        >
              <span ng-class="{'fa-spin':$ctrl.viewState.appsRefreshing}"
                    class="fa fa-sync-alt"></span>
      </a>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-3 sm-label-right">Pipeline</label>
    <div class="col-md-8">
      <p class="form-control-static" ng-if="!$ctrl.trigger.app">(Select an application)</p>
      <div ng-if="$ctrl.trigger.app && $ctrl.viewState.appsLoaded">
        <ui-select class="form-control input-sm"
                   ng-model="$ctrl.trigger.pipeline">
          <ui-select-match placeholder="Select an pipeline...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="pipeline in $ctrl.pipelines | filter: $select.search"><span ng-bind-html="pipeline | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
      </div>
      <div class="horizontal center" ng-if="$ctrl.trigger.app && !$ctrl.viewState.appsLoaded">
        <loading-spinner size="'small'"></loading-spinner>
      </div>
    </div>
    <div class="col-md-1 text-center">
      <a href
         ng-click="$ctrl.refreshJobs()"
         tooltip-placement="right"
         uib-tooltip="{{$ctrl.viewState.jobsRefreshing ? 'Jobs refreshing.' : 'Refresh job list' }}"
        >
              <span ng-class="{'fa-spin':$ctrl.viewState.jobsRefreshing}"
                    class="fa fa-sync-alt"></span>
      </a>
    </div>
  </div>

  <div class="form-group" ng-if="$ctrl.fiatEnabled">
    <run-as-user-selector service-accounts="$ctrl.serviceAccounts"
                          component="$ctrl.trigger"
                          field="runAsUser">
    </run-as-user-selector>
  </div>