<div class="container-fluid form-horizontal">

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Launch Type
      <help-field key="ecs.launchtype"></help-field>
    </div>
    <div class="col-md-3">
      <ui-select ng-model="$ctrl.command.launchType"
                 class="form-control input-sm">
        <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="launchType in $ctrl.command.backingData.launchTypes | filter: $select.search">
          <span ng-bind-html="launchType | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Desired capacity
      <help-field key="ecs.capacity.desired"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 name="capacity"
                                 ng-model="$ctrl.command.capacity.desired"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Minimum
      <help-field key="ecs.capacity.minimum"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 name="min"
                                 ng-model="$ctrl.command.capacity.min"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      Maximum
      <help-field key="ecs.capacity.maximum"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 name="max"
                                 ng-model="$ctrl.command.capacity.max"/></div>
  </div>

  <div class="form-group">
    <div class="col-md-12 checkbox">
      <label>
        <input type="checkbox" ng-checked="true" ng-model="$ctrl.command.capacity.usePreviousCapacityIfAvailable"/> <!-- TODO: Use the controller to set a default, just like there are many defaults on this page -->
        <b>If available, use the previous server group's capacity</b>
      </label>
      <help-field key="ecs.capacity.overwrite"></help-field>
    </div>
  </div>

  <br />

  </div>

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Autoscaling policy</b> <help-field key="ecs.capacity.autoscalingPolicies"></help-field>
    </div>
    <div class="col-md-8">
      <div class="form-control-static" ng-if="!$ctrl.command.backingData.filtered.metricAlarms.length">
        No autoscaling policies found in the selected account/region
      </div>
      <ui-select multiple
                 ng-if="$ctrl.command.backingData.filtered.metricAlarms.length"
                 ng-model="$ctrl.command.autoscalingPolicies"
                 class="form-control input-sm">
        <ui-select-match>{{$item.alarmName}}</ui-select-match>
        <ui-select-choices repeat="policy in $ctrl.command.backingData.filtered.metricAlarms | filter: $select.search">
          <span ng-bind-html="policy.alarmName"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

</div>
