@import "../../core/presentation/less/imports/commonImports.less";

.whats-new {
  font-weight: 400;

  .timestamp {
    color: @code-yellow;
    font-size: 80%;
    font-weight: 200;
    display: block;
    position: fixed;
  }
}
