@import (reference) "~core/presentation/less/imports/commonImports.less";

.execution-marker.stage {
  margin-top: 0;
  display: inline-block;
  height: 20px;
  opacity: 0.65;
  transition: 0.2s all;
  text-align: center;
  padding: 0;
  color: #000000;
  font-size: 90%;
  border: 1px solid transparent;
  border-left-color: #FFFFFF;
  &:hover, &.active {
    opacity: 1;
  }
  &.after-active {
    border-left-color: transparent;
  }
  &.active {
    border-color: #222222;
    &:first-child {
      border-left-width: 1px;
    }
    &:last-child {
      border-right-width: 1px;
    }
  }
  &.glowing {
    .glowing(2.5);
  }
}
