<div ng-controller="titusRunJobExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'runJobConfig'">
    <div class="row">
      <div class="col-md-9">
        <dl class="dl-narrow dl-horizontal">
          <dt>Account</dt>
          <dd>
            <account-tag account="stage.context.credentials"></account-tag>
          </dd>
          <dt>Image</dt>
          <dd>{{stage.context.cluster.imageId}}</dd>
          <dt ng-if="stage.context.cluster.entryPoint">Entrypoint</dt>
          <dd ng-if="stage.context.cluster.entryPoint">{{stage.context.cluster.entryPoint}}</dd>
          <dt>Titus Job Id</dt>
          <dd>
            <a target="_blank" href="{{apiEndpoint}}v2/jobs/{{job}}?taskState=ANY">{{job}}</a></dd>
          <dt>Titus Task Id</dt>
          <dd>
            <a target="_blank" href="{{apiEndpoint}}v2/tasks/{{task}}">{{task}}</a></dd>
          </dd>
        </dl>
      </div>
    </div>
    <stage-failure-message stage="stage" ng-if="stage.isFailed"
                           message="stage.failureMessage || stage.context.completionDetails.message"></stage-failure-message>

    <div class="row" ng-if="stage.context.jobStatus.completionDetails.taskId">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <a target="_blank" href="{{titusUiEndpoint}}tasklogs.html?tid={{task}}">
            View Execution Logs
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
