.VersionMetadata {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(~'--2xs-spacing');
  color: var(--color-concrete);
  white-space: pre-wrap;
  font-size: 13px;

  .metadata-element {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:first-of-type)::before {
      content: '•';
      margin: 0 6px;
    }
  }

  .metadata-icon {
    margin-right: 6px;
    display: flex;

    & > svg {
      height: 16px;
    }
  }

  i.metadata-icon {
    font-size: 12px;
  }

  .element-actions-menu-toggle {
    padding: 0 var(--xs-spacing);
    border: none;
    font-size: inherit;
    &:not(:hover) {
      background-color: transparent;
    }
  }
}
