<div class="form-horizontal">

  <h4 style="margin-top: 0">Concurrent Executions</h4>
  <div class="form-group">
    <div class="col-md-11 col-md-offset-1">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="pipeline.limitConcurrent">
         <strong>Disable concurrent pipeline executions (only run one at a time). </strong>
        </label>
      </div>
    </div>
  </div>

  <h4>Automated Triggers</h4>
  <trigger ng-repeat="trigger in pipeline.triggers" trigger="trigger" pipeline="pipeline" application="application"></trigger>
  <div class="row" ng-if="!pipeline.triggers.length">
    <div class="col-md-12 text-center">
      You don't have any triggers configured for {{pipeline.name}}.
      <button class="btn btn-block btn-add-trigger add-new" ng-click="triggersCtrl.addTrigger()">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Trigger
      </button>
    </div>
  </div>
  <div class="row" ng-if="pipeline.triggers.length">
    <div class="col-md-12">
      <button class="btn btn-block btn-add-trigger add-new" ng-click="triggersCtrl.addTrigger()">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Trigger
      </button>
    </div>
  </div>

  <h4>Parameters</h4>
  <parameters pipeline="pipeline"></parameters>

  <h4>Notifications</h4>
  <notification-list level="pipeline" notifications="pipeline.notifications" parent="pipeline">
  </notification-list>

</div>
