<div class="row">
  <div class="col-md-12">
    <div class="form-horizontal panel-pipeline-phase">
      <div class="form-group">
        <div class="col-md-8 col-md-offset-1">
          <div class="row">
            <label class="col-md-3 sm-label-right">Type</label>
            <div class="col-md-9">
              <select class="input-sm"
                      ng-change="triggerCtrl.loadTrigger()"
                      ng-options="option.key as option.label for option in options"
                      ng-model="trigger.type">
                <option value="">Select...</option>
              </select>
              {{description}}
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1 text-right">
          <button class="btn btn-sm btn-default" ng-click="triggerCtrl.removeTrigger(trigger)">
            <span class="glyphicon glyphicon-trash" uib-tooltip="Remove trigger"></span> Remove trigger
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-1">
          <div class="trigger-body"></div>
        </div>
      </div>
      <div class="form-group" ng-if="trigger.type && triggerCtrl.disableAutoTriggering.indexOf(trigger.type) < 0">
        <div class="col-md-8 col-md-offset-1">
          <div class="row">
            <div class="col-md-8 col-md-offset-3 checkbox">
              <label><input type="checkbox" ng-model="trigger.enabled" ng-value="true"/> Trigger Enabled</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-if="trigger.type && triggerCtrl.disableAutoTriggering.indexOf(trigger.type) > -1">
        <div class="col-md-8 col-md-offset-1">
          <div class="row">
            <div class="col-md-8 col-md-offset-3">
              <div class="alert alert-warning">
                Automatic triggering is disabled for this trigger type. You can still use this as a trigger to supply
                data to downstream stages, but will need to manually execute this pipeline.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stage-details">
      <div class="row">
        <div class="stage-body"></div>
      </div>
    </div>
  </div>
</div>
