<div class="form-horizontal">
  <div ng-if="!pipeline.strategy">
    <stage-config-field label="Account">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="accountUpdated" required></account-select-field>
    </stage-config-field>
    <stage-config-field label="Regions" field-columns="8" ng-if="stage.credentials">
      <checklist items="regions" model="stage.regions" inline="true" include-select-all-button="true"></checklist>
    </stage-config-field>
    <stage-config-field label="Cluster" help-key="pipeline.config.modifyScalingProcess.cluster">
      <input type="text" required ng-model="stage.cluster"
        class="form-control input-sm" />
    </stage-config-field>
  </div>
  <stage-config-field label="Target">
    <target-select model="stage" options="targets"></target-select>
  </stage-config-field>
  <stage-config-field label="Action">
    <select class="form-control input-sm"
            required
            ng-model="stage.action"
            ng-options="a.val as a.label for a in actions">
      <option>Select an action...</option>
    </select>
  </stage-config-field>
  <stage-config-field label="Processes" field-columns="8">
    <div class="checkbox" style="padding-left:0;">
      <checklist model="stage.processes" items="processes"></checklist>
    </div>
  </stage-config-field>
</div>
