<form name="form" class="container-fluid form-horizontal" ng-controller="gceServerGroupAdvancedSettingsCtrl as settingsCtrl" novalidate>
  <div class="modal-body">
    <kato-error task-status="taskStatus" title="We could not create your server group."></kato-error>
    <kato-progress task-status="taskStatus" title="Creating your server group."></kato-progress>
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-condensed packed">
          <thead>
          <tr>
            <th style="width: 25%">Key</th>
            <th style="width: 75%">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="instanceMetadataPair in command.instanceMetadata">
            <td><input class="form-control input-sm" type="text" ng-model="instanceMetadataPair.key" required/></td>
            <td><input class="form-control input-sm" type="text" ng-model="instanceMetadataPair.value" required/></td>
            <td><a class="btn btn-link sm-label"
                   ng-click="settingsCtrl.removeInstanceMetadata($index)"><span
              class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2">
              <button class="add-new col-md-12" ng-click="settingsCtrl.addInstanceMetadata()"><span
                class="glyphicon glyphicon-plus-sign"></span> Add New Metadata
              </button>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                   submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
  </div>
</form>
