.gce-http-lb {
  input[type='checkbox'] {
    margin: 10px 0 0 5px;
    position: absolute;
  }

  help-field.help-field-absolute {
    span {
      position: absolute;
      top: 7px;
      right: 2px;
    }
  }

  .ui-select-multiple[tagging] {
    width: 220px;
  }

  gce-host-rule {
    hr.host-rule {
      border-top: 1px solid var(--color-concrete);
    }
  }
}

.gce-http-load-balancer-editor {
  section {
    margin-bottom: 20px;
  }

  fieldset {
    border: 0;
    margin: 0 0 15px;
    padding: 0;
  }

  fieldset > label {
    align-items: center;
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
  }

  fieldset > label > input,
  fieldset > label > select {
    font-weight: normal;
    margin-left: 15px;
    width: 66.6667%;
  }

  fieldset > label > input:not([type='checkbox']),
  fieldset > label > select {
    display: block;
    height: 30px;
    padding: 5px 10px;
  }

  fieldset > label > input[type='checkbox'] {
    margin: 0 8px 0 33.3333%;
  }
}
