@import "../../presentation/less/imports/commonImports.less";

.execution-group-container {
  padding: 10px 30px 0;
}

.execution-group-heading {
  margin-top: 3px;
  background-color: @dark_blue_background;
  color: rgb(248, 248, 248);
  border: 2px solid @lightest_grey;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px @lightest_grey;
  a {
    font-weight: 300;
  }
  h4 {
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 6px 0;
    .disabled {
      color: @mid_lighter_grey;
    }
    .badge {
      margin-left: 5px;
    }
    cursor: pointer;
    .glyphicon {
      font-size: 70%;
      &.glyphicon-certificate, &.glyphicon-play {
        margin-left: 5px;
        padding: 2px 0 0 0;
        font-size: 80%;
      }
    }
    @media(max-width: 1400px) {
      font-size: 14px;
    }
  }
  .badge {
    background-color: @lighter_grey;
    color: @mid_grey;
  }
  &.inactive {
    background-color: lighten(@dark_blue_background, 40%);
    .label-retired {
      background-color: transparent;
      color: @light_grey;
      padding: 3px 10px;
      font-size: 12px;
    }
  }
}

.triggers-toggle, next-run-tag {
  display: inline-block;
  font-weight: 300;
  font-size: 85%;
  margin: 9px 0 0 0;
  position: relative;
  color: @healthy_green;
  &.disabled {
    color: @mid_light_grey;
  }
}

next-run-tag {
  margin: 0 0 0 5px;
  vertical-align: middle;
}

.execution-group-actions {
  h4 {
    margin-left: 20px;
    @media (min-width: 1200px) {
      margin-left: 40px;
    }
  }
}

execution-group {
  display: block;
}

h4 {
  &.execution-group-title {
    padding-left: 0;
    margin-top: 8px;
  }
}
