<div class="row pipelines executions" ng-class="{'showing-details': $ctrl.showingDetails(), 'show-durations':  $ctrl.sortFilter.showStageDuration}">
  <div class="row" ng-if="$ctrl.viewState.initializationError">
    <h4 class="text-center">There was a server error loading pipelines. Please try again later.</h4>
  </div>
  <div ng-if="!$ctrl.groups.length" class="text-center">
    <h4>No executions match the filters you've selected.</h4>
  </div>
  <div class="execution-groups all-execution-groups" sticky-headers>
    <div ng-repeat="group in $ctrl.groups">
      <execution-group group="group"
                         application="$ctrl.application">
      </execution-group>
    </div>
  </div>
</div>
