<div class="col-md-12">
  <div class="row clickable" sticky-header added-offset-height="-6" ng-click="vm.toggle()" ng-if="vm.group.heading">
    <div class="col-md-12 execution-group-heading" ng-class="vm.viewState.isRetired ? 'inactive' : 'active'">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h4>
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': !vm.viewState.open, 'glyphicon-chevron-down': vm.viewState.open}">
            </span>
            <span class="execution-group-title">
              <span ng-if="vm.group.runningExecutions.length" class="badge" style="margin-left: 10px">
                {{vm.group.runningExecutions.length}}
              </span>
              {{ vm.group.heading }}
            </span>
          </h4>
          <h4 style="margin-left: 20px" ng-if="vm.viewState.canTriggerPipelineManually">
            <a href
               class="btn btn-xs btn-link link-inverse"
               ng-click="vm.triggerPipeline(); $event.stopPropagation();">
              <span ng-if="vm.viewState.triggeringExecution">
                <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span> Starting Manual Execution&hellip;
              </span>
              <span ng-if="!vm.viewState.triggeringExecution">
                <span class="glyphicon glyphicon-play"></span> Start Manual Execution
              </span>
            </a>
          </h4>
        </div>
        <div class="col-md-2 col-sm-4 text-right" ng-if="vm.viewState.canTriggerPipelineManually">
          <triggers-tag pipeline="vm.pipelineConfig"></triggers-tag>
        </div>
        <div class="col-md-2 col-sm-4 text-right" ng-if="vm.viewState.isRetired">
          <h4><span class="label-retired" uib-tooltip="The configuration for this pipeline has been renamed or deleted.">RETIRED</span></h4>
        </div>
        <div class="col-md-2 col-sm-4 text-right" ng-if="vm.viewState.canConfigure" ng-class="{'col-md-offset-2' : !vm.viewState.canTriggerPipelineManually}">
          <h4>
            <a href
               class="btn btn-xs btn-link link-inverse"
               ng-click="vm.configure(vm.group.config.id); $event.stopPropagation();">
              Configure
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row execution-groups" ng-if="vm.viewState.open">
    <div class="col-md-12 execution-group-container">
      <div ng-if="!vm.group.executions.length" style="padding-bottom: 10px">
        <em>No executions found matching the selected filters.</em>
      </div>
      <div class="execution"
           ng-repeat="execution in vm.group.executions track by $index"
           id="execution-{{execution.id}}">
        <execution-status execution="execution" filter="filter">
        </execution-status>
        <div class="execution-bar">
          <div class="stages">
            <div ng-repeat="stage in execution.stageSummaries"
                 class="clickable stage execution-status execution-status-{{stage.status.toLowerCase()}}"
                 ng-class="{active: vm.isActive(execution.id, $index), glowing: stage.isRunning}"
                 ng-style="{width: 100/execution.stageSummaries.length + '%', 'background-color': stage.color}"
                 uib-tooltip-template="stage.labelTemplateUrl"
                 tooltip-title="(Click for details)"
                 tooltip-placement="bottom"
                 ng-click="vm.toggleDetails({executionId: execution.id, index: $index})"></div>
            <div ng-if="!execution.stageSummaries.length" class="text-center">
              No stages found.
              <a target="_blank" ng-href="{{vm.pipelinesUrl + execution.id}}">Source</a>
            </div>
          </div>
          <div class="execution-summary">
            Status: <span class="status execution-status execution-status-{{execution.status.toLowerCase()}}">{{execution.status}}</span>
            <span class="pull-right">Duration: {{execution.runningTimeInMs | duration}}</span>
          </div>
        </div>
        <div class="execution-actions">
          <a href
             ng-if="!execution.isActive"
             ng-click="vm.deleteExecution(execution); $event.stopPropagation();"
             uib-tooltip="Delete execution">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
          <a href
             ng-if="execution.isActive"
             ng-click="vm.cancelExecution(execution); $event.stopPropagation();"
             uib-tooltip="Cancel execution">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>

        <div ng-if="vm.showDetails(execution.id)" class="execution-graph">
          <a href
             class="pull-right hide-details-link"
             ng-if="execution.parallel"
             ui-sref=".">
            Hide Details <span class="glyphicon glyphicon-remove"></span>
          </a>
          <pipeline-graph ng-if="execution.parallel"
                          execution="execution"
                          on-node-click="vm.toggleDetails"
                          view-state="vm.viewState">

          </pipeline-graph>
        </div>

        <div ng-if="vm.showDetails(execution.id)" class="execution-details">
          <div class="row">
            <execution-details execution="execution">
            </execution-details>
          </div>
          <div class="row permalinks text-right">
            <div class="col-md-12">
              <a target="_blank" ng-href="{{vm.pipelinesUrl + execution.id}}">Source</a>
              |
              <a target="_blank" ng-href="{{$location.absUrl()}}">Permalink</a>
              <copy-to-clipboard text="{{$location.absUrl()}}" tool-tip="Copy permalink to clipboard"></copy-to-clipboard>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

