<div ng-controller="ExecutionWindowsDetailsCtrl as ctrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'windowConfig'">
    <execution-window-actions application="application" execution="execution" stage="stage"></execution-window-actions>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
