<div class="details-panel"
     ng-class="{ disabled: serverGroup.isDisabled }">

  <div class="header" ng-if="state.loading">
      <div class="close-button">
          <a class="btn btn-link"
             ui-sref="^">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </div>
      <h4 class="text-center">
          <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
  </div>


  <div class="header" ng-if="!state.loading">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="glyphicon glyphicon-th"></span>
      <h3 select-on-dbl-click>
        {{serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: serverGroup.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.rollbackServerGroup()">Rollback</a></li>
            <li role="presentation" class="divider" ng-if="!serverGroup.isDisabled"></li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="serverGroup.isDisabled && serverGroup.loadBalancers.length" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(serverGroup)">Clone</a></li>
          </ul>
        </div>
        <div class="dropdown" ng-if="serverGroup.insightActions.length > 0" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
            Insight <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li ng-repeat="action in serverGroup.insightActions"><a target=_blank href="{{action.url}}">{{action.label}}</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading">
    <h4 class="text-center" ng-if="serverGroup.isDisabled">[SERVER GROUP IS DISABLED]</h4>
    <collapsible-section heading="Running Tasks" expanded="true" body-class="details-running-tasks" ng-if="serverGroup.runningTasks.length > 0 || runningExecutions().length > 0">
      <div class="container-fluid no-padding" ng-repeat="task in serverGroup.runningTasks | orderBy:'-startTime'">
        <div class="row">
          <div class="col-md-12">
            <strong>
              {{task.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="step in task.steps | displayableTasks">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="step"></status-glyph></span> {{step.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{step.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

      <div class="container-fluid no-padding" ng-repeat="execution in runningExecutions()">
        <div class="row">
          <div class="col-md-12">
            <strong>
              Pipeline: {{execution.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="stage in execution.stages">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{stage.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

    </collapsible-section>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl class="dl-horizontal" ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Created</dt>
        <dd>{{serverGroup.launchConfig.createdTime | timestamp}}</dd>
        <dt>In</dt>
        <dd>
          <account-tag account="serverGroup.account" pad="right"></account-tag>
          {{serverGroup.region}}
        </dd>
        <dt>Zone</dt>
        <dd>
          <ul>
            <li ng-repeat="zone in serverGroup.zones">{{zone}}</li>
          </ul>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Size" expanded="true">
      <dl class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Instances</dt>
        <dd>{{serverGroup.nativeApplication.instances}}</dd>
        <dt>Memory</dt>
        <dd>{{serverGroup.memory}}</dd>
        <dt>Disk Limit</dt>
        <dd>{{serverGroup.disk}}</dd>
      </dl>
      <a href ng-click="ctrl.resizeServerGroup()">Resize Server Group</a>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="serverGroup">
        <dt>Instances</dt>
        <dd>
          <health-counts container="serverGroup" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Services">
      <ul>
        <li ng-repeat="service in serverGroup.services">
            {{service.name}} ({{service.nativeService.label}})
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Launch Configuration">
      <dl ng-class="InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt>Name</dt>
        <dd>{{serverGroup.launchConfig.launchConfigurationName}}</dd>
        <dt>User Data</dt>
        <dd ng-if="serverGroup.launchConfig.userData"><a href ng-click="ctrl.showUserData()">Show User Data</a></dd>
        <dd ng-if="!serverGroup.launchConfig.userData">[none]</dd>
        <dt>Network</dt>
        <dd>{{ctrl.getNetwork()}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in securityGroups | orderBy:'name'">
          <a ui-sref="^.securityGroupDetails({name: securityGroup.name, accountId: securityGroup.accountName, region: serverGroup.region, provider: serverGroup.type})">
            {{securityGroup.name}}
          </a>
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Tags">
      <div ng-if="!serverGroup.launchConfig.instanceTemplate.properties.tags.items.length">No tags associated with this server group</div>
      <dl ng-if="serverGroup.launchConfig.instanceTemplate.properties.tags.items.length">
        <dd ng-repeat="tag in serverGroup.launchConfig.instanceTemplate.properties.tags.items">{{tag}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Environment Variables" expanded="true">
      <dl class="dl-horizontal" ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <div ng-repeat="(key, value) in serverGroup.envVariables">
          <!-- env variables starting with 'SPINNAKER' are part of Spinnaker and not for user consumption -->
          <div ng-if="!key.startsWith('SPINNAKER')">
            <dt>{{key}}</dt>
            <dd ng-if="ctrl.isSecret(key)">************</dd>
            <dd ng-if="!ctrl.isSecret(key)">{{value}}</dd>
          </div>
        </div>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Package" ng-if="serverGroup.buildInfo">
      <dl ng-class="InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt ng-if="serverGroup.buildInfo.jenkins">Job</dt>
        <dd ng-if="serverGroup.buildInfo.jenkins">{{serverGroup.buildInfo.jenkins.name}}</dd>
        <dt>Package</dt>
        <dd>{{serverGroup.buildInfo.package_name}}</dd>
        <dt ng-if="serverGroup.buildInfo.jenkins">Build</dt>
        <dd ng-if="serverGroup.buildInfo.jenkins">{{serverGroup.buildInfo.jenkins.number}}</dd>
        <dt>Commit</dt>
        <dd>{{ctrl.truncateCommitHash()}}</dd>
        <dt>Branch</dt>
        <dd>{{serverGroup.buildInfo.branch}}</dd>
        <dt>Version</dt>
        <dd>{{serverGroup.buildInfo.version}}</dd>
        <dt ng-if="serverGroup.buildInfo.jenkins">Build Link</dt>
        <dd ng-if="serverGroup.buildInfo.jenkins"><a target=_blank href="{{serverGroup.buildInfo.jenkins.fullUrl}}">{{serverGroup.buildInfo.jenkins.fullUrl}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Logs">
      <ul>
        <li ng-if="serverGroup.consoleLink">
          <a href="{{serverGroup.consoleLink}}" target="_blank">Application Console</a>
        </li>
        <li ng-if="serverGroup.logsLink">
          <a href="{{serverGroup.logsLink}}" target="_blank">Developers Console Logs</a>
        </li>
      </ul>
    </collapsible-section>
  </div>
</div>
