@import "app/bower_components/bootstrap/less/variables.less";
@import "app/styles/colors.less";

.application-header {
  h2 {
    a {
      font-size: 75%;
      display: inline-block;
      margin-right: 20px;
    }
    font-weight: 700;
    display: inline-block;
  }
  ul {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 110%;
    & > li > a {
      border-radius: 0;
    }
    a.active {
      border-bottom: 3px solid @link-color;
    }
  }
  padding-bottom: 0;
  border-bottom: 1px solid @mid_light_grey;
  margin-top: 10px;
}

.server-group {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 0;
  margin: 15px 0;
  background-color: #f1f1f1;

  .server-group-summary {
    font-size: 110%;
    padding: 10px;
  }
  .server-group-details {
    padding: 5px 10px;
    border-left: 1px solid #c4c4c4;
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;

    .build-title {
      font-size: 110%;
      padding-bottom: 3px;
    }
  }

  .glyphicon-th {
    color: @healthy_green_icon;
  }

  &.active, &:hover {
    border-color: #121212;
  }

  &:hover {
    cursor: pointer;
  }

  &.unhealthy {
    border-style: dashed;

  }

  a.instance {
    border: 1px solid @healthy_green_border;
    border-radius: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: @healthy_green;

    &.health-status-Healthy {
      background-color: @healthy_green;
      border-color: @healthy_green_border;
    }
    &.health-status-Unhealthy {
      background-color: @unhealthy_red;
      border-color: @unhealthy_red_border;
    }
    &.health-status-Unknown {
      background-color: @light_grey;
      border-color: @mid_grey;
    }

    &.active {
      border-color: @dark_grey;
      background-color: @healthy_green_border;
      &.unhealthy {
        background-color: @unhealthy_red_border;
      }
    }
  }
}

.actions {
  margin-bottom: 10px;
}

.glyphicon {
  &.healthy {
    color: @healthy_green_border;
  }
  &.unhealthy {
    color: @unhealthy_red;
  }
  &.unknown {
    color: @mid_grey;
  }
}

.instance-health-counts {
  display: inline-block;
  padding-left: 5px;

  .glyphicon {
    &:before {
      font-size: 75%;
    }
  }
}
