@import "app/styles/imports/commonImports.less";

.modal-header {

  h2, h3 {
    margin-top: 0;
  }

  .steps-indicator {
    position: relative;
    height: 50px;
    overflow-x: hidden;

    &:before {
      top: 10px;
    }

    li {
      margin-top: 10px;
      font-size: 80%;
      padding: 10px 3px 0;
      transition: all 0.25s ease-in-out;

      &.ng-enter {
        transform: scale(2.0);
        opacity: 0.6;
      }
      &.ng-enter.ng-enter-active {
        transform: scale(1.0);
        opacity: 1;
      }
      &.ng-leave {
        transform: scale(1.0);
        opacity: 1;
      }
      &.ng-leave.ng-leave-active {
        transform: scale(0.0);
        opacity: 0;
      }

      a:before {
        background-color: transparent;
        font-size: 120%;
        font-family: 'Glyphicons Halflings';
        left: ~'calc(50% - 7px)';
      }

      &.done {
        a:before {
          color: #339933;
          content: "\e089";
        }
        &.dirty {
          a:before {
            .pulsing();
            color: @state-danger-text;
            content: "\e088";
          }
        }
      }
      &.current {
        a:before {
          background-color: @spinnaker-blue;
          content: '';
        }
      }
      &.default {
        a:before {
          color: #808080;
          content: '\e090';
        }
      }
    }
  }
}

.pulsing {
  -webkit-animation: pulse linear 1.5s infinite;
  animation: pulse linear 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: .25; }
  100% { opacity: 1; }
}
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: .25; }
  100% { opacity: 1; }
}

.modal-body {
  h3, h4 {
    margin-top: 0;
  }
}

.wizard-subheading {
  padding: 0 15px;
}

.steps {
  width: 1200px;
  overfow-x: hidden;
  .modal-page {
    position: relative;
    width: 600px;
    float: left;
  }
  .clearfix();
}

.forward {
  .modal-page {
    &.ng-leave, &.ng-enter {
      left: 0;
    }
    &.ng-leave.ng-leave-active, &.ng-enter.ng-enter-active {
      left: -600px;
    }
  }
}

.back {
  .modal-page {
    &.ng-leave, &.ng-enter {
      left: -600px;
    }
    &.ng-leave.ng-leave-active, &.ng-enter.ng-enter-active {
      left: 0;
    }
  }
}

.jump {
  .modal-page {
    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }
  }
}

.forward, .back {
  .modal-page {
    &.ng-leave, &.ng-enter {
      transition: opacity 0.15s ease-in-out, left 0.35s ease-in-out;
    }
  }
}



.select2-container-multi {
  &.select2-container-active {
    .select2-choices {
      border: 0;
      box-shadow: none;
      .select2-search-field {
        border: 1px solid #66afe9;

        &:before {
          content: '';
        }
      }
    }
  }
  .select2-choices {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    .select2-search-field {
      width: calc(~"100% - 30px");
      float: none;
      border: 1px dashed #a5a5a5;
      color: #a5a5a5;
      padding: 0;
      margin: 4px 0 0 0;
      cursor: pointer;
      background-color: transparent;

      &:before {
        content: 'Add...';
        padding-left: 8px;
        opacity: 0.5;
      }
    }
    .select2-search-choice {
      float: none;
      margin: 0 0 5px 0;
      border: 0;
      padding: 0;
      div {
        padding: 5px;
        width: calc(~"100% - 30px");
        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 4px;
      }
      .select2-search-choice-close {
        float: none;
        position: relative;
        top: 50%;
        display: inline-block;
        margin-top: 4px;
        &:before {
          content: "\e020";
          font-size: 12px;
          font-family: 'Glyphicons Halflings';
          width: 13px;
          display: inline-block;
        }
        width: 2px;
      }
    }
  }
}

.task-progress {
  list-style-type: none;
  li {
    margin-bottom: 5px;
    .glyphicon-ok-circle {
      color: @healthy_green_border;
    }
    .glyphicon-warning-sign {
      color: @text_error;
    }
  }
  &.task-progress-refresh {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid @mid_grey;
  }
  &.task-progress-running {
    margin-top: 20px;
    text-align: center;
    .glyphicon {
      font-size: 150%;
      color: @healthy_green_border;
    }
  }
}

.overlay-modal {
  transition: height 0.5s ease-in-out;
  height: 0;
  opacity: 0;
  overflow-y: scroll;
  border-bottom: 2px solid @dark_grey;

  .overlay-modal-status {
    padding: 0 30px;
  }
  .overlay-modal-error {
    padding: 30px 30px 0 30px;
    color: @text_error;
  }
  .modal-body {
    overflow-y: auto;
    margin: 0;
    padding-top: 20px;
    height: ~'calc(100% - 135px)';
  }
  .modal-header, .modal-footer {
    position: relative;
    width: 100%;
    background-color: #ffffff;
  }
  .modal-header {
    top: 0;
    z-index: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .modal-footer {
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
