<div class="modal-page">
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Notification</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editNotificationForm">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left" id="type">Notify via:</div>
        <div class="col-sm-9">
          <select class="input-sm"
                  ng-options="t as t for t in editNotification.types"
                  ng-model="editNotification.notification.type">
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Address: </div>
        <div class="col-sm-9">
          <input type="address"
                 name="address"
                 class="form-control input-sm "
                 ng-model="editNotification.notification.address"
                 placeholder="Enter an email address"
                 required
                 id="address">
          </input>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="editApplicationForm.email.$dirty && editApplicationForm.email.$invalid">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Please enter a valid email address</span>
        </div>
      </div>

      <div class="form-group row slide-in animated" ng-if="editApp.emailErrorMsg">
        <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in editApp.emailErrorMsg">
          {{errorMsg}} <small><span class="glyphicon glyphicon-remove" ng-click="editApp.clearEmailMsg()" style="cursor: pointer; padding-left: 10px"></span></small>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">When:</div>
        <div class="col-sm-9">
          <label class="col-sm-9" ng-repeat="wo in editNotification.whenOptions">
            <input
              type="checkbox"
              name="when"
              value="{{wo}}"
              ng-model="editNotification.selectedWhenOptions[wo]"
              ng-checked="editNotification.notification.when.indexOf(wo) > -1">
            {{wo}}
          </label>
        </div>

        {{editNotification.selectedWhenOptions}}
        </div>
      </div>
    </div>

    <div class="form-group row slide-in animated" ng-if="editApp.errorMsgs">
      <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in editApp.errorMsgs">
        {{errorMsg}}
      </div>
    </div>

    <div class="modal-footer">
      <span ng-show="editApp.submitting" us-spinner="{radius:20, width:6, length: 12}"></span>
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-click="editNotification.submit()">
        <span class="glyphicon glyphicon-ok-circle"></span> Update
      </button>
    </div>
  </form>
</div>
