.bordered-choices {
  .ui-select-choices-row-inner {
    border-bottom: 1px solid var(--color-seashell);
  }
}

copy-stage-card {
  p {
    margin: 0;
  }
}

.copy-stage-modal {
  .no-stages-message {
    padding: 0.5rem 2rem;
  }

  .well {
    margin-bottom: 0;
    padding: 10px;

    p {
      margin: 0;
    }
  }
}
