@import (reference) "~core/presentation/less/imports/commonImports.less";

.entity-tag {
  &.fa-exclamation-triangle {
    color: @unhealthy_orange;
  }
  &.fa-flag {
    color: @spinnaker-link-color;
  }
}

entity-ui-tags {
  position: relative;
  .tag-marker {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
  }
  &.inverse {
    .fa {
      color: #ffffff;
      border-radius: 3px;
      padding: 2px;
      font-size: 90%;
    }
    .fa-exclamation-triangle {
      background-color: @unhealthy_orange;
    }
    .fa-flag {
      background-color: @spinnaker-link-color;
    }
  }
}
