<div ng-controller="RunJobExecutionDetailsCtrl as runJobDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'deploymentConfig'">
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt>Account</dt>
          <dd>
            <account-tag account="stage.context.account"></account-tag>
          </dd>
          <dt>Region</dt>
          <div ng-if="stage.context.namespace">
            <dd>{{stage.context.namespace}}</dd>
          </div>
          <dt>Cluster</dt>
          <dd>{{stage.context | clusterName }}</dd>
        </dl>
      </div>
    <stage-failure-message is-failed="stage.isFailed" message="stage.failureMessage"></stage-failure-message>

    <div class="row" ng-if="run.length">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <strong>run:</strong>
          <a ng-repeat="job in run"
             ng-click="$event.stopPropagation(); runJobDetailsCtrl.overrideFiltersForUrl(job);"
             ng-href="{{job.href}}">
            {{job.job}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
