<div class="well well-sm clearfix" ng-if="!pipeline.strategy">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-left">Jobs</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th if-multiple-providers>Provider</th>
          <th>Account</th>
          <th>Cluster</th>
          <th>Region</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cluster in stage.clusters">
          <td if-multiple-providers>
            <cloud-provider-logo provider="cluster.cloudProvider || cluster.provider || cluster.providerType || 'kubernetes'"
                                 width="14px" height="14px"></cloud-provider-logo>
            <cloud-provider-label provider="cluster.cloudProvider || cluster.provider || cluster.providerType || 'kubernetes'"></cloud-provider-label>
          </td>
          <td>
            <account-tag account="cluster.account"></account-tag>
          </td>
          <td>
            {{ runJobStageCtrl.getClusterName(cluster) }}
          </td>
          <td>
            {{ runJobStageCtrl.getRegion(cluster) }}
          </td>
          <td>
            <a class="btn btn-xs btn-link" href ng-click="runJobStageCtrl.editCluster(cluster, $index)">Edit</a>
            <a class="btn btn-xs btn-link pad-left" href ng-click="runJobStageCtrl.removeCluster($index)">Remove</a>
            <a class="btn btn-xs btn-link pad-left" href ng-click="runJobStageCtrl.copyCluster($index)">Duplicate</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <button class="btn btn-block btn-sm add-new" ng-click="runJobStageCtrl.addCluster()">
              <span class="glyphicon glyphicon-plus-sign"></span> Add job
            </button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
