<div>
  <div class="form-group">
    <div class="col-md-2">Min</div>
    <div class="col-md-2">Max</div>
    <div class="col-md-2">Desired</div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
      <input type="number"
             class="form-control input-sm"
             ng-model="$ctrl.command.capacity.min"
             min="0"
             max="{{$ctrl.command.capacity.max}}"
             required/>
    </div>
    <div class="col-md-2">
      <input type="number"
             class="form-control input-sm"
             ng-model="$ctrl.command.capacity.max"
             min="{{$ctrl.command.capacity.min}}"
             required/>
    </div>
    <div class="col-md-2">
      <input type="number"
             class="form-control input-sm"
             ng-model="$ctrl.command.capacity.desired"
             min="{{$ctrl.command.capacity.min}}"
             max="{{$ctrl.command.capacity.max}}"
             required/>
    </div>
  </div>
</div>
