<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>Enable Parallel Execution</h3>
  </div>
  <div class="modal-body">
    <form role="form" name="form" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <p>Disabling parallel execution will force each stage to run sequentially.</p>
          <p>Are you sure you want to disable parallel execution for the pipeline: {{pipeline.name}}?</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="disableParallelModalCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary"
            ng-click="disableParallelModalCtrl.disableParallel()">
      <span class="glyphicon glyphicon-ok-circle"></span> Disable Parallel Execution
    </button>
  </div>
</div>
