<div class="details-panel">
  <div class="header" ng-if="state.loading">
    <div class="close-button" ng-if="!state.standalone">
      <a class="btn btn-link" ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="horizontal center middle">
      <loading-spinner size="'small'"></loading-spinner>
    </div>
  </div>

  <div class="header" ng-if="!state.loading">
    <div class="close-button" ng-if="!state.standalone">
      <a class="btn btn-link" ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text horizontal middle">
      <span class="glyphicon glyphicon-hdd {{instance.healthState}}"></span>
      <h3 class="horizontal middle space-between flex-1" select-on-dbl-click>
        {{instance ? instance.instanceId : instanceIdNotFound}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: instance.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button
            type="button"
            class="btn btn-sm btn-primary dropdown-toggle"
            ng-disabled="disabled"
            uib-dropdown-toggle
          >
            Instance Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li>
              <a href ng-click="ctrl.registerInstanceWithLoadBalancer()" ng-if="ctrl.canRegisterWithLoadBalancer()"
                >Register with Load Balancer</a
              >
            </li>
            <li>
              <a href ng-click="ctrl.deregisterInstanceFromLoadBalancer()" ng-if="ctrl.canDeregisterFromLoadBalancer()"
                >Deregister from Load Balancer</a
              >
            </li>
            <li role="presentation" class="divider" ng-if="instance.health.length > 0"></li>
            <li><a href ng-click="ctrl.terminateInstance()">Terminate</a></li>
          </ul>
        </div>
        <div class="dropdown" ng-if="instance.insightActions.length > 0" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
            Insight <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li ng-repeat="action in instance.insightActions">
              <a target="_blank" href="{{action.url}}">{{action.label}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading && instance">
    <collapsible-section heading="Instance Information" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <dt>Launched</dt>
        <dd ng-if="instance.launchTime">{{instance.launchTime | timestamp}}</dd>
        <dd ng-if="!instance.launchTime">(Unknown)</dd>
        <dt>In</dt>
        <dd>
          <account-tag account="instance.account" pad="right"></account-tag>
        </dd>
        <dt ng-if="instance.serverGroup">Server Group</dt>
        <dd ng-if="instance.serverGroup">
          <a
            ui-sref="^.serverGroup({region: instance.region,
              accountId: instance.account,
              serverGroup: instance.serverGroup,
              provider: instance.provider})"
            >{{instance.serverGroup}}</a
          >
        </dd>
        <dt ng-if="instance.apiVersion">API Version</dt>
        <dd ng-if="instance.apiVersion">{{instance.apiVersion}}</dd>
        <dt ng-if="instance.kind">Kind</dt>
        <dd ng-if="instance.kind">{{instance.kind}}</dd>
        <dt>YAML</dt>
        <dd><a href ng-click="ctrl.showYaml()">Show YAML</a></dd>
        <dt>Kube UI</dt>
        <dd><a href="{{ctrl.uiLink()}}" target="_blank">{{instance.name}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <dl class="horizontal-when-filters-collapsed">
        <dt ng-repeat-start="metric in instance.health | orderBy: 'type'">{{metric.source | robotToHuman}}</dt>
        <dd ng-repeat-end>
          <span
            uib-tooltip="{{metric.state.toLowerCase() === 'down' ? metric.description : ''}}"
            tooltip-placement="left"
          >
            <span class="glyphicon glyphicon-{{metric.state}}-triangle"></span>
            {{metric.state | robotToHuman}}
          </span>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="DNS">
      <dl class="horizontal-when-filters-collapsed">
        <dt ng-if="instance.dnsPolicy">DNS Policy</dt>
        <dd ng-if="instance.dnsPolicy">
          {{instance.dnsPolicy}}
        </dd>

        <dt ng-if="instance.hostIp">Host IP</dt>
        <dd ng-if="instance.hostIp">
          <a href="http://{{instance.hostIp}}" target="_blank">{{instance.hostIp}}</a>
          <copy-to-clipboard
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="instance.hostIp"
            tool-tip="'Copy to clipboard'"
          >
          </copy-to-clipboard>
        </dd>
        <dt ng-if="instance.podIp">Pod IP</dt>
        <dd ng-if="instance.podIp">
          <a href="http://{{instance.podIp}}" target="_blank">{{instance.podIp}}</a>
          <copy-to-clipboard
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="instance.podIp"
            tool-tip="'Copy to clipboard'"
          >
          </copy-to-clipboard>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Labels">
      <dl class="dl-horizontal dl-flex">
        <kubernetes-key-value-details map="instance.metadata.labels"> </kubernetes-key-value-details>
      </dl>
    </collapsible-section>
    <collapsible-section ng-repeat="container in instance.containers" heading="Container {{container.name}}">
      <kubernetes-instance-container-detail container="container" container-status="instance.containerStatuses[$index]">
      </kubernetes-instance-container-detail>
    </collapsible-section>
    <collapsible-section ng-repeat="container in instance.initContainers" heading="Container {{container.name}} (init)">
      <kubernetes-instance-container-detail
        container="container"
        container-status="instance.initContainerStatuses[$index]"
        init-container="true"
      >
      </kubernetes-instance-container-detail>
    </collapsible-section>
    <collapsible-section heading="Events">
      <div ng-if="instance.events && instance.events.length > 0">
        <kubernetes-event ng-repeat="event in instance.events" event="event"></kubernetes-event>
      </div>
      <div ng-if="!(instance.events && instance.events.length > 0)">
        No events.
      </div>
    </collapsible-section>
    <collapsible-section heading="Logs" expanded="true">
      <div>
        <console-output-link instance="instance" uses-multi-output="true"></console-output-link>
      </div>
    </collapsible-section>
    <instance-links
      address="ctrl.baseIpAddress"
      application="ctrl.application"
      instance="instance"
      moniker="moniker"
      environment="environment"
    ></instance-links>
  </div>
  <div class="content" ng-if="!state.loading && !instance">
    <div class="content-section">
      <div class="content-body text-center">
        <h3>Instance not found.</h3>
      </div>
    </div>
  </div>
</div>
