<ng-form name="loadBalancingPolicySubForm">
  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      <b>Balancing Mode</b>
    </div>
    <div class="col-md-6">
      <ui-select ng-model="$ctrl.command.loadBalancingPolicy.balancingMode" class="form-control input-sm" required>
        <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="balancingMode in ['RATE', 'UTILIZATION'] | filter: $select.search">
          <span ng-bind-html="balancingMode"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      <b>Listening Port</b>
    </div>
    <div class="col-md-6"><input type="number"
                                 class="form-control input-sm"
                                 required
                                 ng-model="$ctrl.command.loadBalancingPolicy.listeningPort"
                                 max="{{ $ctrl.maxPort }}"
                                 min="1"/></div>
  </div>
  <div class="form-group">
    <div class="col-md-5 sm-label-right">
      <b>Max rate per instance</b>
      <help-field key="gce.serverGroup.loadBalancingPolicy.maxRatePerInstance"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 required
                                 class="form-control input-sm"
                                 ng-model="$ctrl.command.loadBalancingPolicy.maxRatePerInstance"
                                 min="0"/></div>
  </div>
  <div class="form-group" ng-if="$ctrl.command.loadBalancingPolicy.balancingMode === 'UTILIZATION'">
    <div class="col-md-5 sm-label-right">
      <b>Max utilization</b>
      <help-field key="gce.serverGroup.loadBalancingPolicy.maxUtilization"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 required
                                 class="form-control input-sm"
                                 ng-model="$ctrl.maxUtilizationView"
                                 ng-init="$ctrl.setMaxUtilizationView($ctrl.command.loadBalancingPolicy.maxUtilization)"
                                 ng-change="$ctrl.setMaxUtilization($ctrl.maxUtilizationView)"
                                 min="0"
                                 max="100"/></div>
  </div>
</ng-form>
