<h3>
  Clusters
  <span class="small">by</span>
  <span class="form-inline">
    <div class="form-group small">
      <select class="form-control input-sm"
              ng-model="sortFilter.sortPrimary"
              ng-options="option.key as option.label for option in sortOptions">
      </select>
    </div>
  </span>
</h3>

<div class="sub-nav-item show-all-link">
  <a ui-sref="."
     ng-class="{active: $state.includes('**.clusters.**') && !$state.includes('**.cluster.**')}"
    >Show All Clusters</a>
</div>
<div class="sub-nav" ng-repeat="heading in ctrl.getHeadings() | orderBy:'toString()'">
  <div class="sub-nav-item">
    <h4>{{heading}}</h4>
    <a ng-repeat="cluster in ctrl.getClustersFor(heading) | orderBy:'name'"
       ui-sref=".cluster({account: cluster.account, cluster: cluster.name})"
       ng-class="{active: $state.includes('**.cluster.**', {account: cluster.account, cluster: cluster.name} )}">
        {{ctrl.getClusterLabel(cluster)}}<health-counts container="cluster"></health-counts>
        <span class="sublabel">{{ctrl.getClusterSublabel(cluster)}}</span>
    </a>
  </div>
</div>
