<div class="cluster-pod-server-group clickable"
     waypoint="{{viewModel.waypoint}}"
     ng-click="loadDetails($event)"
     ng-class="{
        disabled: viewModel.serverGroup.isDisabled,
        active: $state.includes('**.serverGroup', {region: viewModel.serverGroup.region, accountId: viewModel.serverGroup.account, serverGroup: viewModel.serverGroup.name, provider: viewModel.serverGroup.type})
     }">
  <div class="cluster-container">
    <div class="server-group-title" sticky-header added-offset-height="69" added-offset-width="-4"
         sticky-if="headerIsSticky()">
      <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-8">
            <span class="glyphicon glyphicon-th-large small"></span>
            <span class="server-group-sequence">{{ viewModel.serverGroupSequence }}:</span>
            <a ng-if="viewModel.jenkins"
               href="{{viewModel.jenkins.href}}"
               target="_blank">
              Build: #{{ viewModel.jenkins.number }}
            </a>
            <span ng-if="!viewModel.jenkins">
              (No build info)
            </span>
          </div>
          <div class="col-md-4 text-right">
            <span ng-if="!viewModel.serverGroup.isDisabled">
              <health-counts container="viewModel.serverGroup"></health-counts>
            </span>
            <span ng-if="viewModel.serverGroup.isDisabled" class="badge-disabled">disabled</span>
            <running-tasks-tag application="application" tasks="viewModel.serverGroup.runningTasks"></running-tasks-tag>
            <load-balancers-tag load-balancers="viewModel.serverGroup.loadBalancers" max-display="1"></load-balancers-tag>
          </div>
        </div>
      </div>
    </div>
    <div class="instance-list" ng-if="displayOptions.showInstances">
      <div ng-if="!displayOptions.listInstances">
        <instances highlight="displayOptions.filter" scroll-target="clusters-content" instances="viewModel.instances"
                   render-instances-on-scroll="false"></instances>
      </div>
      <div ng-if="displayOptions.listInstances">
        <instance-list instances="viewModel.instances" sort-filter="sortFilter"></instance-list>
      </div>
    </div>
  </div>
</div>
