<a class="visible-xs-block visible-sm-block"
   ui-sref="."
   ng-class="{active: $state.includes('**.clusters.**') && !$state.includes('**.cluster.**')}"
  >Show All Clusters</a>
<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span>
    {{account}}: {{cluster.name}}
  </h3>
</div>
<div ng-include="'filters.html'"></div>
<div class="rollup content">
  <div ng-repeat="serverGroupRegion in serverGroupsByRegion | orderBy:'region'" class="server-group-rollup">
    <h4>{{serverGroupRegion.region}}</h4>
    <server-group
      ng-repeat="serverGroup in serverGroupRegion.serverGroups | orderBy:'-name'"
      server-group="serverGroup"
      cluster="cluster.name"
      display-options="displayOptions"></server-group>
  </div>
  <div ng-if="!serverGroupsByRegion.length">
    <h4 class="text-center">No server groups match the filters you've selected.</h4>
  </div>
</div>

