@import "../../core/presentation/less/imports/commonImports.less";

.tableau-dashboard {
  width: 100%;
  text-align: center;
  padding-top: 0 !important;
  iframe {
    width: 1012px; // 1000px for the contents, 12px to make scrolling easier
    height: 100%;
    border: 1px solid @mid_light_grey;
    margin: 0 auto;
    border-top: 0;
  }
}
