.pipeline-templates-error-banner {
  margin: 1em 0;

  i.fa-exclamation-triangle {
    padding-right: 8px;
  }
}

.templates-table {
  &__template-actions {
    display: flex;
    button.link {
      padding: 0 1em 0 0;

      &:last-child {
        padding: 0;
      }
    }
    .link--create {
      margin-left: 1rem;
    }
  }

  &__template-versions {
    min-width: 300px;
  }
}
