<div ng-controller="awsDisableClusterStageCtrl as disableClusterStageCtrl" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Cluster</b>
      <help-field key="pipeline.config.disableCluster.cluster"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" required ng-model="stage.cluster"
        class="form-control input-sm" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Account</label>
    <div class="col-md-6">
      <account-select-field component="stage" field="credentials" accounts="accounts" on-change="disableClusterStageCtrl.accountUpdated()" required></account-select-field>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Regions</label>
    <div class="col-md-6" ng-if="!stage.credentials">
      <p class="form-control-static">(Select an Account)</p>
    </div>
    <div class="col-md-6" ng-if="stage.credentials">
      <checklist items="regions" model="stage.regions" inline="true" include-select-all-button="true"></checklist>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Disable Options</b>
    </div>
    <div class="col-md-6">
      <div class="form-inline">
        Keep the
        <input type="number" min="0" required ng-model="stage.remainingEnabledServerGroups"
               class="form-control input-sm" style="width: 50px" />
        <select class="form-control input-sm"
                ng-model="stage.preferLargerOverNewer" style="width: 100px">
          <option value="true">largest</option>
          <option value="false">newest</option>
        </select>
        {{disableClusterStageCtrl.pluralize('server group', stage.remainingEnabledServerGroups)}} enabled.
      </div>
    </div>
  </div>
  <platform-health-override ng-if="application.attributes.platformHealthOnlyShowOverride"
                            command="stage"
                            platform-health-type="'Amazon'"
                            label-text="Task Completion"
                            label-columns="2"
                            label-offset="col-md-offset-1">
  </platform-health-override>
</div>
