[Unit]
Description=Spinnaker Clouddriver
PartOf=spinnaker.service

[Service]
ExecStart=/opt/clouddriver/bin/clouddriver
WorkingDirectory=/opt/clouddriver/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
