@import "app/styles/imports/commonImports.less";

.migrator-modal {
  .preview {
    h4 {
      margin: 20px 0 8px 0;
      .glyphicon, .icon {
        color: @healthy_green;
      }
    }
    .preview-entry {
      margin-left:18px;
      font-weight:600;
    }
    .note {
      margin-left:18px;
      margin-top:5px;
    }
  }
}