version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: daily
    allow:
      - dependency-name: '@spinnaker/kayenta'
      - dependency-name: '@spinnaker/styleguide'
      - dependency-name: '@spinnaker/presentation'
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
