@import "~bootstrap/less/mixins/vendor-prefixes.less";
@import (reference) "~core/presentation/main.less";
@import (reference) "~core/presentation/less/imports/commonImports.less";
@import "~core/search/searchResult/baseTable.less";

.search-results {

  display: flex;

  .search-groups {

    background-color: var(--color-alabaster);
    cursor: default;
    min-width: 275px;
    width: 275px;

    .search-group {

      align-items: baseline;
      .clickable();
      display: flex;
      padding: 10px 5px;

      &.faded {
        opacity: 0.2;
        cursor: not-allowed;
      }

      .search-group-icon {
        background-color: var(--color-primary);
        border: 2px solid var(--color-white);
        border-radius: 50%;
        color: var(--color-white);
        display: inline-block;
        height: 32px;
        line-height: 29px;
        margin-left: 5px;
        margin-right: 10px;
        text-align: center;
        width: 32px;
      }

      .search-group-name {
        flex: 1 0 auto;
        font-size: 110%;
        font-weight: 600;
        text-transform: uppercase;
      }

      .badge {
        background-color: var(--color-primary);
        border-radius: 3px;
      }

      &.search-group--focus {
        background-color: var(--color-accent-g2);
      }

      &.search-group--blur {
        background-color: var(--color-alabaster);
      }
    }
  }

  .search-result-grid {

    flex: 1 0 auto;
    padding-left: 15px;

    .small {
      font-size: 90%;
    }
  }
}
