<div class="page-header project-header">
  <div class="row" ng-if="!project.notFound">
    <div class="col-md-8">
      <h2>
        <span class="project-name">{{project.name}} /</span>
        <div class="project-view">
          <a href class="nav-popover"
             ng-click="viewState.showMenu = !viewState.showMenu"
             ng-blur="ctrl.hideNavigationMenu()">
            {{viewState.navSelection.title}}
            <span class="small glyphicon glyphicon-chevron-{{viewState.showMenu ? 'up' : 'down'}}"></span>
          </a>
          <div class="nav-popover-menu list-group" ng-if="viewState.showMenu">
            <a href
               class="list-group-item"
               ng-repeat="option in navOptions"
               ng-mousedown="viewState.navigating = true"
               ng-click="ctrl.navigate(option)">{{option.title}}</a>
          </div>
        </div>
      </h2>
    </div>
    <div class="col-md-4 text-right" ng-if="viewState.dashboard">
      <a href ng-click="ctrl.configureProject()" class="btn btn-configure configure-project-link"><span class="glyphicon glyphicon-cog"></span> Project Configuration</a>
    </div>
  </div>
  <div class="row" ng-if="project.notFound">
    <h1 class="text-center">&lt;404&gt;</h1>

    <p class="text-center">Please check your URL - we can't find any data for <em>{{project.name}}</em>.</p>
  </div>
</div>
<div ng-if="!project.notFound" ui-view="detail" class="project-details flex-fill"></div>