<form class="form-horizontal">
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Cluster</b>
      <help-field key="pipeline.config.resizeAsg.cluster"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" required ng-model="stage.cluster"
        class="form-control input-sm" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Account</label>
    <div class="col-md-6">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="resizeAsgStageCtrl.accountUpdated()" required></account-select-field>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Regions</label>
    <div class="col-md-6" ng-if="!stage.credentials">
      <p class="form-control-static">(Select an Account)</p>
    </div>
    <div class="col-md-6" ng-if="stage.credentials">
      <label class="checkbox-inline" ng-repeat="r in regions">
        <input
          type="checkbox"
          name="regions[]"
          value="{{r}}"
          ng-disabled="!regionsLoaded"
          ng-checked="stage.regions.indexOf(r) > -1"
          ng-click="resizeAsgStageCtrl.toggleRegion(r)">
        {{r}}
      </label>
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Target</b>
      <help-field key="pipeline.config.resizeAsg.target"></help-field>
    </div>    <div class="col-md-6">
      <select class="form-control input-sm"
              required
              ng-model="stage.target"
              ng-options="r.val as r.label for r in resizeTargets">
        <option>Select a target...</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Action</label>
    <div class="col-md-6">
      <select class="form-control input-sm"
              required
              ng-model="stage.action"
              ng-options="a.val as a.label for a in scaleActions">
        <option>Select an action...</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Type</label>
    <div class="col-md-6">
      <select class="form-control input-sm"
              required
              ng-model="stage.resizeType"
              ng-change="resizeAsgStageCtrl.updateResizeType()"
              ng-options="t.val as t.label for t in resizeTypes">
        <option>Select an action...</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-if="stage.resizeType === 'pct'">
    <div class="col-md-9 col-md-offset-3">
      <label class="col-md-2 sm-label-left" style="font-size:12px;line-height:13px;margin-left:0;padding-left:0">Resize Percentage</label>
      <div class="col-md-2">
        <input type="number" ng-model="stage.scalePct"
          class="form-control input-sm" />
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
      <em class="subinput-note">This is the percentage by which the target ASG's capacity will be increased</em>
    </div>

  </div>
  <div class="form-group" ng-if="stage.resizeType === 'incr'">
    <div class="col-md-9 col-md-offset-3">
      <label class="col-md-2 sm-label-left" style="font-size:12px;line-height:13px;margin-left:0;padding-left:0">Resize-by Amount</label>
      <div class="col-md-2">
        <input type="number" ng-model="stage.scaleNum"
          class="form-control input-sm" />
      </div>
    </div>

    <div class="col-md-9 col-md-offset-3">
      <em class="subinput-note">This is the exact amount by which the target ASG's capacity will be increased</em>
    </div>
  </div>
  <div class="form-group" ng-if="stage.resizeType === 'exact'">
    <div class="col-md-9 col-md-offset-3">
      <label class="col-md-2 sm-label-left" style="font-size:12px;line-height:13px;margin-left:0;padding-left:0">Match Capacity</label>
      <div class="col-md-9">
        <div class="col-md-4">
          <input type="number" ng-model="stage.capacity.min" placeholder="Min"
            class="form-control input-sm" />
        </div>
        <div class="col-md-4">
          <input type="number" ng-model="stage.capacity.max" placeholder="Max"
                 ng-change="resizeAsgStageCtrl.updateCapacity()"
            class="form-control input-sm" />
        </div>
      </div>
    </div>

    <div class="col-md-9 col-md-offset-3">
      <em class="subinput-note">This is the exact amount to which the target ASG will be scaled</em>
    </div>
  </div>
</form>
