.chart-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-top: 4px;
  .legend-item {
    display: flex;
    align-items: center;
    margin: 0px 40px;
    font-size: 12px;
  }
  .clickable {
    cursor: pointer;
  }
  .deselected {
    opacity: 0.5;
  }
  .legend-icon {
    height: 12px;
    width: 40px;
    border-radius: 6px;
    margin-right: 8px;
  }
}
