<div>
  <table class="table table-condensed packed" ng-if="vm.elasticIps">
    <thead>
    <tr>
      <th>Address</th>
      <th>Instance</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="elasticIp in vm.elasticIps | ipSorter">
      <td>
        {{elasticIp.address}}
        <a href ng-if="!elasticIp.attachedToId" ng-click="vm.disassociateElasticIp(elasticIp.address)"><span class="glyphicon glyphicon-trash"></span></a>
      </td>
      <td ng-if="elasticIp.attachedToId">
        <a ui-sref="^.instanceDetails({instanceId: elasticIp.attachedToId, provider: 'aws'})">{{elasticIp.attachedToId}}</a>
      </td>
      <td ng-if="!elasticIp.attachedToId">
        <em>not assigned</em>
      </td>
    </tr>
    </tbody>
  </table>

  <a href ng-click="vm.associateElasticIp()">Associate Elastic IP</a>
</div>
