<div ng-repeat="port in $ctrl.ports">
  <hr ng-if="$index > 0" />
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Name
      <help-field key="kubernetes.containers.ports.name"></help-field>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control input-sm" name="details" ng-model="port.name" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm btn-default" ng-click="$ctrl.removePort($index)">
        <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
        <span class="visible-lg-inline"> Remove Port</span>
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Container Port
      <help-field key="kubernetes.containers.ports.containerPort"></help-field>
    </div>
    <div class="col-md-2">
      <input
        type="number"
        class="form-control input-sm"
        name="details"
        ng-model="port.containerPort"
        min="1"
        max="{{ $ctrl.maxPort }}"
      />
    </div>
    <div class="col-md-2 sm-label-right">
      Host IP
      <help-field key="kubernetes.containers.ports.hostIp"></help-field>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control input-sm" name="details" ng-model="port.hostIp" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Host Port
      <help-field key="kubernetes.containers.ports.hostPort"></help-field>
    </div>
    <div class="col-md-2">
      <input
        type="number"
        class="form-control input-sm"
        name="details"
        ng-model="port.hostPort"
        min="1"
        max="{{ $ctrl.maxPort }}"
      />
    </div>
    <div class="col-md-2 sm-label-right">
      Protocol
      <help-field key="kubernetes.containers.ports.protocol"></help-field>
    </div>
    <div class="col-md-3">
      <select class="form-control input-sm" ng-model="port.protocol">
        <option
          ng-repeat="protocol in $ctrl.protocols"
          value="{{ protocol }}"
          ng-selected="port.protocol === protocol"
          >{{ protocol }}</option
        >
      </select>
    </div>
  </div>
</div>
<button class="add-new btn btn-block btn-sm" ng-click="$ctrl.addPort()">
  <span class="glyphicon glyphicon-plus-sign"></span> Add New Port
</button>
