<div class="form-group">
  <div class="col-md-4 col-md-offset-3 sm-label-left">
    <b>
      Requests
      <help-field key="kubernetes.containers.requests"></help-field>
    </b>
  </div>
  <div class="col-md-4 sm-label-left">
    <b>
      Limits
      <help-field key="kubernetes.containers.limits"></help-field>
    </b>
  </div>
</div>

<div class="form-group">
  <div class="col-md-3 sm-label-right">
    CPU
    <help-field key="kubernetes.containers.cpu"></help-field>
  </div>
  <div class="col-md-4">
    <input
      type="text"
      class="form-control input-sm"
      name="details"
      ng-model="$ctrl.container.requests.cpu"
      ng-pattern="$ctrl.cpuPattern"
    />
  </div>
  <div class="col-md-4">
    <input
      type="text"
      class="form-control input-sm"
      name="details"
      ng-model="$ctrl.container.limits.cpu"
      ng-pattern="$ctrl.cpuPattern"
    />
  </div>
</div>

<div class="form-group">
  <div class="col-md-3 sm-label-right">
    Memory
    <help-field key="kubernetes.containers.memory"></help-field>
  </div>
  <div class="col-md-4">
    <input
      type="text"
      class="form-control input-sm"
      name="details"
      ng-model="$ctrl.container.requests.memory"
      ng-pattern="$ctrl.memoryPattern"
    />
  </div>
  <div class="col-md-4">
    <input
      type="text"
      class="form-control input-sm"
      name="details"
      ng-model="$ctrl.container.limits.memory"
      ng-pattern="$ctrl.memoryPattern"
    />
  </div>
</div>
