<form role="form" novalidate name="fastPropertyScopeForm">
  <div class="modal-body">
    <div class="row" style="display: flex; flex-wrap: wrap">

      <p>Setting the <b>scope</b> of a property determines what instances will have access to a given property.</p>

      <p><b>Properties can be applied to multiple scopes.</b></p>

      <p>
        Properties can be scoped to a <b>Region, Application, Cluster, ASG, or Instance</b>.  Properties can also be scoped
        <b>Globally</b> but it is considered bad practice unless absolutely necessary.
      </p>

      <p>
        Enter an <b>Application, Cluster, ASG, or Instance</b> to get a list of scopes
        and the number of potential instances that scope will impact.
      </p>
      <!--
        LEFT COLUMN
        Only rendered if the form is creating a new FP
      -->
      <div class="col-md-7" style="display: flex; flex-direction: column">

        <div class="row">
          <div class="col-md-12">
            <fast-property-scope-search-component
              on-scope-selected="$ctrl.selectScope(scopeOption)"
              application-name="$ctrl.command.applicationName"
              env="{{$ctrl.command.property.env}}">
            </fast-property-scope-search-component>
          </div>
        </div>

      </div>

      <!--
       RIGHT COLUMN
       -->
      <div class="col-md-5" ng-if="$ctrl.command.scopes">
        <div class="row"  ng-repeat="scope in $ctrl.command.scopes track by $index">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="display: inline-block;">
                Scope #{{$index + 1}}
              </h4>
                <a
                  href
                  class="btn btn-link btn-sm"
                  ng-if="!scope.isEditing"
                  ng-click="$ctrl.toggleEditScope($index)">
                  <i class="fa fa-edit"></i>
                </a>
                <a
                  href
                  class="btn btn-link btn-sm pull-right"
                  ng-click="$ctrl.removeScope($index)">
                  <i class="fa fa-trash-o"></i>
                </a>
            </div>
            <div class="panel-body">

              <table class="table table-hover" style="margin-bottom: 5px" >
                <tbody>
                <tr ng-if="scope.instanceCounts">
                  <td><b>Impact Count</b></td>
                  <td>
                    <span class="attention">{{scope.instanceCounts.up}}</span>
                  </td>
                </tr>
                <tr ng-if="scope.env">
                  <td><b>Env</b></td>
                  <td> {{scope.env}} </td>
                </tr>
                <tr ng-if="scope.appId">
                  <td><b>Apps</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.appId}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.appId">
                  </td>
                </tr>
                <tr ng-if="scope.region">
                  <td><b>Region</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.region}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.region">
                  </td>
                </tr>
                <tr ng-if="scope.stack">
                  <td><b>Stack</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.stack}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.stack">
                  </td>
                </tr>
                <tr ng-if="scope.cluster">
                  <td><b>Cluster</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.cluster}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.cluster">
                  </td>

                </tr>
                <tr ng-if="scope.asg">
                  <td><b>ASG</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.asg}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.asg">
                  </td>
                </tr>
                <tr ng-if="scope.zone">
                  <td><b>Zone</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.zone}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.zone">
                  </td>
                </tr>
                <tr ng-if="scope.serverId">
                  <td><b>Instance</b></td>
                  <td>
                    <span ng-if="!scope.isEditing">
                      {{scope.serverId}}
                    </span>
                    <input
                      class="form-control"
                      ng-if="scope.isEditing"
                      type="text" ng-model="scope.serverId">
                  </td>
                </tr>
                </tbody>
              </table>
              <button
                class="btn btn-primary btn-xs"
                ng-if="scope.isEditing"
                ng-click="$ctrl.toggleEditScope($index)"
                type="button">
                Save Scope
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
      ERROR MESSAGES
    -->
    <div class="form-group row slide-in" ng-if="fastPropertyScopeForm.$invalid">
      <div class="col-sm-8 col-sm-offset-4 error-message">
        <div ng-messages="fastPropertyScopeForm.region.$error" ng-if="fastPropertyScopeForm.region.$touched">
          <p ng-message="required">Select region</p>
        </div>
      </div>
    </div>

  </div>
</form>
