<form role="form" novalidate name="fastPropertyScopeForm">
  <div class="modal-body">
    <div class="row" style="display: flex; flex-wrap: wrap">

      <p>Setting the <b>scope</b> of a property determines what instances will have access to a given property.</p>
      <p>
        Properties can be scoped to a <b>Region, Application, Cluster, ASG, or Instance</b>.  Properties can also be scoped
        <b>Globally</b> but it is considered bad practice unless absolutely necessary.
      </p>

      <p>
        Enter an <b>Application, Cluster, ASG, or Instance</b> to get a list of scopes
        and the number of potential instances that scope will impact.
      </p>
      <!--
        LEFT COLUMN
        Only rendered if the form is creating a new FP
      -->
      <div class="col-md-8" style="display: flex; flex-direction: column">

        <div class="row">
          <div class="col-md-12">
            <fast-property-scope-search-component
              on-scope-selected="$ctrl.selectScope(scopeOption)"
              application-name="$ctrl.command.applicationName"
              env="{{$ctrl.command.property.env}}">
            </fast-property-scope-search-component>
          </div>
        </div>

      </div>

      <!--
       RIGHT COLUMN
       -->
      <div class="col-md-4">
        <h4 ng-if="$ctrl.selectedScope.instanceCounts">
          Impact Count:
          <span class="attention">{{$ctrl.selectedScope.instanceCounts.up}}</span>
        </h4>

        <div>
          <table class="table table-hover">
            <tbody>
            <tr ng-if="$ctrl.selectedScope.env">
              <td><b>Env</b></td>
              <td>{{$ctrl.selectedScope.env}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.appId">
              <td><b>Apps</b></td>
              <td>{{$ctrl.selectedScope.appId}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.region">
              <td><b>Region</b></td>
              <td>{{$ctrl.selectedScope.region}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.stack">
              <td><b>Stack</b></td>
              <td>{{$ctrl.selectedScope.stack}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.cluster">
              <td><b>Cluster</></td>
              <td>{{$ctrl.selectedScope.cluster}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.asg">
              <td><b>ASG</b></td>
              <td>{{$ctrl.selectedScope.asg}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.zone">
              <td><b>Zone</b></td>
              <td>{{$ctrl.selectedScope.zone}}</td>
            </tr>
            <tr ng-if="$ctrl.selectedScope.serverId">
              <td><b>Instance</b></td>
              <td>{{$ctrl.selectedScope.serverId}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--
      ERROR MESSAGES
    -->
    <div class="form-group row slide-in" ng-if="fastPropertyScopeForm.$invalid">
      <div class="col-sm-8 col-sm-offset-4 error-message">
        <div ng-messages="fastPropertyScopeForm.region.$error" ng-if="fastPropertyScopeForm.region.$touched">
          <p ng-message="required">Select region</p>
        </div>
      </div>
    </div>

  </div>
</form>
