<div class="header row header-clusters">
  <div class="col-md-4 col-sm-4">
    <h3>
      Load Balancers
    </h3>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="form-inline clearfix filters">
      <div class="form-group text-center">
        <label class="checkbox">Show </label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showServerGroups" ng-change="ctrl.updateLoadBalancerGroups()" />
            Server Groups <help-field key="loadBalancers.filter.serverGroups"></help-field>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showInstances" ng-change="ctrl.updateLoadBalancerGroups()"/>
            Instances <help-field placement="right" key="loadBalancers.filter.instances"></help-field>
          </label>
        </div>
      </div>
    </div>
    <div class="application-actions">
      <button class="btn btn-sm btn-default" ng-click="ctrl.createLoadBalancer()">
        <span class="glyphicon glyphicon-plus-sign visible-lg-inline"></span>
        <span class="glyphicon glyphicon-plus-sign visible-md-inline visible-sm-inline" uib-tooltip="Create Load Balancer"></span>
        <span class="visible-lg-inline">Create Load Balancer</span>
      </button>
    </div>
  </div>
  <filter-tags tags="tags" tag-cleared="ctrl.updateLoadBalancerGroups()" clear-filters="ctrl.clearFilters()"></filter-tags>
</div>
<div class="content"
     data-scroll-id="loadbalancers-content"
     sticky-headers
     waypoint-container
     waypoint-container-key="{{application.name}}"
     waypoint-offset="100"
     ng-include="ctrl.groupingsTemplate"></div>
