<div class="form-horizontal canary-config-view">
  <h4>Canary Config</h4>
  <stage-config-field label="Name" field-columns="3">
    <input type="text" required ng-model="stage.canary.canaryConfig.name"
           class="form-control input-sm" />
  </stage-config-field>
  <stage-config-field label="Canary Lifetime" field-columns="3">
    <input type="text" required ng-model="stage.canary.canaryConfig.lifetimeHours"
           class="form-control input-sm" style="display: inline-block; width: 33%" />
    <span class="form-control-static">hours</span>
  </stage-config-field>
  <stage-config-field label="Result Strategy" help-key="pipeline.config.canary.resultStrategy" field-columns="3">
    <select class="form-control input-sm"
            ng-model="stage.canary.canaryConfig.combinedCanaryResultStrategy">
      <option value="LOWEST">lowest</option>
      <option value="AGGREGATE">average</option>
    </select>
  </stage-config-field>
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Successful Score</label>
      <help-field key="pipeline.config.canary.successfulScore"></help-field>
    </div>
    <div class="col-md-1">
      <input type="text" required ng-model="stage.canary.canaryConfig.canarySuccessCriteria.canaryResultScore"
             class="form-control input-sm" />
    </div>
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Unhealthy Score</label>
      <help-field key="pipeline.config.canary.unhealthyScore"></help-field>
    </div>
    <div class="col-md-1">
      <input type="text" required ng-model="stage.canary.canaryConfig.canaryHealthCheckHandler.minimumCanaryResultScore"
             class="form-control input-sm" />
    </div>
  </div>
  <div class="checkbox col-md-offset-1">
    <label>
      <input type="checkbox" ng-model="stage.scaleUp.enabled"/>
      <b>Scale Up Canary</b>
      <help-field key="pipeline.config.canary.scaleUp"></help-field>
    </label>
  </div>
  <div class="form-group" ng-if="stage.scaleUp.enabled" style="margin-top: 10px;">
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Capacity</label>
      <help-field key="pipeline.config.canary.scaleUpCapacity"></help-field>
    </div>
    <div class="col-md-1">
      <input type="text" required ng-model="stage.scaleUp.capacity"
             class="form-control input-sm" />
    </div>
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Scale Up Delay</label>
      <help-field key="pipeline.config.canary.scaleUpDelay"></help-field>
    </div>
    <div class="col-md-1">
      <input type="text" required ng-model="stage.scaleUp.delay"
             class="form-control input-sm" />
    </div>
    <div class="col-md-1 form-control-static">minutes</div>
  </div>

  <div class="checkbox col-md-offset-1">
    <label>
      <input type="checkbox" ng-model="canaryStageCtrl.terminateUnhealthyCanaryEnabled" ng-model-options="{ getterSetter: true }" />
      <b>Terminate Unhealthy Canary</b>
      <help-field key="pipeline.config.canary.scaleUp"></help-field>
    </label>
  </div>
  <div class="form-group" ng-if="canaryStageCtrl.terminateUnhealthyCanaryEnabled()" style="margin-top: 10px;">
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Terminate After</label>
    </div>
    <div class="col-md-2">
      <input type="text" required ng-model="canaryStageCtrl.terminateUnhealthyCanaryMinutes"  ng-model-options="{ getterSetter: true }"
             class="form-control input-sm" style="display: inline-block; width: 40%"/>
      <span class="form-control-static"> minutes</span>
    </div>
  </div>

  <h5>Analysis Config</h5>

  <div class="horizontal-rule"></div>
  <stage-config-field label="Name" help-key="pipeline.config.canary.canaryConfigurationName" field-columns="3">
    <canary-analysis-name-selector
        model="stage.canary.canaryConfig.canaryAnalysisConfig.name"
        class-name="form-control input-sm">
    </canary-analysis-name-selector>
  </stage-config-field>
  <stage-config-field label="Warmup Period">
    <input type="text" required ng-model="stage.canary.canaryConfig.canaryAnalysisConfig.beginCanaryAnalysisAfterMins"
           class="form-control input-sm" style="display: inline-block; width: 20%"/>
    <span class="form-control-static">
      minutes before starting analysis <help-field key="pipeline.config.canary.delayBeforeAnalysis"></help-field>
    </span>
  </stage-config-field>
  <stage-config-field label="Notification Hours" help-key="pipeline.config.canary.notificationHours" field-columns="3">
    <input type="text" ng-model="canaryStageCtrl.notificationHours"
           class="form-control input-sm" ng-change="canaryStageCtrl.splitNotificationHours()" />
  </stage-config-field>
  <stage-config-field label="Frequency" help-key="pipeline.config.canary.canaryInterval" field-columns="3">
    <input type="text" required ng-model="stage.canary.canaryConfig.canaryAnalysisConfig.canaryAnalysisIntervalMins"
           class="form-control input-sm" style="width: 33%; display: inline-block"/>
    <span class="form-control-static"> minutes</span>
  </stage-config-field>

  <div class="checkbox col-md-offset-1">
    <label>
      <input type="checkbox" ng-model="stage.canary.canaryConfig.canaryAnalysisConfig.useGlobalDataset"/>
      <b>Use Global Atlas Dataset</b>
      <help-field key="pipeline.config.canary.useGlobalDataset"></help-field>
    </label>
  </div>

  <div class="checkbox col-md-offset-1">
    <label>
      <input type="checkbox" ng-model="stage.canary.canaryConfig.canaryAnalysisConfig.useLookback"/>
      <b>Use Look-back</b>
      <help-field key="pipeline.config.canary.lookback"></help-field>
    </label>
  </div>
  <div class="form-group" ng-if="stage.canary.canaryConfig.canaryAnalysisConfig.useLookback" style="margin-top: 10px;">
    <div class="col-md-2 col-md-offset-1 sm-label-right">
      <label>Look-back Duration</label>
    </div>
    <div class="col-md-2">
      <input
        type="number"
        required
        ng-model="stage.canary.canaryConfig.canaryAnalysisConfig.lookbackMins"
        class="form-control input-sm" style="display: inline-block; width: 40%"/>
      <span class="form-control-static"> minutes</span>
    </div>
    <div
      class="error-message col-md-6"
      ng-if="stage.canary.canaryConfig.canaryAnalysisConfig.lookbackMins > 0 && stage.canary.canaryConfig.canaryAnalysisConfig.lookbackMins < 30" >
      <b>NOTE:</b> To provide enough data points for the Canary Analysis it is recommended to set the look-back time to at least 30 minutes.
    </div>
  </div>


  <h5>Owner</h5>
  <div class="horizontal-rule"></div>
  <stage-config-field label="Email">
    <input type="email" required ng-model="stage.canary.owner"
           class="form-control input-sm" />
  </stage-config-field>

  <h5>Watchers</h5>
  <div class="horizontal-rule"></div>
  <stage-config-field
    help-key="pipeline.config.canary.watchers"
    ng-keyup="canaryStageCtrl.updateWatchersList()"
    ng-paste="canaryStageCtrl.updateWatchersList()"
    label="Emails">
    <textarea ng-model="canaryStageCtrl.recipients"
              class="form-control input-sm" ></textarea>
  </stage-config-field>

  <h5>Baseline Version <help-field key="pipeline.config.canary.baselineVersion"></help-field></h5>
  <div class="horizontal-rule"></div>
  <stage-config-field label="Account">
    <account-select-field
      component="stage.baseline"
      field="account"
      accounts="accounts"
      provider="'aws'"
      on-change="resetSelectedCluster()"
      required >
    </account-select-field>
  </stage-config-field>
  <stage-config-field label="Cluster">
    <cluster-selector
      clusters="clusterList"
      model="stage.baseline.cluster">
    </cluster-selector>
  </stage-config-field>
  <h5>Canary / Baseline Cluster Pairs <help-field key="pipeline.config.canary.clusterPairs"></help-field></h5>
  <div class="horizontal-rule"></div>
  <div class="row">
    <div style="margin: 10px 10px 0px 50px;">
      <div class="well well-sm">
        <table class="table">
          <thead>
          <tr>
            <th>Location</th>
            <th>Canary Cluster</th>
            <th>Baseline Cluster</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="clusterPair in stage.clusterPairs">
            <td>
              <account-tag account="clusterPair.baseline.account"></account-tag>
              {{canaryStageCtrl.getRegion(clusterPair.baseline)}}
            </td>
            <td>
              {{canaryStageCtrl.getClusterName(clusterPair.canary)}}
              <br/>
              <a href ng-click="canaryStageCtrl.editCluster(clusterPair.canary, $index, 'Canary')">Edit</a>
            </td>
            <td>
              {{canaryStageCtrl.getClusterName(clusterPair.baseline)}}
              <br/>
              <a href ng-click="canaryStageCtrl.editCluster(clusterPair.baseline, $index, 'Baseline')">Edit</a>
            </td>
            <td>
              <a href ng-click="canaryStageCtrl.deleteClusterPair($index);">
                <span class="glyphicon glyphicon-trash" uib-tooltip="Delete Cluster Pair"></span>
              </a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <button class="btn btn-block btn-sm add-new" ng-click="canaryStageCtrl.addClusterPair()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add cluster
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
