{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    // todo: try to enable this later
    // "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true,
  },
  "globals": {
    "angular": true,
    "$": true,
    "_": true,
  }
}
