.gce-scaling-policy-wizard {
  .error-message {
    margin-top: 4px;
  }

  input.form-control,
  select.form-control {
    margin-bottom: 2px;
    width: 100%;
  }

  .schedule-container {
    overflow: hidden;
  }
}
