<div class="details-panel">
  <div class="header" >
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <h3>{{ taskDetail.task.name }}</h3>
    </div>
    <div class="actions" ng-if="taskDetail.task.isRunning || taskDetail.task.hasNotStarted">
      <div class="dropdown">
        <button type="button"
                class="btn btn-sm btn-primary dropdown-toggle"
                ng-disabled="disabled">
          Task Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <!--<li ng-if="taskDetail.task.isCompleted"><a href ng-click="taskDetail.retry()">Retry</a></li>-->
          <li ng-if="taskDetail.task.isRunning || taskDetail.task.hasNotStarted"><a href ng-click="taskDetail.cancel()">
            <span class="glyphicon glyphicon-stop"></span>
            Cancel Task
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <collapsible-section heading="Status" expanded="true">
      <status-glyph item="taskDetail.task"></status-glyph>
      {{ taskDetail.task.status}}
      <dl>
        <dt>Started</dt>
        <dd>{{ taskDetail.task.startTime | timestamp }}</dd>
        <span ng-if="taskDetail.task.isCompleted">
          <dt>Completed</dt>
          <dd>{{ taskDetail.task.endTime | timestamp }}</dd>
        </span>
        <dt>Running time</dt>
        <dd>{{ taskDetail.task.runningTime }}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Orchestration Log" expanded="true">
      <h5 ng-repeat-start="step in taskDetail.task.steps">
        <status-glyph item="step"></status-glyph>
        {{ step.name | robotToHuman }}
      </h5>
      <dl class="well" style="padding: 10px;" ng-repeat-end>
        <dt>Started</dt>
        <dd>{{ step.startTime | timestamp }}</dd>
        <dt>Completed</dt>
        <dd>{{ step.endTime | timestamp }}</dd>
        <dt>Running time</dt>
        <dd>{{ step.runningTime }}</dd>
      </dl>
      <div class="alert alert-danger" ng-if="taskDetail.task.failureMessage">
        <h4>Exception Details:</h4>
        <p>
          {{taskDetail.task.failureMessage}}
        </p>
      </div>
    </collapsible-section>
  </div>
</div>
