<div class="details-panel">
  <div class="header" >
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <h3>{{ taskDetail.task.name }}</h3>
    </div>
    <div class="actions" ng-if="taskDetail.task.isRunning || taskDetail.task.hasNotStarted">
      <div class="dropdown">
        <button type="button"
                class="btn btn-sm btn-primary dropdown-toggle"
                ng-disabled="disabled">
          Task Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <!--<li ng-if="taskDetail.task.isCompleted"><a href ng-click="taskDetail.retry()">Retry</a></li>-->
          <li ng-if="taskDetail.task.isRunning || taskDetail.task.hasNotStarted"><a href ng-click="taskDetail.cancel()">
            <span class="glyphicon glyphicon-stop"></span>
            Cancel Task
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <collapsible-section heading="Status" expanded="true">
      <status-glyph item="taskDetail.task"></status-glyph>
      {{ taskDetail.task.status}}
      <div class="row">
        <div class="col-md-3"><strong>Started</strong></div>
        <div class="col-md-8">{{ taskDetail.task.startTime | timestamp }}</div>
      </div>
      <div class="row" ng-if="taskDetail.task.isCompleted">
        <div class="col-md-3"><strong>Completed</strong></div>
        <div class="col-md-8">{{ taskDetail.task.endTime | timestamp }}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Running time</strong></div>
        <div class="col-md-8">{{ taskDetail.task.runningTimeInMs | duration }}</div>
      </div>
    </collapsible-section>
    <collapsible-section heading="Orchestration Log" expanded="true">
      <h5 ng-repeat-start="step in taskDetail.task.steps">
        <status-glyph item="step"></status-glyph>
        {{ step.name | robotToHuman }}
      </h5>
      <div class="well" style="padding: 10px;" ng-repeat-end>
        <div class="row">
          <div class="col-md-3"><strong>Started</strong></div>
          <div class="col-md-8">{{ step.startTime | timestamp }}</div>
        </div>
        <div class="row" ng-if="step.isCompleted">
          <div class="col-md-3"><strong>Completed</strong></div>
          <div class="col-md-8">{{ step.endTime | timestamp }}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Running time</strong></div>
          <div class="col-md-8">{{ step.runningTimeInMs | duration }}</div>
        </div>
      </div>
      <div class="alert alert-danger" ng-if="taskDetail.task.failureMessage">
        <h4>Exception Details:</h4>
        <p>
          {{taskDetail.task.failureMessage}}
        </p>
      </div>
    </collapsible-section>
  </div>
</div>
