<div class="row">
  <div class="col-md-7 tasks">
    <div class="row">
      <div class="col-md-9">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'All'">
            All
          </label>
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'Not Started'">
            <status-glyph item="{hasNotStarted: true}"></status-glyph> Not Started
          </label>
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'Running'">
            <status-glyph item="{isRunning: true}"></status-glyph> Running
          </label>
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'Completed'">
            <status-glyph item="{isCompleted: true}"></status-glyph> Completed
          </label>
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'Errored'">
            <status-glyph item="{isFailed: true}"></status-glyph> Failed
          </label>
          <label class="btn btn-default" ng-model="tasks.taskStateFilter" btn-radio="'Canceled'">
            <status-glyph item="{isCanceled: true}"></status-glyph> Canceled
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group has-feedback">
          <label class="sr-only" for="task-filter">Filter tasks</label>
            <input type="search"
                   id="task-filter"
                   class="form-control"
                   placeholder="Filter tasks"
                   ng-model="tasks.taskFilter">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="row padding" ng-repeat="task in tasks.sortedTasks | taskFilter:tasks.taskStateFilter | filter:tasks.taskFilter">
      <task-view task="task"></task-view>
    </div>
  </div>
  <div class="col-md-5 task-details" ui-view="task-details">
  </div>
</div>
