<div ng-if="triggerCount > 0"
     class="triggers-toggle"
     ng-class="{disabled: !activeTriggerCount}">
    <span ng-if="activeTriggerCount === triggerCount">
      <span ng-if="triggerCount === 1">
        Trigger: Enabled
      </span>
      <span ng-if="triggerCount > 1">
        All triggers: Enabled
      </span>
    </span>
    <span ng-if="triggerCount === 1 && activeTriggerCount === 0">
      Trigger: Disabled
    </span>
    <span ng-if="triggerCount > 1 && activeTriggerCount === 0">
      All triggers: Disabled
    </span>
    <span ng-if="activeTriggerCount && activeTriggerCount !== triggerCount">
      Some triggers: Enabled
    </span>
</div>
