<modal-wizard heading="Create New ASG">
  <wizard-page key="Basic Settings">
    <div class="modal-body">
      <h3>Basic Settings</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" href ng-click="wizard.markComplete('Basic Settings'); wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="Instance Type">
    <div class="modal-body">
      <h3>Instance Archetype</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizard.markComplete('Instance Type'); wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="Instance Details">
    <div class="modal-body">
      <h3>Instance Details</h3>
      <a class="btn btn-default" href ng-click="wizard.includePage('Instance Size')">Include Instance Size</a>
      <a class="btn btn-default" href ng-click="wizard.excludePage('Instance Size')">Remove Instance Size</a>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizard.markComplete('Instance Details'); wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="Instance Size" render="false">
    <div class="modal-body">
      <h3>Specific Instance Size</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizard.markComplete('Instance Size'); wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="ELBs">
    <div class="modal-body">
      <h3>All the ELB stuff...</h3>
      <a class="btn btn-default" href ng-click="wizard.includePage('New ELBs')">Create New ELBs</a>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="New ELBs" render="false">
    <div class="modal-body">
      <h3>Create new ELB view</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="Security Groups">
    <div class="modal-body">
      <h3>Security Group stuff</h3>
      <a class="btn btn-default" href ng-click="wizard.includePage('New Security Groups')">Create New Security Groups</a>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="New Security Groups" render="false">
    <div class="modal-body">
      <h3>Create New Security Groups</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
      <a class="btn btn-primary" href ng-click="wizardCtrl.nextPage()">Next</a>
    </div>
  </wizard-page>
  <wizard-page key="Advanced Settings">
    <div class="modal-body">
      <h3>Advanced Settings</h3>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default pull-left" href ng-click="wizardCtrl.previousPage()">Back</a>
    </div>
  </wizard-page>

</modal-wizard>
