<div modal-page>
  <form role="form" class="container-fluid">
    <div class="modal-header">
      <h3>{{params.header}}</h3>
    </div>
    <div class="modal-body" ng-if="params.body">
      <p>
        {{params.body}}
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary"
              ng-click="confirm()">
        <span ng-if="params.glyphicon" class="glyphicon glyphicon-{{params.glyphicon}}"></span>
        {{params.buttonText}}
      </button>
    </div>
  </form>
</div>
