<div modal-page>
  <form role="form" name="form">
    <div class="close-button pull-right">
      <a class="btn btn-link" ng-click="$close()" >
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="modal-header">
      <h3>Talk to Us</h3>
    </div>
    <div class="modal-body">
      <div ng-if="state === states.EDITING">
        <p>
          Having a problem or looking for something that's not in Spinnaker? Let us know.
        </p>
        <p>
          You'll be able to <a target=_blank href="https://github.com/spinnaker/spinnaker/issues">track the issue through GitHub</a>
          if you have an account. Need access to the Spinnaker GitHub repository? Include that in the description and we'll be sure to add you.</p>
        <br/>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control"
                 ng-model="feedback.title"
                 placeholder="How can we help you?"
                 required/>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea ng-model="feedback.description"
                    class="form-control"
                    rows="4"
                    placeholder="Please be detailed and mention any steps required to reproduce the issue. Or just tell us what feature you want!"
                    required
            ></textarea>
        </div>
        <div class="form-group">
          <label>Contact Info</label>
          <input type="text"
                 class="form-control"
                 ng-model="feedback.contact" placeholder="Name or email address"
                 required/>
        </div>
        <div class="form-group" ng-if="!form.$valid">
          <p class="warning-text text-right"><strong><span class="glyphicon glyphicon-asterisk"></span> All fields are required.</strong></p>
        </div>
      </div>

      <div ng-if="state === states.SUBMITTING">
        <h3><span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span> Creating your issue</h3>
      </div>

      <div ng-if="state === states.SUBMITTED">
        <h3>Thanks for your feedback!</h3>
        <p>
          You can follow the <a target=_blank href="{{issueUrl}}">progress of your issue</a> here.
        </p>
      </div>

      <div ng-if="state === states.ERROR">
        <h3><span class="glyphicon glyphicon-warning-sign"></span> Something went horribly wrong.</h3>
        <p>
          Really sorry - you can send us an email at delivery-engineering@netflix.com and we'll try to
          get this straightened out as soon as possible.
        </p>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ctrl.cancel()">{{state === states.EDITING ? 'Cancel' : 'Close'}}</button>
      <button class="btn btn-primary"
              ng-disabled="!form.$valid"
              ng-if="state === states.EDITING"
              ng-click="ctrl.submit()">
        <span class="glyphicon glyphicon-envelope"></span>
        Submit issue
      </button>
    </div>

  </form>
</div>
