<div ng-class="[wizard.direction, wizard.jump]" modal-page>
  <task-monitor monitor="taskMonitor"></task-monitor>
  <div class="close-button pull-right">
    <a class="btn btn-link" ng-click="$close()" >
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <div class="modal-header">
    <h3>{{wizard.heading}}</h3>
    <ul class="steps-indicator steps-{{wizard.renderedPages.length}}" ng-if="!hideIndicators">
      <li ng-repeat="page in wizard.renderedPages"
         ng-class="{
            default: !page.state.done && !page.state.current,
            current: page.state.current,
            done: page.state.done,
            dirty: page.state.dirty && !page.state.current
      }">
        <a ng-if="page.state.done || page.state.current" href ng-click="wizard.jumpToPage(page.key)">{{page.label}}</a>
        <a ng-if="!page.state.done && !page.state.current">{{page.label}}</a>
      </li>
    </ul>
  </div>
  <div class="steps" ng-transclude></div>
</div>
