<div modal-page>
  <form role="form">
    <div class="modal-header">
      <h3>Pick your provider:</h3>
    </div>
    <div class="modal-body">
      <select
        class="form-control input"
        ng-model="command.provider">
        <option ng-repeat="provider in providerOptions" value="{{provider}}">{{provider}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ctrl.selectProvider()">
        <span class="glyphicon glyphicon-chevron-right"></span>
        Next
      </button>
    </div>
  </form>
</div>
