<div class="form-group">
  <label class="col-md-4 sm-label-right">Tag</label>
  <div class="col-md-6" ng-if="vm.viewState.tagsLoading">
    <p class="form-control-static text-center">
      <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span>
    </p>
  </div>
  <div class="col-md-6" ng-if="vm.viewState.loadError">Error loading tags!</div>
  <div class="col-md-6" ng-if="!vm.viewState.tagsLoading">
    <div ng-if="!vm.tags.length"><p class="form-control-static">No tags found</p></div>
    <ui-select class="form-control input-sm"
               ng-model="vm.viewState.selectedTag"
               on-select="vm.updateSelectedTag($item)"
               reset-search-input="false"
               ng-if="vm.tags.length">
      <ui-select-match placeholder="Select...">
        <span>
          <strong>{{$select.selected}}</strong>
        </span>
      </ui-select-match>
      <ui-select-choices repeat="tag in vm.tags | filter: $select.search"
                         refresh-delay="0"
                         refresh="vm.searchTags($select.search)">
        <span ng-bind-html="tag | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
