[Unit]
Description=Spinnaker Gate
PartOf=spinnaker.service

[Service]
ExecStart=/opt/gate/bin/gate 2>&1 /var/log/spinnaker/gate/gate.log
WorkingDirectory=/opt/gate/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
