[Unit]
Description=Spinnaker Gate
PartOf=spinnaker.service

[Service]
ExecStart=/opt/gate/bin/gate
WorkingDirectory=/opt/gate/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
