<div ng-controller="dockerBakeStageCtrl as bakeStageCtrl">
  <stage-config-field label="Package" help-key="pipeline.config.bake.package">
      <input type="text" class="form-control input-sm"
             ng-model="stage.package"/>
  </stage-config-field>
  <stage-config-field label="Base OS">
    <label class="radio-inline" ng-repeat="baseOsOption in baseOsOptions">
      <input type="radio"
             ng-model="stage.baseOs"
             ng-value="baseOsOption.id"/>
      {{baseOsOption.id}} ({{baseOsOption.shortDescription}}) <help-field content="{{baseOsOption.detailedDescription}}" />
    </label>
  </stage-config-field>

  <stage-config-field label="Base Label">
    <label class="radio-inline" ng-repeat="baseLabel in baseLabelOptions">
      <input type="radio"
             ng-model="stage.baseLabel"
             ng-value="baseLabel"/>
      {{baseLabel}}
    </label>
  </stage-config-field>
</div>
