<div modal-page>
  <modal-close dismiss="$ctrl.close()"></modal-close>
  <div class="modal-header has-sticky-headers">
    <h3>Changes to {{$ctrl.nameItem.name}}</h3>
  </div>
  <div
    class="modal-body"
    ng-if="(!$ctrl.previousBuildLink || !$ctrl.currentBuildLink) && $ctrl.buildInfo.ancestor && $ctrl.buildInfo.target"
  >
    <div class="col-md-6"><strong>Previous: </strong>Build: #{{$ctrl.buildInfo.ancestor}}</div>
    <div class="col-md-6"><strong>Current: </strong>Build: #{{$ctrl.buildInfo.target}}</div>
  </div>
  <div class="modal-body" ng-if="$ctrl.previousBuildLink && $ctrl.currentBuildLink">
    <div class="col-md-6">
      <strong>Previous: </strong>
      <a ng-href="{{$ctrl.previousBuildLink}}" target="_blank">Build: #{{$ctrl.buildInfo.ancestor}}</a>
    </div>
    <div class="col-md-6">
      <strong>Current: </strong>
      <a ng-href="{{$ctrl.currentBuildLink}}" target="_blank">Build: #{{$ctrl.buildInfo.target}}</a>
    </div>
  </div>
  <div class="modal-body" style="max-height: 800px; overflow-y: scroll;" sticky-headers>
    <div ng-if="$ctrl.commits.length">
      <div class="component-heading sticky-header">
        <h4>Commits</h4>
      </div>
      <div class="component-body">
        <commit-history commits="$ctrl.commits"></commit-history>
      </div>
    </div>
    <div ng-if="$ctrl.hasJarChanges">
      <div class="component-heading sticky-header">
        <h4>JAR Changes</h4>
      </div>
      <div class="component-body">
        <jar-diff jar-diffs="$ctrl.jarDiffs"></jar-diff>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="$ctrl.close()">Close</button>
  </div>
</div>
