<div ng-if="fpPod.isPropertyListArray()">
  <fast-property-pod-table properties="fpPod.properties"></fast-property-pod-table>
</div>


<div ng-if="fpPod.isGrouped()">
  <div
    ng-repeat="(key, properties) in fpPod.properties" >
    <div class="row rollup-entry sub-group">

      <div class="rollup-summary">
        <div class="container-fluid no-padding">
          <div class="row">
            <div class="col-md-12">
              <div class="rollup-title-cell">
                <h5 style="margin-left: 15px">
                  <span class="glyphicon glyphicon-equalizer"></span>
                  {{key}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rollup-details" style="margin: 15px; border-top: none">
        <fast-property-pod-table properties="properties" grouped-by="fpPod.groupedBy"></fast-property-pod-table>
      </div>

    </div>
  </div>
</div>


