.create-classic-load-balancer-wizard-listeners {
  .Select-control {
    height: 30px;

    .Select-placeholder {
      line-height: 26px;
    }

    .Select-value {
      line-height: 26px !important;

      .Select-value-label {
        line-height: 26px;
      }
    }

    .Select-input {
      height: 26px;
    }
  }
}
