<div class="form-group">
  <label class="col-md-2 col-md-offset-1 sm-label-right">If stage fails</label>
  <div class="col-md-9">
    <div class="radio">
      <label>
        <input type="radio"
               name="failureOption"
               ng-model="$ctrl.viewState.failureOption"
               ng-change="$ctrl.failureOptionChanged()"
               value="fail"/> halt the entire pipeline
        <help-field key="pipeline.config.haltPipelineOnFailure"></help-field>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"
               name="failureOption"
               ng-model="$ctrl.viewState.failureOption"
               ng-change="$ctrl.failureOptionChanged()"
               value="stop"/> halt this branch of the pipeline
        <help-field key="pipeline.config.haltBranchOnFailure"></help-field>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"
               name="failureOption"
               ng-model="$ctrl.viewState.failureOption"
               ng-change="$ctrl.failureOptionChanged()"
               value="faileventual"/> halt this branch and fail the pipeline once other branches complete
        <help-field key="pipeline.config.haltBranchOnFailureFailPipeline"></help-field>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"
               name="failureOption"
               ng-model="$ctrl.viewState.failureOption"
               ng-change="$ctrl.failureOptionChanged()"
               value="ignore"/> ignore the failure
        <help-field key="pipeline.config.ignoreFailure"></help-field>
      </label>
    </div>
  </div>
</div>
