<div>
  <div class="row">
    <div class="col-md-6">
      <h5>Find AMI Stage Configuration</h5>
      <dl class="dl-narrow dl-horizontal">
        <dt>Account</dt>
        <dd><account-tag account="stage.context.account"></account-tag></dd>
        <dt>Region</dt>
        <dd>{{stage.context.regions.join(', ')}}</dd>
        <dt>Cluster</dt>
        <dd>{{stage.context.cluster}}</dd>
      </dl>
    </div>

    <execution-step-details item="stage"></execution-step-details>

  </div>

  <stage-failure-message is-failed="stage.isFailed" message="ctrl.getException(stage)"></stage-failure-message>

  <div class="row" ng-if="stage.context.amiDetails">
    <div class="col-md-12">
      <div class="well alert alert-text">
        <dl ng-repeat="ami in stage.context.amiDetails" class="dl-narrow dl-horizontal">
          <h4>{{ami.region}}</h4>
          <dt>AMI:</dt><dd>{{ami.ami}}</dd>
          <dt>Name:</dt><dd>{{ami.imageName}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
