<div>
  <div ng-if="state.requiresTemplateSelection">
    <ng-include src="pages.templateSelection"></ng-include>
  </div>
  <div ng-if="!state.loaded" style="height: 200px">
    <h3 us-spinner="{radius:30, width:8, length: 16}"></h3>
  </div>
  <div>
    <form name="serverGroupWizardForm" class="form-horizontal" novalidate>
      <v2-modal-wizard ng-show="state.loaded && !state.requiresTemplateSelection" heading="{{title}}">
        <v2-wizard-page key="location" label="Location" hide-subheading="true">
          <ng-include src="pages.basicSettings"></ng-include>
        </v2-wizard-page>
        <v2-wizard-page key="instance-settings" label="Instance Settings" mark-complete-on-view="false">
          <ng-include src="pages.instanceSettings"></ng-include>
        </v2-wizard-page>
        <v2-wizard-page key="cluster-size" label="Cluster Size" mark-complete-on-view="true">
          <ng-include src="pages.clusterSettings"></ng-include>
        </v2-wizard-page>
        <v2-wizard-page key="access-settings" label="Access" mark-complete-on-view="false">
          <ng-include src="pages.accessSettings"></ng-include>
        </v2-wizard-page>
      </v2-modal-wizard>
      <div class="modal-footer" ng-if="state.loaded">
        <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
        <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="!ctrl.isValid() || taskMonitor.submitting" label="command.viewState.submitButtonLabel"
                       submitting="taskMonitor.submitting" on-click="ctrl.submit()" is-new="true"></submit-button>
      </div>
    </form>
  </div>
</div>
