<div modal-page>
  <modal-close dismiss="$dismiss()"></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Notification</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editNotificationForm">
    <div class="modal-body">
      <notification-selector notification="editNotification.notification"></notification-selector>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Notify when</div>
        <div class="col-sm-9" ng-class="$first ? '' : 'col-sm-offset-3'" ng-repeat="wo in editNotification.whenOptions">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                name="when"
                value="{{wo}}"
                ng-model="selectedWhenOptions[wo]"
                ng-checked="editNotification.notification.when.includes(wo)"
              />
              {{wo|notificationWhen:level:editNotification.stageType()}}
            </label>
          </div>
          <div
            class="form-group"
            ng-if="selectedWhenOptions[wo] && editNotification.supportsCustomMessage(editNotification.notification, wo)"
          >
            <textarea
              name="message"
              class="form-control input-sm"
              ng-model="editNotification.notification.message[wo].text"
              placeholder="enter a custom notification message (optional)"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div ng-show="editApp.submitting">
        <loading-spinner size="'small'"></loading-spinner>
      </div>
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button
        type="submit"
        class="btn btn-primary"
        data-purpose="submit"
        ng-click="editNotification.submit()"
        ng-disabled="editNotificationForm.$invalid || !editNotification.hasSelectedWhen"
      >
        <span class="far fa-check-circle"></span> Update
      </button>
    </div>
  </form>
</div>
