.slack-channel-form-control {
  .slack-channel-annotation {
    position: absolute;
    top: 5px;
    left: 25px;
    color: var(--color-concrete);
  }

  .form-control {
    padding-left: 22px;
  }
}
