<form ng-controller="kubernetesContainerConfigurerController as containerController" class="container-fluid form-horizontal" name="containers" novalidate>
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      Image
      <help-field key="kubernetes.containers.image"></help-field>
    </div>
    <div class="col-md-6">
      <p>{{container.image}}</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      Name
      <help-field key="kubernetes.containers.name"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" name="details" ng-model="container.name"/>
    </div>
  </div>
  </br>
  </br>
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      CPU requested
      <help-field key="kubernetes.containers.requests.cpu"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" name="details" ng-model="container.requests.cpu" ng-pattern="containerController.cpuPattern"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      Memory requested
      <help-field key="kubernetes.containers.requests.memory"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" name="details" ng-model="container.requests.memory" ng-pattern="containerController.memoryPattern"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      CPU limit
      <help-field key="kubernetes.containers.limits.cpu"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" name="details" ng-model="container.limits.cpu" ng-pattern="containerController.cpuPattern"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      Memory limit
      <help-field key="kubernetes.containers.limits.memory"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" name="details" ng-model="container.limits.memory" ng-pattern="containerController.memoryPattern"/>
    </div>
  </div>
</div>
