titus-migration-config {
  .migration-config {
    margin-bottom: 10px;
    .pipeline-selector {
      margin-top: 5px;
      width: calc(~'100% - 80px');
      max-width: 400px;
      display: inline-block;
    }
  }
  input[type='number'] {
    &.form-control {
      display: inline-block;
      width: 55px;
      margin: 0 5px 5px 5px;
    }
  }

  .concurrent-relaunches-type-config {
    &.form-control {
      display: inline-block;
      vertical-align: top;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    &.help-label {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  label {
    font-weight: 600;
    min-width: 75px;
    text-align: right;
    display: inline-block;
  }

  .form-control {
    margin-bottom: 5px;
  }

  .first-header {
    margin-top: 0;
    display: inline-block;
  }

  .config-field {
    margin-right: 10px;
  }

  .ui-select-placeholder {
    display: inline;
  }

  .migration-config-pipeline {
    label {
      text-align: left;
    }
    .pipeline-params {
      label {
        font-size: 85%;
        font-weight: normal;
      }
      input,
      .form-control {
        width: 100%;
        display: block;
      }
    }
  }

  .table {
    margin-bottom: 0;
  }

  .glyphicon-trash {
    top: 6px;
  }

  .footer {
    padding: 10px 0 0;
    border-top: 1px solid var(--color-alto);
  }
}
