<div class="row">
  <div class="col-lg-3">
    <select
      class="form-control input-sm"
      ng-model="$ctrl.config.type"
      ng-options="strategy as (strategy | robotToHuman) for strategy in $ctrl.migrationOptions"
      ng-change="$ctrl.updateType()"
    ></select>
  </div>

  <div class="migration-config col-lg-9" ng-if="$ctrl.config.type === 'rollingPush'">
    <div class="config-field">
      <label>
        Batch size
        <help-field key="strategy.rollingPush.concurrentRelaunches.migration"></help-field>
      </label>
      <input
        class="form-control input-sm"
        type="number"
        min="1"
        max="{{ $ctrl.config.config.concurrentRelaunchesAsPercentage ? 100 : '' }}"
        ng-model="$ctrl.config.config.concurrentRelaunches"
        ng-change="$ctrl.configChanged()"
      />
      <ui-select
        ng-model="$ctrl.config.config.concurrentRelaunchesAsPercentage"
        class="form-control input-sm concurrent-relaunches-type-config"
        ng-change="$ctrl.configChanged()"
      >
        <ui-select-match>
          <span>{{
            $select.selected ? 'percent' : $ctrl.config.config.concurrentRelaunches == 1 ? 'instance' : 'instances'
          }}</span>
        </ui-select-match>
        <ui-select-choices repeat="choice as choice in [true, false]">
          <span>{{
            choice ? 'percent' : $ctrl.config.config.concurrentRelaunches == 1 ? 'instance' : 'instances'
          }}</span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="config-field">
      <label>
        Wait
        <help-field
          content="Time to wait between the completion of a batch and the start of the next batch."
        ></help-field>
      </label>
      <input
        class="form-control input-sm"
        type="number"
        min="0"
        ng-model="$ctrl.config.config.waitTime"
        ng-change="$ctrl.configChanged()"
      />
      <span style="font-size: 12px">seconds between updates</span>
    </div>
  </div>

  <div class="col-lg-9 migration-config migration-config-pipeline" ng-if="$ctrl.config.type === 'pipeline'">
    <div>
      <label>Application</label>
      <ui-select
        ng-model="$ctrl.config.config.application"
        class="form-control input-sm pipeline-selector"
        on-select="$ctrl.applicationSelected($ctrl.config.config)"
      >
        <ui-select-match>{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices
          repeat="application.name as application in $ctrl.applications | anyFieldFilter: {name: $select.search }"
        >
          <div>{{ application.name }}</div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div>
      <label>Pipeline</label>
      <ui-select
        ng-model="$ctrl.config.config.pipelineId"
        ng-if="$ctrl.pipelinesLoaded"
        class="form-control input-sm pipeline-selector"
        on-select="$ctrl.pipelineSelected($ctrl.config.config)"
      >
        <ui-select-match placeholder="(Select pipeline)">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices
          repeat="pipeline.id as pipeline in $ctrl.pipelineOptions | anyFieldFilter: {name: $select.search }"
        >
          <div>{{ pipeline.name }}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</div>
<div class="row migration-config-pipeline" ng-if="$ctrl.pipelinesLoaded && $ctrl.config.config.parameters.length">
  <div class="col-lg-9 col-lg-offset-3">
    <label>Parameters</label>
    <div class="row pipeline-params" ng-repeat="param in $ctrl.config.config.parameters">
      <div class="col-lg-6">
        <label>{{ param.name }}</label>
      </div>
      <div class="col-lg-6">
        <input
          type="text"
          class="form-control input-sm"
          ng-if="::!$ctrl.getParameterOptions(param.name)"
          ng-model="param.value"
          ng-change="$ctrl.configChanged()"
        />
        <ui-select
          ng-model="param.value"
          ng-if="::$ctrl.getParameterOptions(param.name)"
          ng-change="$ctrl.configChanged()"
          class="form-control input-sm"
        >
          <ui-select-match>{{ $select.selected }}</ui-select-match>
          <ui-select-choices repeat="option as option in ::$ctrl.getParameterOptions(param.name)">
            <div>{{ option }}</div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>
