<div class="insight" ng-if="!insightTarget.notFound" ng-class="InsightFilterStateModel.filtersExpanded ? 'filters-expanded' : 'filters-collapsed'">
  <div class="nav">
    <h3 class="filters-placeholder">
      <a href
         class="btn btn-xs btn-default pin"
         ng-click="InsightFilterStateModel.pinFilters(true)" uib-tooltip="Show filters">
        <i class="fa fa-forward"></i>
      </a>
    </h3>
    <a href
       class="btn btn-xs btn-default pull-right unpin"
       ng-click="InsightFilterStateModel.pinFilters(!InsightFilterStateModel.filtersPinned)"
       ng-show="InsightFilterStateModel.filtersExpanded"
        >
      <i class="fa fa-backward" uib-tooltip="Hide filters"></i>
    </a>
    <div ui-view="nav" class="filters-content"></div>
  </div>
  <div ui-view="master" class="nav-content" data-scroll-id="nav-content"></div>
  <div ui-view="detail" class="detail-content"></div>
</div>
