<div class="form-horizontal">
  <stage-config-field label="Instructions" help-key="pipeline.config.manualJudgment.instructions">
      <textarea
        class="form-control input-sm"
        ng-model="stage.instructions"
        placeholder="Provide any instructional text that would assist making a manual judgment (can contain HTML)">
      </textarea>
  </stage-config-field>
  <div ng-if="authEnabled">
    <stage-config-field label="Propagate Authentication"
                        help-key="pipeline.config.manualJudgment.propagateAuthentication">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="stage.propagateAuthenticationContext">
        </label>
      </div>
    </stage-config-field>
  </div>
  <stage-config-field label="Fail Pipeline" help-key="pipeline.config.manualJudgment.failPipeline">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="stage.failPipeline">
      </label>
    </div>
  </stage-config-field>
  <stage-config-field label="Judgment Inputs" help-key="pipeline.config.manualJudgment.judgmentInputs">
    <table class="table table-condensed packed">
      <thead>
      <tr>
        <th style="width:30%">Option</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="judgmentInput in stage.judgmentInputs track by $index">
        <td>
          <input type="text" required ng-model="judgmentInput.value" value="{{judgmentInput.value}}"
                 class="form-control input-sm"/>
        </td>
        <td class="text-right">
          <a class="small" href ng-click="manualJudgmentStageCtrl.removeJudgmentInput($index)">Remove</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <button class="btn btn-block btn-sm add-new" ng-click="manualJudgmentStageCtrl.addJudgmentInput()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add judgment input
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </stage-config-field>
  <stage-config-field label="Notifications">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Type</th>
        <th>Details</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="notification in stage.notifications">
        <td>
          {{notification.type}}
        </td>
        <td>
          {{notification.address}}
        </td>
        <td class="text-right">
          <a class="small" href
             ng-click="manualJudgmentStageCtrl.removeNotification($index)">Remove</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <button class="btn btn-block btn-sm add-new" ng-click="manualJudgmentStageCtrl.addNotification()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add notification
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </stage-config-field>
</div>
