<div ng-controller="ManualJudgmentExecutionDetailsCtrl as manualCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'manualJudgment'">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-narrow dl-horizontal">
          <dt ng-if="stage.context.judgmentStatus">Judgment</dt>
          <dd ng-if="stage.context.judgmentStatus">{{ stage.context.judgmentStatus | robotToHuman }}</dd>
          <dt ng-if="stage.context.lastModifiedBy">Judged By</dt>
          <dd ng-if="stage.context.lastModifiedBy">
            <span ng-bind="stage.context.lastModifiedBy"></span>
            <span ng-if="stage.context.propagateAuthenticationContext">(<em>authentication propagated</em>)</span> <br/>
            {{ stage.endTime | timestamp }}
          </dd>
          <dt ng-if="stage.context.judgmentInput">Input</dt>
          <dd ng-if="stage.context.judgmentInput">{{ stage.context.judgmentInput | robotToHuman}}</dd>
          <dt ng-if="stage.context.instructions">Instructions</dt>
          <dd ng-bind-html="stage.context.instructions"></dd>
        </dl>
      </div>
      <div class="col-md-9" ng-if="!stage.context.judgmentStatus && stage.status === 'RUNNING'">
        <div class="form-group" ng-if="!!stage.context.judgmentInputs.length">
          <p><b>Judgment Input</b></p>
          <ui-select ng-model="viewState.judgmentInput" class="form-control input-sm">
            <ui-select-match allow-clear="true" placeholder="Select...">{{$select.selected.value}}</ui-select-match>
            <ui-select-choices repeat="judgmentInput in stage.context.judgmentInputs | filter: $select.search">
              <span ng-bind-html="judgmentInput.value | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <button class="btn btn-primary"
                style="margin: 0 15px"
                ng-click="manualCtrl.provideJudgment('continue', viewState.judgmentInput.value)" ng-disabled="viewState.submitting">
          <button-busy-indicator ng-if="viewState.submitting && viewState.judgmentDecision === 'continue'"></button-busy-indicator>
          Continue
        </button>
        <button class="btn btn-danger" ng-click="manualCtrl.provideJudgment('stop')" ng-disabled="viewState.submitting">
          <button-busy-indicator ng-if="viewState.submitting && viewState.judgmentDecision === 'stop'"></button-busy-indicator>
          Stop
        </button>
      </div>
      <div class="col-md-12 error-message" ng-if="viewState.error">
        There was an error recording your decision. Please try again.
      </div>
    </div>

    <stage-failure-message is-failed="stage.isFailed && !stage.context.judgmentStatus" message="stage.failureMessage"></stage-failure-message>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
