<div ng-controller="ManualJudgmentExecutionDetailsCtrl as manualCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'manualJudgment'">
    <div class="row">
      <div class="col-md-9">
        <dl class="dl-narrow dl-horizontal">
          <dt ng-if="stage.context.judgmentStatus">Judgment</dt>
          <dd ng-if="stage.context.judgmentStatus">{{ stage.context.judgmentStatus | robotToHuman }}</dd>
          <dt ng-if="stage.context.lastModifiedBy">Judged By</dt>
          <dd ng-if="stage.context.lastModifiedBy">
            <span ng-bind="stage.context.lastModifiedBy"></span> <br/> {{ stage.endTime | timestamp }}
          </dd>
          <dt>Instructions</dt>
          <dd ng-bind-html="stage.context.instructions"></dd>
        </dl>
      </div>
      <div class="col-md-9" ng-if="!stage.context.judgmentStatus && stage.status === 'RUNNING'">
        <button class="btn btn-primary" ng-click="manualCtrl.provideJudgment('continue')" ng-disabled="viewState.submitting">
          <button-busy-indicator ng-if="viewState.submitting && viewState.judgmentDecision === 'continue'"></button-busy-indicator>
          Continue
        </button>
        <button class="btn btn-danger" ng-click="manualCtrl.provideJudgment('stop')" ng-disabled="viewState.submitting">
          <button-busy-indicator ng-if="viewState.submitting && viewState.judgmentDecision === 'stop'"></button-busy-indicator>
          Stop
        </button>
      </div>
      <div class="col-md-12 error-message" ng-if="viewState.error">
        There was an error recording your decision. Please try again.
      </div>
    </div>

    <stage-failure-message is-failed="stage.isFailed && !stage.context.judgmentStatus" message="ctrl.getException(stage)"></stage-failure-message>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
