<div class="form-group" style="margin-top: 15px;">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 col-md-offset-1 sm-label-right">Application</label>
      <div class="col-md-6">
        <ui-select ng-model="$ctrl.command.strategyApplication"
                   class="form-control input-sm" ng-change="$ctrl.initializeStrategies()">
          <ui-select-match placeholder="None">{{$select.selected}}</ui-select-match>
          <ui-select-choices
            repeat="application in $ctrl.state.applications | filter: $select.search | limitTo: $ctrl.state.currentApplicationCount"
            infinite-scroll="$ctrl.addMoreApplications()"
            infinite-scroll-distance="2">
            <div ng-bind-html="application | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group" ng-if="$ctrl.command.strategyApplication && $ctrl.state.pipelinesLoaded">
      <label class="col-md-2 col-md-offset-1 sm-label-right">Strategy</label>
      <div class="col-md-6">
        <div>
          <ui-select class="form-control input-sm"
                     ng-model="$ctrl.command.strategyPipeline"
                     ng-change="$ctrl.updatePipelineConfig()">
            <ui-select-match placeholder="Select a strategy...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices
                repeat="pipeline.id as pipeline in $ctrl.state.pipelines | filter: $select.search | orderBy: 'index'"><span
                ng-bind-html="pipeline.name | highlight: $select.search"></span></ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="well well-sm clearfix ng-scope col-md-12" ng-if="$ctrl.state.pipelineParameters.length">
      <strong class="text-left">Parameters</strong>
      <div class="form-group" ng-repeat="parameter in $ctrl.state.pipelineParameters | orderBy:'name' ">
        <div class="col-md-3 sm-label-right">
          <span ng-if="!parameter.description">{{parameter.name}}</span>
          <help-field content="{{parameter.description}}" label="{{parameter.name}}" ng-if="parameter.description"></help-field>
        </div>
        <div class="col-md-6">
          <input disabled ng-if="$ctrl.state.useDefaultParameters[parameter.name]" type="text" class="form-control input-sm"
                 value="{{parameter.default}}"/>
          <input ng-if="!$ctrl.state.useDefaultParameters[parameter.name] && !parameter.hasOptions" type="text" class="form-control input-sm"
                 ng-model="$ctrl.state.userSuppliedParameters[parameter.name]" ng-change="$ctrl.updateParam(parameter.name)"/>
          <ui-select style="width:100%"
                     ng-if="!$ctrl.state.useDefaultParameters[parameter.name] && parameter.hasOptions"
                     ng-model="$ctrl.state.userSuppliedParameters[parameter.name]" ng-change="$ctrl.updateParam(parameter.name)"
                     class="form-control input-sm">
            <ui-select-match>
              <strong>{{$select.selected.value}}</strong>
            </ui-select-match>
            <ui-select-choices repeat="option.value as option in parameter.options">
              <div><strong>{{option.value}}</strong></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="checkbox col-md-3" ng-if="parameter.default !== null && parameter.default !== undefined">
          <label>
            <input type="checkbox" ng-model="$ctrl.state.useDefaultParameters[parameter.name]"
                   ng-change="$ctrl.updateParam(parameter.name)">Use default
          </label>
        </div>
      </div>

    </div>
  </div>
</div>
