.console-output-tabs {
  list-style: none;
  overflow-x: scroll;
  padding: 0 20px;
}

.console-output-tab {
  min-width: 50px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
