<div class="flex-fill" modal-page>
  <modal-close dismiss="$dismiss()"></modal-close>
  <div class="modal-header">
    <h3>Console Output: {{vm.instanceId}}</h3>
  </div>
  <div id="console-output" class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="horizontal center middle spinner-container" ng-if="vm.loading">
          <loading-spinner size="'small'"></loading-spinner>
        </div>
        <div ng-if="vm.usesMultiOutput && !vm.loading && vm.consoleOutput.length">
          <ul class="tabs-basic console-output-tabs">
            <li
              class="console-output-tab"
              ng-class="{'selected': log.name === vm.selectedLog.name}"
              ng-click="selectLog(log)"
              ng-repeat="log in vm.consoleOutput"
            >
              {{log.name}}
            </li>
          </ul>
          <pre class="body-small" ng-if="vm.selectedLog">
            {{vm.selectedLog.output}}
          </pre>
        </div>
        <div ng-if="!vm.usesMultiOutput && !vm.loading && vm.consoleOutput">
          <pre class="body-small" ng-if="vm.consoleOutput">
            {{vm.consoleOutput}}
          </pre>
        </div>
        <div ng-if="vm.exception">
          <p>An error occurred trying to load console output. Please try again later.</p>
          <p>Exception:</p>
          <pre>{{vm.exception.message || vm.exception}}</pre>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" ng-if="vm.consoleOutput" ng-click="fetchLogs(false)">Refresh</button>
    <button class="btn btn-link" ng-if="vm.consoleOutput" ng-click="jumpToEnd()">Scroll to End</button>
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </div>
</div>
