<form class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-condensed packed">
          <thead>
          <tr>
            <th>External Protocol</th>
            <th>External Port</th>
            <th></th>
            <th>Internal Protocol</th>
            <th>Internal Port</th>
            <th ng-if="ctrl.showSslCertificateIdField()" width="30%">SSL Certificate Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="listener in loadBalancer.listeners">
            <td><select class="form-control input-sm" ng-model="listener.externalProtocol"
                        ng-options="protocol for protocol in ['HTTP','HTTPS','TCP','SSL']"></select></td>
            <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.externalPort"
                       required/></td>
            <td class="small" style="padding-top: 10px;">&rarr;</td>
            <td><select class="form-control input-sm" ng-model="listener.internalProtocol"
                        ng-options="protocol for protocol in ['HTTP','HTTPS','TCP','SSL']"></select></td>
            <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.internalPort"
                       required/></td>
            <td ng-if="ctrl.showSslCertificateIdField() && listener.externalProtocol !== 'HTTPS' && listener.externalProtocol !== 'SSL'"></td>
            <td ng-if="listener.externalProtocol === 'HTTPS' || listener.externalProtocol === 'SSL'">
              <input class="form-control input-sm" type="text" ng-model="listener.sslCertificateId"
                     required/></td>
            </td>
            <td><a href class="sm-label" ng-click="ctrl.removeListener($index)"><span
              class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="{{ctrl.showSslCertificateIdField() ? 6 : 5}}">
              <button class="add-new col-md-12" ng-click="ctrl.addListener()"><span
                class="glyphicon glyphicon-plus-sign"></span> Add new port mapping
              </button>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="ctrl.cancel()">Cancel
    </button>
    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <submit-button is-disabled="form.$invalid || !wizard.isComplete() || taskMonitor.submitting"
                   submitting="state.submitting" on-click="ctrl.submit()" is-new="isNew"></submit-button>
    <button class="btn btn-primary"
            ng-disabled="form.$invalid"
            ng-click="wizard.markComplete('Listeners'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
