<div class="form-group" ng-if="taskStatus.task && !taskStatus.hideProgressMessage">
  <div class="col-md-12">
    <alert type="info" close="taskStatus.hideProgressMessage = true">
      <h4>{{title}}</h4>
      <ul class="task task-progress">
        <li ng-repeat="step in taskStatus.task.history"><span class="glyphicon glyphicon-ok-circle"></span> {{step.status}}</li>
        <li ng-if="taskStatus.forceRefreshMessage"><span class="glyphicon glyphicon-spinning glyphicon-asterisk"></span> {{taskStatus.forceRefreshMessage}}</li>
      </ul>
    </alert>
  </div>
</div>
