<div class="form-group" ng-if="taskStatus.errorMessage">
  <div class="col-md-12">
    <alert type="danger" close="taskStatus.errorMessage = null;">
      <h4>{{title}}</h4>
      <p><strong>Reason:</strong> {{taskStatus.errorMessage}}</p>
      <p ng-if="taskStatus.taskId">
        <a ui-sref="home.applications.application.tasks.taskDetails({application: taskStatus.applicationName, taskId: taskStatus.taskId})">
          View this failed task in the tasks pane.
        </a>
      </p>
      <p ng-if="!taskStatus.taskId">
        No task was created.
      </p>

    </alert>
  </div>
</div>
