<div class="progress panel-progress" style="">
  <div class="progress-bar"
       ng-class="{
       active: item.isRunning,
       'progress-bar-info': item.isRunning,
       'progress-bar-striped': item.isRunning,
       'progress-bar-success': item.isCompleted,
       'progress-bar-disabled': item.isCanceled,
       'progress-bar-danger': item.isFailed}"
       role="progressbar"
       aria-valuenow="1"
       aria-valuemin="0"
       aria-valuemax="1"
       style="width: 100%;">
  </div>
</div>
