<div class="form-group">
  <div class="col-md-{{labelColumns}} sm-label-left">
    Subnet
    <help-field key="{{helpKey}}"></help-field>
  </div>
  <div class="col-md-7" ng-if="!region">(Select an account)</div>
  <div class="col-md-7" ng-if="region">
    <select class="form-control input-sm" ng-model="component[field]"
            ng-change="onChange()"
            ng-options="subnet.purpose as subnet.label for subnet in subnets | orderBy: 'label'">
      <option value="">None (EC2 Classic)</option>
    </select>
  </div>
</div>
