<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="sm-label-left">
      <b>User Data (optional)</b>
      <help-field key="openstack.serverGroup.userData"></help-field>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right"><b>User Data Type</b></div>
    <div class="col-md-7">
      <ui-select ng-model="$ctrl.command.userDataType" class="form-control input-sm">
        <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="userDataType in $ctrl.command.backingData.userDataTypes | filter: $select.search">
          <span ng-bind-html="userDataType | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">User Data Value</div>
    <div class="col-md-9 no-spel">
      <input type="text"
             class="form-control"
             ng-model="$ctrl.command.userData"
             placeholder="A url that points to a script"
             ng-if="$ctrl.command.userDataType == 'URL'">
      </input>
      <input type="text"
             class="form-control"
             ng-model="$ctrl.command.userData"
             placeholder="A swift object that contains a script, e.g. '<container>:<my/object>'"
             ng-if="$ctrl.command.userDataType == 'Swift'">
      </input>
      <textarea class="form-control nospel"
                ng-model="$ctrl.command.userData"
                ng-if="$ctrl.command.userDataType=='Text' || !$ctrl.command.userDataType"
                rows="3"
                placeholder="A raw plaintext script">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="sm-label-left">
      <b>Tags (optional)</b>
      <help-field key="openstack.serverGroup.tags"></help-field>
    </div>
    <map-editor model="$ctrl.command.tags" allow-empty="true"></map-editor>
  </div>
</div>
