dl.manifest-status {
  display: block;
  margin: 0;

  dt,
  dd {
    display: inline-block;
  }

  dt {
    margin-right: 4px;
  }
}

.manifest-support-links {
  margin: 0 0 1em;
  a {
    margin-right: 2em;
  }
}

.manifest-events {
  margin: 0 0 2em;
}
