<div class="row pipelines">
  <div class="col-md-8">
    <div class="row" style="font-size: .8em;">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            Show
            <div class="btn-group">
              <label class="btn btn-default btn-sm"
                     ng-model="filter.pipelineState"
                      btn-radio="'All'">
                All
              </label>
              <label class="btn btn-default btn-sm"
                     ng-model="filter.pipelineState"
                     btn-radio="'Executing'">
                Executing
              </label>
              <label class="btn btn-default btn-sm"
                     ng-model="filter.pipelineState"
                     btn-radio="'Completed'">
                Completed
              </label>
              <label class="btn btn-default btn-sm"
                     ng-model="filter.pipelineState"
                     btn-radio="'Failed'">
                Errored
              </label>
            </div>
          </div>
          <div class="form-group">
            Sort by
            <select ng-options="option.value as option.label for option in sortOptions"
                    ng-model="filter.sortKey"
                    class="input-sm">
            </select>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     ng-model="filter.groupByPipeline"> Group by pipeline
            </label>
          </div>
          <div class="form-group">
            Triggers
            <div class="btn-group">
              <label class="btn btn-default btn-sm"
                     ng-model="filter.triggerType"
                      btn-radio="'All'">
                All
              </label>
              <label class="btn btn-default btn-sm"
                     ng-repeat="pipeline in pipelines | unique:'trigger.type'"
                     ng-model="filter.triggerType"
                     btn-radio="'{{ pipeline.trigger.type }}'"
                     style="text-transform: capitalize;">
                {{ pipeline.trigger.type }}
              </label>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <input type="search"
                   class="form-control input-sm"
                   placeholder="Filter results"
                   ng-model="taskFilter">
          </div>
        </form>
      </div>
    </div>
    <div class="row pipelines-header">
      <div class="col-md-2">
        start time
      </div>
      <div class="col-md-8">
        pipeline status
      </div>
      <div class="col-md-2">
        end time
      </div>
    </div>
    <timeline ng-if="!filter.groupByPipeline"
              iterable="pipelines"
              element="execution"
              timestamp="filter.sortKey">
      <pipeline-execution execution="execution" class="execution">
      </pipeline-execution>
    </timeline>
    <div class="row"
         style="margin-top: 5px;"
         ng-repeat="(pipelineName, executions) in pipelines | groupBy:'name'"
         ng-if="filter.groupByPipeline">
      <div class="col-md-12 execution">
        <pipeline-heading name="pipelineName"></pipeline-heading>
        <timeline iterable="executions"
                  element="exec"
                  timestamp="filter.sortKey">
          <pipeline-execution execution="exec"
                              filter="filter">
          </pipeline-execution>
        </timeline>
      </div>
    </div>
  </div>
  <div class="col-md-4 pipeline-details" ui-view="details">
  </div>
</div>

