<div class="row">
  <div class="col-md-12 pipeline-stacked-bar">
    <div class="row">
      <div class="col-md-4 col-md-offset-8" style="font-size: .8em;">
        <form class="form-inline" style="float: right; margin-top: 5px;">
          <div class="form-group">
            Show
            <div class="btn-group">
              <label class="btn btn-default btn-sm"
                     ng-model="timescale"
                     btn-radio="'relative'">
                Relative Time
              </label>
              <label class="btn btn-default btn-sm"
                     ng-model="timescale"
                     btn-radio="'absolute'">
                Absolute Time
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
