<div class="details-panel">
  <div class="header">
    <div class="header-text">
      <h3>{{ stage.name }}</h3>
    </div>
    <div class="actions">
      <div class="dropdown">
        <button type="button"
                class="btn btn-sm btn-primary dropdown-toggle"
                ng-disabled="disabled">
          Stage Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-if="stage.isCompleted"><a href ng-click="ctrl.retry()">Retry</a></li>
          <li ng-if="stage.isRunning"><a href ng-click="ctrl.cancel()">Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <collapsible-section heading="Status" expanded="true">
      <status-glyph item="stage"></status-glyph>
      {{ stage.status }}
      <dl>
        <dt>Started</dt>
        <dd>{{ stage.startTime | relativeTime }}</dd>
        <dt>Completed</dt>
        <dd>{{ stage.endTime | relativeTime }}</dd>
        <dt>Running time</dt>
        <dd>{{ stage.runningTime }}</dd>
      </dl>
    </collapsible-section>
  </div>
</div>
