.pipeline-templates-error-banner {
  margin: 1em 0;

  i.fa-exclamation-triangle {
    padding-right: 8px;
  }
}

.pipeline-template-actions {
  button.link {
    padding: 0 1em 0 0;

    &:last-child {
      padding: 0;
    }
  }
  .link--create {
    margin-left: 1rem;
  }
}
