.provider-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &.providers-2 {
    justify-content: space-around;
    .provider {
      width: 200px;
      margin: 20px;
    }
  }
  .provider {
    width: 166px;
    margin: 10px;
    .panel-heading {
      padding: 10px 0;
    }
  }
  .provider-selection-logo {
    width: 100%;
    h4 {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      min-height: 70px;
      height: 100%;
      width: 100%;
    }
  }
}
