<div class="container-fluid form-horizontal">
  <div class="modal-body" ng-if="!ctrl.viewState.securityGroupsLoaded">
    <h3><span us-spinner="{radius:8, width:3, length: 5}"></span></h3>
  </div>
  <div ng-if="ctrl.viewState.securityGroupsLoaded">
    <div class="form-group" ng-if="ctrl.viewState.removedSecurityGroups.length">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <p><i class="fa fa-exclamation-triangle"></i></span>
          The following security groups could not be found in the selected account/region/VPC and were removed:
        </p>
        <ul>
          <li ng-repeat="securityGroup in ctrl.viewState.removedSecurityGroups">{{securityGroup}}</li>
        </ul>
        <p class="text-right">
          <a class="btn btn-sm btn-default dirty-flag-dismiss" href ng-click="ctrl.viewState.removedSecurityGroups = []; wizard.markClean('Security Groups');">Okay</a>
        </p>
      </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-right">Security Groups</div>
      <div class="col-md-9">
        <ui-select multiple
                   ng-model="ctrl.loadBalancerCommand.securityGroups"
                   uis-open-close="ctrl.resetCurrentItems()"
                   class="form-control input-sm">
          <ui-select-match>{{$item.name}} ({{$item.id}})</ui-select-match>
          <ui-select-choices repeat="securityGroup.name as securityGroup in ctrl.availableSecurityGroups | filter: $select.search | limitTo: ctrl.currentItems"
                             infinite-scroll="ctrl.addItems()"
                             infinite-scroll-distance="4">
            <span ng-bind-html="securityGroup.name | highlight: $select.search"></span>
            (<span ng-bind-html="securityGroup.id  | highlight: $select.search"></span>)
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group small" style="margin-top: 20px">
      <div class="col-md-9 col-md-offset-3">
        <p>
          <span ng-if="ctrl.viewState.refreshingSecurityGroups"><span class="fa fa-refresh fa-spin"></span></span>
          Security groups
          <span ng-if="!ctrl.viewState.refreshingSecurityGroups">last refreshed {{ ctrl.viewState.securityGroupRefreshTime | timestamp }}</span>
          <span ng-if="ctrl.viewState.refreshingSecurityGroups"> refreshing...</span>
        </p>
        <p>If you're not finding a security group that was recently added,
          <a href ng-click="ctrl.refreshSecurityGroups()">click here</a> to refresh the list.
        </p>
      </div>
    </div>

  </div>
</div>
