<p>We use local storage to speed up performance throughout the application.</p>

<p>If you're not seeing one of those in a dropdown, it may be because our cached versions are too old.</p>

<div class="row">
  <div class="col-md-3 col-md-offset-1"><strong>Cache Type</strong></div>
  <div class="col-md-3"><strong>Last Updated</strong></div>
  <div class="col-md-1 text-center"><strong>Refresh</strong></div>
</div>
<div class="row" ng-if="vm.hasCache('instanceTypes')">
  <div class="col-md-3 col-md-offset-1">Instance Types</div>
  <div class="col-md-3">{{vm.getCacheInfo('instanceTypes').ageMax | timestamp}}</div>
  <div class="col-md-1 text-center">
    <a href ng-click="vm.refreshCache('instanceTypes')">
      <span ng-class="{'fa-spin':vm.clearingCache['instanceTypes']}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="row" ng-if="vm.hasCache('loadBalancers')">
  <div class="col-md-3 col-md-offset-1">Load Balancers</div>
  <div class="col-md-3">{{vm.getCacheInfo('loadBalancers').ageMax | timestamp}}</div>
  <div class="col-md-1 text-center">
    <a href ng-click="vm.refreshCache('loadBalancers')">
      <span ng-class="{'fa-spin':vm.clearingCache['loadBalancers']}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="row" ng-if="vm.hasCache('securityGroups')">
  <div class="col-md-3 col-md-offset-1"><firewall-label label="Firewalls"></firewall-label></div>
  <div class="col-md-3">{{vm.getCacheInfo('securityGroups').ageMax | timestamp}}</div>
  <div class="col-md-1 text-center">
    <a href ng-click="vm.refreshCache('securityGroups')">
      <span ng-class="{'fa-spin':vm.clearingCache['securityGroups']}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="row" ng-if="vm.hasCache('subnets')">
  <div class="col-md-3 col-md-offset-1">Subnets</div>
  <div class="col-md-3">{{vm.getCacheInfo('subnets').ageMax | timestamp}}</div>
  <div class="col-md-1 text-center">
    <a href ng-click="vm.refreshCache('subnets')">
      <span ng-class="{'fa-spin':vm.clearingCache['subnets']}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="row" ng-if="vm.hasCache('networks')">
  <div class="col-md-3 col-md-offset-1">VPCs/Networks</div>
  <div class="col-md-3">{{vm.getCacheInfo('networks').ageMax | timestamp}}</div>
  <div class="col-md-1 text-center">
    <a href ng-click="vm.refreshCache('networks')">
      <span ng-class="{'fa-spin':vm.clearingCache['networks']}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="row" style="margin-top:20px">
  <div class="col-md-10">
    <button class="btn btn-link" ng-if="!vm.clearingCaches" ng-click="vm.refreshCaches()">
      <span class="fa fa-sync-alt"></span>
      Refresh all caches
    </button>
    <button disabled class="btn btn-link" ng-if="vm.clearingCaches">
      <span class="fa fa-sync-alt fa-spin"></span> Refreshing caches...
    </button>
  </div>
</div>
