.clipboard-btn {
  background-color: transparent !important;
  border-width: 0 !important;
  color: var(--color-dovegray) !important;
  display: inline-block !important;
  margin-left: 2px !important;
}
.clipboard-btn:hover {
  background-color: transparent;
}
&.copy-to-clipboard-sm {
  .clipboard-btn {
    margin-bottom: 3px;
  }
}
