<span class="counter instance-health-counts" ng-if="healthPercent !== 'n/a'" uib-tooltip-html="legend" tooltip-placement="{{legendPlacement}}">
  <span ng-if="container.up">
    {{ container.up }} <span class="glyphicon glyphicon-Up-triangle healthy"></span>
  </span>
  <span ng-if="container.down && container.down !== container.missingHealthCount">
    <span ng-if="container.up">/</span>
    {{ container.down }} <span class="glyphicon glyphicon-Down-triangle dead"></span>
  </span>
  <span ng-if="container.unknown || container.starting">
    <span ng-if="container.up || container.down">/</span>
    {{ container.unknown + container.starting }} <span class="glyphicon glyphicon-Unknown-triangle unknown"></span>
  </span>
  <span ng-if="container.outOfService">
    <span ng-if="container.up || container.down || container.unknown">/</span>
    {{ container.outOfService }} <span class="glyphicon glyphicon-OutOfService-triangle disabled small"></span>
  </span>
  <span ng-if="container.succeeded">
    <span ng-if="container.up || container.down || container.unknown || container.outOfService">/</span>
    {{ container.succeeded }} <span class="glyphicon glyphicon-Succeeded-triangle disabled small"></span>
  </span>
  <span ng-if="container.failed">
    <span ng-if="container.up || container.down || container.unknown || container.outOfService || container.succeeded">/</span>
    {{ container.failed }} <span class="glyphicon glyphicon-Failed-triangle disabled small"></span>
  </span>
  <span ng-if="container.unknown !== container.total">
  : <span class="{{healthStatus}}">
      {{healthPercent}}{{healthPercentLabel}}
    </span>
  </span>
</span>
<span class="counter instance-health-counts" ng-if="container.outOfService && healthPercent === 'n/a'" uib-tooltip-html="legend">
  <span ng-if="container.outOfService">
    {{ container.outOfService }} <span class="glyphicon glyphicon-minus disabled small"></span>
  </span>
</span>
