@import (reference) "~core/presentation/less/imports/commonImports.less";

.canary-summary {
  .canary-deployment-row {
    td:first-child {
      padding-left: 20px;
      font-weight: 600;
    }
  }
}

.canary-details {
  .section-title {
    border-bottom: 1px solid @mid_lighter_grey;
    margin-bottom: 20px;
    h4 {
      border-bottom: 0;
    }
  }
  h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid @mid_lighter_grey;
  }
  .canary-config-section {
    margin-bottom: 20px;
  }

  .canary-summary {
    margin-bottom: 5px;
    padding-bottom: 5px;
    align-items: center;
    display: flex;

    & > div {
      display: flex;
      flex: 4 0 20px;
      margin-right: 15px;
      &.canary-summary-section {
        display: block;
      }
      &.score-large {
        flex: 0 0 auto;
        margin-right: 10px;
      }
    }
  }

  h5 {
    margin: 0;
  }
}

.canary-container {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.score-large.score {
  height: 48px;
}

.score-large .score.label {
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 10px;
  font-size: 200%;
  border-radius: 0;
  margin: 0 0 5px 10px;
  min-width: 48px;
  display: inline-block;
}

.canary-column {
  flex: 0 0 auto;
  margin-left: 10px;
}

.canary-column:not(:last-child) {
  margin-right: 15px;
}
