  <div class="details-panel">
  <div ng-if="ctrl.state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h4 class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>

    <div class="header" ng-if="!ctrl.state.loading">
      <div class="close-button">
        <a class="btn btn-link"
           ui-sref="^">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
      <div class="header-text horizontal middle">
        <cloud-provider-logo provider="ctrl.loadBalancer.cloudProvider" height="'36px'"
                             width="'36px'"></cloud-provider-logo>
        <h3 class="horizontal middle space-between flex-1" select-on-dbl-click>
          {{ctrl.loadBalancer.displayName}}
        </h3>
      </div>
      <div class="actions">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            {{ctrl.loadBalancer.kind | robotToHuman}} Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li>
              <a href ng-click="ctrl.deleteLoadBalancer()">Delete Load Balancer</a>
            </li>
            <li>
              <a href ng-click="ctrl.editLoadBalancer()">Edit Load Balancer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-if="!ctrl.state.loading" class="content">
    <collapsible-section heading="Information" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>Created</dt>
        <dd>{{ctrl.loadBalancer.createdTime | timestamp}}</dd>
        <dt>Account</dt>
        <dd><account-tag account="ctrl.loadBalancer.account" pad="right"></account-tag></dd>
        <dt>Namespace</dt>
        <dd>{{ctrl.loadBalancer.namespace}}</dd>
        <dt>Kind</dt>
        <dd>{{ctrl.loadBalancer.kind}}</dd>
        <dt ng-if="ctrl.loadBalancer.serverGroups.length">Server Groups</dt>
        <dd ng-if="ctrl.loadBalancer.serverGroups.length">
          <ul>
            <li ng-repeat="serverGroup in ctrl.loadBalancer.serverGroups | orderBy: ['isDisabled', '-name']">
              <a ui-sref="^.serverGroup({region: serverGroup.region,
                                         accountId: serverGroup.account,
                                         serverGroup: serverGroup.name,
                                         provider: 'kubernetes'})">
                {{serverGroup.name}}
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <div ng-if="!ctrl.loadBalancer.serverGroups.length">No server groups associated with this load balancer</div>
      <health-counts class="pull-left" container="ctrl.loadBalancer.instanceCounts"></health-counts>
    </collapsible-section>

    <collapsible-section heading="Load Balancer Details" expanded="true">
      <dl>
        <dt>Service Type</dt>
        <dd>
          {{ctrl.loadBalancer.manifest.spec.type}}
        </dd>
      </dl>
      <dl>
        <dt>Session Affinity</dt>
        <dd>
          {{ctrl.loadBalancer.manifest.spec.sessionAffinity}}
        </dd>
      </dl>
      <dl ng-if="ctrl.loadBalancer.manifest.spec.clusterIP">
        <dt>Cluster IP</dt>
        <dd>
          <a target="_blank" href="//{{ctrl.loadBalancer.manifest.spec.clusterIP}}">
            {{ctrl.loadBalancer.manifest.spec.clusterIP}}
          </a>
          <copy-to-clipboard
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="ctrl.loadBalancer.manifest.spec.clusterIP"
            tool-tip="'Copy Cluster IP to clipboard'">
          </copy-to-clipboard>
        </dd>
      </dl>
      <dl ng-if="ctrl.loadBalancer.manifest.status.loadBalancer.ingress.length">
        <dt>Ingress</dt>
        <dd ng-repeat="ingress in ctrl.loadBalancer.manifest.status.loadBalancer.ingress">
          <a ng-if="ingress.hostname" target="_blank" href="//{{ingress.hostname}}">
            {{ingress.hostname}}
          </a>
          <copy-to-clipboard
            ng-if="ingress.hostname"
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="ingress.hostname"
            tool-tip="'Copy Ingress hostname to clipboard'">
          </copy-to-clipboard>
          <a ng-if="ingress.ip" target="_blank" href="//{{ingress.ip}}">
            {{ingress.ip}}
          </a>
          <copy-to-clipboard
            ng-if="ingress.ip"
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="ingress.ip"
            tool-tip="'Copy Ingress IP to clipboard'">
          </copy-to-clipboard>
        </dd>
      </dl>
      <dl ng-if="ctrl.loadBalancer.manifest.spec.loadBalancerIP">
        <dt>Load Balancer IP</dt>
        <dd>
          <a target="_blank" href="//{{ctrl.loadBalancer.manifest.spec.loadBalancerIP}}">
            {{ctrl.loadBalancer.manifest.spec.loadBalancerIP}}
          </a>
          <copy-to-clipboard
            class="copy-to-clipboard copy-to-clipboard-sm"
            text="ctrl.loadBalancer.manifest.spec.loadBalancerIP"
            tool-tip="'Copy Load Balancer IP to clipboard'">
          </copy-to-clipboard>
        </dd>
      </dl>
    </collapsible-section>

    <kubernetes-annotation-custom-sections manifest="ctrl.loadBalancer.manifest" resource="ctrl.loadBalancer"></kubernetes-annotation-custom-sections>

    <collapsible-section heading="Events" expanded="true">
      <kubernetes-manifest-events manifest="ctrl.manifest"></kubernetes-manifest-events>
    </collapsible-section>

    <collapsible-section heading="Labels" expanded="true">
      <kubernetes-manifest-labels manifest="ctrl.loadBalancer.manifest"></kubernetes-manifest-labels>
    </collapsible-section>

  </div>
</div>
