.ChecklistInput {
  ul {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    padding: 0;
  }

  .ChecklistInput_bulkToggle {
    appearance: none;
    background: none;
    border: 0;
    color: var(--color-accent);
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
  }

  &.ChecklistInput_inline {
    ul {
      flex-flow: row wrap;
    }

    li {
      white-space: nowrap;
      margin-right: 16px;
      &.last-of-type {
        margin-right: 0;
      }
    }
  }
}
