<div class="row execution"
     ui-sref=".execution({executionId: execution.id})">
  <div class="col-md-12">
    <div class="row" ng-if="execution">
      <div class="col-md-3">
        <execution-status execution="execution">
        </execution-status>
      </div>
      <div class="col-md-9">
        <execution-bar execution="execution"
                       executions="executions"
                       filter="filter"
                       scale="scale">
        </execution-bar>
      </div>
    </div>
    <div class="row" ng-if="ctrl.showDetails()">
      <execution-details execution="execution">
      </execution-details>
    </div>
  </div>
</div>

