<div class="col-md-12">
  <div class="row clickable" sticky-header added-offset-height="-6" ng-click="ctrl.toggle()">
    <div class="col-md-12 execution-group-heading" ng-class="ctrl.canTriggerPipelineManually() ? 'active' : 'inactive'">
      <div class="row">
        <div class="col-md-10">
          <h4>
            <span class="glyphicon"
                  ng-class="{'glyphicon-chevron-up': !viewState.open, 'glyphicon-chevron-down': viewState.open}">
            </span>
            <span class="execution-group-title">
            {{ value }}
              <span ng-if="ctrl.getCurrentlyRunningExecutions().length" class="badge" style="margin-left: 10px">
                {{ctrl.getCurrentlyRunningExecutions().length}}
              </span>
            </span>
          </h4>
        </div>
        <div class="col-md-2 text-right" ng-if="ctrl.canTriggerPipelineManually()">
          <h4><a href
                 class="btn btn-xs btn-link link-inverse"
                 ng-click="ctrl.triggerPipeline(); $event.stopPropagation();">
            <span ng-if="viewState.triggeringExecution">
              <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span> STARTING NEW EXECUTION&hellip;
            </span>
            <span ng-if="!viewState.triggeringExecution">
              <span class="glyphicon glyphicon-play"></span> RUN NEW EXECUTION
            </span>
            </a>
          </h4>
        </div>
        <div class="col-md-2 text-right" ng-if="!ctrl.canTriggerPipelineManually()">
          <h4><span class="label-retired" tooltip="The configuration for this pipeline has been renamed or deleted.">RETIRED</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="viewState.open">
    <div class="col-md-12 execution-group-container">
      <execution-group grouping="value"
                       filter="filter"
                       scale="scale"
                       executions="executions"
                       application="application">
      </execution-group>
    </div>
  </div>
</div>

