<div class="row execution"
     ng-class="{'execution-not-current': ctrl.executionInState() && !ctrl.executionIsCurrent(), 'execution-is-current': ctrl.executionIsCurrent()}">
  <div class="col-md-12">
    <a id="execution-{{execution.id}}"></a>
    <div class="row" ng-if="execution">
      <div class="col-md-3">
        <execution-status execution="execution" filter="filter">
        </execution-status>
      </div>
      <div class="col-md-8">
        <execution-bar execution="execution"
                       executions="executions"
                       filter="filter"
                       scale="scale">
        </execution-bar>
      </div>
      <div class="col-md-1 execution-actions text-center">
        <a href
           ng-if="!execution.isRunning && !execution.hasNotStarted && !execution.isSuspended"
           ng-click="ctrl.deleteExecution(); $event.stopPropagation();"
           tooltip="Delete execution">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
        <a href
           ng-if="execution.isRunning || execution.hasNotStarted || execution.isSuspended"
           ng-click="ctrl.cancelExecution(execution); $event.stopPropagation();"
           tooltip="Cancel execution">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
      </div>
    </div>
    <div class="row" ng-if="ctrl.showDetails()">
      <execution-details execution="execution">
      </execution-details>
    </div>
    <div class="row permalinks text-right" ng-if="ctrl.showDetails()">
      <div class="col-md-12">
        <a target="_blank" ng-href="{{ctrl.pipelinesUrl + execution.id}}">Source</a>
        |
        <a target="_blank" ng-href="{{$location.absUrl()}}">Permalink</a>
      </div>
    </div>
  </div>
</div>

