<div class="col-md-12 execution-details">
  <a scroll-on-render offset="120"></a>
  <div class="row">
    <div class="col-md-11">
      <h4>Details</h4>
    </div>
    <div class="col-md-1 text-right"
         style="padding: 10px 0 5px 0;">
      <a href ng-click="ctrl.close(); $event.stopPropagation();">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Stage</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="stageSummary in execution.stageSummaries" class="stage-summary">
            <td>{{ stageSummary.name }}</td>
            <td>{{ stageSummary.startTime | simpleTime }}</td>
            <td>{{ stageSummary.endTime | simpleTime }}</td>
            <td>
              <span class="label label-default label-{{ stageSummary.status | lowercase }}">
                <status-glyph item="stageSummary"></status-glyph>{{ stageSummary.status | lowercase | robotToHuman }}
              </span>
            </td>
          </tr>
          <tr class="clickable"
              ng-repeat="stage in stageSummary.stages" ng-repeat-end
              ng-class="{ info: ctrl.isStageCurrent(stage.index) }"
              ng-click="ctrl.toggleDetails(stage.index)">
            <td>{{ stage.type | robotToHuman }}</td>
            <td>{{ stage.startTime | simpleTime }}</td>
            <td>{{ stage.endTime | simpleTime }}</td>
            <td>
              <span class="label label-default label-{{ stage.status | lowercase }}">
                {{ stage.status | lowercase | robotToHuman }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6" ng-if="ctrl.getDetailsSourceUrl()">
      <div class="stage-details well">
        <div class="row stage-details-heading">
          <div class="col-md-11">
            <h4><span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.type | robotToHuman }}</h4>
          </div>
          <div class="col-md-1 text-right">
            <a href ng-click="ctrl.closeDetails(); $event.stopPropagation();">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>
        <ng-include src="ctrl.getDetailsSourceUrl()"></ng-include>
      </div>
    </div>
  </div>
</div>
