<div class="row">
  <div class="col-md-12">
    <div class="row execution-group-col-headers" ng-if="executionGroup.length">
      <div>
        Trigger
      </div>
      <div>
        Status
      </div>
    </div>
    <div class="row" ng-repeat="execution in executionGroup = (executions | executions:filter:grouping)">
      <div class="col-md-12">
        <execution execution="execution"
                   executions="executions"
                   filter="filter"
                   scale="scale">
        </execution>
      </div>
    </div>
    <div class="row" ng-if="!executionGroup.length">
      <div class="col-md-10">
        <h5><em>No executions found matching the selected filters</em></h5>
      </div>
    </div>
  </div>
</div>
