<div class="row execution-bar">
  <div class="col-md-12">
    <div ng-repeat="stage in execution.stageSummaries"
         class="execution-stage"
         ng-style="{width: execution.stageWidth}"
         ng-click="ctrl.toggleDetails(execution.id, $index); $event.stopPropagation()">
      <div class="execution-stage-bar"
           style="background-color: {{stage.color}}; opacity: 0.8"
           ng-class="{glowing: stage.isRunning }"
        ></div>
      <div class="execution-stage-label"
           ng-class="{'active': stage.showingDetails }">
        <span ng-include="stage.labelTemplateUrl"></span>
      </div>
    </div>
  </div>
</div>
