<div class="row pipelines executions">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 filter-controls">
        <ng-include src="'scripts/modules/delivery/pipelineExecutions.executionFilter.html'">
        </ng-include>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 stage-filter-controls filter-controls">
        <ng-include src="'scripts/modules/delivery/pipelineExecutions.stageFilter.html'">
        </ng-include>
      </div>
    </div>
    <div class="row"
         ng-if="filter.execution.groupBy"
         ng-repeat="executionGrouping in executions | executionGroups:filter">
      <execution-group-heading value="executionGrouping"
                               scale="scale"
                               filter="filter"
                               executions="executions">
      </execution-group-heading>
    </div>
    <div class="row"
         ng-if="!filter.execution.groupBy">
      <div class="col-md-12">
        <execution-group scale="scale"
                         filter="filter"
                         executions="executions">
        <execution-group>
      </div>
    </div>
  </div>
</div>
