<div class="row pipelines executions" ng-if="!viewState.loading && (executions.length || configurations.length)">
  <div class="row header">
    <div class="col-md-12 filter-controls">
      <ng-include src="'app/scripts/modules/delivery/pipelineExecutions.executionFilter.html'">
      </ng-include>
    </div>
  </div>
  <div class="execution-groups" sticky-headers>
    <div class="row"
         ng-if="filter.execution.groupBy"
         ng-repeat="executionGrouping in executions | executionGroups:filter:configurations">
      <div class="col-md-12">
        <execution-group-heading value="executionGrouping"
                                 scale="scale"
                                 filter="filter"
                                 executions="executions"
                                 configurations="configurations"
                                 application="application">
        </execution-group-heading>
      </div>
    </div>
    <div class="row"
         ng-if="!filter.execution.groupBy">
      <div class="col-md-12">
        <execution-group scale="scale"
                         filter="filter"
                         application="application"
                         executions="executions">
        </execution-group>
      </div>
    </div>
  </div>
</div>
<div class="row pipelines executions"
     ng-if="!executions.length && !configurations.length && !viewState.loading && !viewState.initializationError">
  <div class="col-md-8 text-center">
    <h4>We couldn't find any pipelines execution history for {{application.name}}.</h4>
    <a ui-sref="^.pipelineConfig" class="btn btn-default">
        <span class="glyphicon glyphicon-cog"></span> Configure Pipelines</a>
  </div>
</div>
<div class="row" ng-if="viewState.loading" style="min-height: 300px">
  <h4 class="text-center">
    <span us-spinner="{radius:20, width:6, length: 12}"></span>
  </h4>
</div>
<div class="row" ng-if="viewState.initializationError">
  <h4 class="text-center">There was a server error loading pipelines. Please try again later.</h4>
</div>
