<form class="form-inline">
  <div class="form-group">
    <label>Group by</label>
    <select class="form-control" ng-model="filter.execution.groupBy">
      <option value="">None</option>
      <option value="name">Pipeline</option>
      <option value="timeBoundary">Time Boundary</option>
    </select>
  </div>
  <div class="form-group">
    <label>Sort by</label>
    <select class="form-control" ng-model="filter.execution.sortBy">
      <option value="startTime">Start Time</option>
    </select>
  </div>
  <div class="form-group">
    <label>Pipeline Status</label>
    <div class="btn-group">
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.not_started"
             btn-checkbox>
        <status-glyph item="{hasNotStarted: true}"></status-glyph> Not Started
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.running"
             btn-checkbox>
        <status-glyph item="{isRunning: true}"></status-glyph> Running
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.completed"
             btn-checkbox>
        <status-glyph item="{isCompleted: true}"></status-glyph> Completed
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.failed"
             btn-checkbox>
        <status-glyph item="{isFailed: true}"></status-glyph> Failed
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.canceled"
             btn-checkbox>
        <status-glyph item="{isCanceled: true}"></status-glyph> Canceled
      </label>

    </div>
  </div>
  <div class="pull-right">
    <div class="form-group">
      <label>Legend Overlay</label>
      <select class="form-control" ng-model="filter.stage.colorOverlay">
        <option value="status">Status</option>
        <option value="name">Stage name</option>
      </select>
    </div>
    <div class="form-group">
      <label>Scaling</label>
      <div class="btn-group">
        <label class="btn btn-default btn"
               ng-model="filter.stage.scale"
               btn-radio="'absolute'">
          <span class="glyphicon glyphicon-align-left" title="Absolute" aria-hidden="true"></span>
        </label>
        <label class="btn btn-default btn"
               ng-model="filter.stage.scale"
               btn-radio="'fixed'">
          <span class="glyphicon glyphicon-align-justify" title="Fixed" aria-hidden="true"></span>
        </label>
        <label class="btn btn-default btn"
               ng-model="filter.stage.scale"
               btn-radio="'relative'">
          <span class="glyphicon glyphicon-tasks" title="Relative" aria-hidden="true"></span>
        </label>
      </div>
    </div>
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <a ui-sref="^.pipelineConfig" class="configure-pipelines-btn btn"><span class="glyphicon glyphicon-cog"></span> Configure Pipelines</a>
  </div>
</form>

