<div ng-controller="cfDisableClusterStageCtrl as disableClusterStageCtrl" class="form-horizontal">
  <stage-config-field label="Cluster" help-key="pipeline.config.disableCluster.cluster">
    <input type="text" required ng-model="stage.cluster"
      class="form-control input-sm" />
  </stage-config-field>
  <stage-config-field label="Account">
    <account-select-field component="stage" field="credentials" accounts="accounts" provider="'cf'" on-change="disableClusterStageCtrl.accountUpdated()" required></account-select-field>
  </stage-config-field>
  <stage-config-field label="Disable Options">
    <div class="form-inline">
      Keep the
      <input type="number" min="0" required ng-model="stage.remainingEnabledServerGroups"
             class="form-control input-sm" style="width: 50px" />
      <select class="form-control input-sm"
              ng-model="stage.preferLargerOverNewer" style="width: 100px">
        <option value="true">largest</option>
        <option value="false">newest</option>
      </select>
      {{disableClusterStageCtrl.pluralize('server group', stage.remainingEnabledServerGroups)}} enabled.
    </div>
  </stage-config-field>
  <stage-platform-health-override application="application"
                                  stage="stage"
                                  platform-health-type="'Google'">
  </stage-platform-health-override>
</div>
