<div class="form-group row">
  <div class="col-sm-3 sm-label-right">Slack Channel</div>
  <div class="col-sm-9 slack-channel-form-control">
    <div class="slack-channel-annotation">#</div>
    <input
      name="Slack"
      class="form-control input-sm"
      ng-model="vm.notification.address"
      placeholder="enter a Slack channel"
      required
    />
  </div>
  <div class="col-sm-9 col-sm-offset-3" ng-if="vm.notificationConfig.botName">
    <strong>Note:</strong> You will need to invite the
    <strong select-on-dbl-click>{{vm.notificationConfig.botName}}</strong>
    bot to this channel to receive Slack notifications<br />
  </div>
</div>
