<div ng-controller="titusRunJobStageCtrl as runJobCtrl" class="form-horizontal">
  <div class="form-group">
    <label class="col-md-3 sm-label-right">
      <span class="label-text">Account</span>
    </label>
    <div class="col-md-5">
      <account-select-field component="stage" field="credentials" accounts="backingData.credentials"
                            on-change="runJobCtrl.accountChanged()"
                            provider="'titus'"></account-select-field>
      <div class="small" ng-if="stage.credentials !== undefined">Uses resources from the Amazon account <account-tag account="backingData.credentialsKeyedByAccount[stage.credentials].awsAccount" pad="right"></account-tag></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <region-select-field label-columns="2"
                           component="stage.cluster"
                           field="region"
                           account="stage.credentials"
                           regions="regions"
                           on-change="runJobCtrl.regionChanged()"
                           provider="'titus'"></region-select-field>
    </div>
  </div>

  <docker-image-and-tag-selector
    specify-tag-by-regex="false"
    account="stage.credentials"
    organization="stage.organization"
    registry="stage.registry"
    repository="stage.repository"
    tag="stage.tag"
    show-registry="false"
    on-change="ctrl.onChange"
    defer-initialization="stage.deferredInitialization"
    label-class="col-md-2 col-md-offset-1 sm-label-right"
    field-class="col-md-6"></docker-image-and-tag-selector>

  <stage-config-field label="CPU(s)">
    <input type="number" class="form-control input-sm" name="cpu" ng-model="stage.cluster.resources.cpu" required/>
  </stage-config-field>

  <stage-config-field label="Memory (MB)">
    <input type="number" class="form-control input-sm" name="memory" ng-model="stage.cluster.resources.memory"
           required/>
  </stage-config-field>

  <stage-config-field label="Disk (MB)">
    <input type="number" class="form-control input-sm" name="disk" ng-model="stage.cluster.resources.disk" required/>
  </stage-config-field>

  <stage-config-field label="Network (Mbps)" help-key="titus.deploy.network">
    <input type="number" class="form-control input-sm" name="networkMbps" ng-model="stage.cluster.resources.networkMbps" required/>
  </stage-config-field>

  <stage-config-field label="GPU(s)" help-key="titus.deploy.gpu">
    <input type="number" class="form-control input-sm" name="cpu" ng-model="stage.cluster.resources.gpu" required/>
  </stage-config-field>

  <stage-config-field label="Entrypoint">
    <input type="text" class="form-control input-sm" name="command" ng-model="stage.cluster.entryPoint"/>
  </stage-config-field>

  <stage-config-field label="Runtime Limit (Seconds)" help-key="titus.deploy.runtimeLimitSecs">
    <input type="number" class="form-control input-sm" name="runtimeLimitSecs" ng-model="stage.cluster.runtimeLimitSecs" min="1" required/>
  </stage-config-field>

  <stage-config-field label="Retries" help-key="titus.deploy.retries">
    <input type="number" class="form-control input-sm" name="retries" ng-model="stage.cluster.retries" min="0" required/>
  </stage-config-field>

  <stage-config-field label="Property File" help-key="titus.deploy.propertyFile">
    <input type="text" class="form-control input-sm" name="propertyFile" ng-model="stage.propertyFile"/>
  </stage-config-field>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-1">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="stage.showAdvancedOptions">
          <strong>Show Advanced Options</strong>
        </label>
      </div>
    </div>
  </div>

  <div ng-class="{collapse: stage.showAdvancedOptions !== true, 'collapse.in': stage.showAdvancedOptions === true}">
  <div class="form-group">
    <label class="col-md-3 sm-label-right">
      <span class="label-text">IAM Instance Profile (optional)</span>
      <help-field key="titus.deploy.iamProfile"></help-field>
    </label>
    <div class="col-md-4">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.cluster.iamProfile"/>
    </div>
    <div class="col-md-1 small" style="white-space: nowrap; padding-left: 0; padding-top: 7px;">
        in <account-tag account="backingData.credentialsKeyedByAccount[stage.credentials].awsAccount" pad="right"></account-tag>
    </div>
  </div>
    <stage-config-field label="{{firewallsLabel}}" help-key="titus.job.securityGroups">
      <div ng-if="!stage.credentials || !stage.cluster.region">
        Account and region must be selected before <firewall-label label="firewalls"/> can be added
      </div>
      <titus-security-group-picker ng-if="runJobCtrl.loaded && stage.credentials && stage.cluster.region"
                                   command="stage"
                                   amazon-account="backingData.credentialsKeyedByAccount[stage.credentials].awsAccount"
                                   hide-label="true"
                                   groups-to-edit="stage.cluster.securityGroups"
                                   removed-groups="runJobCtrl.removedGroups"
                                   groups-removed="runJobCtrl.groupsRemovedStream"
                                   account-changed="runJobCtrl.accountChangedStream"
                                   region-changed="runJobCtrl.regionChangedStream"></titus-security-group-picker>
    </stage-config-field>

    <stage-config-field label="Environment Variables (optional)">
      <map-editor model="stage.cluster.env" allow-empty="true"></map-editor>
    </stage-config-field>

  </div>

  <stage-config-field label="Wait for results" help-key="titus.job.waitForCompletion">
    <input type="checkbox" class="input-sm" name="waitForCompletion"
           ng-model="stage.waitForCompletion"/>
  </stage-config-field>

</div>
