
<div class="form-group">
  <div class="col-md-3 sm-label-right" ng-if="!vm.hideLabel">
    <b><firewall-label label="Firewalls"/></b>
    <help-field key="{{vm.helpKey}}"></help-field>
  </div>
  <div class="col-md-9">
    <ui-select multiple
               ng-model="vm.groupsToEdit"
               uis-open-close="vm.resetCurrentItems()"
               class="form-control input-sm">
      <ui-select-match>{{$item.name}} ({{$item.id}})</ui-select-match>
      <ui-select-choices repeat="securityGroup.id as securityGroup in vm.availableGroups | filter: $select.search | limitTo: vm.currentItems"
                         infinite-scroll="vm.addItems()"
                         infinite-scroll-distance="4">
        <span ng-bind-html="securityGroup.name | highlight: $select.search"></span>
        (<span ng-bind-html="securityGroup.id  | highlight: $select.search"></span>)
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div class="form-group small" style="margin-top: 20px">
  <div class="col-md-{{vm.hideLabel ? 12 : 9}} col-md-offset-{{vm.hideLabel ? 0 : 3}}">
    <p>
      <span ng-if="vm.refreshing"><span class="fa fa-sync-alt fa-spin"></span></span>
      <firewall-label label="Firewalls"/>
      <span ng-if="!vm.refreshing">last refreshed {{ vm.refreshTime | timestamp }}</span>
      <span ng-if="vm.refreshing"> refreshing...</span>
    </p>
    <p>If you're not finding a <firewall-label label="firewall"/> that was recently added,
      <a href ng-click="vm.refreshSecurityGroups()">click here</a> to refresh the list.
    </p>
  </div>
</div>
