  <div class="details-panel">
  <div ng-if="state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove" />
      </a>
    </div>
    <div class="horizontal center middle">
      <loading-spinner size="'small'" />
    </div>
  </div>

  <div ng-if="!state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove" />
      </a>
    </div>
    <div class="header-text horizontal middle">
      <i class="fa icon-sitemap"/>
      <h3 class="horizontal middle space-between flex-1" select-on-dbl-click>
        {{ctrl.loadBalancer.name}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Load Balancer Actions <span class="caret" />
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li>
              <a href ng-click="ctrl.deleteLoadBalancer()">Delete Load Balancer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!state.loading" class="content">
    <collapsible-section heading="Load Balancer Details" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>In</dt>
        <dd>
          <account-tag account="ctrl.loadBalancer.account" pad="right" /></dd>
        <dt>Organization</dt>
        <dd>{{ctrl.loadBalancer.space.organization.name}}</dd>
        <dt>Space</dt>
        <dd>{{ctrl.loadBalancer.space.name}}</dd>
        <dt ng-if="ctrl.loadBalancer.serverGroups.length">Server Groups</dt>
        <dd ng-if="ctrl.loadBalancer.serverGroups.length">
          <ul>
            <li ng-repeat="serverGroup in ctrl.loadBalancer.serverGroups | orderBy: ['isDisabled', '-name']">
              <a ui-sref="^.serverGroup({region: serverGroup.region,
                                         accountId: serverGroup.account,
                                         serverGroup: serverGroup.name,
                                         provider: 'cloudfoundry'})">
                {{serverGroup.name}}
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <health-counts class="pull-left" container="ctrl.loadBalancer.instanceCounts" />
    </collapsible-section>
    <collapsible-section heading="Application links" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>HTTP</dt>
        <dd><a href="{{'http://' + ctrl.loadBalancer.name}}">{{'http://' + ctrl.loadBalancer.name}}</a></dd>
        <dt>HTTPS</dt>
        <dd><a href="{{'https://' + ctrl.loadBalancer.name}}">{{'https://' + ctrl.loadBalancer.name}}</a></dd>
      </dl>
    </collapsible-section>
  </div>
</div>
