<ng-form name="basicSettings">
  <div class="form-group">
    <div class="col-md-2 sm-label-right">
      <b>Account</b>
    </div>
    <div class="col-md-7">
      <account-select-field component="command" field="credentials" accounts="command.backingData.accounts" provider="'titus'" on-change="command.credentialsChanged()"></account-select-field>
    </div>
  </div>
  <region-select-field label-columns="2"
                       component="command"
                       field="region"
                       account="command.credentials"
                       regions="command.backingData.filtered.regions"
                       on-change="command.regionChanged()"
                       provider="'titus'"></region-select-field>
  <div class="form-group">
    <div class="col-md-2 sm-label-right">
      <b>Stack</b>
      <help-field key="aws.serverGroup.stack"></help-field>
    </div>
    <div class="col-md-3"><input type="text"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.stackPattern"
                                 name="stack"
                                 ng-model="command.stack"/></div>

    <div class="col-md-2 sm-label-right">
      <b>Detail</b>
      <help-field key="aws.serverGroup.detail"></help-field>
    </div>
    <div class="col-md-3"><input type="text"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="details"
                                 ng-model="command.freeFormDetails"/></div>
  </div>
  <div class="form-group row slide-in" ng-if="basicSettings.stack.$error.pattern">
      <div class="col-sm-9 col-sm-offset-2 error-message">
          <span>Only dot(.) and underscore(_) special characters are allowed in the Stack field.</span>
      </div>
  </div>
  <div class="form-group row slide-in" ng-if="basicSettings.details.$error.pattern">
      <div class="col-sm-9 col-sm-offset-2 error-message">
          <span>Only dot(.), underscore(_), caret (^), and dash(-) special characters are allowed in the Detail field.</span>
      </div>
  </div>
  <div ng-if="!command.viewState.disableImageSelection">
    <!-- old image model: ng-model="command.imageId" -->
    <docker-image-and-tag-selector
      specify-tag-by-regex="false"
      account="command.credentials"
      organization="command.organization"
      registry="command.registry"
      repository="command.repository"
      tag="command.tag"
      show-registry="false"
      defer-initialization="command.deferredInitialization"
      label-class="col-md-2"
      field-class="col-md-7"></docker-image-and-tag-selector>
  </div>
  <div class="form-group">
    <div class="col-md-2 sm-label-right"><b>Command</b></div>
    <div class="col-md-7">
      <input type="text" class="form-control input-sm no-spel" name="command" ng-model="command.entryPoint" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 sm-label-right">
      <b>Traffic</b>
      <help-field key="titus.serverGroup.traffic"></help-field>
    </div>
    <div class="col-md-7">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="command.inService"
                 ng-disabled="command.strategy !== '' && command.strategy !== 'custom'"
          />
          Send client requests to new instances
        </label>
      </div>
    </div>
  </div>
  <deployment-strategy-selector ng-if="!command.viewState.disableStrategySelection && command.selectedProvider" command="command"></deployment-strategy-selector>
  <div class="form-group" ng-if="!command.viewState.hideClusterNamePreview">
    <div class="col-md-12">
      <div class="well-compact" ng-class="basicSettingsCtrl.showPreviewAsWarning() ? 'alert alert-warning' : 'well'">
        <h5 class="text-center">

          <p>Your Titus Job name will be:</p>
          <p>
            <strong>{{basicSettingsCtrl.getNamePreview()}}-vN<span ng-if="basicSettingsCtrl.createsNewCluster()"></span></strong>
            (where N is the next suffix)
          </p>

          <div ng-if="!basicSettingsCtrl.createsNewCluster() && command.viewState.mode === 'create' && latestServerGroup">
            <p>
              There is already a server group in this cluster. Do you want to clone it?
            </p>
            <p>
              Cloning copies the entire configuration from the selected server group, allowing you
              to modify whichever fields (e.g. image) you need to change in the new server group.
            </p>
            <p>
              To clone a server group, select "Clone" from the "Server Group Actions" menu in the details view of the
              server group.
            </p>
            <p>
              <a href ng-click="basicSettingsCtrl.navigateToLatestServerGroup()">
                Go to details for {{latestServerGroup.name}}
              </a>
            </p>
          </div>
        </h5>
      </div>
    </div>
  </div>
</ng-form>
