<form class="form-horizontal">
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Cluster</b>
      <help-field key="pipeline.config.destroyAsg.cluster"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" required ng-model="stage.cluster"
        class="form-control input-sm" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Target</label>
    <div class="col-md-6">
      <select class="form-control input-sm"
              required
              ng-model="stage.target"
              ng-options="t.val as t.label for t in targets">
        <option>Select an action...</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Account</label>
    <div class="col-md-6">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="destroyAsgStageCtrl.accountUpdated()" required></account-select-field>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Regions</label>
    <div class="col-md-6" ng-if="!stage.credentials">
      <p class="form-control-static">(Select an Account)</p>
    </div>
    <div class="col-md-6" ng-if="stage.credentials">
      <div class="col-md-4" style="padding-left:0">
        <label ng-repeat="r in regions">
          <input
            type="checkbox"
            name="regions[]"
            value="{{r}}"
            ng-disabled="!state.regionsLoaded"
            ng-checked="stage.regions.indexOf(r) > -1"
            ng-click="toggleRegion(r)"
          > {{r}}
        </label>
      </div>
    </div>
  </div>
</form>
