<div class="row">
  <div class="col-md-12" ng-if="$ctrl.command.viewState.dirty.targetGroups">
    <div class="alert alert-warning">
      <p>
        <i class="fa fa-exclamation-triangle"></i>
        The following target groups could not be found in the selected account/region/VPC and were removed:
      </p>
      <ul>
        <li ng-repeat="targetGroup in $ctrl.command.viewState.dirty.targetGroups">{{ targetGroup }}</li>
      </ul>
      <p class="text-right">
        <a
          class="btn btn-sm btn-default dirty-flag-dismiss"
          href
          ng-click="$ctrl.command.viewState.dirty.targetGroups = null"
          >Okay</a
        >
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Target Groups</b>
      <help-field key="aws.loadBalancer.targetGroups"></help-field>
    </div>
    <div class="col-md-9">
      <div class="form-control-static" ng-if="$ctrl.command.backingData.filtered.targetGroups.length === 0">
        No target groups found in the selected account/region/VPC
      </div>
      <loading-spinner size="small" ng-if="$ctrl.refreshing"></loading-spinner>
      <ui-select
        ng-if="$ctrl.command.backingData.filtered.targetGroups.length"
        multiple
        ng-model="$ctrl.command.targetGroups"
        class="form-control input-sm"
      >
        <ui-select-match>{{ $item }}</ui-select-match>
        <ui-select-choices
          repeat="targetGroup in $ctrl.command.backingData.filtered.targetGroups | filter: $select.search"
        >
          <span ng-bind-html="targetGroup | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group small" style="margin-top: 20px">
      <div class="col-md-9 col-md-offset-3">
        <p>
          Only target groups with target type <em>ip</em> are supported in Titus. It is not possible to re-use target
          groups of target type <em>instance</em> used by Amazon instances.
        </p>
        <p ng-if="$ctrl.command.credentials !== undefined">
          Uses target groups from the Amazon account
          <account-tag
            account="$ctrl.command.backingData.credentialsKeyedByAccount[$ctrl.command.credentials].awsAccount"
            pad="right"
          ></account-tag>
        </p>
      </div>
    </div>
  </div>
</div>
