<div ng-controller="titusBakeCtrl as bakeCtrl" class="form-horizontal">
  <div ng-if="bakeWarning" class="alert alert-warning sp-margin-s-top horizontal middle">
    <i class="fa fa-exclamation-triangle"></i>
    <div class="sp-margin-s-left">
      <markdown message="bakeWarning"></markdown>
    </div>
  </div>
  <h4>Git Repository</h4>
  <div class="horizontal-rule"></div>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-1">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="stage.repository.fromGitTrigger" />
          <strong
            >Get repository details from git trigger<help-field key="titus.bake.fromGitTrigger"></help-field
          ></strong>
        </label>
      </div>
    </div>
  </div>

  <div
    ng-class="{collapse: stage.repository.fromGitTrigger === true, 'collapse.in': stage.repository.fromGitTrigger !== true}"
  >
    <stage-config-field label="Repository URL" help-key="titus.bake.repositoryUrl">
      <input type="text" class="form-control input-sm" name="command" ng-model="stage.repository.url" />
    </stage-config-field>

    <stage-config-field label="Hash" help-key="titus.bake.repositoryHash">
      <input type="text" class="form-control input-sm" name="command" ng-model="stage.repository.hash" />
    </stage-config-field>

    <stage-config-field label="Branch" help-key="titus.bake.repositoryBranch">
      <input type="text" class="form-control input-sm" name="command" ng-model="stage.repository.branch" />
    </stage-config-field>
  </div>

  <stage-config-field label="Directory" help-key="titus.bake.repositoryDirectory">
    <input type="text" class="form-control input-sm" name="directory" ng-model="stage.repository.directory" />
  </stage-config-field>

  <h4>Docker Image Details</h4>
  <div class="horizontal-rule"></div>

  <stage-config-field label="Organization" help-key="titus.bake.imageOrganization">
    <input type="text" class="form-control input-sm" name="command" ng-model="stage.image.organization" />
  </stage-config-field>

  <stage-config-field label="Image Name" help-key="titus.bake.imageName">
    <input type="text" class="form-control input-sm" name="command" ng-model="stage.image.name" />
  </stage-config-field>

  <stage-config-field label="Additional Tags" help-key="titus.bake.tags">
    <input type="text" class="form-control input-sm" name="command" ng-model="stage.image.tags" />
  </stage-config-field>

  <stage-config-field label="Build Time Variables" help-key="titus.bake.buildParameters">
    <map-editor model="stage.repository.buildParameters" allow-empty="true"></map-editor>
  </stage-config-field>
</div>
