<div ng-controller="titusBakeExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'bakeConfig'">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-narrow dl-horizontal">
          <dt>Git URL</dt>
          <dd>{{stage.context.package}}</dd>
          <dt>Image</dt>
          <dd>{{stage.context.amiName}}</dd>
        </dl>
      </div>
    </div>
    <stage-failure-message stage="stage" message="stage.failureMessage"></stage-failure-message>

    <div class="row" ng-if="stage.context.region && stage.context.status.resourceId">
      <div class="col-md-12">
        <div class="alert alert-{{stage.isFailed ? 'danger' : 'info'}}">
          <a target="_blank" href="{{ bakeryDetailUrl(stage) }}"> View Bakery Details </a>
        </div>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
