<div class="pipeline-configurer">
  <div class="pipeline-config-heading">
    <h3>
      <a class="btn btn-configure" ui-sref="^.executions" uib-tooltip="Back to Executions">
        <span class="glyphicon glyphicon glyphicon-circle-arrow-left"></span>
      </a>
      <a href class="nav-popover"
         ng-click="navMenuState.showMenu = !navMenuState.showMenu"
         ng-blur="pipelineConfigurerCtrl.hideNavigationMenu()">
        {{pipeline.name}} <span ng-if="pipeline.disabled">(disabled)</span>
      </a>
      <pipeline-config-errors pipeline="pipeline"></pipeline-config-errors>
    </h3>


    <div class="permalink">
      <a target="_blank"
         analytics-on="click"
         analytics-category="Pipeline Config"
         analytics-event="Permalink clicked"
         ng-href="{{pipelineConfigurerCtrl.getUrl()}}">Permalink</a>
      <copy-to-clipboard text="{{pipelineConfigurerCtrl.getUrl()}}" tool-tip="Copy permalink to clipboard"></copy-to-clipboard>
    </div>
    <div class="create-action">
      <create-new application="application"></create-new>
    </div>
    <div class="pipeline-actions text-right">
      <div ng-include="pipelineConfigurerCtrl.actionsTemplateUrl"></div>
    </div>
  </div>
  <div class="pipeline-contents">
    <div class="row pipeline-config" ng-if="!pipeline.parallel">
      <div class="col-md-12">
        <ul class="nav-pipeline-config">
          <li class="config-section">
            <a href class="btn btn-default"
               analytics-on="click"
               analytics-category="Pipeline Config"
               analytics-event="Configuration button clicked"
               ng-class="{active: pipelineConfigurerCtrl.isActive('triggers') }"
               ng-click="pipelineConfigurerCtrl.navigateTo({section: 'triggers'})">
              <span class="glyphicon glyphicon-certificate"></span> Configuration
            </a>
          </li>
          <li class="config-section nav-stages">
            <h4>Stages</h4>
            <div class="sortable-stages" ui-sortable="stageSortOptions" ng-model="pipeline.stages">
              <a href ng-repeat="stage in pipeline.stages" class="btn btn-default"
                 analytics-on="click"
                 analytics-category="Pipeline Config"
                 analytics-event="Stage button clicked"
                 ng-click="pipelineConfigurerCtrl.navigateToStage($index, $event)"
                 ng-class="{'active': pipelineConfigurerCtrl.stageIsActive($index)}">
                {{$index+1}}: {{stage.name || '[Unnamed Stage]'}}
                <span ng-if="stage.restrictExecutionDuringTimeWindow"
                      class="glyphicon glyphicon-time small" uib-tooltip="This stage is configured to only run during specified windows"></span>
              </a>
            </div>
            <button class="btn btn-sm add-new"
                    analytics-on="click"
                    analytics-category="Pipeline Config"
                    analytics-event="Add stage button clicked (non-parallel)"
                    ng-click="pipelineConfigurerCtrl.addStage()">
              <span class="glyphicon glyphicon-plus-sign"></span> Add stage
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div ng-if="pipeline.parallel">
      <div class="pipeline-graph-container">
        <pipeline-graph view-state="viewState" pipeline="pipeline" on-node-click="pipelineConfigurerCtrl.navigateTo"></pipeline-graph>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-block btn-sm add-new"
                  analytics-on="click"
                  analytics-category="Pipeline Config"
                  analytics-event="Add stage button clicked"
                  ng-click="pipelineConfigurerCtrl.addStage()">
            <span class="glyphicon glyphicon-plus-sign"></span> Add stage
          </button>
        </div>
      </div>
    </div>

    <pipeline-config-view application="application" pipeline="pipeline" view-state="viewState"></pipeline-config-view>

    <div class="row pipeline-footer">
      <div class="col-md-3">
        <button is-visible="viewState.isDirty" class="btn btn-default"
                analytics-on="click"
                analytics-category="Pipeline Config"
                analytics-event="Revert changes clicked"
                ng-click="pipelineConfigurerCtrl.revertPipelineChanges()"><span class="glyphicon glyphicon-flash"></span> Revert</button>
      </div>
      <div class="col-md-9 text-right">
        <span ng-if="viewState.saveError" class="alert alert-danger">
          There was an error saving your pipeline.
          <a class="alert-dismiss" href
             analytics-on="click"
             analytics-category="Pipeline Config"
             analytics-event="Error saving changes dismissed"
             ng-click="viewState.saveError = false">[dismiss]</a>
        </span>
        <button ng-if="viewState.isDirty" ng-disabled="!pipelineConfigurerCtrl.isValid()" class="btn btn-primary"
                analytics-on="click"
                analytics-category="Pipeline Config"
                analytics-event="Save pipeline clicked"
                ng-click="pipelineConfigurerCtrl.savePipeline()">
          <span ng-if="!viewState.saving">
            <span class="glyphicon glyphicon-ok-circle"></span> Save Changes
          </span>
          <span ng-if="viewState.saving" class="pulsing">
            <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span> Saving&hellip;
          </span>
        </button>
        <span ng-if="!viewState.isDirty" class="btn btn-link disabled"><span class="glyphicon glyphicon-ok-circle"></span> In sync with server</span>
      </div>

    </div>
  </div>
</div>

