@import "../../presentation/less/imports/commonImports.less";

executions {
  display: flex;
  flex: 1 1 auto;
  .execution-groups-header {
    margin-left: -8px;
    position: relative;
    z-index: 20;
    padding: 20px 0 0 0;
    margin-top: -20px;
    background-color: @lightest_grey;
    .execution-filters {
      padding-bottom: 5px;
    }
    .form-group {
      margin-right: 9px;
      label {
        font-weight: 600;
      }
    }
    .checkbox {
      height: 24px;
      label {
        font-weight: normal;
      }
    }
    font-size: 90%;
    @media (min-width: 1400px) {
      font-size: 100%;
    }
  }
}

.executions {
  padding-top: 0 !important;
  [sticky-headers] {
    .heading-sticky {
      margin-left: -15px;
    }
  }
  .permalinks {
    font-size: 80%;
  }

  .execution {
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid @mid_light_grey;
    background-color: #ffffff;
  }
}

// default
.execution-status {
  color: @mid_lighter_grey;
}

// overrides
.execution-status-executing, .execution-status-running {
  color: @spinnaker-blue;
}
.execution-status-terminal {
  color: @unhealthy_red;
}
.execution-status-succeeded {
  color: @healthy_green_border;
}

.execution-marker {
  fill: @stage-default;
  background-color: @stage-default;
  &.execution-marker-terminal {
    fill: @stage-terminal;
    background-color: @stage-terminal;
  }
  &.execution-marker-failed_continue {
    fill: @stage-failed_continue;
    background-color: @stage-failed_continue;
  }
  &.execution-marker-succeeded {
    fill: @stage-succeeded;
    background-color: @stage-succeeded;
  }
  &.execution-marker-running {
    fill: @stage-running;
    background-color: @stage-running;
  }
  &.execution-marker-stopped {
    fill: @stage-stopped;
    background-color: @stage-stopped;
  }
  &.execution-marker-not_started, &.execution-marker-canceled {
    fill: @stage-default;
    background-color: @stage-default;
  }
  &.execution-marker-paused {
    fill: @stage-running;
    background-color: @stage-running;
  }
  &.execution-marker-skipped {
    fill: @stage-succeeded;
    background-color: @stage-succeeded;
  }
}
