<div>
  <form role="form" class="container-fluid form-horizontal">
    <div class="modal-header">
      <h3>{{title}}</h3>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Cooldown</b></div>
        <div class="col-md-2"><input type="text"
                                     class="form-control input-sm"
                                     ng-model="command.cooldown"/></div>&nbsp;seconds
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Health Check Type</b></div>
        <div class="col-md-6">
          <select ui-select2 class="form-control input-sm" ng-model="command.healthCheckType">
            <option ng-repeat="healthCheckType in healthCheckTypes" value="{{healthCheckType}}">{{healthCheckType}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Health Check Grace Period</b></div>
        <div class="col-md-2"><input type="text"
                                     class="form-control input-sm"
                                     ng-model="command.healthCheckGracePeriod"/></div>&nbsp;seconds
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Termination Policies</b></div>
        <div class="col-md-6">
          <select ui-select2 class="form-control input-sm" ng-model="command.terminationPolicies">
            <option ng-repeat="terminationPolicy in terminationPolicies" value="{{terminationPolicy}}">{{terminationPolicy}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Key Name</b></div>
        <div class="col-md-6"><input type="text"
                                     class="form-control input-sm"
                                     ng-model="command.keyPair"/></div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Ramdisk Id</b></div>
        <div class="col-md-6"><input type="text"
                                     class="form-control input-sm"
                                     ng-model="command.ramdiskId"/></div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>IAM Instance Profile</b></div>
        <div class="col-md-6"><input type="text"
                                     class="form-control input-sm"
                                     ng-model="command.iamRole"/></div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Instance Monitoring</b></div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.instanceMonitoring" ng-value="true" id="instanceMonitoringIsEnabledTrue"/>
          &nbsp;<label for="instanceMonitoringIsEnabledTrue" class="choice">Enabled</label>
        </div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.instanceMonitoring" ng-value="false" id="instanceMonitoringIsEnabledFalse"/>
          &nbsp;<label for="instanceMonitoringIsEnabledFalse" class="choice">Disabled</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>EBS Optimized</b></div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.ebsOptimized" ng-value="true" id="ebsOptimizedTrue"/>
          &nbsp;<label for="ebsOptimizedTrue" class="choice">Yes</label>
        </div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.ebsOptimized" ng-value="false" id="ebsOptimizedFalse"/>
          &nbsp;<label for="ebsOptimizedFalse" class="choice">No</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-5 sm-label-left"><b>Associate Public IP Address</b></div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="true" id="associatePublicIpAddressTrue"/>
          &nbsp;<label for="associatePublicIpAddressTrue" class="choice">Yes</label>
        </div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="false" id="associatePublicIpAddressFalse"/>
          &nbsp;<label for="associatePublicIpAddressFalse" class="choice">No</label>
        </div>
        <div class="col-md-2">
          <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="null" id="associatePublicIpAddressDefault"/>
          &nbsp;<label for="associatePublicIpAddressDefault" class="choice">Default</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" ng-click="previousPage()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button class="btn btn-primary"
              ng-click="ctrl.clone()"
              ng-disabled="!ctrl.isValid()">
        Submit
      </button>
    </div>
  </form>
</div>
