/*
@styleguide

@title Input Controls

Default styles for text, textarea, search box, radio groups and checkboxes.
Add other variants as fit.

<section class="text-inputs-section">
  <form class="vertical left demo-form">
    <label for="first-name">First Name</label>
    <input id="first-name" type="text" name="textfield" placeholder="placeholder">
    <label for="last-name" class="required-field">Last Name</label>
    <input id="last-name" type="text" name="textfield" placeholder="placeholder" aria-describedby="error-message" required>
    <div id="error-message" class="visuallyhidden">This field is required.</div>
    <label for="address">Enter your street address</label>
    <textarea id="address" name="addresstext" placeholder="placeholder"></textarea>
  </form>
</section>

    <section class="text-inputs-section">
      <form class="vertical left demo-form">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" name="textfield" placeholder="placeholder">
        <label for="last-name" class="required-field">Last Name</label>
        <input id="last-name" type="text" name="textfield" placeholder="placeholder" aria-describedby="error-message" required>
        <div id="error-message" class="visuallyhidden">This field is required.</div>
        <label for="address">Enter your street address</label>
        <textarea id="address" placeholder="placeholder" name="addresstext"></textarea>
      </form>
    </section>


 <fieldset>
    <legend>Who is your favorite 19th century scientist</legend>
    <div class="checkbox-area">
      <input id="bell" type="checkbox" name="scientist" value="bell"/>
      <label for="bell">Alexander Graham Bell</label>
      <input id="edison" type="checkbox" name="scientist" value="edison"/>
      <label for="edison">Thomas Edison</label>
      <input id="morse" type="checkbox" name="scientist" value="morse"/>
      <label for="morse">Samuel Morse</label>
    </div>
  </fieldset>

       <fieldset>
        <legend>Who is your favorite 19th century scientist</legend>
        <div class="checkbox-area">
          <input id="bell" type="checkbox" name="scientist" value="bell"/>
          <label for="bell">Alexander Graham Bell</label>
          <input id="edison" type="checkbox" name="scientist" value="edison"/>
          <label for="edison">Thomas Edison</label>
          <input id="morse" type="checkbox" name="scientist" value="morse"/>
          <label for="morse">Samuel Morse</label>
        </div>
      </fieldset>
*/

input[type="text"], textarea {
  padding: 8px;
  position: relative;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid var(--color-divider);
}

label.text-label {
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  border: 1px solid var(--color-divider);
  content: "\00a0";
  display: inline-block;
  font: 10px FontAwesome;
  height: 14px;
  margin: 0 4px 0 0;
  padding-top: 1px;
  width: 14px;
  border-radius: 2px;
}

label {
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  background: var(--color-asparagus);
  color: var(--color-text-on-dark);
  content: "\f00c";
  text-align: center;
}

/** Styles for demo **/
.demo-form input, .demo-form #error-message {
  margin: 8px 0;
}

.checkbox-area label {
  margin-right: 8px;
}
