@import (reference) './less/imports/commonImports.less';

.nav-popover {
  font-weight: 600;
  color: var(--color-mineshaft);
  .small {
    color: var(--color-mineshaft);
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-mineshaft);
    text-decoration: none;
  }
}
