<div>
  <h5 class="execution-details-title">
    {{stageSummary.name || stageSummary.type }} Details

    <div ng-if="(!stage.isRunning && !stage.isCompleted) && ctrl.isRestartable(stage)" uib-dropdown class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" aria-expanded="false" uib-dropdown-toggle>
        Actions
        <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu">
        <li><a href ng-controller="RestartStageCtrl as restartCtrl" ng-click="restartCtrl.restart()">Restart Stage</a></li>
      </ul>
    </div>
  </h5>

  <table class="table">
    <thead>
    <tr>
      <th width="40%">Step</th>
      <th>Started</th>
      <th>Duration</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable"
        ng-repeat="step in stageSummary.stages"
        ng-class="{ info: ctrl.isStepCurrent($index) }"
        ng-click="ctrl.toggleDetails($index)">
      <td><span ng-include="ctrl.getStepLabel(step)"></span></td>
      <td>{{ step.startTime | timestamp }}</td>
      <td>{{ step.runningTimeInMs | duration }}</td>
      <td>
      <span class="label label-default label-{{ step.status | lowercase }}">
        {{ step.status | lowercase | robotToHuman }}
      </span>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="stageSummary.comments">
    <strong>Comments</strong>
    <p ng-bind-html="stageSummary.comments"></p>
  </div>
</div>
