@import (reference) '~core/presentation/less/imports/commonImports.less';

.glyphicon,
.fa {
  &.healthy {
    color: var(--color-success);
  }
  &.unhealthy {
    color: var(--color-danger);
  }
  &.unknown {
    color: var(--color-dovegray);
  }
}

health-counts {
  display: inherit; // Since health-counts wraps a react component with a .health-counts class that does all the layout now, make this component not have layout
  &.no-float {
    .instance-health-counts {
      float: none;
    }
  }
}

.health-counts {
  display: inline;
  .instance-health-counts {
    float: right;
    padding-left: 5px;
  }
  &.no-float {
    .instance-health-counts {
      float: none;
    }
  }
  .instance-health-counts {
    .glyphicon {
      top: 0;
    }
    .healthy {
      color: var(--color-success);
    }
    .unhealthy {
      color: var(--color-alert);
    }
    .dead {
      color: var(--color-danger);
    }
  }
}

.securityGroup-counts {
  .count {
    margin-left: 5px;
  }
}
