.group-execution-label-list {
  list-style-type: none;
  padding: 3px 10px 0 10px;
  max-height: 185px;
  overflow-y: auto;
  > a,
  > a:hover,
  > a:visited {
    text-decoration: none;
    color: inherit;
  }
  li {
    div {
      display: flex;
      padding: 3px;
    }
    font-size: 13px;
    > :hover {
      background-color: var(--color-primary-g1);
    }
    span + span {
      padding-left: 20px;
    }
    .stage-status {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 15px;
      margin-right: 7px;
      margin-top: 2px;
    }
  }
  a:first-child {
    > li {
      border-top: none;
    }
  }
}

.group-stages-list-popover {
  background-color: var(--color-primary) !important;
  .popover-content,
  &.inverse {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 5px;
  }

  &.top > div.arrow:after {
    border-top-color: var(--color-primary);
  }

  &.bottom > div.arrow:after {
    border-bottom-color: var(--color-primary);
  }

  .group-name {
    color: var(--color-accessory);
    border-bottom: 1px var(--color-accessory-light) solid;
    margin: 5px 10px 7px 10px;
  }
}

.marker-group-icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    fill: var(--color-text-secondary);
  }
}
