.GitIntegration {
  .help-text {
    font-size: 13px;
    color: var(--color-dovegray);
    margin-left: 20px;
  }

  .ManifestPath {
    min-height: 30px;

    .manifest-input {
      width: auto;
      min-width: 200px;
      padding-right: 24px;
    }

    code {
      color: var(--color-accent);
      background-color: transparent;
    }
  }
}
