<div class="details-panel"
     ng-class="{ disabled: ctrl.serverGroup.isDisabled }">

  <div class="header" ng-if="ctrl.state.loading">
      <div class="close-button">
          <a class="btn btn-link"
             ui-sref="^">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </div>
      <h4 class="text-center">
          <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
  </div>


  <div class="header" ng-if="!ctrl.state.loading">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <cloud-provider-logo provider="ctrl.serverGroup.type" height="36px" width="36px" style="margin-right: 10px"></cloud-provider-logo>
      <h3 select-on-dbl-click>
        {{ctrl.serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: ctrl.serverGroup.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-if=" !ctrl.serverGroup.isDisabled" ng-click="ctrl.rollbackServerGroup()">Rollback</a></li>
            <li role="presentation" class="divider" ng-if=" !ctrl.serverGroup.isDisabled"></li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if=" !ctrl.serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="ctrl.serverGroup.isDisabled && !ctrl.isEnableLocked()" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li class="disabled" ng-if="ctrl.isEnableLocked()">
              <a uib-tooltip="Cannot enable this server group until resize operation completes"
                 tooltip-placement="left">
                <span class="small glyphicon glyphicon-lock"></span>
                Enable
              </a>
            </li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(ctrl.serverGroup)">Clone</a></li>
            <li><migrator application="ctrl.application" server-group="ctrl.serverGroup"></migrator></li>
          </ul>
        </div>
        <div class="dropdown" ng-if="ctrl.serverGroup.insightActions.length > 0" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
            Insight <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li ng-repeat="action in ctrl.serverGroup.insightActions"><a target=_blank href="{{action.url}}">{{action.label}}</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="band band-info" ng-if="ctrl.serverGroup.isDisabled">
    Disabled {{ctrl.disabledDate | timestamp}}
  </div>
  <div class="content" ng-if="!ctrl.state.loading">
    <collapsible-section heading="Running Tasks" expanded="true" body-class="details-running-tasks" ng-if="ctrl.serverGroup.runningTasks.length > 0 || ctrl.runningExecutions().length > 0">
      <div class="container-fluid no-padding" ng-repeat="task in ctrl.serverGroup.runningTasks | orderBy:'-startTime'">
        <div class="row">
          <div class="col-md-12">
            <strong>
              {{task.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="step in task.steps | displayableTasks">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="step"></status-glyph></span> {{step.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{step.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

      <div class="container-fluid no-padding" ng-repeat="execution in ctrl.runningExecutions()">
        <div class="row">
          <div class="col-md-12">
            <strong>
              Pipeline: {{execution.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="stage in execution.stages">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{stage.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

    </collapsible-section>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl class="dl-horizontal" ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Created</dt>
        <dd>{{ctrl.serverGroup.createdTime | timestamp}}</dd>
        <dt>In</dt>
        <dd>
          <account-tag account="ctrl.serverGroup.account" pad="right"></account-tag>

          {{ctrl.serverGroup.region}}
        </dd>
        <dt>VPC</dt>
        <dd><vpc-tag vpc-id="ctrl.serverGroup.vpcId"></vpc-tag></dd>
        <dt ng-if="ctrl.serverGroup.vpcId">Subnet</dt>
        <dd ng-if="ctrl.serverGroup.vpcId">{{ctrl.serverGroup.subnetType || 'None (EC2 Classic)'}}</dd>
        <dt>Availability Zones</dt>
        <dd>
          <ul>
            <li ng-repeat="zone in ctrl.serverGroup.asg.availabilityZones">{{zone}}</li>
          </ul>
        </dd>

      </dl>
    </collapsible-section>
    <collapsible-section heading="Size" expanded="true">
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup.asg.minSize === ctrl.serverGroup.asg.maxSize">
        <dt>Min/Max</dt>
        <dd>{{ctrl.serverGroup.asg.desiredCapacity}}</dd>
        <dt>Current</dt>
        <dd>{{ctrl.serverGroup.instances.length}}</dd>
      </dl>
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup.asg.minSize !== ctrl.serverGroup.asg.maxSize">
        <dt>Min</dt>
        <dd>{{ctrl.serverGroup.asg.minSize}}</dd>
        <dt>Desired</dt>
        <dd>{{ctrl.serverGroup.asg.desiredCapacity}}</dd>
        <dt>Max</dt>
        <dd>{{ctrl.serverGroup.asg.maxSize}}</dd>
        <dt>Current</dt>
        <dd>{{ctrl.serverGroup.instances.length}}</dd>
      </dl>
      <div>
        <a href ng-click="ctrl.resizeServerGroup()">Resize Server Group</a>
      </div>
      <div>
        <a href ng-click="ctrl.showScalingActivities()">View Scaling Activities</a>
      </div>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup">
        <dt>Instances</dt>
        <dd>
          <health-counts container="ctrl.serverGroup.instanceCounts" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Launch Configuration">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt>Name</dt>
        <dd>{{ctrl.serverGroup.launchConfig.launchConfigurationName}}</dd>

        <dt>Image ID</dt>
        <dd>{{ctrl.serverGroup.launchConfig.imageId}}</dd>

        <dt ng-if="ctrl.image.imageLocation">Image Name</dt>
        <dd ng-if="ctrl.image.imageLocation">{{ctrl.image.imageLocation}}</dd>

        <dt ng-if="ctrl.image.baseImage">Base Image Name</dt>
        <dd ng-if="ctrl.image.baseImage">{{ctrl.image.baseImage}}</dd>

        <dt>Instance Type</dt>
        <dd>{{ctrl.serverGroup.launchConfig.instanceType}}</dd>

        <dt>IAM Profile</dt>
        <dd>{{ctrl.serverGroup.launchConfig.iamInstanceProfile}}</dd>

        <dt>Instance Monitoring</dt>
        <dd>{{ctrl.serverGroup.launchConfig.instanceMonitoring.enabled ? 'enabled' : 'disabled'}}</dd>

        <dt ng-if="ctrl.serverGroup.launchConfig.keyName">Key Name</dt>
        <dd ng-if="ctrl.serverGroup.launchConfig.keyName">{{ctrl.serverGroup.launchConfig.keyName}}</dd>

        <dt ng-if="ctrl.serverGroup.launchConfig.kernelId">Kernel ID</dt>
        <dd ng-if="ctrl.serverGroup.launchConfig.kernelId">{{ctrl.serverGroup.launchConfig.kernelId}}</dd>

        <dt ng-if="ctrl.serverGroup.launchConfig.ramdiskId">Ramdisk ID</dt>
        <dd ng-if="ctrl.serverGroup.launchConfig.ramdiskId">{{ctrl.serverGroup.launchConfig.ramdiskId}}</dd>

        <dt>User Data</dt>
        <dd ng-if="ctrl.serverGroup.launchConfig.userData"><a href ng-click="ctrl.showUserData()">Show User Data</a></dd>
        <dd ng-if=" !ctrl.serverGroup.launchConfig.userData">[none]</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in ctrl.securityGroups | orderBy:'name'">
          <a ui-sref="^.securityGroupDetails({name: securityGroup.name, accountId: securityGroup.accountName, region: ctrl.serverGroup.region, vpcId: ctrl.serverGroup.vpcId, provider: ctrl.serverGroup.type})">
            {{securityGroup.name}} ({{securityGroup.id}})
          </a>
        </li>
      </ul>
      <a href ng-click="ctrl.updateSecurityGroups()" ng-if="ctrl.serverGroup.vpcId">Edit Security Groups</a>
    </collapsible-section>
    <collapsible-section cache-key="Scaling Processes">
      <section-heading>
        <span ng-if="ctrl.scalingPoliciesDisabled" class="glyphicon glyphicon-exclamation-sign warning-text"
              uib-tooltip="Some scaling processes are disabled that may prevent scaling policies from working"></span>
        <span ng-if="ctrl.scheduledActionsDisabled" class="glyphicon glyphicon-exclamation-sign warning-text"
              uib-tooltip="Some scaling processes are disabled that may prevent scheduled actions from working"></span>
        Scaling Processes
      </section-heading>
      <section-body>
        <ul class="scaling-processes">
          <li ng-repeat="process in ctrl.autoScalingProcesses">
            <span is-visible="process.enabled" class="glyphicon glyphicon-ok small"></span>
            <span ng-class="{'text-disabled': !process.enabled}">{{process.name}}</span>
            <help-field content="{{process.description}}" placement="bottom"></help-field>
            <div ng-if="process.suspensionDate" class="text-disabled small" style="margin-left: 35px">
              Suspended {{process.suspensionDate | timestamp}}
            </div>
          </li>
        </ul>
        <a href ng-click="ctrl.toggleScalingProcesses()">Edit Scaling Processes</a>
      </section-body>
    </collapsible-section>
    <collapsible-section cache-key="Scaling Policies">
      <section-heading>
        <span ng-if="ctrl.scalingPoliciesDisabled" class="glyphicon glyphicon-exclamation-sign warning-text"
              uib-tooltip="Some scaling processes are disabled that may prevent scaling policies from working"></span>
        Scaling Policies
      </section-heading>
      <section-body>
        <div class="band band-warning" ng-if="ctrl.scalingPoliciesDisabled">
          Some scaling processes are disabled that may prevent scaling policies from working.
        </div>
        <scaling-policy-summary ng-repeat="policy in ctrl.scalingPolicies track by policy.policyARN"
                                policy="policy"
                                server-group="ctrl.serverGroup"
                                application="ctrl.application"></scaling-policy-summary>
        <add-scaling-policy-button server-group="ctrl.serverGroup"
                                   application="ctrl.application"></add-scaling-policy-button>
      </section-body>
    </collapsible-section>
    <collapsible-section cache-key="Scheduled Actions">
      <section-heading>
        <span ng-if="ctrl.scheduledActionsDisabled" class="glyphicon glyphicon-exclamation-sign warning-text"
              uib-tooltip="Some scaling processes are disabled that may prevent scheduled actions from working"></span>
        Scheduled Actions
      </section-heading>
      <section-body>
        <scheduled-action ng-repeat="action in ctrl.serverGroup.scheduledActions" action="action"></scheduled-action>
        <p ng-if="ctrl.serverGroup.scheduledActions.length"><strong>Note:</strong> Schedules are evaluated in UTC.</p>
        <p ng-if="!ctrl.serverGroup.scheduledActions.length">No Scheduled Actions are configured for this server group.</p>
        <a href ng-click="ctrl.editScheduledActions()">Edit Scheduled Actions</a>
      </section-body>
    </collapsible-section>
    <collapsible-section heading="Tags">
      <div ng-if=" !ctrl.serverGroup.asg.tags.length">No tags associated with this server group</div>
      <dl ng-if="ctrl.serverGroup.asg.tags.length">
        <dt ng-repeat-start="tag in ctrl.serverGroup.asg.tags | orderBy: 'key.toLowerCase()'">{{tag.key}}</dt>
        <dd ng-repeat-end>{{tag.value}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Package" ng-if="ctrl.serverGroup.buildInfo && ctrl.serverGroup.buildInfo.jenkins">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt>Job</dt>
        <dd>{{ctrl.serverGroup.buildInfo.jenkins.name}}</dd>
        <dt>Package</dt>
        <dd>{{ctrl.serverGroup.buildInfo.package_name}}</dd>
        <dt>Build</dt>
        <dd>{{ctrl.serverGroup.buildInfo.jenkins.number}}</dd>
        <dt>Commit</dt>
        <dd>{{ctrl.truncateCommitHash()}}</dd>
        <dt>Version</dt>
        <dd>{{ctrl.serverGroup.buildInfo.version}}</dd>
        <dt>Build Link</dt>
        <dd><a target=_blank href="{{ctrl.buildJenkinsLink()}}">{{ctrl.buildJenkinsLink()}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Advanced Settings">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt>Cooldown</dt>
        <dd>{{ctrl.serverGroup.asg.defaultCooldown}} seconds</dd>
        <dt>Health Check Type</dt>
        <dd>{{ctrl.serverGroup.asg.healthCheckType}}</dd>
        <dt>Grace Period</dt>
        <dd>{{ctrl.serverGroup.asg.healthCheckGracePeriod}} seconds</dd>
        <dt>Termination Policies</dt>
        <dd>{{ctrl.serverGroup.asg.terminationPolicies.join(', ')}}</dd>
      </dl>
      <a href ng-click="ctrl.editAdvancedSettings()">Edit Advanced Settings</a>
    </collapsible-section>
    <collapsible-section heading="Logs">
      <ul>
        <li>
          <a href ng-click="ctrl.showScalingActivities()">Scaling Activities</a>
        </li>
      </ul>
    </collapsible-section>
  </div>
</div>
