<div class="container-fluid">

  <div class="row">
    <!--Property Stuff-->
    <div
      class="col-md-6">
      <h4>Property Info</h4>
      <div>
        <b>Type:</b>
        <span>{{$ctrl.command.getTypeAsString()}}<span>
      </div>

      <div>
        <b>Key:</b>
        <span ng-if="$ctrl.command.property.key">{{$ctrl.command.property.key}}</span>
        <span ng-if="!$ctrl.command.property.key" class="attention">Please enter property key.</span>
      </div>

      <div>
        <b>Value:</b>
        <span ng-if="$ctrl.command.property.value">{{$ctrl.command.property.value}}</span>
        <span ng-if="!$ctrl.command.property.value" class="attention">Please enter property value.</span>
      </div>
    </div>

    <!--Scope-->
    <div
      class="col-md-6"
      ng-if="$ctrl.command.scope">
      <h4>Scope</h4>

      <div>
        <b>Category:</b> {{$ctrl.command.scope.getCategory()}}
      </div>

      <div>
        <b>Scope:</b> {{$ctrl.command.scope.getBaseOfScope()}}
      </div>

      <div>
        <b>Instances Impacted:</b> <b class="attention">{{$ctrl.command.scope.instanceCounts.up}}</b>
      </div>
    </div>

  </div>

  <!-- Pipeline -->
  <div class="row" style="margin-top: 25px;">
    <div
      class="col-md-12"
      ng-if="$ctrl.command.pipeline.stages">
      <b>{{$ctrl.command.strategy.displayName}}</b> used to create a pipeline with <b class="attention">{{$ctrl.command.pipeline.stages.length}}</b> stage(s):

      <ul>
        <li ng-repeat="stage in $ctrl.command.pipeline.stages">
          <b>{{stage.name}}</b>
          <span ng-if="stage.description">({{stage.description}})</span>
        </li>
      </ul>

    </div>
  </div>

</div>
