<a ng-if="execution.buildInfo.number && !execution.trigger.buildInfo.url && !execution.trigger.buildInfo.lastBuild.url"
   href="{{execution.buildInfo.host}}job/{{execution.buildInfo.name}}/{{execution.buildInfo.number}}"
   target="_blank"
   ng-click="$event.stopPropagation()">
  <span class="build-label">Build</span> #{{ execution.buildInfo.number}}
</a>
<a ng-if="execution.trigger.buildInfo.url"
   href="{{ execution.trigger.buildInfo.url }}"
   target="_blank"
   ng-click="$event.stopPropagation()">
  <span class="build-label">Build</span> #{{ execution.trigger.buildInfo.number }}
</a>
<a ng-if="execution.trigger.buildInfo.lastBuild.url"
   href="{{ execution.trigger.buildInfo.lastBuild.url }}"
   target="_blank"
   ng-click="$event.stopPropagation()">
  <span class="build-label">Build</span> #{{ execution.trigger.buildInfo.lastBuild.number }}
</a>
<a ng-if="execution.trigger.parentPipelineId"
   href="/#/applications/{{execution.trigger.parentPipelineApplication}}/executions/{{execution.trigger.parentPipelineId}}"
    >
  {{execution.trigger.parentPipelineName}}
</a>