<div ng-controller="cfScaleDownClusterStageCtrl as scaleDownClusterStageCtrl" class="form-horizontal">
  <div ng-if="!pipeline.strategy">
    <stage-config-field label="Account">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'cf'" on-change="scaleDownClusterStageCtrl.accountUpdated()" required></account-select-field>
    </stage-config-field>
    <stage-config-field label="Cluster" help-key="pipeline.config.scaleDownCluster.cluster">
      <input type="text" required ng-model="stage.cluster"
             class="form-control input-sm" />
    </stage-config-field>
  </div>
  <stage-config-field label="Scale Down Options">
    <div class="form-inline">
      <p>Keep the
      <input type="number" min="0" required ng-model="stage.remainingFullSizeServerGroups"
             class="form-control input-sm" style="width: 50px" />
      <select class="form-control input-sm"
              ng-model="stage.preferLargerOverNewer" style="width: 100px">
        <option value="true">largest</option>
        <option value="false">newest</option>
      </select>
      {{scaleDownClusterStageCtrl.pluralize('server group', stage.remainingFullSizeServerGroups)}} at current size.</p>
      <p>The remaining server groups will be scaled down to zero instances.</p>
    </div>
  </stage-config-field>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-6 checkbox">
      <label>
        <input type="checkbox" ng-model="stage.allowScaleDownActive"/>
        Allow scale down of active server groups
      </label>
    </div>
  </div>
</div>
