<ng-form name="pubsubTriggerForm">

    <div class="form-group">
        <label class="col-md-3 sm-label-right">
            Pub/Sub System Type
        </label>
        <div class="col-md-6">
            <select class="form-control input-sm"
                    ng-options="pubsubSystem for pubsubSystem in vm.pubsubSystems"
                    ng-model="vm.trigger.pubsubSystem">
                <option value="">Select Pub/Sub System</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 sm-label-right">
            Subscription Name
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control input-sm" ng-model="vm.trigger.subscriptionName"/>
        </div>
    </div>

</ng-form>
