<ng-form name="pubsubTriggerForm">
  <div class="form-group" ng-if="vm.subscriptionsLoaded">
    <label class="col-md-3 sm-label-right">
      Pub/Sub System Type
    </label>
    <div class="col-md-6">
      <select
        class="form-control input-sm"
        ng-options="pubsubSystem for pubsubSystem in vm.pubsubSystems"
        ng-model="vm.trigger.pubsubSystem"
        ng-change="vm.updateFilteredPubsubSubscriptions()"
      >
        <option value="">Select Pub/Sub System</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Subscription Name
    </div>
    <div class="col-md-6">
      <select
        class="form-control input-sm"
        ng-options="subscription for subscription in vm.filteredPubsubSubscriptions"
        ng-model="vm.trigger.subscriptionName"
      >
        <option value="">Select Pub/Sub Subscription</option>
      </select>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Payload Constraints
      <help-field key="pipeline.config.trigger.pubsub.payloadConstraints"></help-field>
    </div>
    <div class="col-md-9">
      <map-editor model="vm.trigger.payloadConstraints" add-button-label="Add payload constraint"></map-editor>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Attribute Constraints
      <help-field key="pipeline.config.trigger.pubsub.attributeConstraints"></help-field>
    </div>
    <div class="col-md-9">
      <map-editor model="vm.trigger.attributeConstraints" add-button-label="Add attribute constraint"></map-editor>
    </div>
  </div>

  <render-if-feature feature="fiatEnabled">
    <div class="form-group">
      <run-as-user-selector service-accounts="vm.serviceAccounts" component="vm.trigger" field="runAsUser">
      </run-as-user-selector>
    </div>
  </render-if-feature>

  <div ng-if="!vm.subscriptionsLoaded">
    <loading-spinner size="'small'"></loading-spinner>
  </div>
</ng-form>
