<form name="form" class="container-fluid form-horizontal" ng-controller="ServerGroupAdvancedSettingsCtrl as settingsCtrl" novalidate>
  <div class="modal-body">
    <kato-error task-status="taskStatus" title="We could not create your server group."></kato-error>
    <kato-progress task-status="taskStatus" title="Creating your server group."></kato-progress>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Cooldown</b></div>
      <div class="col-md-2"><input type="text" required
                                   class="form-control input-sm"
                                   ng-model="command.cooldown"/></div>&nbsp;seconds
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Health Check Type</b></div>
      <div class="col-md-6">
        <select ui-select2 required class="form-control input-sm" ng-model="command.healthCheckType">
          <option ng-repeat="healthCheckType in healthCheckTypes" value="{{healthCheckType}}">{{healthCheckType}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Health Check Grace Period</b></div>
      <div class="col-md-2"><input type="text" required
                                   class="form-control input-sm"
                                   ng-model="command.healthCheckGracePeriod"/></div>&nbsp;seconds
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Termination Policies</b></div>
      <div class="col-md-6">
        <select ui-select2 class="form-control input-sm" ng-model="command.terminationPolicies">
          <option ng-repeat="terminationPolicy in terminationPolicies" value="{{terminationPolicy}}">{{terminationPolicy}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Key Name</b></div>
      <div class="col-md-6"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.keyPair"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Ramdisk Id</b></div>
      <div class="col-md-6"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.ramdiskId"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>IAM Instance Profile</b></div>
      <div class="col-md-6"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.iamRole"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Instance Monitoring</b></div>
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="command.instanceMonitoring"/> Enable Instance Monitoring </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>EBS Optimized</b></div>
      <div class="col-md-6">
        <label><input type="checkbox" ng-model="command.ebsOptimized"/> Optimize Instances for EBS</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-left"><b>Associate Public IP Address</b></div>
      <div class="col-md-2">
        <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="true" id="associatePublicIpAddressTrue"/>
        &nbsp;<label for="associatePublicIpAddressTrue" class="choice">Yes</label>
      </div>
      <div class="col-md-2">
        <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="false" id="associatePublicIpAddressFalse"/>
        &nbsp;<label for="associatePublicIpAddressFalse" class="choice">No</label>
      </div>
      <div class="col-md-2">
        <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="null" id="associatePublicIpAddressDefault"/>
        &nbsp;<label for="associatePublicIpAddressDefault" class="choice">Default</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="state.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="!form.$valid || !ctrl.isValid() || state.submitting"
                   submitting="state.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
  </div>
</form>
