<form name="form" class="container-fluid form-horizontal" ng-controller="ServerGroupBasicSettingsCtrl as basicSettingsCtrl" novalidate>
  <div class="modal-body">

    <account-select-field component="command" field="credentials" accounts="accounts" loading="false" on-change="basicSettingsCtrl.accountUpdated()"></account-select-field>
    <region-select-field component="command" field="region" account="command.credentials" on-change="basicSettingsCtrl.regionUpdated()" regions="regions"></region-select-field>
    <availability-zone-select-field component="command" field="regionZones" region="command.region" availability-zones="regionalAvailabilityZones"></availability-zone-select-field>
    <subnet-select-field component="command" field="subnetType" region="command.region" subnets="regionSubnetPurposes" on-change="basicSettingsCtrl.subnetUpdated()"></subnet-select-field>
    <input type="hidden" ng-model="command.regionZones[0]" required/>
    <div class="form-group">
      <div class="col-md-3 sm-label-left"><b>Stack</b></div>
      <div class="col-md-9"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.stack"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-left"><b>Detail</b></div>
      <div class="col-md-9"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.freeFormDetails"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-left"><b>Image</b></div>
      <div class="col-md-9">
        <select ui-select2 class="form-control input-sm" ng-model="command.amiName" data-placeholder="Pick an instance type" required>
          <option ng-repeat="image in images" value="{{image.imageName}}">{{image.imageName}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="ctrl.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="wizard.nextPage()" ng-disabled="!form.$valid">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
