<form ng-controller="ServerGroupCapacityCtrl" class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <kato-error task-status="taskStatus" title="We could not create your server group."></kato-error>
    <kato-progress task-status="taskStatus" title="Creating your server group."></kato-progress>
    <div class="form-group">
      <div class="col-md-2 text-right col-md-offset-4"><b>Min</b></div>
      <div class="col-md-2 text-right"><b>Max</b></div>
      <div class="col-md-2 text-right"><b>Desired</b></div>
    </div>
    <div class="form-group">
      <div class="col-md-4 sm-label-left"><b>Capacity</b></div>
      <div class="col-md-2"><input type="number"
                                   class="form-control input-sm"
                                   ng-model="command.capacity.min"
                                   validate-max="command.capacity.max"/></div>
      <div class="col-md-2"><input type="number"
                                   class="form-control input-sm"
                                   ng-model="command.capacity.max"
                                   validate-min="command.capacity.min"/></div>
      <div class="col-md-2"><input type="number"
                                   class="form-control input-sm"
                                   ng-model="command.capacity.desired"
                                   validate-min="command.capacity.min"
                                   validate-max="command.capacity.max"/></div>
    </div>
    <hr/>
    <input type="hidden" ng-model="command.availabilityZones[0]" required/>
    <availability-zone-select-field component="command" field="availabilityZones" region="command.region" availability-zones="regionalAvailabilityZones"></availability-zone-select-field>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left"
            ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="state.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="!form.$valid || !ctrl.isValid() || state.submitting"
                   state="state" on-click="ctrl.clone()" is-new="true"></submit-button>
    <button class="btn btn-default"
            ng-disabled="!form.$valid"
            ng-click="wizard.nextPage(form.$valid)">
      Advanced Settings <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
