<form ng-controller="InstanceTypeCtrl" class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <div class="row" ng-repeat="family in selectedInstanceProfile.families">
      <div class="col-md-12">
        <h4>{{selectedInstanceProfile.label}}: {{family.type}}</h4>
        <p>{{family.description}}</p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Size</th>
            <th>vCPU</th>
            <th>Mem (GiB)</th>
            <th>SSD Storage (GB)</th>
            <th>Cost</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="instanceType in family.instanceTypes" ng-class="{info: command.instanceType === instanceType.name}">
              <td><input type="radio" ng-value="instanceType.name" ng-model="command.instanceType"/></td>
              <td>{{instanceType.label}}</td>
              <td>{{instanceType.cpu}}</td>
              <td>{{instanceType.memory}}</td>
              <td ng-if="instanceType.storage.type === 'EBS'">EBS Only</td>
              <td ng-if="instanceType.storage.type === 'SSD'">{{instanceType.storage.count}}&times;{{instanceType.storage.size}}</td>
              <td><span class="label-cost label-cost-{{instanceType.costFactor}}"></span><span class="sr-only">{{instanceType.costFactor}}&times;</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left"
            ng-click="ctrl.cancel()">Cancel
    </button>
    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button class="btn btn-primary"
            ng-disabled="!command.instanceProfile || !form.$valid"
            ng-click="wizard.nextPage()">
      <span class="glyphicon glyphicon-ok-circle"></span> Next
    </button>
  </div>
</form>
