<div modal-page>
  <div class="modal-header">
    <h3>Scaling Activities for {{serverGroup.name}}</h3>
  </div>
  <div class="modal-body">
    <div class="loading" ng-if="!activities.length">
      <span us-spinner="{radius:5, width:2, length: 3}"></span>
    </div>
    <div ng-repeat="activity in activities" ng-if="activities.length">
        <p class="clearfix">
          <span class="label label-{{isSuccessful(activity) ? 'success' : 'danger'}} pull-left">{{activity.statusCode}}</span>
          <span class="label label-default pull-right">{{activity.startTime | relativeTime}}</span>
        </p>
        <p>{{activity.cause}}</p>
        <hr/>
    </div>
  </div>
</div>
