<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>Rename Pipeline</h3>
  </div>
  <div class="modal-body">
    <form role="form" name="form" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3 sm-label-left">
          <b>Pipeline Name</b>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control input-sm"
                 ng-model="command.newName"
                 name="name"
                 required
                 ng-pattern="/^[^\\\^/^?^%^#]*$/"
                 validate-unique="existingNames"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <p class="form-control-static"><strong>Note:</strong> by renaming the pipeline, you will save any pending changes.</p>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.pattern">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <div>
            Pipeline name cannot contain any of the following characters:
          </div>
          <code>/  \  ?  %  #</code>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.validateUnique">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>There is already a pipeline with that name.</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="renamePipelineModalCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary"
            ng-disabled="form.$invalid || pipeline.name === command.newName"
            ng-click="renamePipelineModalCtrl.renamePipeline()">
      <span class="glyphicon glyphicon-ok-circle"></span> Rename Pipeline
    </button>
  </div>
</div>
