<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>Rename Pipeline</h3>
  </div>
  <div class="modal-body">
    <form role="form" name="form" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          <b>{{pipeline.strategy === true ? 'Strategy' : 'Pipeline'}} Name</b>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control input-sm"
                 ng-model="command.newName"
                 name="name"
                 required
                 ng-pattern="/^[^\\\^/^?^%^#]*$/"
                 validate-unique="existingNames"/>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.pattern">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <div>
            {{pipeline.strategy === true ? 'Strategy' : 'Pipeline'}} name cannot contain any of the following characters:
          </div>
          <code>/  \  ?  %  #</code>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.validateUnique">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>There is already a {{pipeline.strategy === true ? 'strategy' : 'pipeline'}} with that name.</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="renamePipelineModalCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary"
            ng-disabled="form.$invalid || pipeline.name === command.newName || viewState.saving"
            ng-click="renamePipelineModalCtrl.renamePipeline()">
      <span ng-if="!viewState.saving" class="glyphicon glyphicon-ok-circle"></span>
      <span ng-if="viewState.saving" class="pulsing">
        <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span>
      </span>
      Rename {{pipeline.strategy === true ? 'Strategy' : 'Pipeline'}}
    </button>
  </div>
</div>
