<div ng-controller="awsDestroyAsgStageCtrl as destroyAsgStageCtrl" class="form-horizontal">
  <div ng-if="!pipeline.strategy">
    <stage-config-field label="Account">
      <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="destroyAsgStageCtrl.reset()" required></account-select-field>
    </stage-config-field>
    <stage-config-field label="Regions">
      <p ng-if="!stage.credentials" class="form-control-static">(Select an Account)</p>
      <checklist
        ng-if="stage.credentials"
        items="regions"
        model="stage.regions"
        inline="true"
        on-change="resetSelectedCluster()"
        include-select-all-button="true">
      </checklist>
    </stage-config-field>
    <stage-config-field label="Cluster" help-key="pipeline.config.destroyAsg.cluster">
      <cluster-selector
        clusters="clusterList"
        model="stage.cluster">
      </cluster-selector>
    </stage-config-field>
  </div>
  <stage-config-field label="Target">
    <target-select model="stage" options="targets"></target-select>
  </stage-config-field>
</div>
