<div ng-if="vm.configurable">
    <div class="form-group">
        <div class="col-md-9 col-md-offset-1">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="stage.overrideTimeout"
                           ng-false-value="undefined"
                           ng-change="overrideTimeoutCtrl.setOverrideValues()"/>
                    <strong> Override default timeout</strong>
                    (
                    <span class="default-timeout">
                        <span ng-if="vm.defaults.hours">{{vm.defaults.hours}} hour<span
                                ng-if="vm.defaults.hours > 1">s</span></span>
                        <span ng-if="vm.defaults.minutes">{{vm.defaults.minutes}} minute<span
                                ng-if="vm.defaults.minutes > 1">s</span></span>
                    </span>
                    )
                    <help-field content="{{vm.helpContent}}"></help-field>
                </label>
            </div>
        </div>
    </div>
    <div ng-if="stage.overrideTimeout">
        <div class="form-group form-inline">
            <div class="col-md-9 col-md-offset-1 checkbox-padding">
                Fail this stage if it takes longer than
                <input type="number"
                       ng-min="0"
                       class="form-control input-sm inline-number with-space-before"
                       ng-model="vm.hours"
                       ng-change="overrideTimeoutCtrl.synchronizeTimeout()"/>
                hours
                <input type="number"
                       ng-min="0"
                       class="form-control input-sm inline-number with-space-before"
                       ng-model="vm.minutes"
                       ng-change="overrideTimeoutCtrl.synchronizeTimeout()"/>
                minutes to complete
            </div>
        </div>
    </div>
</div>
