.target-group-title {
  color: var(--color-mineshaft);
  font-weight: 600;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  padding-left: 10px;
}

.cluster-container {
  .target-group-container {
    margin-top: 3px;
    &:not(:first-child) {
      padding-top: 5px;
    }
  }
}

.target-group-container {
  .target-group-header {
    padding: 4px 0;
  }

  .server-group-title {
    padding-top: 0;
    .clickable-row {
      margin-top: -1px;
    }
  }
  .no-margin-y {
    margin-top: -1px !important;
    margin-bottom: 0 !important;
  }

  > div {
    > .text-right {
      padding-right: 10px;
      font-weight: 600;
    }
  }
}

.listener-targets {
  display: inline-block;
  vertical-align: top;
}
