.manual-execution-dialog {
  .modal-body-content {
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    max-height: calc(~'100vh - 215px');
  }

  .modal-content {
    overflow: visible;
  }

  .manual-execution-parameters-description {
    margin-top: 20px;
  }

  .pipeline-select {
    width: 100%;
  }

  .trigger-select {
    width: 100%;
  }

  .trigger-template {
    padding: 5px 0;
  }

  .parameter-option-select {
    width: 100%;
  }
}
