<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Master</label>
    <div class="col-md-6">
      <ui-select class="form-control input-sm"
                 ng-model="stage.master">
        <ui-select-match placeholder="Select a master...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="master in masters | filter: $select.search">
          <span ng-bind-html="master | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-1 text-center">
      <a href
         ng-click="jenkinsStageCtrl.refreshMasters()"
         tooltip-placement="right"
         tooltip-html-unsafe="Masters {{viewState.mastersRefreshing ? 'refreshing.<br>' : 'last refreshed ' }}{{viewState.mastersLastRefreshed}}
                              <br>(click <span class='small glyphicon glyphicon-refresh'></span> to refresh)</p>"
        >
              <span ng-class="{'glyphicon-spinning':viewState.mastersRefreshing}"
                    class="glyphicon glyphicon-refresh"></span>
      </a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 col-md-offset-1 sm-label-left">Job</label>
    <div class="col-md-6">
      <p class="form-control-static" ng-if="!stage.master">(Select a master)</p>
      <div ng-if="stage.master && viewState.jobsLoaded">
        <ui-select class="form-control input-sm"
                   ng-model="stage.job">
          <ui-select-match placeholder="Select a job...">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="job in jobs | filter: $select.search"><span ng-bind-html="job | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
      </div>
      <div class="text-center" ng-if="stage.master && !viewState.jobsLoaded">
        <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span>
      </div>
    </div>
    <div class="col-md-1 text-center">
      <a href
         ng-click="jenkinsStageCtrl.refreshJobs()"
         tooltip-placement="right"
         tooltip-html-unsafe="Jobs {{viewState.jobsRefreshing ? 'refreshing.<br>' : 'last refreshed ' }}{{viewState.jobsLastRefreshed}}
                              <br>(click <span class='small glyphicon glyphicon-refresh'></span> to refresh)</p>"
        >
              <span ng-class="{'glyphicon-spinning':viewState.jobsRefreshing}"
                    class="glyphicon glyphicon-refresh"></span>
      </a>
    </div>
  </div>
  <div class="form-group">
     <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Property File</b>
      <help-field key="pipeline.config.jenkins.propertyFile"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" ng-model="stage.propertyFile"/>
    </div>
  </div>

  <div class="well well-sm clearfix ng-scope col-md-offset-1 col-md-10" ng-if="jobParams">
    <h4 class="text-left" >Job Parameters</h4>
      <div class="form-group" ng-repeat="parameter in jobParams | orderBy:'name' ">
        <div class="col-md-3 sm-label-left">
          <b>{{parameter.name}}</b>
          <help-field content="{{parameter.description}}" ng-if="parameter.description"></help-field>
        </div>
        <div class="col-md-5">
          <input disabled ng-if="useDefaultParameters[parameter.name]" type="text" class="form-control input-sm" value="{{parameter.defaultValue}}"/>
          <input ng-if="!useDefaultParameters[parameter.name]" type="text" class="form-control input-sm" ng-model="userSuppliedParameters[parameter.name]" ng-change="updateParam(parameter.name)"/>
        </div>
        <div class="checkbox col-md-4" ng-if="parameter.defaultValue!==null">
          <label>
            <input type="checkbox" ng-model="useDefaultParameters[parameter.name]" ng-change="jenkinsStageCtrl.updateParam(parameter.name)">Use default
          </label>
        </div>
        </ng-if>
      </div>

  </div>
</div>
