<div modal-page class="scaling-policy-modal gce-scaling-policy-modal  form-inline">
  <task-monitor monitor="ctrl.taskMonitor"></task-monitor>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>{{ctrl.action}} scaling policy</h3>
  </div>
  <div class="modal-body clearfix">
    <ng-form name="form" novalidate>
      <h4 class="section-heading">Basic Settings</h4>
      <div class="section-body">
        <div class="row">
          <div class="col-md-3 sm-label-right">
            Minimum number of instances
          </div>
          <div class="col-md-2 content-fields">
            <input type="number"
                   class="form-control input-sm"
                   name="minNumReplicas"
                   ng-model="ctrl.policy.minNumReplicas"
                   min="0"
                   max="{{ ctrl.maxNumReplicas }}"
                   required/>
          </div>
          <div class="col-md-4 error-message" ng-if="form.minNumReplicas.$error.min">
            Must be greater than zero.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 sm-label-right">
            Maximum number of instances
          </div>
          <div class="col-md-2 content-fields">
            <input type="number"
                   class="form-control input-sm"
                   min="{{ ctrl.policy.minNumReplicas || 0 }}"
                   required
                   name="maxNumReplicas"
                   ng-model="ctrl.policy.maxNumReplicas"/>
          </div>
          <div class="col-md-4 error-message" ng-if="form.maxNumReplicas.$error.min || form.minNumReplicas.$error.max">
            Must be greater than or equal to minimum.
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 sm-label-right">
            Cool-down period (seconds)
            <help-field key="gce.serverGroup.scalingPolicy.coolDownPeriodSec"></help-field>
          </div>
          <div class="col-md-2 content-fields">
            <input type="number"
                   class="form-control input-sm"
                   min="15"
                   required
                   name="coolDownPeriodSec"
                   ng-model="ctrl.policy.coolDownPeriodSec"/>
          </div>
          <div class="col-md-4 error-message" ng-if="form.coolDownPeriodSec.$error.min">
            Must be greater than or equal to 15 seconds.
          </div>
        </div>
      </div>

      <h4 class="section-heading">Metric Types</h4>
        <collapsible-section heading="CPU Utilization" expanded="true" subsection="true">
          <div class="section-body">
            <ng-form name="cpuUtilization">
              <div ng-if="ctrl.showMetric('cpuUtilization')">
                <div class="row">
                  <div class="col-md-3 sm-label-right">
                    Utilization Target (%)
                    <help-field key="gce.serverGroup.scalingPolicy.cpuUtilization"></help-field>
                  </div>
                  <div class="col-md-2 content-fields">
                    <input type="number"
                           min="1"
                           max="99"
                           name="utilizationTarget"
                           class="form-control input-sm"
                           required
                           ng-model="ctrl.cpuUtilizationTargetDisplay"
                           ng-init="ctrl.initializeTargetDisplay('cpuUtilization')"
                           ng-change="ctrl.setUtilizationTargetFromDisplay('cpuUtilization', ctrl.cpuUtilizationTargetDisplay)"/>
                  </div>
                  <div class="col-md-5 error-message">
                    <span ng-if="form.cpuUtilization.utilizationTarget.$error.min || form.cpuUtilization.utilizationTarget.$error.max">
                      Must be between 1 and 99.</span>
                  </div>
                  <div class="col-md-1">
                    <button class="btn btn-sm btn-default" ng-click="ctrl.deleteMetric('cpuUtilization')">
                      <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
                      <span class="visible-lg-inline">Delete</span>
                    </button>
                  </div>
                </div>
              </div>
              <button ng-hide="ctrl.showMetric('cpuUtilization')"
                      class="add-new col-md-12" ng-click="ctrl.addMetric('cpuUtilization')">
                <span class="glyphicon glyphicon-plus-sign"></span> Add CPU Utilization metric
              </button>
            </ng-form>
          </div>
        </collapsible-section>
        <collapsible-section heading="Load Balancing Utilization" expanded="true" subsection="true">
          <div class="section-body">
            <ng-form name="loadBalancingUtilization">
              <div ng-if="ctrl.showMetric('loadBalancingUtilization')" class="row">
                <div class="col-md-3 sm-label-right">
                  Utilization Target (%)
                  <help-field key="gce.serverGroup.scalingPolicy.loadBalancingUtilization"></help-field>
                </div>
                <div class="col-md-2 content-fields">
                  <input type="number"
                         min="1"
                         max="99"
                         class="form-control input-sm"
                         required
                         name="utilizationTarget"
                         ng-model="ctrl.loadBalancingUtilizationTargetDisplay"
                         ng-init="ctrl.initializeTargetDisplay('loadBalancingUtilization')"
                         ng-change="ctrl.setUtilizationTargetFromDisplay('loadBalancingUtilization', ctrl.loadBalancingUtilizationTargetDisplay)"/>
                </div>
                <div class="col-md-5 error-message">
                  <span ng-if="form.loadBalancingUtilization.utilizationTarget.$error.min || form.loadBalancingUtilization.utilizationTarget.$error.max">
                    Must be between 1 and 99.
                  </span>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-sm btn-default" ng-click="ctrl.deleteMetric('loadBalancingUtilization')">
                    <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
                    <span class="visible-lg-inline">Delete</span>
                  </button>
                </div>
              </div>
              <button ng-hide="ctrl.showMetric('loadBalancingUtilization')"
                      class="add-new col-md-12" ng-click="ctrl.addMetric('loadBalancingUtilization')">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Load Balancing metric
              </button>
            </ng-form>
          </div>
        </collapsible-section>

        <collapsible-section heading="Custom Metric Utilizations" expanded="true" subsection="true">
          <div class="section-body" ng-repeat="custom in ctrl.policy.customMetricUtilizations track by $index">
            <hr ng-if="$index > 0">
            <div class="row">
              <div class="col-md-3 sm-label-right">
                Metric Identifier
              </div>
              <div class="col-md-2 content-fields">
                <input class="form-control input-sm"
                       required
                       ng-model="custom.metric"/>
              </div>
              <div class="col-md-offset-5 col-md-1">
                <button class="btn btn-sm btn-default" ng-click="ctrl.deleteMetric('customMetricUtilizations', $index)">
                  <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
                  <span class="visible-lg-inline">Delete</span>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 sm-label-right">
                Utilization Target
                <help-field key="gce.serverGroup.scalingPolicy.customMetricUtilizations"></help-field>
              </div>
              <div class="col-md-2 content-fields">
                <input type="number"
                       name="utilizationTarget"
                       class="form-control input-sm"
                       required
                       ng-model="custom.utilizationTarget"/>
              </div>
              <div class="col-md-2">
                <select class="form-control input-sm"
                        style="margin: 0px;"
                        ng-options="value as displayValue for (value, displayValue) in ctrl.targetTypesToDisplayMap"
                        ng-model="custom.utilizationTargetType"
                        required>
                  <option value="">-- Target Type --</option>
                </select>
              </div>
              <div class="col-md-5 error-message" ng-if="custom.utilizationTarget <= 0">
                Utilization target must be greater than 0.0.
              </div>
            </div>
          </div>
          <button class="add-new col-md-12" ng-click="ctrl.addMetric('customMetricUtilizations')">
            <span class="glyphicon glyphicon-plus-sign"></span> Add custom metric
          </button>
        </collapsible-section>
    <div class="col-md-12" ng-if="ctrl.showNoMetricsWarning()">
      <div class="alert alert-warning text-center">
        <span class="glyphicon glyphicon-warning-sign pull-left"></span>
        <span>At least one metric is required.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button is-disabled="!form.$valid || ctrl.showNoMetricsWarning()"
                   submitting="taskMonitor.submitting"
                   on-click="ctrl.save()"
                   is-new="ctrl.isNew"></submit-button>
  </div>
</div>
