<h5 class="text-center" ng-if="!command.viewState.loadBalancersConfigured">Please select an account and region.</h5>
<div ng-if="command.viewState.loadBalancersConfigured" ng-controller="azureServerGroupLoadBalancersCtrl as loadBalancerCtrl">
  <div class="form-group">
    <div class="col-md-3 sm-label-right"><b>Load Balancers</b></div>
    <div class="col-md-7">
      <ui-select required ng-model="command.loadBalancerName" class="form-control input-sm" ng-change="loadBalancerCtrl.loadBalancerChanged($select.selected)">
        <ui-select-match placeholder="select a loadBalancer">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="loadBalancer in command.loadBalancers | filter: $select.search">
          <span ng-bind-html="loadBalancer | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-9 col-md-offset-3">
      <p>
        <span ng-if="refreshing"><span class="fa fa-sync-alt fa-spin"></span></span>
        Load balancers
        <span ng-if="!refreshing">last refreshed {{ getLoadBalancerRefreshTime() | timestamp }}</span>
        <span ng-if="refreshing"> refreshing...</span>
      </p>
      <p>If you're not finding a load balancer that was recently added,
        <a href ng-click="refreshLoadBalancers()">click here</a> to refresh the list.
      </p>
    </div>
  </div>
</div>
