<div class="container-fluid form-horizontal">

  <form role="form" novalidate name="newFastPropertyForm">
    <div class="modal-body">
      <!--
        ENVIRONMENT
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Environment</div>
        <div class="col-sm-9">
          <select
            autofocus
            name="env"
            class="form-control input-sm"
            ng-model="$ctrl.command.property.env"
            ng-disabled="$ctrl.isEditing || $ctrl.isDeleting || $ctrl.disableAll"
            required
            ng-options="env for env in ['prod', 'test']">
          </select>
        </div>
      </div>

      <!--
        PROPERTY NAME
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Property name</div>
        <div class="col-sm-9">
          <input type="text"
                 name="name"
                 required
                 ng-disabled="$ctrl.isEditing || $ctrl.isDeleting || $ctrl.disableAll"
                 ng-pattern="/^[a-zA-Z_0-9._-]*$/"
                 class="form-control input-sm"
                 data-purpose="fastProperty-key"
                 ng-model="$ctrl.command.property.key"
                 placeholder="Enter a fast property key"/>
        </div>
      </div>

      <!--
        VALUE
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Value</div>
        <div class="col-sm-9">
        <textarea
          style="resize: vertical;"
          rows="{{$ctrl.getValueRowCount($ctrl.command.property.value)}}"
          required
          ng-disabled="$ctrl.isDeleting || $ctrl.disableAll"
          ng-model="$ctrl.command.property.value"
          class="form-control input-sm">
        </textarea>
        </div>
      </div>


      <!--
        CONSTRAINTS
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Constraints <help-field key="fastProperty.constraints"></help-field></div>
        <div class="col-sm-9">
          <constraints-selector
            model="$ctrl.command.property.constraints"
            is-disabled="$ctrl.isDeleting || $ctrl.disableAll"

          >
          </constraints-selector>
        </div>
      </div>

      <!--
        DESCRIPTION
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Description</div>
        <div class="col-sm-9">
          <textarea
            class="form-control input-sm"
            ng-disabled="$ctrl.isDeleting || $ctrl.disableAll"
            ng-model="$ctrl.command.property.description"
            placeholder="Enter description"
            name="description">
          </textarea>
        </div>
      </div>


      <!--
        NOTIFICATION EMAIL
      -->
      <div class="form-group row">
        <div class="col-sm-3 sm-label-right">Notification email</div>
        <div class="col-sm-9">
          <input
            type="email"
            name="email"
            required
            class="form-control input-sm"
            ng-disabled="$ctrl.isDeleting || $ctrl.disableAll"
            ng-model="$ctrl.command.property.email"
            placeholder="Enter a notification email"
            data-purpose="fastProperty-description"/>
        </div>
      </div>

    </div>

    <!--
      ERROR MESSAGES
    -->
    <div class="form-group row slide-in" ng-if="newFastPropertyForm.$invalid">
      <div class="col-sm-8 col-sm-offset-4 error-message">
        <div ng-messages="newFastPropertyForm.env.$error" ng-if="newFastPropertyForm.env.$touched">
          <p ng-message="required">Select an environment</p>
        </div>
        <div ng-messages="newFastPropertyForm.name.$error" ng-if="newFastPropertyForm.name.$touched">
          <p ng-message="required">Enter a property name</p>
        </div>
        <div ng-messages="newFastPropertyForm.value.$error" ng-if="newFastPropertyForm.value.$touched">
          <p ng-message="required">Enter a value</p>
        </div>
        <div ng-messages="newFastPropertyForm.constraints.$error" ng-if="newFastPropertyForm.constraints.$touched">
          <p ng-message="required">Enter a constraints</p>
        </div>
        <div ng-messages="newFastPropertyForm.email.$error" ng-if="newFastPropertyForm.email.$touched">
          <p ng-message="required">Email is required</p>
          <p ng-message="email">Enter a valid email</p>
        </div>
        <div ng-messages="newFastPropertyForm.cmcTicket.$error" ng-if="newFastPropertyForm.cmcTicket.$touched">
          <p ng-message="required">CMC Ticket is required</p>
        </div>
      </div>
    </div>

  </form>
</div>
