.report-header {

  h1 {
    margin-top: 16px;
  }

  .report-score-wrapper {
    padding-right: 20px;
    margin: 11px 0 7px 15px;
    padding-top: 5px;
    border-right: 1px solid var(--color-titanium);
  }

  .report-metadata {
    padding-left: 20px;
    padding-top: 10px;

    ul {
      margin-bottom: 0;
    }

    .label {
      padding-left: 0;
    }
  }
}

