.metric-results-list {
  height: 60vh;
  overflow-y: auto;

  .tabs-vertical {
    li {
      padding: 8px 0 8px 5px;
    }
  }

  .metric-result-classification {
    margin-right: 20px;
  }

  .list-group {
    margin-bottom: 0;
  }

  .multiple-results-table {
    padding-left: 8px;
    li:last-of-type {
      border-bottom: none;
    }

    li {
      padding-left: 0;
    }

    h6 {
      margin-top: 5px;
    }
  }
}
