.report-scores {
  height: 50px;
  .group-score {
    height: 30px;
    color: white;
    border-right: 1px solid white;
    padding-top: 4px;
    &:last-of-type {
      border-right: none;
    }

    h3 {
      font-weight: 600;
    }
  }

  .report-score {
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}
