<div ng-controller="DeployExecutionDetailsCtrl as deployDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'deploymentConfig'">
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt>Account</dt>
          <dd>
            <account-tag account="stage.context.account"></account-tag>
          </dd>
          <dt>Region</dt>
          <dd ng-repeat="(region, zones) in stage.context.availabilityZones">{{region}}<br/>({{zones.join(', ')}})</dd>
          <dt>Cluster</dt>
          <dd>{{stage.context | clusterName }}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt ng-if="provider === 'aws'">VPC</dt>
          <dd ng-if="provider === 'aws'">{{stage.context.subnetType || '[none]'}}</dd>
          <dt>Strategy</dt>
          <dd>{{stage.context.strategy || '[none]'}}</dd>
          <dt>Capacity</dt>
          <dd ng-if="stage.context.useSourceCapacity">Current Server Group</dd>
          <dd ng-if="!stage.context.useSourceCapacity && stage.context.capacity.min === stage.context.capacity.max">{{stage.context.capacity.max}}</dd>
          <dd ng-if="stage.context.useSourceCapacity && stage.context.capacity.min !== stage.context.capacity.max">
            Min: {{stage.context.capacity.min}},
            Max: {{stage.context.capacity.max}},
            Desired: {{stage.context.capacity.desired}}
          </dd>
        </dl>
      </div>
    </div>
    <stage-failure-message is-failed="stage.isFailed" message="ctrl.getException(stage)"></stage-failure-message>

    <div class="row" ng-if="deployed.length">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <strong>Deployed:</strong>
          <a ng-repeat="serverGroup in deployed"
             ng-click="$event.stopPropagation(); deployDetailsCtrl.overrideFiltersForUrl(serverGroup);"
             ng-href="{{serverGroup.href}}">
            {{serverGroup.serverGroup}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'codeChanges' && stage.context.commits">
    <table>
      <tr><th>#</th><th>Date</th><th>Commit</th><th>Message</th><th>Author</th></tr>
      <tr ng-repeat="commit in stage.context.commits">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{commit.timestamp | date:'MM/dd'}}&nbsp;&nbsp;</td>
        <td><a target="_blank" href="{{commit.commitUrl}}">{{commit.displayId}}</a>&nbsp;&nbsp;</td>
        <td>{{commit.message | limitTo: 50}}&nbsp;&nbsp;</td>
        <td>{{commit.authorDisplayName}}</td>
      </tr>
    </table>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'JARChanges' && stage.context.jarDiffs">
    <table ng-if="stage.context.jarDiffs.added && stage.context.jarDiffs.added.length > 0">
      <tr><th>Added</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.added">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
    <table ng-if="stage.context.jarDiffs.removed && stage.context.jarDiffs.removed.length > 0">
      <tr><th>Removed</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.removed">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
    <table ng-if="stage.context.jarDiffs.upgraded && stage.context.jarDiffs.upgraded.length > 0">
      <tr><th>Upgraded</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.upgraded">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
    <table ng-if="stage.context.jarDiffs.downgraded && stage.context.jarDiffs.downgraded.length > 0">
      <tr><th>Downgraded</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.downgraded">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
    <table ng-if="stage.context.jarDiffs.duplicates && stage.context.jarDiffs.duplicates.length > 0">
      <tr><th>Duplicates</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.duplicates">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
    <table ng-if="stage.context.jarDiffs.unknown && stage.context.jarDiffs.unknown.length > 0">
      <tr><th>Unknown</th></tr>
      <tr ng-repeat="jar in stage.context.jarDiffs.unknown">
        <td><b>{{$index+1}}</b>&nbsp;&nbsp;</td>
        <td>{{jar.displayDiff}}&nbsp;&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
