@import "../../../../styles/imports/commonImports.less";

.global-search {
  margin-top: 6px;
  .dropdown-menu {
    min-width: 206px;
    top: 51px;
    li {
      color: #999;
      strong {
        font-weight: 600;
      }
      a, .category-heading {
        padding-left: 15px;
        padding-right: 15px;
      }
      a {
        font-variant: normal;
        color: #000;
        .expand-results {
          font-weight: bold;
        }
      }
      &.category-heading {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #f1f1f1;
        text-transform: uppercase;
      }
      &:first-child {
        margin-top: 0;
        border: none;
      }
    }
  }
}

.global-search-header {
  top: 48px;
  margin-top: 10px;
  border-bottom: 1px solid @mid_light_grey;
  .input-md, .dropdown {
    margin: 20px 0 10px;
  }
  h2 {
    font-weight: 700;
  }
}

.keyboard-key {
  color: @code-yellow;
  font-family: monospace;
  font-weight: bold;
}

