apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-config
  namespace: {{ .Values.environment }}
  annotations:
    'moniker.spinnaker.io/stack': {{ .Values.environment }}
  labels:
    app: demo
    env: {{ .Values.environment }}
data:
  config.yaml: |
    logging: {{ .Values.logging }}
