<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>keel-cli.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>