<span ng-if="serverGroup.loadBalancers.length" ng-class="{'overflowing': serverGroup.loadBalancers.length > maxDisplay}">
  <button
      class="btn btn-link btn-multiple-load-balancers clearfix no-padding"
      ng-if="serverGroup.loadBalancers.length > maxDisplay"
      ng-click="popover.show = !popover.show; $event.stopPropagation();"
      uib-tooltip="{{popover.show ? 'Hide' : 'Show'}} all {{serverGroup.loadBalancers.length}} load balancers">
    <span class="badge counter">
      <span class="icon">
        <span class="icon-elb"></span>
      </span>
      {{serverGroup.loadBalancers.length}}
    </span>
  </button>
  <div class="menu-load-balancers" ng-if="popover.show">
    <div>
      Load Balancers
    </div>
    <a
      ng-repeat="loadBalancer in serverGroup.loadBalancers | orderBy:'toString()'"
      ui-sref=".loadBalancerDetails({region: serverGroup.region, accountId: serverGroup.account, name: loadBalancer, provider: serverGroup.type})"
      >{{loadBalancer}}
    </a>
  </div>
  <span class="btn-load-balancer" ng-if="serverGroup.loadBalancers.length <= maxDisplay">
    <button
       class="btn btn-link no-padding"
       ng-repeat="loadBalancer in serverGroup.loadBalancers | orderBy:'toString()'"
       ui-sref=".loadBalancerDetails({region: serverGroup.region, accountId: serverGroup.account, name: loadBalancer, provider: serverGroup.type})"
       ui-sref-active="active"
       uib-tooltip="Load Balancer: {{loadBalancer}}">
      <span class="icon">
        <span class="icon-elb"></span>
      </span>
    </button>
  </span>
</span>
