<span ng-if="$ctrl.serverGroup.loadBalancers.length" ng-class="{'overflowing': $ctrl.serverGroup.loadBalancers.length > 1}">
  <button
      class="btn btn-link btn-multiple-load-balancers clearfix no-padding"
      ng-if="$ctrl.serverGroup.loadBalancers.length > 1"
      ng-click="$ctrl.popover.show = !$ctrl.popover.show; $event.stopPropagation();"
      analytics-on="click"
      analytics-category="Cluster Pod"
      analytics-event="Toggle Load Balancers Menu ({{$ctrl.popover.show}})"
      uib-tooltip="{{$ctrl.popover.show ? 'Hide' : 'Show'}} all {{$ctrl.serverGroup.loadBalancers.length}} load balancers">
    <span class="badge badge-counter">
      <span class="icon">
        <span class="icon-elb"></span>
      </span>
      {{$ctrl.serverGroup.loadBalancers.length}}
    </span>
  </button>
  <div class="menu-load-balancers" ng-if="$ctrl.popover.show">
    <div>
      Load Balancers
    </div>
    <a
      ng-repeat="loadBalancer in $ctrl.loadBalancers | orderBy: name"
      analytics-on="click"
      analytics-category="Cluster Pod"
      analytics-event="Load Load Balancer Details (multiple menu)"
      ui-sref=".loadBalancerDetails({region: $ctrl.serverGroup.region, accountId: $ctrl.serverGroup.account, name: loadBalancer.name, provider: $ctrl.serverGroup.type})"
      >
      <span class="name">{{loadBalancer.name}}</span>
      <health-counts container="loadBalancer.instanceCounts"></health-counts>
    </a>
  </div>
  <span class="btn-load-balancer" ng-if="$ctrl.serverGroup.loadBalancers.length === 1">
    <button
       class="btn btn-link no-padding"
       ng-repeat="loadBalancer in $ctrl.loadBalancers | orderBy:'toString()'"
       analytics-on="click"
       analytics-category="Cluster Pod"
       analytics-event="Load Load Balancer Details"
       ui-sref=".loadBalancerDetails({region: $ctrl.serverGroup.region, accountId: $ctrl.serverGroup.account, name: loadBalancer.name, provider: $ctrl.serverGroup.type})"
       ui-sref-active="active"
       uib-tooltip="Load Balancer: {{loadBalancer.name}}">
      <span class="badge badge-counter">
        <span class="icon">
          <span class="icon-elb"></span>
        </span>
      </span>
    </button>
  </span>
</span>
