.EvaluateVariablesStageConfig {
  .StandardFieldLayout_Label {
    min-width: 200px;
    font-family: monospace;
    text-align: left;
    flex: 0;
  }

  pre {
    margin-top: 4px;
    max-height: 150px;
  }

  // Use the entire width when rendering validation preview messages
  .ValidationMessage.infoMessage .message {
    width: 100%;
  }
}
