[Unit]
Description=A tool for managing the lifecycle of a Spinnaker installation

[Service]
Restart=always
RestartSec=10
Type=simple
ExecStart=/opt/halyard/bin/halyard
User=spinnaker

[Install]
WantedBy=user.target
