.appengine-server-group-wizard {
  input[type='checkbox'] {
    margin-top: 0.75rem;
  }

  help-field.help-field-absolute {
    span {
      position: absolute;
      top: 7px;
      right: 2px;
    }
  }

  .artifact-configuration-section {
    border-bottom: 1px solid #eee;
    padding: 0 0 4px 0;
    margin: 0 0 5px 0;

    &.last-entry {
      border-bottom: none;
    }

    .Select,
    input {
      margin: 0 0 1px;
    }
  }
}
