<ng-form name="envs">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-condensed packed tags">
        <b>Environment Variables</b>
        <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="env in command.envs">
          <td><input class="form-control input-sm" type="text" ng-model="env.key" required/></td>
          <td><input class="form-control input-sm" type="text" ng-model="env.value" required/></td>
          <td><a class="btn btn-link sm-label"
                 ng-click="envsCtrl.removeEnv($index)"><span
                  class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="1">
            <button class="add-new col-md-12" ng-click="envsCtrl.addEnv()"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add New Environment Variable
            </button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-form>
