<ng-form name="services">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-condensed packed metadata">
        <b>Services</b>
        <tbody>
        <tr ng-repeat="service in command.services track by $index">
          <td><input class="form-control input-sm" type="text" ng-model="command.services[$index]" required/></td>
          <td><a class="btn btn-link sm-label"
                 ng-click="servicesCtrl.removeService($index)"><span
                  class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="1">
            <button class="add-new col-md-12" ng-click="servicesCtrl.addService()"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add New Service
            </button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-form>
