<ng-form name="advanced">
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Buildpack URL</b>
    </div>
    <div class="col-md-7">
      <input type="text"
             class="form-control input-sm"
             name="repository"
             ng-model="command.buildpackUrl"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b># of Instances</b>
    </div>
    <div class="col-md-7">
      <input class="form-control input-sm" style="width:50px" type="number" ng-model="command.capacity.desired" min="1">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Memory</b>
    </div>
    <div class="col-md-7">
      <ui-select ng-model="command.memory" class="form-control input-sm">
        <ui-select-match placeholder="None">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="memory.key as memory in memoryOptions | filter: $select.search">
          <strong ng-bind-html="memory.label | highlight: $select.search"></strong>
          <div ng-bind-html="memory.description"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Disk Limit</b>
    </div>
    <div class="col-md-7">
      <ui-select ng-model="command.disk" class="form-control input-sm">
        <ui-select-match placeholder="None">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="disk.key as disk in diskOptions | filter: $select.search">
          <strong ng-bind-html="disk.label | highlight: $select.search"></strong>
          <div ng-bind-html="disk.description"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
</ng-form>
