<ng-form name="artifactSettings">
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Repository</b>
      <help-field content="'You may include {job} and {buildNumber} to dynamically build a path to your artifact.'"></help-field>
    </div>
    <div class="col-md-7">
      <input type="text"
             class="form-control input-sm"
             name="repository"
             ng-model="command.repository"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b>Artifact</b>
    </div>
    <div class="col-md-7">
      <input type="text"
             class="form-control input-sm"
             name="artifact"
             ng-model="command.artifact"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b ng-if="!artifactSettingsCtrl.isS3()">Username</b>
      <b ng-if="artifactSettingsCtrl.isS3()">Access Key</b>
    </div>
    <div class="col-md-7">
      <input type="text"
             class="form-control input-sm"
             name="username"
             ng-if="!artifactSettingsCtrl.isS3()"
             ng-model="command.username"/>
      <input type="password"
             class="form-control input-sm"
             name="username"
             ng-if="artifactSettingsCtrl.isS3()"
             ng-model="command.username"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b ng-if="!artifactSettingsCtrl.isS3()">Password</b>
      <b ng-if="artifactSettingsCtrl.isS3()">Secret Key</b>
    </div>
    <div class="col-md-7">
      <input type="password"
             class="form-control input-sm"
             name="password"
             ng-model="command.password"/>
    </div>
  </div>
</ng-form>
