<ng-form name="gitTriggerForm">
  <div class="form-group" ng-if="vm.gitTriggerTypes.length > 1">
    <label class="col-md-3 sm-label-right">
      Repo Type
      <help-field key="pipeline.config.git.repotype"></help-field>
    </label>
    <div class="col-md-6">
      <select
        class="form-control input-sm"
        ng-options="repoType for repoType in vm.gitTriggerTypes"
        ng-model="vm.trigger.source"
      >
        <option value="">Select Repo Type</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 sm-label-right">
      {{ vm.displayText['pipeline.config.git.project'][vm.trigger.source] }}
      <help-field key="pipeline.config.git.project"></help-field>
    </label>

    <div class="col-md-9">
      <input
        type="text"
        class="form-control input-sm"
        ng-model="vm.trigger.project"
        name="project"
        required
        placeholder="{{ vm.displayText['vm.trigger.project'][vm.trigger.source] }}"
      />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 sm-label-right">
      {{ vm.displayText['pipeline.config.git.slug'][vm.trigger.source] }}
      <help-field key="pipeline.config.git.slug"></help-field>
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control input-sm"
        ng-model="vm.trigger.slug"
        name="slug"
        required
        placeholder="{{ vm.displayText['vm.trigger.slug'][vm.trigger.source] }}"
        pattern="^((?!://).)*$"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Branch
      <help-field key="pipeline.config.git.trigger.branch"></help-field>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control input-sm" ng-model="vm.trigger.branch" ng-change="vm.updateBranch()" />
    </div>
  </div>
  <div class="form-group" ng-if="vm.trigger.source === 'github'">
    <div class="col-md-3 sm-label-right">
      Secret
      <help-field key="pipeline.config.git.trigger.githubSecret"></help-field>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control input-sm" ng-model="vm.trigger.secret" />
    </div>
  </div>
  <div class="form-group" ng-if="vm.fiatEnabled">
    <run-as-user-selector service-accounts="vm.serviceAccounts" component="vm.trigger" field="runAsUser">
    </run-as-user-selector>
  </div>
</ng-form>
