<form role="form" class="container-fluid" novalidate name="newFastPropertyForm" ng-init="newFP.setFormScope(this)">
  <div class="modal-body">


    <div class="row">
      <div class="col-sm-9">
        {{newFP.selectedStrategy.selected.description}}
      </div>
    </div>

    <div class="row">

        <div class="col-md-12">
          <div class="fast-property-strategy">

            <div ng-if="!newFP.clusterIsSet()" class="row error-message">
              <div class="col-md-3 text-right"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
              <div class="col-md-9">Please select a Cluster in your scope. The cluster you select will be used for the ACA.</div>
            </div>

            <div class="form-horizontal fp-canary-config-view">
              <h4>Canary Config</h4>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Name</b>
                </div>
                <div class="col-md-8">
                  <input
                      type="text"
                      class="form-control input-sm"
                      required
                      ng-model="newFP.property.canary.name"
                      />
                </div>
              </div>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Canary Lifetime</b>
                </div>
                <div class="col-md-2">
                  <input
                      type="number"
                      min="0"
                      max="100"
                      class="form-control input-sm"
                      required
                      ng-model="newFP.property.canary.lifetimeHours"
                      />
                </div>
                <div class="col-md-1">
                  hours
                </div>
              </div>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Result Strategy</b>
                  <help-field key="pipeline.config.canary.combinedCanaryResultStrategy"></help-field>
                </div>
                <div class="col-md-8">
                  <select
                      requried
                      class="form-control input-sm"
                      ng-model="newFP.property.canary.resultStrategy"
                      >
                    <option value="LOWEST">lowest</option>
                    <option value="AGGREGATE">aggregate</option>
                  </select>
                </div>
              </div>

              <div class="form-group">

                <div class="indent col-md-4  sm-label-left">
                  <b>Successful Score</b>
                  <help-field key="pipeline.config.canary.canarySuccessCriteria.canaryResultScore"></help-field>
                </div>
                <div class="col-md-2">
                  <input
                      min="0"
                      max="100"
                      type="number"
                      class="form-control input-sm"
                      required
                      ng-model="newFP.property.canary.successfulScore"
                      />
                </div>

                <div class="col-md-4  sm-label-left">
                  <b>Unhealthy Score</b>
                  <help-field key="pipeline.config.canary.canaryHealthCheckHandler.minimumCanaryResultScore"></help-field>
                </div>
                <div class="col-md-2">
                  <input
                      min="0"
                      max="100"
                      type="number"
                      class="form-control input-sm"
                      required
                      ng-model="newFP.property.canary.unhealthyScore"
                      />
                </div>

              </div>

              <h5>Analysis Config</h5>
              <div class="horizontal-rule"></div>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Name</b>
                </div>
                <div class="col-md-8">
                  <canary-analysis-name-selector
                      model="newFP.property.canary.canaryAnalysisConfig.name"
                      class-name="form-control input-sm"
                      >
                  </canary-analysis-name-selector>
                </div>
              </div>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Delay</b>
                </div>
                <div class="col-md-2">
                  <input
                      class="form-control input-sm"
                      required
                      min="0"
                      ng-model="newFP.property.canary.canaryAnalysisConfig.beginCanaryAnalysisAfterMins"
                      type="number"/>
                </div>
                <div class="col-md-6">
                  minutes before starting analysis
                  <help-field key="pipeline.config.canary.delayBeforeAnalysis"></help-field>
                </div>
              </div>

              <div class="form-group">
                <div class="indent col-md-4 sm-label-left">
                  <b>Notification Hours</b>
                  <help-field key="pipeline.config.canary.notificationHours"></help-field>
                </div>
                <div class="col-md-8">
                  <input
                      class="form-control input-sm"
                      required
                      ng-model="newFP.property.canary.canaryAnalysisConfig.notificationHours"
                      type="text"/>
                </div>
              </div>

              <div class="form-group">
                <div class="indent col-md-4  sm-label-left">
                  <b>Score Frequency</b>
                  <help-field key="pipeline.config.canary.canaryInterval"></help-field>
                </div>
                <div class="col-md-2">
                  <input
                      class="form-control input-sm"
                      ng-model="newFP.property.canary.canaryAnalysisConfig.canaryAnalysisIntervalMins"
                      required
                      min="0"
                      type="number"/>
                </div>
                <div class="col-md-6">
                  minutes
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
  </div>

  <!--
    FOOTER BUTTONS
  -->
  <div class="modal-footer">
    <button tabindex="-1" ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>

    <button tabindex="-1" class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>

    <button class="btn btn-primary"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="wizard.markComplete('ACAConfig'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>

  {{newFP.startScope}}
</form>