<form role="form" class="container-fluid" novalidate name="newFastPropertyForm" ng-init="newFP.setFormScope(this)">
  <div class="modal-body">


    <div class="form-horizontal fp-canary-config-view">
      <div class="form-group">

        <div class="small-label-left col-md-3">
          <b>Strategy Option</b>
        </div>

        <div class="col-md-9">
          <select 
              name="strategyOption"
              class="form-control input-sm"
              required
              ng-model="newFP.property.strategy.option"
              ng-select="number"
              >
            <option value="number" selected>number</option>
            <option value="percentage">percentage</option>
          </select>
        </div>

      </div>
    </div>


    <div class="form-horizontal fp-canary-config-view">
      <div class="form-group">

        <div class="small-label-left col-md-3">
          <b>Rollout {{newFP.property.strategy.option}}</b>
          <help-field key="fastProperty.canary.strategy.rolloutList"></help-field>
        </div>

        <div class="col-md-9">
          <input
              type="text"
              class="form-control input-sm"
              placeholder="{{newFP.property.strategy.option === 'percentage' ? newFP.getSampleRolloutPercentage() : newFP.getSampleRolloutNumber()}}"
              required
              ng-model="newFP.property.strategy.rolloutListString"
              />
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>Select <b>number</b> or <b>percentage</b> of instances for the<b>strategy option</b>. </p>
        <p>Enter a coma separated list of number or percentages for the rollout.</p>
        <p>This determines the how the fast property will be rolled out across your selected cluster and how many ACA will be performed.</p>
      </div>
    </div>

    <div class="row" >
      <div class="col-sm-12">
        <p>There are <span style="color: red">{{newFP.affectedInstancesForACA.length || 0}}</span> instances available to canary against.</p>
        <div ng-if="newFP.affectedInstancesForACA.length > 1">
          <b>Example:</b> <br>
          <p>For a <b>Number Strategy Options</b> you might set <b>{{newFP.getSampleRolloutNumber()}}</b> as the rollout.
            This will do {{newFP.getSampleRolloutNumber().split(',').length}} ACAs with the Fast Property applied to the the set number of instances at each step.</p>

          <p>For a <b>Percentage Strategy Options</b> you might set <b>{{newFP.getSampleRolloutPercentage()}}</b> as the rollout.
            This will do {{newFP.getSampleRolloutPercentage().split(',').length}} ACAs with the Fast Property applied to the the set percentage of instances at each step.</p>

          <p>Once all the ACAs pass the Fast Property will be set at the selected target scope.</p>
        </div>
      </div>
    </div>
  </div>

  <!--
    FOOTER BUTTONS
  -->
  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>

    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>

    <button class="btn btn-primary"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="wizard.markComplete('ACAInstanceSelector'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>

</form>