<div class="wizard-subheading">
  <h4>Select Target Region & Cluster</h4>
</div>
<form role="form" class="container-fluid" novalidate name="newFastPropertyForm">
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-6">
        <b>Strategy:</b> {{newFP.selectedStrategy.selected.label}}
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-12">
        <p>Select the region and cluster you would like to ACA this Fast Property against.</p>
      </div>
    </div>


    <div class="form-horizontal fp-canary-config-view">

      <scope-region-selector
          model="newFP.property.startScope.region"
          regions="newFP.startLists.region"
          on-change="newFP.acaTargetRegionChange(region, stack)"
          allow-none="false"
      >
      </scope-region-selector>


      <scope-cluster-selector
          model="newFP.property.startScope.cluster"
          clusters="newFP.startLists.cluster"
          show-if="newFP.property.startScope.region"
          on-change="angular.noop()"
          allow-none="false"
      >
      </scope-cluster-selector>

    </div>

  </div>

  <!--
    FOOTER BUTTONS
  -->
  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>

    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>

    <button class="btn btn-primary"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="wizard.markComplete('Target'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>


</form>