<form role="form" class="container-fluid" novalidate name="newFastPropertyForm">
  <div class="modal-body">

    <div class="form-group row">

      <div class="col-sm-3 sm-label-left">
        Strategy
        <help-field key="fastProperty.strategy"></help-field>
      </div>
      <div class="col-sm-9">
        <ui-select
            autofocus="true"
            required=""
            class="form-control input-sm"
            ng-model="newFP.selectedStrategy.selected"
            on-select="newFP.setStrategy()"
            >

          <ui-select-match placeholder="Select Strategy..." >
                <span>
                  <strong>{{$select.selected.label}}</strong>
                </span>
          </ui-select-match>

          <ui-select-choices repeat="strategy in newFP.strategies | filter: $select.search">
            <div ng-bind-html="strategy.label | highlight: $select.search"></div>
            <small>{{strategy.description}}</small>
          </ui-select-choices>

        </ui-select>

      </div>

    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        {{newFP.selectedStrategy.selected.description}}
      </div>
    </div>

  </div>

  <!--
    FOOTER BUTTONS
  -->
  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>

    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>

    <button class="btn btn-primary"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="wizard.markComplete('Strategy'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>


</form>