<form role="form" class="container-fluid" novalidate name="newFastPropertyForm">
  <div class="modal-body">

    <!--
      ENVIRONMENT
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Environment</div>
      <div class="col-sm-9">
        <select
            autofocus
            name="env"
            class="form-control input-sm"
            ng-model="newFP.property.env"
            ng-disabled="newFP.isEditing"
            required
            ng-change="newFP.init()"
            ng-options="env for env in ['prod', 'test']">
        </select>
      </div>
    </div>

    <!--
      PROPERTY NAME
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Property name</div>
      <div class="col-sm-9">
        <input type="text"
               name="name"
               required
               ng-disabled="newFP.isEditing"
               ng-pattern="/^[a-zA-z_0-9.]*$/"
               class="form-control input-sm"
               data-purpose="fastProperty-key"
               ng-model="newFP.property.key"
               placeholder="Enter a fast property key"/>
      </div>
    </div>

    <!--
      VALUE
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Value</div>
      <div class="col-sm-9">
        <input type="text"
               name="value"
               class="form-control input-sm "
               data-purpose="fastProperty-value"
               ng-model="newFP.property.value"
               placeholder="Enter a fast property value"
               required/>
      </div>
    </div>


    <!--
      CONSTRAINTS
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Constraints <fast-property-constraints></fast-property-constraints></div>
      <div class="col-sm-9">
        <constraints-selector
            model="newFP.property.constraints"
        >
        </constraints-selector>
      </div>
    </div>

    <!--
      DESCRIPTION
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Description</div>
      <div class="col-sm-9">
          <textarea
              class="form-control input-sm"
              ng-model="newFP.property.description"
              placeholder="Enter description"
              name="description">
          </textarea>
      </div>
    </div>


    <!--
      NOTIFICATION EMAIL
    -->
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Notification email</div>
      <div class="col-sm-9">
        <input
            type="email"
            name="email"
            required
            class="form-control input-sm"
            ng-model="newFP.property.email"
            placeholder="Enter a notification email"
            data-purpose="fastProperty-description"/>
      </div>
    </div>


    <!--
      CMC
    -->
    <div class="form-group row">
      <div class="col-md-3 sm-label-left">CMC</div>
      <div class="col-md-9">
        <input
            required
            type="text"
            name="cmcTicket"
            class="form-control input-sm"
            ng-model="newFP.property.cmcTicket"
            placeholder="Enter a CMC"
            data-purpose="fastProperty-cmc"/>
      </div>
    </div>
  </div>

  <!--
    ERROR MESSAGES
  -->
  <div class="form-group row slide-in animated" ng-if="newFastPropertyForm.$invalid">
    <div class="col-sm-8 col-sm-offset-4 error-message">
      <div ng-messages="newFastPropertyForm.env.$error" ng-if="newFastPropertyForm.env.$touched">
        <p ng-message="required">Select an environment</p>
      </div>
      <div ng-messages="newFastPropertyForm.name.$error" ng-if="newFastPropertyForm.name.$touched">
        <p ng-message="required">Enter a property name</p>
      </div>
      <div ng-messages="newFastPropertyForm.value.$error" ng-if="newFastPropertyForm.value.$touched">
        <p ng-message="required">Enter a value</p>
      </div>
      <div ng-messages="newFastPropertyForm.constraints.$error" ng-if="newFastPropertyForm.constraints.$touched">
        <p ng-message="required">Enter a constraints</p>
      </div>
      <div ng-messages="newFastPropertyForm.email.$error" ng-if="newFastPropertyForm.email.$touched">
        <p ng-message="required">Email is required</p>
        <p ng-message="email">Enter a valid email</p>
      </div>
      <div ng-messages="newFastPropertyForm.cmcTicket.$error" ng-if="newFastPropertyForm.cmcTicket.$touched">
        <p ng-message="required">CMC Ticket is required</p>
      </div>
    </div>
  </div>

  <!--
    FOOTER BUTTONS
  -->
  <div class="modal-footer">
    <button tabindex="-1" ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>
    <button class="btn btn-primary"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="wizard.markComplete('Details'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>

  