<div class="row">

  <div class="col-md-4">
    <select
        name="constraints"
        class="form-control input-sm"
        ng-disabled="con.isDisabled"
        ng-model="con.constraint"
        ng-change="con.onChange()">


      <option
          ng-repeat="constraint in con.constraints track by constraint.name"
          value="{{constraint.name}}"
          ng-selected="con.constraint === constraint.name" >

        {{constraint.name}}

      </option>

    </select>

  </div>


  <div class="col-md-8">

    <input
        type="text"
        class="form-control input-sm"
        ng-if="con.inputNeeded()"
        ng-change="con.inputChanged()"
        placeholder="{{con.placeholder}}"
        ng-model="con.inputValue" />

  </div>

</div>
