<modal-wizard heading="{{newFP.heading}}" hide-indicators="false" class="fastPropertyWizard">

  <wizard-page key="Details" label=" Property details">
    <fast-property-form></fast-property-form>
  </wizard-page>

  <wizard-page key="Scope" label="Select Scope">
    <fast-property-scope-form></fast-property-scope-form>
  </wizard-page>

  <wizard-page key="Strategy" label="Strategy" render="true" lazy="true">
    <fast-property-strategy-form></fast-property-strategy-form>
  </wizard-page>

  <wizard-page key="Target" label="Set Target" render="newFP.selectedStrategy.selected.display('Target')" lazy="true">
    <fast-property-aca-target-form ng-if="newFP.selectedStrategy.selected.key === 'aca'"></fast-property-aca-target-form>
    <fast-property-naive-target-form ng-if="newFP.selectedStrategy.selected.key === 'manualScopedPropagation'"></fast-property-naive-target-form>
  </wizard-page>

  <wizard-page key="ACAConfig" label="ACA Config" render="newFP.selectedStrategy.selected.display('ACAConfig')" lazy="true">
    <fast-property-aca-config-form></fast-property-aca-config-form>
  </wizard-page>

  <wizard-page key="ACAInstanceSelector" label="ACA Instance Strategy" render="newFP.selectedStrategy.selected.display('ACAInstanceSelector')" lazy="true">
    <fast-property-aca-instance-strategy-form></fast-property-aca-instance-strategy-form>
  </wizard-page>

  <wizard-page key="Review" label="Review" render="newFP.selectedStrategy.selected.display('Review')">
    <fast-property-review-form></fast-property-review-form>
  </wizard-page>


</modal-wizard>


