<form role="form" class="container-fluid" novalidate name="newFastPropertyForm">

  <div class="modal-body">

    <div class="row">

      <div class="col-md-6">
        <h4>Target Scope</h4>
        <dl class="fastProperty-scope" ng-if="newFP.property.targetScope">
          <dt>App Name</dt>
          <dd>{{newFP.property.targetScope.appIdList.join(', ')}}</dd>

          <dt ng-if="newFP.property.targetScope.region">Region</dt>
          <dd ng-if="newFP.property.targetScope.region">{{newFP.property.targetScope.region}}</dd>

          <dt ng-if="newFP.property.targetScope.stack">Stack</dt>
          <dd ng-if="newFP.property.targetScope.stack">{{newFP.property.targetScope.stack}}</dd>

          <dt ng-if="newFP.property.targetScope.cluster">Cluster</dt>
          <dd ng-if="newFP.property.targetScope.cluster">{{newFP.property.targetScope.cluster}}</dd>

          <dt ng-if="newFP.property.targetScope.asg">ASG</dt>
          <dd ng-if="newFP.property.targetScope.asg">{{newFP.property.targetScope.asg}}</dd>

          <dt ng-if="newFP.property.targetScope.zone">AZ</dt>
          <dd ng-if="newFP.property.targetScope.zone">{{newFP.property.targetScope.zone}}</dd>

          <dt ng-if="newFP.property.targetScope.serverId">Instance</dt>
          <dd ng-if="newFP.property.targetScope.serverId">{{newFP.property.targetScope.serverId}}</dd>

        </dl>

        <hr/>

        <div ng-if="newFP.property.strategy.name === 'naive'">
          <h4>Start Scope</h4>
          <dl class="fastProperty-scope" >
            <dt>App Name</dt>
            <dd>{{newFP.property.startScope.appIdList.join(', ')}}</dd>

            <dt ng-if="newFP.property.startScope.region">Region</dt>
            <dd ng-if="newFP.property.startScope.region">{{newFP.property.startScope.region}}</dd>

            <dt ng-if="newFP.property.startScope.stack">Stack</dt>
            <dd ng-if="newFP.property.startScope.stack">{{newFP.property.startScope.stack}}</dd>

            <dt ng-if="newFP.property.startScope.cluster">Cluster</dt>
            <dd ng-if="newFP.property.startScope.cluster">{{newFP.property.startScope.cluster}}</dd>

            <dt ng-if="newFP.property.startScope.asg">ASG</dt>
            <dd ng-if="newFP.property.startScope.asg">{{newFP.property.startScope.asg}}</dd>

            <dt ng-if="newFP.property.startScope.zone">AZ</dt>
            <dd ng-if="newFP.property.startScope.zone">{{newFP.property.startScope.zone}}</dd>

            <dt ng-if="newFP.property.startScope.serverId">Instance</dt>
            <dd ng-if="newFP.property.startScope.serverId">{{newFP.property.startScope.serverId}}</dd>
          </dl>
        </div>

        <div ng-if="newFP.property.strategy.name === 'aca'">
          <h4>Target Cluster</h4>
          <dl class="fastProperty-scope" >

            <dt ng-if="newFP.property.startScope.region">Region</dt>
            <dd ng-if="newFP.property.startScope.region">{{newFP.property.startScope.region}}</dd>

            <dt ng-if="newFP.property.startScope.cluster">Cluster</dt>
            <dd ng-if="newFP.property.startScope.cluster">{{newFP.property.startScope.cluster}}</dd>
          </dl>
        </div>

      </div>

      <div class="col-md-6">
        <h4>Fast Property</h4>
        <dl class="fastProperty-list">

          <dt ng-if="newFP.property.key"><b>Key:</b></dt>
          <dd ng-if="newFP.property.key">{{newFP.property.key}}</dd>

          <dt ng-if="newFP.property.value"><b>Value:</b></dt>
          <dd ng-if="newFP.property.value">{{newFP.property.value}}</dd>

          <dt ng-if="newFP.property.constraints"><b>Constraints:</b></dt>
          <dd ng-if="newFP.property.constraints">{{newFP.property.constraints}}</dd>

          <dt ng-if="newFP.property.env"><b>Environment:</b></dt>
          <dd ng-if="newFP.property.env">{{newFP.property.env}}</dd>

          <dt ng-if="newFP.property.email"><b>Email:</b></dt>
          <dd ng-if="newFP.property.email">{{newFP.property.email}}</dd>

          <dt ng-if="newFP.property.cmcTicket"><b>CMC Ticket:</b></dt>
          <dd ng-if="newFP.property.cmcTicket">{{newFP.property.cmcTicket}}</dd>
        </dl>
      </div>

    </div>


    <!--
      CANARY INFO
    -->
    <hr ng-if="newFP.property.canary"/>

    <div class="row" ng-if="newFP.property.canary">
      <div class="col-md-6">
        <h4>Canary Config</h4>
        <dl class="fastProperty-list">
          <dt>Name</dt>
          <dd>{{newFP.property.canary.name}}</dd>

          <dt>Lifetime Hours</dt>
          <dd>{{newFP.property.canary.lifetimeHours}}</dd>

          <dt>Success Score</dt>
          <dd>{{newFP.property.canary.successfulScore}}</dd>

          <dt>Unhealthy Score</dt>
          <dd>{{newFP.property.canary.unhealthyScore}}</dd>
        </dl>
      </div>

      <div class="col-md-6">
        <h4>Analysis Config</h4>
        <dl class="fastProperty-list">
          <dt>Name</dt>
          <dd>{{newFP.property.canary.canaryAnalysisConfig.name}}</dd>

          <dt>Delay</dt>
          <dd>{{newFP.property.canary.canaryAnalysisConfig.beginCanaryAnalysisAfterMins}}</dd>

          <dt>ACA Interval</dt>
          <dd>{{newFP.property.canary.canaryAnalysisConfig.canaryAnalysisIntervalMins}}</dd>

          <dt>Notification Hours</dt>
          <dd>{{newFP.property.canary.canaryAnalysisConfig.notificationHours}}</dd>

        </dl>

      </div>
    </div>



    <!--
     STRATEGY INFO
     -->

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <h4>Strategy</h4>
        <dl class="fastProperty-list">
          <dt>Name</dt>
          <dd>{{newFP.property.strategy.name}}</dd>

          <dt ng-if="newFP.property.strategy.option">Option</dt>
          <dd ng-if="newFP.property.strategy.option">{{newFP.property.strategy.option}}</dd>

          <dt ng-if="newFP.property.strategy.rolloutListString">Rollout</dt>
          <dd ng-if="newFP.property.strategy.rolloutListString">{{newFP.property.strategy.rolloutListString}}</dd>
        </dl>
      </div>
    </div>


    <!--
      Error message
    -->
    <div class="error" ng-if="newFP.submititionError">
      {{newFP.submititionError}}
    </div>

  </div>



  <!--
    FOOTER BUTTONS
  -->

  <div class="modal-footer">
    <button tabindex="-1" ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="$dismiss()">Cancel
    </button>
    <button tabindex="-1" class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>

    <button class="btn btn-primary" ng-if="!newFP.isEditing"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="newFP.submit()"> Create property
    </button>

    <button class="btn btn-primary" ng-if="newFP.isEditing"
            ng-disabled="newFastPropertyForm.$invalid"
            ng-click="newFP.update()"> Update property
    </button>
  </div>

</form>



