.ArtifactDetail {
  background-color: var(--color-white);
  padding: 16px 0 64px 16px;

  .detail-section-left {
    flex: 0 0 280px;
    font-style: italic;
    font-size: 14px;
    color: var(--color-charcoal);
  }

  .detail-section-right {
    flex: 1 1 auto;
  }

  .resource-badge {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border-radius: 50%;

    &.current {
      background-color: #00b237;
    }

    &.approved {
      border: 1px solid var(--color-status-info);
    }

    &.deploying {
      background-color: var(--color-status-info);
    }

    &.pending {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }

    &.previous {
      background-color: var(--color-nobel);
    }

    &.vetoed {
      background-color: var(--color-status-error);
    }

    i.fa {
      color: var(--color-white);
    }
  }
}
