.ArtifactRow {
  height: 56px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: 2px;
  transition: background-color 150ms ease-in-out;
}

.ArtifactRow:not(.selected):hover {
  background-color: #e8eaf2;
}

.selected {
  background-color: #c7def5;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 12px;
}
.version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px;
  margin: 0 8px 0 4px;
}
.text {
  flex: 1 1 auto;
  overflow: hidden;
}
.version,
.text {
  transition: margin 150ms ease-in-out;
}
.ArtifactRow:hover {
  .version,
  .text {
    margin-top: -13px;
  }
}

.sha {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ArtifactRow.selected .sha {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c4b5f;
}

.name {
  font-size: 12px;
  font-style: italic;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.statuses {
  flex: 1 0 auto;
  margin-right: 4px;
}

.stages {
  display: flex;
  position: absolute;
  height: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: height 150ms ease-in-out;
}

.stage {
  display: flex;
  flex: 1 1 auto;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 2px;
  text-transform: uppercase;
  transition: background-color 150ms ease-in-out;

  &.current {
    background-color: var(--color-status-success);
  }

  &.approved {
    background-color: var(--color-status-info);
  }

  &.deploying {
    background-color: var(--color-status-progress);
  }

  &.pending,
  &.skipped {
    background-color: var(--color-alabaster);
  }

  &.previous {
    background-color: #dbcec8;
  }

  &.vetoed {
    background-color: var(--color-status-error);
  }
}

.stage:last-child {
  margin-right: 0;
}

.stageName {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 150ms ease-in-out;
}

.ArtifactRow:not(.selected):hover {
  .stage.pending,
  .stage.skipped {
    background-color: #e8eaf2;
  }
}

.ArtifactRow.selected {
  .stage.pending,
  .stage.skipped {
    background-color: #c7def5;
  }
}

.ArtifactRow:hover {
  .stages {
    height: 21px;
  }

  .stageName {
    opacity: 1;
  }
}
