.ArtifactRow {
  height: 48px;
  display: block;
  cursor: pointer;
}
.ArtifactRow:not(.selected):hover {
  background-image: linear-gradient(to bottom, rgba(160, 180, 220, 0.15), rgba(160, 180, 220, 0.15));
}

.selected {
  background-color: var(--color-white);
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 4px;
}
.version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px;
  margin: 0 8px 0 4px;
}
.text {
  flex: 1 1 auto;
  overflow: hidden;
}
.sha {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.name {
  font-size: 12px;
  font-style: italic;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.statuses {
  flex: 1 0 auto;
  margin-right: 4px;
}

.stages {
  display: flex;
  height: 6px;
  padding-bottom: 2px;
}

.stage {
  flex: 1 1 auto;
  margin-right: 2px;

  &.current {
    background-color: var(--color-status-success);
  }

  &.approved {
    background-color: var(--color-status-info);
  }

  &.deploying {
    background-color: var(--color-status-progress);
  }

  &.pending {
    background-color: var(--color-status-inactive);
  }

  &.skipped {
    background-color: var(--color-status-inactive);
  }

  &.previous {
    background-color: var(--color-status-neutral);
  }

  &.vetoed {
    background-color: var(--color-status-error);
  }
}

.stage:last-child {
  margin-right: 0;
}
