// TODO (erik): this is a bunch of custom styles for a button.
// really it should be a real button component we put somewhere central.
// for now it's entirely experimental and might totally go away
// or be replaced.

.action-button {
  color: rgb(90, 95, 180);
  background-color: transparent;
  font-size: 16px;
  border: 1px solid rgb(90, 95, 180);
  border-radius: 2px;
  padding: 4px 20px;
  transition: all 90ms ease-in;
}

.action-button-primary {
  background-color: rgb(90, 95, 180);
  color: var(--color-white);
}

.action-button:not([disabled]) {
  cursor: pointer;
}

.action-button[disabled] {
  cursor: not-allowed;
  opacity: 0.66;
}

.action-button:not([disabled]):hover {
  transform: scale(1.03);
  background-color: rgba(90, 95, 180, 0.15);
}

.action-button-primary:not([disabled]):hover {
  background-color: rgba(90, 95, 180, 0.66);
}

.action-button:not([disabled]):focus,
.action-button:not([disabled]):active {
  outline: none;
  transform: scale(1.04);
}

.action-button:not([disabled]):focus {
  box-shadow: 2px 2px 0px rgba(90, 95, 180, 0.66);
}

.action-button:not([disabled]):active {
  box-shadow: none !important;
  background-color: rgba(90, 95, 180, 0.66);
  color: var(--color-white);
}

.action-button-primary:not([disabled]):active {
  background-color: rgba(90, 95, 180, 0.15);
  color: rgb(90, 95, 180);
}
