.ColumnHeader {
  background-color: rgb(100, 140, 175);
  display: flex;
  position: sticky;
  top: 0;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 2px;
}

.icon {
  flex: 0 0 24px;
  margin-left: 16px;
}

.text {
  flex: 1 1 1px;
  text-align: center;
  margin: 0 16px;
}
