.Environments2 {
  width: 100%;
  padding: 0 var(--l-spacing);
  --base-horizontal-padding: var(--xl-spacing);

  a,
  .btn-link {
    color: var(--color-text-link-g1);

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }

    &:focus {
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
