.EnvironmentBadge {
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: #666666;

  &.critical {
    background-color: #be0000;
  }

  &.small,
  &.extraSmall {
    font-size: 12px;
  }

  &.medium {
    font-size: 14px;
  }
}
