.ManagedResourceHistoryModal {
  width: 100%;

  .event-type,
  .event-type-icon {
    color: var(--color-charcoal);
  }

  .event-type-icon {
    font-size: 24px;
  }

  .where-column-arrow {
    display: inline-block;
    width: 4px;
    height: 6px;
    margin: 0 8px;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent var(--color-nobel);
  }

  .event-warning-message {
    color: var(--color-alert);
  }

  .event-error-message {
    color: var(--color-danger);
  }

  .loading-error-message {
    color: var(--color-danger);
  }
}
