.ManagedResourceHistoryModal {
  width: 100%;

  .event-type,
  .event-type-icon {
    color: var(--color-charcoal);
  }

  .event-type-icon {
    font-size: 24px;
  }

  .event-warning-message {
    color: var(--color-alert);
  }

  .event-error-message {
    color: var(--color-danger);
  }

  .loading-error-message {
    color: var(--color-danger);
  }
}
