.NoticeCard {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 13px;
  margin-bottom: 16px;
  color: #444;
}
.NoticeCard.active {
  background-color: #e7e7e7;
}
.NoticeCard.error {
  background-color: #fff0a0;
}

.iconContainer {
  flex: 0 0 40px;
  height: 40px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  color: #ffffff;

  .icon {
    font-size: 24px;
  }
}

.iconContainer.success {
  background-color: #00b237;
}

.iconContainer.neutral {
  background-color: var(--color-nobel);
}

.iconContainer.info {
  background-color: var(--color-status-info);
}

.iconContainer.error {
  background-color: var(--color-status-error);
}

.title {
  font-weight: bold;
  flex: 1 1 1px;
  min-height: 24px;
  margin-top: 12px;
}

.text {
  flex: 0 0 100%;
  margin-top: 8px;
  align-self: center;
}
