.Pill {
  display: inline-block;
  border-radius: 16px;
  padding: 0 10px 1px 9px;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
