.StatusCard {
  border-radius: 3px;
  font-size: 13px;
  color: var(--color-charcoal);

  &.status-card-inactive {
    color: #666;
  }

  &.status-card-neutral {
    background-color: var(--color-status-neutral-light);
  }

  &.status-card-info {
    background-color: var(--color-status-info-light);
  }

  &.status-card-progress {
    background-color: var(--color-status-progress-light);
  }

  &.status-card-success {
    background-color: var(--color-status-success-light);
  }

  &.status-card-warning {
    background-color: var(--color-status-warning-light);
  }

  &.status-card-error {
    background-color: var(--color-status-error-light);
  }

  &.status-card-archived {
    background-color: var(--color-status-archived-light);
  }
}
