execution-filters {
  width: 100%;
  display: flex;
  .sortable {
    .glyphicon-resize-vertical {
      display: inline-block;
      margin-left: -14px;
      opacity: 0.7;
      font-size: 80%;
    }
  }
}