<div class="filters-content">
  <div class="heading">
    <h3>
      Filters
      <span class="btn btn-default btn-light"
                    ng-click="vm.clearFilters()">Clear All</span>
    </h3>
    <collapsible-section heading="Search" expanded="true" help-key="executions.search">
      <form class="form-horizontal" role="form">
        <div class="form-group nav-search">
          <input type="search" class="form-control input-sm" ng-model="sortFilter.filter"
                 ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
                 ng-change="vm.updateExecutionGroups()" style="width: 85%; display: inline-block">
        </div>
      </form>
    </collapsible-section>
  </div>
  <div class="content">

    <collapsible-section heading="View" expanded="true">
      <div class="form"
           ng-model="vm.application.pipelineConfigs"
           ui-sortable="vm.pipelineSortOptions">
        <div ng-repeat="pipeline in vm.pipelineNames" class="checkbox sortable">
          <div>
            <label>
              <span
                ng-if="!vm.viewState.pipelineReorderDisabled"
                class="glyphicon glyphicon-resize-vertical"></span>
              <input type="checkbox"
                     ng-disabled="!vm.viewState.pipelineReorderDisabled"
                     ng-show="vm.viewState.pipelineReorderDisabled"
                     ng-model="sortFilter.pipeline[pipeline]"
                     ng-change="vm.updateExecutionGroups()"/>
              {{pipeline}}
            </label>
          </div>
        </div>
        <div>
          <a class="btn btn-xs btn-default" href
             ng-if="vm.viewState.pipelineReorderDisabled"
             ng-click="vm.enablePipelineReorder()">Reorder Pipelines</a>
          <a class="btn btn-xs btn-default" href
             ng-if="!vm.viewState.pipelineReorderDisabled"
             ng-click="vm.disablePipelineReorder()">Done</a>
        </div>
      </div>
    </collapsible-section>

    <collapsible-section heading="Status" expanded="true">
      <div class="form">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.RUNNING"
                   ng-change="vm.updateExecutionGroups()"/>
            Running
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.FAILED"
                   ng-change="vm.updateExecutionGroups()"/>
            Failed
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.COMPLETED"
                   ng-change="vm.updateExecutionGroups()"/>
            Completed
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.NOT_STARTED"
                   ng-change="vm.updateExecutionGroups()"/>
            Not Started
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.CANCELED"
                   ng-change="vm.updateExecutionGroups()"/>
            Canceled
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="sortFilter.status.STOPPED"
                   ng-change="vm.updateExecutionGroups()"/>
            Stopped
          </label>
        </div>
      </div>
    </collapsible-section>

  </div>
</div>