@import (reference) '~core/presentation/less/imports/commonImports.less';

.nav-popover {
  font-weight: 600;
  color: var(--color-mineshaft);
  .small {
    color: var(--color-mineshaft);
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--color-mineshaft);
    text-decoration: none;
  }
}
.nav-popover-menu {
  top: 45px;
  font-size: 60%;
  position: absolute;
  min-width: 200px;
  z-index: 12;
  background-color: var(--color-white);
  box-shadow: 0 0 12px var(--color-dovegray);
  .list-group-item {
    border-radius: 0;
  }
}
