<form ng-controller="titanServerGroupCapacityCtrl" class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <titan-server-group-capacity-selector command="command"></titan-server-group-capacity-selector>
    <div class="modal-footer">
      <button class="btn btn-default pull-left"
              ng-click="wizard.previousPage(form.$valid)">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
      <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                     label="command.viewState.submitButtonLabel"
                     submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
      <button class="btn btn-primary"
              ng-disabled="form.$invalid"
              ng-click="wizard.nextPage(form.$valid)">
        Job Parameters <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</form>
