<form name="form" class="container-fluid form-horizontal" ng-controller="titanServerGroupParametersCtrl as ctrl" novalidate>
  <div class="modal-body">
    <div class="form-group row">
      <div class="col-sm-3 sm-label-left">Job Parameters (Env)</div>
      <div class="col-sm-9">
        <textarea ng-model="command.env"
                  class="form-control"
                  rows="8"
                  placeholder="Enter Titan job environment variables as key-value pairs per each line"
            ></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                   label="command.viewState.submitButtonLabel"
                   submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
  </div>
</form>
