<div class="load-balancer-server-group">
  <a
    ui-sref=".serverGroup({region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name})"
    ui-sref-active="active">
    <span class="glyphicon glyphicon-th"></span> {{serverGroup.name}}
  </a>
  <health-counts container="serverGroup"></health-counts>
  <div class="instances" ng-if="sortFilter.showAllInstances">
    <a class="instance health-status-{{instance.healthStatus}}"
       ng-repeat="instance in serverGroup.instances | orderBy:'launchTime'"
       tooltip="{{instance.instanceId}}"
       ui-sref=".instanceDetails({instanceId: instance.instanceId })"
       ui-sref-active="active">
      <span class="sr-only">{{instance.instanceId}}</span></a>
  </div>
</div>
