<div ng-if="loadBalancers.length" class="rollup-title-cell rollup-title-cell-load-balancers" ng-class="{'overflowing': loadBalancers.length > maxDisplay}">
  <button
      class="btn btn-link btn-multiple-load-balancers clearfix link-inverse"
      ng-if="loadBalancers.length > maxDisplay"
      ng-click="popover.show = !popover.show; $event.stopPropagation();"
      tooltip="{{popover.show ? 'Hide' : 'Show'}} all {{loadBalancers.length}} load balancers">
    <span class="icon">
      <span class="icon-elb"></span>
    </span>
    <span class="badge counter">{{loadBalancers.length}}</span>
  </button>
  <div class="menu-load-balancers" ng-if="popover.show">
    <div>
      Load Balancers
    </div>
    <a
      ng-repeat="loadBalancer in loadBalancers | orderBy:'name'"
      ui-sref=".loadBalancerDetails({region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name, vpcId: loadBalancer.vpcId})"
      >{{loadBalancer.name}}
    </a>
  </div>
  <div class="btn-load-balancer" ng-if="loadBalancers.length <= maxDisplay">
    <button
       class="btn btn-link link-inverse"
       ng-repeat="loadBalancer in loadBalancers | orderBy:'name'"
       ui-sref=".loadBalancerDetails({region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name, vpcId: loadBalancer.vpcId})"
       ui-sref-active="active"
       tooltip="ELB: {{loadBalancer.name}}">
      <span class="icon-elb"></span>
    </button>
  </div>
</div>
