<div class="row rollup-entry"
     ng-class="{active: $state.includes('**.loadBalancer.**', {region: loadBalancer.region, account: loadBalancer.account, loadBalancer: loadBalancer.name})}">
  <div class="rollup-summary">
    <a class="title-link"
       ui-sref=".loadBalancerDetails({region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name})">
      <span class="icon icon-elb"></span> {{loadBalancer.name}}
      <account-tag account="loadBalancer.account" pad="left"></account-tag>
      <span ng-if="!displayOptions.showServerGroups">
        <health-counts container="loadBalancer.health"></health-counts>
      </span>
    </a>
  </div>
  <div class="rollup-details">
    <div ng-if="displayOptions.showServerGroups">
      <load-balancer-server-group
        ng-if="ctrl.displayServerGroup(serverGroup)"
        ng-repeat="serverGroup in loadBalancer.serverGroups | orderBy:'name'"
        display-options="displayOptions"
        server-group="serverGroup"></load-balancer-server-group>
    </div>
    <div ng-if="!displayOptions.showServerGroups && displayOptions.showInstances">
      <instances
        instances="loadBalancer.instances"
        render-instances-on-scroll="displayOptions.renderInstancesOnScroll"></instances>
    </div>
  </div>
</div>
