<h3>
  Load Balancers
  <span class="small">by</span>
  <span class="form-inline">
    <div class="form-group small">
      <select class="form-control input-sm"
              ng-model="sortField"
              ng-options="option.key as option.label for option in sortOptions">
      </select>
    </div>
  </span>
</h3>

<div class="sub-nav-item">
  <a ui-sref=".loadBalancers"
     ng-class="{active: $state.includes('**.loadBalancers.**') && !$state.includes('**.loadBalancer.**')}"
    >Show All Load Balancers</a>
</div>
<div class="sub-nav" ng-repeat="heading in getHeadings() | orderBy:'toString()'">
  <div class="sub-nav-item">
    <h4>{{heading}}</h4>
    <a ng-repeat="loadBalancer in getLoadBalancersFor(heading)"
       ui-sref="loadBalancer({loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: account})"
       ng-class="{active: $state.includes('**.loadBalancer.**', {loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: account} )}">
      {{getLoadBalancerLabel(loadBalancer)}} ({{getLoadBalancerSublabel(loadBalancer)}})</a>
  </div>
</div>
