<h3>
  Load Balancers
  <span class="small">by</span>
  <span class="form-inline">
    <div class="form-group small">
      <select class="form-control input-sm"
              ng-model="sortField"
              ng-options="option.key as option.label for option in sortOptions">
      </select>
    </div>
  </span>
</h3>

<div class="sub-nav-item show-all-link">
  <a ui-sref="."
     ng-class="{active: $state.includes('**.loadBalancers.**') && !$state.includes('**.loadBalancer.**')}"
    >Show All Load Balancers</a>
</div>
<div class="sub-nav" ng-repeat="heading in ctrl.getHeadings() | orderBy:'toString()'">
  <div class="sub-nav-item">
    <h4>{{heading | regionAbbreviator}}</h4>
    <a ng-repeat="loadBalancer in ctrl.getLoadBalancersFor(heading)"
       ui-sref=".loadBalancer({loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: loadBalancer.account})"
       ng-class="{active: $state.includes('**.loadBalancer.**', {loadBalancer: loadBalancer.name, loadBalancerRegion: loadBalancer.region, loadBalancerAccount: loadBalancer.account} )}">
      {{ctrl.getLoadBalancerLabel(loadBalancer)}} <health-counts container="loadBalancer.healthCounts"></health-counts>
      <span class="sublabel">{{ctrl.getLoadBalancerSublabel(loadBalancer) | regionAbbreviator}}</span></a>
  </div>
</div>
