<a class="visible-xs-block visible-sm-block"
   ui-sref=".loadBalancers"
   ng-class="{active: $state.includes('**.loadBalancers.**') && !$state.includes('**.loadBalancer.**')}"
  >Show All Load Balancers</a>
<div class="header clearfix">
  <h3>
    <span class="icon icon-elb"></span> {{loadBalancer.name}}
  </h3>
</div>

<div class="content rollup ">
  <h4>{{loadBalancer.region}}</h4>
  <div class="sub-group">
    <load-balancer load-balancer="loadBalancer" display-options="displayOptions"></load-balancer>
  </div>
</div>
