<div class="form-horizontal">
  <stage-config-field label="Preconditions">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Type</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="precondition in preconditions">
        <td>
          {{precondition.type|preconditionType}}
        </td>
        <td>
          <div ng-repeat="(key, val) in precondition.context">
            <strong>{{key | robotToHuman}}: </strong> {{val}}
          </div>
          <strong>Fail Pipeline: </strong> {{precondition.failPipeline}}
        </td>
        <td>
          <a class="btn btn-xs btn-link" href
             ng-click="preconditionListCtrl.editPrecondition(precondition, strategy)">Edit</a>
          <a class="btn btn-xs btn-link pad-left" href
             ng-click="preconditionListCtrl.removePrecondition(precondition)">Remove</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <button class="btn btn-block add-new" ng-click="preconditionListCtrl.addPrecondition(strategy)">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Precondition
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </stage-config-field>
</div>
