<form class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-3 sm-label-left">Name</div>
      <div class="col-md-7">
        <div class="input-group" ng-if="!state.loadBalancerNamesLoaded">
          <h5><span us-spinner="{radius:12, width:3, length: 6}"></span></h5>
        </div>
        <div class="input-group" ng-if="state.loadBalancerNamesLoaded">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="loadBalancer.clusterName"
                 ng-pattern="/^[a-zA-Z0-9\-]{1,32}$/"
                 validate-unique="usedLoadBalancerNames"
                 validate-ignore-case="true"
                 name="loadBalancerName"
                 required/>
          <span class="input-group-addon">-frontend</span>
        </div>
        <validation-error ng-if="form.loadBalancerName.$error.validateUnique" message="That name is already in use"></validation-error>
      </div>
    </div>
    <account-select-field component="loadBalancer" field="credentials" accounts="accounts" loading="!state.accountsLoaded" on-change="ctrl.accountUpdated()"></account-select-field>
    <region-select-field component="loadBalancer" field="region" account="loadBalancer.credentials" on-change="ctrl.regionUpdated()" regions="regions"></region-select-field>
    <availability-zone-select-field component="loadBalancer" field="regionZones" region="loadBalancer.region" availability-zones="availabilityZones"></availability-zone-select-field>
    <subnet-select-field component="loadBalancer" field="subnetType" region="loadBalancer.region" subnets="subnets" on-change="ctrl.subnetUpdated()"></subnet-select-field>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left"
            ng-click="ctrl.cancel()">Cancel
    </button>
    <button class="btn btn-primary"
            ng-disabled="!form.$valid || !state.accountsLoaded"
            ng-click="ctrl.submit()"><span class="glyphicon glyphicon-ok-circle"></span> Submit</button>
    <button class="btn btn-primary"
            ng-disabled="!form.$valid || loadBalancer.regionZones.length === 0"
            ng-click="wizard.markComplete('Location'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
