<div class="row rollup-entry sub-group">
  <div sticky-header class="rollup-summary">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-md-12">
          <div class="rollup-title-cell">
            <h5>
              <div class="{{grouping.cluster.category}}">
                <account-label-color account="{{parentHeading}}"></account-label-color>
                <span class="glyphicon glyphicon-th"></span>
                {{grouping.heading}}
                <health-counts container="grouping.cluster.instanceCounts"></health-counts>
              </div>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rollup-details">
    <div class="pod-subgroup" ng-repeat="subgroup in grouping.subgroups">
      <h6 class="subgroup-title"
          sticky-header added-offset-height="39">{{subgroup.heading}}</h6>
      <server-group
        ng-repeat="serverGroup in subgroup.serverGroups | orderBy:'-name'"
        ng-if="grouping.cluster.category === 'serverGroup'"
        server-group="serverGroup"
        cluster="serverGroup.cluster"
        application="application"
        has-discovery="grouping.hasDiscovery"
        has-load-balancers="grouping.hasLoadBalancers"
        parent-heading="subgroup.heading"></server-group>
    </div>
    <div class="permalinks text-right">
      <a ng-href="{{permalink}}" target="_blank" analytics-on="click" analytics-category="Cluster Pod" analytics-event="Permalink clicked">Permalink</a>
      <copy-to-clipboard text="{{host}}/{{permalink}}" tool-tip="Copy permalink to clipboard" analytics-label="Deep link to cluster"></copy-to-clipboard>
    </div>
  </div>
</div>
