<div class="row rollup-entry sub-group">
  <div sticky-header class="rollup-summary">
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-md-12">
          <div class="rollup-title-cell">
            <h5>
              <account-label-color account="{{parentHeading}}" provider="{{grouping.cluster.serverGroups[0].type}}"></account-label-color>
              <span class="glyphicon glyphicon-th"></span>
              {{grouping.heading}}
              <health-counts container="grouping.cluster"></health-counts>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rollup-details">
    <div class="pod-subgroup" ng-repeat="subgroup in grouping.subgroups">
      <h6 class="subgroup-title"
          sticky-header added-offset-height="39">{{subgroup.heading}}</h6>
      <server-group
        ng-repeat="serverGroup in subgroup.serverGroups | orderBy:'-name'"
        server-group="serverGroup"
        cluster="serverGroup.cluster"
        application="application"
        has-discovery="grouping.hasDiscovery"
        has-load-balancers="grouping.hasLoadBalancers"
        parent-heading="subgroup.heading"></server-group>
    </div>
    <div class="permalinks text-right">
      <a ng-href="{{permalink}}" target="_blank">Permalink</a>
      <copy-to-clipboard text="{{host}}/{{permalink}}" tool-tip="Copy permalink to clipboard"></copy-to-clipboard>
    </div>
  </div>
</div>
