<div class="row rollup-entry sub-group">
  <sticky-header>
    <div class="rollup-summary">
      <div class="rollup-title-cell">
        <account-label-color account="$ctrl.parentHeading"></account-label-color>
        <div class="pod-center">
          <div>
            <span class="glyphicon glyphicon-th"></span>
            {{$ctrl.grouping.heading}}
          </div>
          <entity-ui-tags component="$ctrl.grouping"
                          application="$ctrl.application"
                          entity-type="cluster"
                          page-location="pod"
                          class="inverse"
                          on-update="$ctrl.application.serverGroups.refresh()"></entity-ui-tags>
        </div>
        <health-counts container="$ctrl.grouping.cluster.instanceCounts"></health-counts>
        <div class="remove-button" ng-if="$ctrl.showCloseButton">
          <button class="btn btn-link" ng-click="$ctrl.close()" uib-tooltip="Remove cluster from view">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
  </sticky-header>
  <div class="rollup-details">
    <div class="pod-subgroup" ng-repeat="subgroup in $ctrl.grouping.subgroups">
      <sticky-header added-offset-height="36">
        <h6 class="subgroup-title">
          {{subgroup.heading}}
          <entity-ui-tags component="subgroup"
                          application="$ctrl.application"
                          entity-type="cluster"
                          page-location="pod"
                          on-update="$ctrl.application.serverGroups.refresh()"></entity-ui-tags>
        </h6>
      </sticky-header>
      <server-group
        ng-repeat="serverGroup in subgroup.serverGroups | orderBy:'-name'"
        ng-if="$ctrl.grouping.cluster.category === 'serverGroup'"
        server-group="serverGroup"
        cluster="serverGroup.cluster"
        application="$ctrl.application"
        has-discovery="$ctrl.grouping.hasDiscovery"
        has-load-balancers="$ctrl.grouping.hasLoadBalancers"
        parent-heading="subgroup.heading"></server-group>
    </div>
  </div>
</div>
