<div class="row fastProperty-wrapper">

  <div class="col-md-12" ng-if="!fp.properties" style="position: relative; height: 300px">
    <h1 us-spinner="{radius:30, width:8, length: 16}"></h1>
  </div>

  <div class="col-md-12 fastProperty" ng-if="fp.properties">
    <div class="row fp-header">
      <div class="col-md-3">
        <h3>Fast Properties</h3>
      </div>

      <div class="col-md-6">
        <form class="form form-inline">
          <div class="form-group">
            <!--<div class="col-md-12">-->
            <label >Filter </label>
            <input type="search"
                   style="width: 295px"
                   placeholder="Search properties"
                   class="form-control input-md search"
                   focus
                   ng-model="fp.filterString"
                   ng-change="fp.setFilteredProperties()"/>
          </div>
        </form>
      </div>

      <div class="col-md-3 ">
        <button type="button" class="btn btn-primary pull-right" ng-click="fp.newFastPropertyModal()">Start New Property Promotion</button>
      </div>
    </div>


     <div class="row content">

       <div class="rollout" ng-show="fp.promotions.length > 0">

         <div class="clickable" ng-click="fp.togglePromotionPane()">
           <span class="pull-left glyphicon glyphicon-chevron-{{fp.promotionPaneOpen ? 'down' : 'right'}}"></span>

           <h3>
             Rollouts
           <span class="badge" ng-if="( fp.promotions | filter:{state:'Running'}).length > 0">
            {{ (fp.promotions | filter:{state:'Running'}).length }}</span>
           </h3>
         </div>

         <div class="row" ng-if="fp.promotionPaneOpen">
           <div class="col-md-6 col-md-offset-4">
             <div class="btn-group">
               <label class="btn btn-sm btn-default" ng-model="fp.promotionStateFilter" ng-click="fp.updateStateFilter('')" uib-btn-radio="''">
                 <a href>All</a>
               </label>
               <label class="btn btn-sm btn-default" ng-model="fp.promotionStateFilter" ng-click="fp.updateStateFilter('Pending')" uib-btn-radio="'Pending'">
                 <a href><status-glyph item="{hasNotStarted: true}"></status-glyph> Pending</a>
               </label>
               <label class="btn btn-sm btn-default" ng-model="fp.promotionStateFilter" ng-click="fp.updateStateFilter('Running')" uib-btn-radio="'Running'">
                 <a href><status-glyph item="{isRunning: true}"></status-glyph> Running</a>
               </label>
               <label class="btn btn-sm btn-default" ng-model="fp.promotionStateFilter" ng-click="fp.updateStateFilter('Successful')" uib-btn-radio="'Successful'">
                 <a href><status-glyph item="{isCompleted: true}"></status-glyph> Successful</a>
               </label>
               <label class="btn btn-sm btn-default" ng-model="fp.promotionStateFilter" ng-click="fp.updateStateFilter('Failed')" uib-btn-radio="'Failed'">
                 <a href><status-glyph item="{isFailed: true}"></status-glyph> Failed</a>
               </label>
             </div>
           </div>

           <fast-property-promotion
             promotions="fp.promotions"
             filtered-promotions="fp.filteredPromotions"
             promotion-pane-open="fp.promotionPaneOpen"
             application="fp.application">

           </fast-property-promotion>
         </div>

       </div>


       <div ng-if="fp.filteredPage.length === 0" class="col-md-12 text-center">
         <h4>We couldn't find any properties for {{application.name}} <span ng-if="fp.filterString">with filter: <b>{{fp.filterString}}</b></span></h4>
       </div>


       <h3 ng-if="fp.filteredPage">Properties</h3>
       <div class="row" ng-if="fp.filteredPage">
         <div class="col-md-12">

           <div ng-repeat="(propKey, properties) in fp.filteredPage">
              <fast-property-pod key="propKey" values="properties" ></fast-property-pod>
           </div>

         </div>
       </div>
     </div>

    <div class="row pagination-footer">
      <div class="col-md-2">
        <select class="form-control input-sm"
                ng-model="fp.itemsPerPage"
                ng-options="i for i in [10, 25, 50, 100]"
                ng-change="fp.setFilteredProperties()">
        </select>
      </div>
      <div class="col-md-10">
        <uib-pagination class="pull-right"
                        ng-if="fp.filteredProps"
                        items-per-page="fp.itemsPerPage"
                        total-items="fp.filteredProps.length"
                        max-size="fp.pagination.maxSize"
                        ng-model="fp.pagination.currentPage"
                        ng-change="fp.setFilteredProperties()">

        </uib-pagination>
      </div>
    </div>

  </div>

</div>





