<div>
  <div>
    <select
      name="stacks"
      class="form-control input-sm"
      ng-model="fp.model"
      ng-change="fp.clusterChanged()"
      ng-if="!fp.freeFormClusterField"
    >

      <option value=""></option>
      <option
        ng-if="fp.allowNone"
        value="none"
        ng-selected="!fp.model">
        none
      </option>
      <option
        ng-repeat="cluster in fp.clusters || fp.getClusterList()"
        value="{{cluster}}"
        ng-selected="fp.model === cluster"
      >
        {{cluster}}
      </option>
    </select>

    <input
      type="text"
      ng-blur="fp.clusterChanged()"
      class="form-control input-sm"
      ng-if="fp.freeFormClusterField"
      ng-model="fp.model" />

  </div>

  <div class="pull-right">
    <a href ng-click="fp.toggleFreeFormClusterField()" ng-if="!fp.freeFormClusterField">Toggle for text input</a>
    <a href ng-click="fp.toggleFreeFormClusterField()" ng-if="fp.freeFormClusterField">Toggle for list of existing clusters </a>
  </div>
</div>
