
<div class="col-md-4 col-sm-12">
  <form class="form form-horizontal">
    <div class="form-group">
      <div class="col-md-12">
        <input type="search"
               placeholder="Search applications"
               class="form-control input-md"
               focus
               ng-model="rollout.applicationFilter"
               ng-change="rollout.filter()"/>
      </div>
    </div>
  </form>
</div>

<div class="col-md-5">
  <div class="btn-group">
    <label class="btn btn-sm btn-default" ng-model="rollout.promotionStateFilter" ng-click="rollout.updateStateFilter('')" uib-btn-radio="''">
      <a href>All</a>
    </label>
    <label class="btn btn-sm btn-default" ng-model="rollout.promotionStateFilter" ng-click="rollout.updateStateFilter('Pending')" uib-btn-radio="'Pending'">
      <a href><status-glyph item="{hasNotStarted: true}"></status-glyph> Pending</a>
    </label>
    <label class="btn btn-sm btn-default" ng-model="rollout.promotionStateFilter" ng-click="rollout.updateStateFilter('Running')" uib-btn-radio="'Running'">
      <a href><status-glyph item="{isRunning: true}"></status-glyph> Running</a>
    </label>
    <label class="btn btn-sm btn-default" ng-model="rollout.promotionStateFilter" ng-click="rollout.updateStateFilter('Successful')" uib-btn-radio="'Successful'">
      <a href><status-glyph item="{isCompleted: true}"></status-glyph> Completed</a>
    </label>
    <label class="btn btn-sm btn-default" ng-model="rollout.promotionStateFilter" ng-click="rollout.updateStateFilter('Failed')" uib-btn-radio="'Failed'">
      <a href><status-glyph item="{isFailed: true}"></status-glyph> Failed</a>
    </label>
  </div>
</div>

<fast-property-promotion promotions="rollout.promotions" filtered-promotions="rollout.filteredPromotions" read-only="true">

<div class="row">
  <div class="col-md-12">
    <table ng-if="rollout.promotions" class="table table-hover">
      <thead>
      <tr>

        <th width="10%">Application</th>
        <th width="10%" key="property" label="Created" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Property</th>
        <th width="20%" key="rolloutStarted" label="Updated" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Rollout Started</th>
        <th width="40%" key="status" label="Updated" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Status</th>

      </tr>
      </thead>
      <tbody>
      <tr class="clickable" ng-repeat="promotion in rollout.filteredPromotions">
        <td>
          <a ng-repeat="appId in promotion.scopes.from.appId.split(',')" ui-sref="home.applications.application.properties({ application: appId.toLowerCase() })">
            {{ appId }} <span ng-if="!$last">, </span>
          </a>
        </td>
        <td>
          {{ promotion.key }}
        </td>
        <td>
          {{ promotion.history[0].when | fastPropertyTime}}
        </td>
        <td>

          <div class="row">
            <div class="col-md-2">
              <div class="rollout-status pull-left">{{promotion.state}}</div>
            </div>
            <div class="col-md-8" style="height: 20px;" >
              <fast-property-progress-bar task="promotion"></fast-property-progress-bar>
            </div>
          </div>

        </td>
      </tr>
      </tbody>
    </table>


    <uib-pagination ng-if="fp.applications"
                total-items="fp.filteredCount()"
                max-size="fp.pagination.maxSize"
                ng-model="fp.pagination.currentPage">
    </uib-pagination>
  </div>

</div>
