
<div class="row" ng-show="fp.promotionPaneOpen && fp.promotions.length === 0">
  <div class="col-md-4 col-md-offset-4">
    <h4>
      No promotions have been created.
    </h4>
  </div>
</div>

<div class="row" ng-show="fpPromotion.promotionPaneOpen && fpPromotion.promotions.length > 0">
  <div class="col-md-12">
    <table ng-if="fpPromotion.promotions" class="table table-hover">
      <thead>
      <tr>
        <th width="2%"><!-- arrow --></th>
        <th width="10%" key="property" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Property</th>
        <th width="10%" key="property"  sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Strategy</th>
        <th width="10%" key="property"  sort-model="fp.sortModel" on-change="ctrl.filterApplications()">User</th>
        <th width="8%" key="rolloutStarted" label="Updated" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Rollout Started</th>
        <th width="50%" key="status" label="Updated" sort-model="fp.sortModel" on-change="ctrl.filterApplications()">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr class="clickable"
          ng-repeat-start="promotion in fpPromotion.filteredPromotions"
          ng-click="fpPromotion.toggleRolloutDetails(promotion)">
        <td>
          <span class="pull-left glyphicon glyphicon-chevron-{{fpPromotion.isRolloutDetailsOpen(promotion.id) ? 'down' : 'up'}}"></span>
        </td>
        <td>
          {{ promotion.key }}
        </td>
        <td>
          {{ promotion.strategy.name }}
        </td>
        <td>
          {{ promotion.email }}
        </td>
        <td>
          {{ promotion.history[0].when | fastPropertyTime}}
        </td>
        <td>
          <div class="row">
            <div class="col-md-2">
              <div class="rollout-status pull-left">{{promotion.state}}</div>
            </div>
            <div class="col-md-7">
              <fast-property-progress-bar task="promotion"></fast-property-progress-bar>
              <div>{{fpPromotion.getLastMessage(promotion)}}</div>
            </div>
            <div class="col-md-3" ng-if="!fpPromotion.readOnly">
              <span class="icon" ng-if="promotion.isPromoting"><span class="glyphicon icon-spinner glyphicon-spinning"></span></span>

                <span ng-if="promotion.strategy.name === 'naive'">
                  <button class="btn btn-primary btn-xs" ng-if="promotion.state === 'Running' && promotion.range.currentStep !== promotion.range.totalSteps" ng-click="fpPromotion.continue($event, promotion)" ng-disabled="promotion.isPromoting">continue</button>
                  <button class="btn btn-primary btn-xs" ng-if="promotion.state === 'Running' && promotion.range.currentStep === promotion.range.totalSteps" ng-click="fpPromotion.continue($event, promotion)" ng-disabled="promotion.isPromoting">finalize</button>
                  <button class="btn btn-danger btn-xs" ng-if="promotion.state === 'Running'" ng-click="fpPromotion.stop($event, promotion)" ng-disabled="promotion.isPromoting">rollback</button>
                  <a href
                     class="pull-right"
                     style="margin-top:2px;"
                     ng-click="fpPromotion.deletePromotion($event, promotion)"
                     uib-tooltip="Delete Promotion">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </span>

                <span ng-if="promotion.strategy.name === 'aca'">
                  <button class="btn btn-primary btn-xs" ng-if="promotion.state === 'Running' && promotion.range.currentStep === promotion.range.totalSteps" ng-click="fpPromotion.continue($event, promotion)" ng-disabled="promotion.isPromoting">finalize</button>
                  <button class="btn btn-danger btn-xs" ng-if="promotion.state === 'Running'" ng-click="fpPromotion.stop($event, promotion)" ng-disabled="promotion.isPromoting">rollback</button>
                  <a href
                     class="pull-right"
                     style="margin-top:2px;"
                     ng-click="fpPromotion.deletePromotion($event, promotion)"
                     uib-tooltip="Delete Promotion">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </span>

              </span>
            </div>
          </div>


          </div>
        </td>
      </tr>

      <tr class="history"
          ng-repeat="history in promotion.history"
          ng-if="fpPromotion.isRolloutDetailsOpen(promotion.id)" >
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{history.when | fastPropertyTime}}</td>
        <td colspan="2">{{fpPromotion.extractScopeFromHistoryMessage(history.message)}}</td>
      </tr>

      <tr
        class="history"
        ng-repeat-end
        ng-if="fpPromotion.isRolloutDetailsOpen(promotion.id)" >
        <td colspan="8">
          <div class="row" ng-if="promotion.strategy.name === 'aca'">
            <div class="col-md-6">
              <div class="panel panel-default">

                <div class="canary-container">
                  <div class="canary-column">
                    <h5><strong>Canary Config</strong></h5>
                    <b>Name:</b> {{promotion.canary.name}} <br>
                    <b>Duration:</b> {{promotion.canary.lifetimeHours}} hours <br>
                    <b>Success Criteria:</b> {{promotion.canary.canarySuccessCriteria.canaryResultScore}} <br>
                    <b>Results Strategy:</b> {{promotion.canary.combinedCanaryResultStrategy.toLowerCase()}}

                  </div>

                  <div class="canary-column">
                    <h5><strong>Analysis Config</strong></h5>
                    <b>Name:</b> <a href="http://canary.prod.netflix.net/ui/canaryTasks/{{promotion.startScope.env}}/{{promotion.canary.canaryAnalysisConfig.name}}" target="_blank">
                    {{promotion.canary.canaryAnalysisConfig.name}}
                  </a> <br>
                    <b>Warmup Period:</b> {{promotion.canary.canaryAnalysisConfig.beginCanaryAnalysisAfterMins}} <br>
                    <b>Interval:</b> {{promotion.canary.canaryAnalysisConfig.canaryAnalysisIntervalMins}} <br>
                    <b>Notification Hrs:</b> {{promotion.canary.canaryAnalysisConfig.notificationHours.join(', ')}} <br>
                    <b>Report To:</b> {{promotion.canaries[0].recipients.join(', ')}}<br>
                  </div>

                  <div class="canary-column">
                    <h5><strong>Health Check</strong></h5>
                    <b>Min Canary Score:</b> {{promotion.canary.canaryHealthCheckHandler.minimumCanaryResultScore}} <br>
                    <b>Unhealthy Canary:</b> <span ng-repeat="action in promotion.canary.actionsForUnhealthyCanary"><strong>{{action.action}}</strong>
                                          <span ng-if="action.delayBeforeActionInMins <= 0">
                                            immediately
                                          </span>
                                          <span ng-if="!(action.delayBeforeActionInMins <= 0)">
                                            after {{ action.delayBeforeActionInMins }} minutes
                                          </span>
                                        <span>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">

                <div class="row">
                  <div class="col-md-2">
                    <div class="score-large">
                      <canary-score health="promotion.canaries[0].health.health"
                                    result="promotion.canaries[0].canaryResult.overallResult"
                                    score="promotion.canaries[0].canaryResult.overallScore"
                      </canary-score>
                    </div>
                  </div>


                  <div class="col-md-10">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Deployment</th>
                          <th align="center">Canary Results</th>
                          <th>Duration</th>
                          <th>Report</th>
                          <th>Last Updated</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="canary in promotion.canaries">
                        <tr ng-repeat="canaryDeployment in canary.canaryDeployments">
                          <td>
                            <div ng-repeat="instance in canaryDeployment.canaryInstances">
                              {{instance}}
                            </div>

                          </td>
                          <td align="center">
                            <canary-score
                              health="canaryDeployment.health.health"
                              result="canaryDeployment.canaryAnalysisResult.result"
                              score="canaryDeployment.canaryAnalysisResult.score">
                            </canary-score>
                          </td>
                          <td>{{canaryDeployment.canaryAnalysisResult.timeDuration.durationString}}</td>
                          <td>
                            <a
                              target="_blank"
                              ng-href="{{canaryDeployment.canaryAnalysisResult.canaryReportURL}}"
                              ng-if="canaryDeployment.canaryAnalysisResult.canaryReportURL"
                              >
                              Canary Report
                            </a>
                          </td>

                          <td>{{canaryDeployment.canaryAnalysisResult.lastUpdated | timestamp }}</td>
                          <td><copy-to-clipboard text="{{canary.id}}" tool-tip="Copy canary id to clipboard"></copy-to-clipboard></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="well alert alert-info">
                      <div class="row">
                        <div class="col-md-2"><b>Launched:</b></div>
                        <div class="col-md-10">{{promotion.canaries[0].launchedDate | timestamp }}</div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"><b>Ended:</b></div>
                        <div class="col-md-10">{{promotion.canaries[0].endDate| timestamp }}</div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"><b>Status:</b></div>
                        <div class="col-md-10"><canary-status status="promotion.canaries[0].status.status"></canary-status></div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"><b>Message:</b></div>
                        <div class="col-md-10">{{promotion.canaries[0].status.reason}}</div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </td>

      </tr>



      </tbody>
    </table>
  </div>
</div>
