@import "~core/presentation/less/imports/commonImports.less";

.fast-property-table {
  th {
    .fa {
      padding-left: 2px;
    }
  }
}

.fast-property-wrapper {
  margin-left: 22px;
}

.scrollable-columns .nav-content.global-properties-container {
  width: 960px;
  margin-left: 0;
}

.fast-properties {
  .header {
    margin-bottom: 10px;
    h3 {
      display: inline-block;
      margin-right: 50px;
      padding-bottom: 0;
      line-height: 1;
    }
    label {
      padding: 0 5px 0 20px;
    }
    .form-group {
      padding-top: 2px;
    }
  }

  .rollup-title {
    margin-bottom: 10px;
    display: flex;
    .toggle {
      font-size: 80%;
      margin: 13px 10px 13px 0;
      flex: 0;
    }
    h4 {
      padding-left: 10px;
      flex: 1 1 auto;
      font-weight: 600;
    }
  }
  .fast-property-filter-tags {
    margin-top: 5px;
  }
  .properties-container {
    overflow-y: auto;
  }
}

.rollout {
  margin-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;

  .progress {
    margin-bottom: 5px;
  }

  .history {
    background: #eee;
    font-size: 90%;
  }

  h3>.badge {
    vertical-align: middle;
  }
}

.fp-scope-config-view .strike {
  text-decoration: line-through;
  color: red;
}

.modal-body {
  .col-md-8 {
    .select2-container {
      width: 266px !important;
    }
  }
}

.attention {
  color: @unhealthy_red;
}
