<div class="details-panel">

  <div class="header" ng-if="!details.property">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h4 class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>


  <div class="header" ng-if="details.property">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <h3 select-on-dbl-click>
        {{details.property.key}}
      </h3>
    </div>

    <!-- TODO: commenting out for now until we figure out how migrations are going to work-->
    <!--<div>-->
      <!--<div class="actions">-->
        <!--<div class="dropdown" uib-dropdown dropdown-append-to-body>-->
          <!--<button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>-->
          <!--Property Actions</button>-->
          <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu">-->
            <!--<li><a href ng-click="details.editFastProperty()">Edit</a></li>-->
            <!--<li><a href ng-click="details.delete()">Delete</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="content" ng-if="details.property">
    <collapsible-section heading="Fast Property Information" expanded="true">
      <dl class="dl-horizontal dl-wide">

        <dt>Description</dt>
        <dd>{{details.property.description}}</dd>

        <dt>Id</dt>
        <dd>{{details.property.propertyId}}</dd>

        <dt>Env</dt>
        <dd><account-tag account="details.property.env" pad="right"></account-tag><dd>

        <dt>Key<dt>
        <dd>{{details.property.key}}</dd>

        <dt>Value</dt>
        <dd>{{details.property.value}}</dd>

        <dt>Constraints</dt>
        <dd>{{details.property.constraints}}</dd>

        <dt>Source</dt>
        <dd>{{details.property.sourceOfUpdate}}</dd>

        <dt>Email Notification</dt>
        <dd>{{details.property.email}}</dd>

        <dt>Last Updated By</dt>
        <dd>{{details.property.updatedBy}}</dd>

        <dt>Undated On</dt>
        <dd>{{details.property.ts | fastPropertyTime}}</dd>

        <dt>CMC Ticket</dt>
        <dd>{{details.property.cmcTicket}}</dd>
      </dl>
    </collapsible-section>

    <collapsible-section heading="Scope" expanded="true">
      <dl class="dl-horizontal dl-wide">
        <dt>App</dt>
        <dd>{{details.property.appId}}</dd>

        <dt ng-if="details.property.region">Region</dt>
        <dd ng-if="details.property.region">{{details.property.region}}</dd>

        <dt ng-if="details.property.cluster">Cluster</dt>
        <dd ng-if="details.property.cluster">{{details.property.cluster}}</dd>

        <dt ng-if="details.property.stack">Stack</dt>
        <dd ng-if="details.property.stack">{{details.property.stack}}</dd>

        <dt ng-if="details.property.asg">ASG</dt>
        <dd ng-if="details.property.asg">{{details.property.asg}}</dd>

        <dt ng-if="details.property.zone">Zone</dt>
        <dd ng-if="details.property.zone">{{details.property.zone}}</dd>

        <dt ng-if="details.property.serverId">Instance</dt>
        <dd ng-if="details.property.serverId">{{details.property.serverId}}</dd>

      </dl>
    </collapsible-section>
  </div>
</div>

