<div>
  <div ng-if="state.requiresTemplateSelection">
    <ng-include src="pages.templateSelection"></ng-include>
  </div>
  <div ng-if="!state.requiresTemplateSelection" ng-class="{'highlight-pristine' : command.viewState.mode === 'editPipeline'}">
    <div ng-if="!state.loaded" style="height: 200px">
      <h3 us-spinner="{radius:30, width:8, length: 16}"></h3>
    </div>
    <v2-modal-wizard ng-if="state.loaded" heading="{{title}}" task-monitor="taskMonitor" dismiss="$dismiss()">
      <v2-wizard-page key="location" label="Basic Settings">
        <ng-include src="pages.basicSettings"></ng-include>
      </v2-wizard-page>
      <v2-wizard-page key="resources" label="Resources">
        <ng-include src="pages.resources"></ng-include>
      </v2-wizard-page>
      <v2-wizard-page key="capacity" label="Capacity">
        <ng-include src="pages.capacity"></ng-include>
      </v2-wizard-page>
      <v2-wizard-page key="loadBalancers" label="Load Balancers" mandatory="false">
        <ng-include src="pages.loadBalancers"></ng-include>
      </v2-wizard-page>
      <v2-wizard-page key="securityGroups" label="{{firewallsLabel}}" mandatory="false">
        <ng-include src="pages.securityGroups"></ng-include>
      </v2-wizard-page>
      <v2-wizard-page key="parameters" label="Advanced Settings" mandatory="false">
        <ng-include src="pages.parameters"></ng-include>
      </v2-wizard-page>
    </v2-modal-wizard>
    <div class="modal-footer">
      <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel
      </button>
      <submit-button ng-if="ctrl.showSubmitButton()"
                     is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                     label="command.viewState.submitButtonLabel"
                     submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
    </div>
  </div>
</div>
