<div class="rollup-row load-balancer-server-group" ng-class="{disabled: serverGroup.isDisabled}">
  <a
    ui-sref=".serverGroup({region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name, provider: serverGroup.type})"
    ui-sref-active="active">
    <span class="icon icon-server-group icon-{{serverGroup.type}} small"></span> {{serverGroup.name}}
  </a>
  <span ng-if="!serverGroup.isDisabled">
    <health-counts container="serverGroup"></health-counts>
  </span>
  <div ng-if="displayOptions.showInstances">
    <instances instances="serverGroup.instances"></instances>
  </div>
</div>
