<div class="row rollup-entry clickable"
     ng-class="{active: $state.includes('**.loadBalancerDetails', {region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name, vpcId: loadBalancer.vpcId, provider: loadBalancer.provider})}"
     ng-click="loadDetails($event)">
  <div class="rollup-summary">
    <div class="rollup-title-cell">
      <h5>
        <span class="account-tag account-tag-{{loadBalancer.account}}">{{loadBalancer.account}}</span>
        <span class="icon icon-elb"></span> {{loadBalancer.name}}
        <span ng-if="!displayOptions.showServerGroups">
          <health-counts container="loadBalancer.healthCounts"></health-counts>
        </span>
      </h5>
    </div>
  </div>

  <div class="rollup-details">
    <div ng-if="displayOptions.showServerGroups">
      <load-balancer-server-group
        ng-if="displayServerGroup(serverGroup)"
        ng-repeat="serverGroup in loadBalancer.serverGroups | orderBy:'-name'"
        display-options="displayOptions"
        server-group="serverGroup"></load-balancer-server-group>
    </div>
    <div ng-if="!displayOptions.showServerGroups && displayOptions.showInstances">
      <instances
        instances="loadBalancer.instances"
        render-instances-on-scroll="displayOptions.renderInstancesOnScroll"></instances>
    </div>
  </div>
</div>
