<div class="row rollup-entry clickable"
     ng-class="{active: $state.includes('**.loadBalancerDetails', {region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name, vpcId: loadBalancer.vpcId, provider: loadBalancer.provider})}"
     ng-click="loadDetails($event)">
  <div class="rollup-summary">
    <div class="rollup-title-cell">
      <h5>
        <account-label-color account="{{loadBalancer.account}}" provider="{{loadBalancer.type}}"></account-label-color>
        <span class="icon icon-elb"></span> {{loadBalancer.name}}
        <health-counts container="loadBalancer.healthCounts"></health-counts>
      </h5>
    </div>
  </div>

  <div class="rollup-details">
    <div ng-if="displayOptions.showServerGroups">
      <load-balancer-server-group
        ng-if="displayServerGroup(serverGroup)"
        ng-repeat="serverGroup in loadBalancer.serverGroups | orderBy:'-name'"
        display-options="displayOptions"
        load-balancer="loadBalancer"
        server-group="serverGroup"></load-balancer-server-group>
    </div>
    <div ng-if="!displayOptions.showServerGroups && displayOptions.showInstances">
      <instances instances="loadBalancer.instances"></instances>
    </div>
  </div>
</div>
