<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Application Management</h3>
        </div>
        <div class="panel-body">
          <p>You can edit the owner, PagerDuty API Key, or description of this application</p>
          <button class="btn btn-link" ng-click="config.editApplication()"><span class="glyphicon glyphicon-cog"></span>
            Edit Application
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          <p>You can edit notification settings for this application</p>

          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed">
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Details</th>
                  <th>Notify When</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="notification in config.notifications">
                  <td>
                    {{notification.type|notificationType}}
                  </td>
                  <td>
                    {{notification.address}}
                  </td>
                  <td>
                    <div ng-repeat="when in notification.when">{{when|notificationWhen}}</div>
                  </td>
                  <td>
                    <a class="btn btn-xs btn-link" href ng-click="config.editNotification(notification)">Edit</a>
                    <a class="btn btn-xs btn-link pad-left" href
                       ng-click="config.removeNotification(notification)">Remove</a>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7">
                    <button class="btn btn-block btn-sm add-new" ng-click="config.addNotification()">
                      <span class="glyphicon glyphicon-plus-sign"></span> Add notification setting
                    </button>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="row pipeline-footer ng-scope">
            <div class="col-md-3">
              <button class="btn btn-default" ng-click="config.revertNotificationChanges()"
                      ng-if="config.isNotificationsDirty"
                      style="visibility: visible;"><span class="glyphicon glyphicon-flash"></span> Revert
              </button>
            </div>
            <div class="col-md-9 text-right">
              <button class="btn btn-primary ng-scope" ng-if="config.isNotificationsDirty""
                      ng-click="config.saveNotifications()">
                <span class="glyphicon glyphicon-ok-circle"></span> Save Changes
                </span></button>
                <span ng-if="config.isNotificationsDirty === false" class="btn btn-link disabled ng-scope"><span class="glyphicon glyphicon-ok-circle"></span> In sync with server</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cache Management</h3>
        </div>
        <div class="panel-body">

          <p>We use local storage to speed up performance throughout the application.
          </p>

          <p>If you're not seeing one of those in a dropdown, it may be because our cached versions are too old.</p>

          <div class="row">
            <div class="col-md-3 col-md-offset-1"><strong>Cache Type</strong></div>
            <div class="col-md-3"><strong>Last Updated</strong></div>
            <div class="col-md-1 text-center"><strong>Refresh</strong></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Accounts</div>
            <div class="col-md-3">{{config.getCacheInfo('credentials').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('credentials')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['credentials']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Applications</div>
            <div class="col-md-3">{{config.getCacheInfo('applications').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('applications')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['applications']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Instance Types</div>
            <div class="col-md-3">{{config.getCacheInfo('instanceTypes').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('instanceTypes')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['instanceTypes']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Key Pairs</div>
            <div class="col-md-3">{{config.getCacheInfo('keyPairs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('keyPairs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['keyPairs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Load Balancers</div>
            <div class="col-md-3">{{config.getCacheInfo('loadBalancers').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('loadBalancers')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['loadBalancers']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Security Groups</div>
            <div class="col-md-3">{{config.getCacheInfo('securityGroups').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('securityGroups')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['securityGroups']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Subnets</div>
            <div class="col-md-3">{{config.getCacheInfo('subnets').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('subnets')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['subnets']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">VPCs</div>
            <div class="col-md-3">{{config.getCacheInfo('vpcs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('vpcs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['vpcs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Build Masters</div>
            <div class="col-md-3">{{config.getCacheInfo('buildMasters').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('buildMasters')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['buildMasters']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Build Jobs</div>
            <div class="col-md-3">{{config.getCacheInfo('buildJobs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('buildJobs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['buildJobs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top:20px">
            <div class="col-md-10">
              <button class="btn btn-link" ng-if="!config.clearingCaches" ng-click="config.refreshCaches()"><span
                class="glyphicon glyphicon-refresh"></span>
                Refresh all caches
              </button>
              <p ng-if="config.clearingCaches"><span class="glyphicon glyphicon-refresh glyphicon-spinning"></span>
                Refreshing
                caches...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Delete Application</h3>
        </div>
        <div class="panel-body">
          <p ng-if="!config.hasServerGroups">
            Deleting the application only removes the associated metadata around the application.
            It will <strong>not</strong> delete any security groups, load balancers, or pipeline configurations you
            may have created.
          </p>

          <p ng-if="config.hasServerGroups">
            You cannot delete this application because it has server groups.
          </p>
          <button class="btn btn-link" ng-click="config.deleteApplication()" ng-if="!config.hasServerGroups"><span
            class="glyphicon glyphicon-trash"></span>
            Delete Application
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
