<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Application Management</h3>
      </div>
      <div class="panel-body">
        <p>You can edit the owner, PagerDuty API Key, or description of this application</p>
        <button class="btn btn-link" ng-click="config.editApplication()"><span class="glyphicon glyphicon-cog"></span>
          Edit Application
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cache Management</h3>
      </div>
      <div class="panel-body">

        <p>We use local storage to speed up performance of the following items:
        </p>
        <ul>
          <li>Accounts</li>
          <li>Applications</li>
          <li>Instance Types</li>
          <li>Security Groups</li>
          <li>Subnets</li>
          <li>VPCs</li>
        </ul>
        <p>If you're not seeing one of those in a dropdown, it may be because our cached versions are too old.</p>
        <button class="btn btn-link" ng-if="!config.clearingCaches" ng-click="config.refreshCaches()"><span
          class="glyphicon glyphicon-refresh"></span>
          Refresh caches
        </button>
        <p ng-if="config.clearingCaches"><span class="glyphicon glyphicon-refresh glyphicon-spinning"></span> Refreshing
          caches...</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Delete Application</h3>
      </div>
      <div class="panel-body">
        <p ng-if="!config.hasServerGroups">
          Deleting the application only removes the associated metadata around the application.
          It will <strong>not</strong> delete any security groups, load balancers, or pipeline configurations you
          may have created.
        </p>
        <p ng-if="config.hasServerGroups">
          You cannot delete this application because it has server groups.
        </p>
        <button class="btn btn-link" ng-click="config.deleteApplication()" ng-if="!config.hasServerGroups"><span
          class="glyphicon glyphicon-trash"></span>
          Delete Application
        </button>
      </div>
    </div>
  </div>
</div>
