<div class="row">
  <div class="col-md-7">
    <button class="btn btn-link" ng-click="config.editApplication()"><span class="glyphicon glyphicon-cog"></span>
      Edit Application
    </button>

    <button class="btn btn-link" ng-click="config.deleteApplication()" ng-disabled="config.hasServerGroups"><span class="glyphicon glyphicon-trash"></span>
      Delete Application
    </button>
    <help-field ng-if="config.hasServerGroups" content="You cannot delete an application while it has server groups."></help-field>
  </div>
</div>
