<div class="row" ng-if="vm.verification.required">
  <div class="col-sm-12">
    <hr/>
    <h4 class="confirmation-modal">Type the name of the account ( <account-tag account="vm.account"></account-tag> ) below to continue.</h4>
  </div>
  <div class="col-sm-offset-1 col-sm-10">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="vm.verification.verifyAccount" class="form-control input-sm highlight-pristine"
               ng-class="{'ng-invalid': vm.verification.verifyAccount !== vm.account.toUpperCase()}"/>
      </div>
    </div>
  </div>
</div>
