<ng-form name="advancedSettings" ng-controller="kubernetesServerGroupAdvancedSettingsController as advancedController">
  <div class="form-group form-horizontal">
    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        DNS Policy
        <help-field key="kubernetes.pod.dnsPolicy"></help-field>
      </div>
      <div class="col-md-7">
        <select
          class="form-control input-sm"
          ng-model="command.dnsPolicy"
          ng-options="option for option in advancedController.policies"
        >
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        Service Account Name
      </div>
      <div class="col-md-7">
        <input type="text" class="form-control input-sm" ng-model="command.serviceAccountName" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        Termination Grace Period
        <help-field key="kubernetes.serverGroup.terminationGracePeriodSeconds"></help-field>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input
            type="number"
            min="0"
            class="form-control input-sm"
            name="terminationGracePeriodSeconds"
            ng-model="command.terminationGracePeriodSeconds"
            required
          />
          <span class="input-group-addon">seconds</span>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <map-editor
        model="command.replicaSetAnnotations"
        label="Replica Set Annotations"
        add-button-label="Add Annotations"
        labels-left="true"
      ></map-editor>
    </div>

    <div class="col-md-12">
      <map-editor
        model="command.podAnnotations"
        label="Pod Annotations"
        add-button-label="Add Annotations"
        labels-left="true"
      ></map-editor>
    </div>

    <div class="col-md-12">
      <map-editor
        model="command.nodeSelector"
        label="Node Selector"
        add-button-label="Add Node Selector"
        labels-left="true"
      ></map-editor>
    </div>

    <div class="col-md-12">
      <kubernetes-tolerations
        tolerations="command.tolerations"
        on-toleration-change="advancedController.onTolerationChange"
      >
      </kubernetes-tolerations>
    </div>
  </div>
</ng-form>
