<form class="container-fluid form-horizontal" name="form" novalidate>
  <ng-form name="body">
    <div class="form-group">
      <div class="col-md-3 sm-label-right">
        Autoscaling
        <help-field key="kubernetes.serverGroup.autoscaling.enabled"></help-field>
      </div>
      <div class="col-md-2">
        <input type="checkbox" name="details" ng-model="command.viewState.useAutoscaler" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-right">
        Source Capacity
        <help-field key="kubernetes.serverGroup.useSourceCapacity.enabled"></help-field>
      </div>
      <div class="col-md-2">
        <input type="checkbox" name="details" ng-model="command.useSourceCapacity" />
      </div>
    </div>
    <div ng-show="!command.viewState.useAutoscaler">
      <div class="form-group">
        <div class="col-md-2 col-md-offset-3"></div>
      </div>
      <div ng-show="!command.useSourceCapacity">
        <div class="form-group">
          <div class="col-md-3 sm-label-right">
            Capacity
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control input-sm" name="details" ng-model="command.targetSize" />
          </div>
        </div>
      </div>
    </div>
    <div ng-show="command.viewState.useAutoscaler">
      <div class="form-group">
        <div class="col-md-2 col-md-offset-3">Min</div>
        <div class="col-md-2">Max</div>
        <div ng-show="!command.useSourceCapacity">
          <div class="col-md-2">Desired</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Capacity
        </div>
        <div class="col-md-2">
          <input
            type="number"
            class="form-control input-sm"
            name="details"
            ng-model="command.capacity.min"
            min="0"
            max="{{command.targetSize}}"
          />
        </div>
        <div class="col-md-2">
          <input
            type="number"
            class="form-control input-sm"
            name="details"
            ng-model="command.capacity.max"
            min="{{command.targetSize}}"
          />
        </div>
        <div ng-show="!command.useSourceCapacity">
          <div class="col-md-2">
            <input type="number" class="form-control input-sm" name="details" ng-model="command.targetSize" />
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          CPU Target
          <help-field key="kubernetes.serverGroup.autoscaling.cpuTarget"></help-field>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <!-- Current utilization is based on requested CPU: it can be larger than 100% -->
            <input
              type="number"
              class="form-control input-sm"
              name="details"
              ng-model="command.scalingPolicy.cpuUtilization.target"
              min="0"
            />
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</form>
