<div ng-controller="gceCloneServerGroupStageCtrl as cloneServerGroupStageCtrl">
  <div ng-if="!pipeline.strategy">
    <div ng-if="viewState.loading">
      <h4 class="text-center">
        <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
    </div>
    <div ng-if="!viewState.loading">
      <account-region-cluster-selector
        application="application"
        component="stage"
        accounts="accounts"
        single-region="true"
        cluster-field="targetCluster">
      </account-region-cluster-selector>
    </div>
  </div>
  <stage-config-field label="Target">
    <target-select model="stage" options="cloneServerGroupStageCtrl.cloneTargets"></target-select>
  </stage-config-field>
  <stage-config-field label="Traffic" help-key="gce.serverGroup.traffic">
    <div class="checkbox">
      <label>
        <input type="checkbox"
               ng-click="cloneServerGroupStageCtrl.toggleDisableTraffic()"
               ng-checked="!stage.disableTraffic"/>
        Send client requests to new instances
      </label>
    </div>
  </stage-config-field>
  <stage-platform-health-override application="application"
                                  stage="stage"
                                  platform-health-type="'Google'">
  </stage-platform-health-override>
  <deployment-strategy-selector label-columns="3" field-columns="6" command="stage"></deployment-strategy-selector>
</div>
