<stage-config-field label="Namespaces">
  <p ng-if="!vm.component.credentials" class="form-control-static">(Select an Account)</p>
  <select
    class="form-control input-sm"
    ng-if="vm.component.credentials"
    ng-model="vm.component.region"
    ng-change="vm.regionChanged()"
    ng-options="namespace for namespace in vm.namespaces"
    required
  >
  </select>
  <checklist
    ng-if="vm.component.credentials && !vm.singleRegion"
    items="vm.namespaces"
    model="vm.component.regions"
    inline="true"
    on-change="vm.namespaceChanged()"
    include-select-all-button="true"
  >
  </checklist>
</stage-config-field>
