<div modal-page>
  <form role="form">
    <div class="modal-header">
      <h3>Select Your Provider</h3>
    </div>
    <div class="modal-body">
      <div class="provider-options providers-{{providerOptions.length}}">
        <div class="provider" ng-repeat="provider in providerOptions">
          <button
            class="instance-profile provider-selection-logo"
            ng-class="{active: command.provider === provider}"
            ng-click="command.provider = provider"
          >
            <span is-visible="command.provider === provider" class="far fa-check-circle selected-indicator"></span>
            <div class="panel-heading">
              <h4 ng-style="{'background-image': 'url('+getImage(provider)+')'}">
                <span class="sr-only" ng-bind="provider"></span>
              </h4>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ctrl.selectProvider()" ng-disabled="!command.provider">
        <span class="glyphicon glyphicon-chevron-right"></span>
        Next
      </button>
    </div>
  </form>
</div>
