<div ng-controller="CloudfoundryDeployServiceStageCtrl as ctrl" class="form-horizontal cloudfoundry-deploy-service-stage">
  <stage-config-field label="Account">
    <account-select-field component="stage"
                          field="credentials"
                          provider="cloudfoundry"
                          on-change="onAccountChange()"
                          accounts="accounts">
    </account-select-field>
  </stage-config-field>
  <region-select-field label-columns="3"
                       component="stage"
                       field="region"
                       account="stage.credentials"
                       provider="cloudfoundry"
                       regions="regions">
  </region-select-field>
  <stage-config-field label="Service">
    <select class="form-control input-sm"
            required
            ng-change="onServiceChange()"
            ng-model="stage.service"
            ng-options="serv for serv in services">
    </select>
  </stage-config-field>
  <stage-config-field label="Service Plan">
    <select class="form-control input-sm"
            required
            ng-model="stage.servicePlan"
            ng-options="plan for plan in servicePlans">
    </select>
  </stage-config-field>
  <stage-config-field label="Service Name">
    <input type="text"
           required
           ng-model="stage.serviceName"/>
  </stage-config-field>
  <stage-config-field label="Tags">
     <input type="text" name="newTag" ng-model="stage.newTag" />
     <button class="btn btn-default btn-xs" ng-disabled="!stage.newTag" ng-click="addTag()">Add Tag</button>
    <div>
      <span class="badge badge-pill" ng-repeat="tag in stage.tags">
        {{tag}}
        <button type="button" class="close small" aria-label="Close" ng-click="deleteTag($index)">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
    </div>
  </stage-config-field>
  <stage-config-field label="Parameters">
    <textarea class="form-control" rows="5" ng-model="stage.parameters"/>
  </stage-config-field>
</div>
