<div class="form-group row" ng-if="$ctrl.fiatEnabled">
  <div class="col-sm-3 sm-label-right">Group Membership</div>
  <div class="col-sm-2">
    <ui-select multiple
               tagging
               tagging-label=""
               class="form-control input-sm"
               style="width: 200px;"
               ng-model="$ctrl.requiredGroupMembership">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="choice in []">
          {{choice}}
      </ui-select-choices>
    </ui-select>
  </div>
</div>
