.gce-instance-build-custom-select {
  margin-top: 5px;
  .gce-instance-build-custom-extended-memory-checkbox {
    display: flex;
  }
  .gce-instance-build-custom-extended-memory-checkbox-helptext {
    margin: 8px 0px 0px 3px;
  }
}
