<div class="rollup-pod-server-group clickable clickable-row"
     waypoint="{{viewModel.waypoint}}"
     ng-click="loadDetails($event)"
     ng-class="{
        disabled: viewModel.job.isDisabled,
        active: $state.includes('**.job', {region: viewModel.job.region, accountId: viewModel.job.account, job: viewModel.job.name, provider: viewModel.job.type})
     }">
  <div class="cluster-container">
    <div class="server-group-title" sticky-header added-offset-height="69"
         sticky-if="headerIsSticky()">
      <div class="container-fluid no-padding">
        <div class="row">
          <div class="col-md-8 col-sm-6 section-title">
            <input type="checkbox" ng-if="sortFilter.multiselect"
                   ng-checked="multiselectModel.jobIsSelected(job)"/>
            <cloud-provider-logo provider="viewModel.job.type" height="16px" width="16px"></cloud-provider-logo>
            <span class="server-group-sequence">{{ viewModel.jobSequence }}</span><span ng-if="viewModel.jenkins">:</span>
          </div>
          <div class="col-md-4 col-sm-6 text-right">
            <health-counts container="viewModel.job.instanceCounts"></health-counts>
            <running-tasks-tag
                ng-if="viewModel.job.runningTasks.length || viewModel.job.executions.length"
                application="application" tasks="viewModel.job.runningTasks" executions="viewModel.job.executions"></running-tasks-tag>
            <load-balancers-tag
                ng-if="viewModel.job.loadBalancers.length"
                server-group="viewModel.job" max-display="1"></load-balancers-tag>
          </div>
        </div>
      </div>
    </div>
    <div class="instance-list" ng-if="sortFilter.showAllInstances">
      <div ng-if="!sortFilter.listInstances">
        <instances highlight="sortFilter.filter" instances="viewModel.instances"></instances>
      </div>
      <div ng-if="sortFilter.listInstances">
        <instance-list instances="viewModel.instances"
                       sort-filter="sortFilter"
                       has-discovery="hasDiscovery"
                       server-group="viewModel.job"
                       has-load-balancers="hasLoadBalancers"></instance-list>
      </div>
    </div>
  </div>
</div>
