<div class="col-md-12" ng-if="vm.command.viewState.securityGroupDiffs.length">
  <div class="alert alert-warning">
    <p><span class="glyphicon glyphicon-warning-sign"></span>
      The following server groups in the same cluster have different security groups:
    </p>
    <ul>
      <li ng-repeat="securityGroupDiff in vm.command.viewState.securityGroupDiffs">
        <dl>
          <dt>
          <div ng-repeat="serverGroup in securityGroupDiff.serverGroups">
            {{serverGroup.region}}&nbsp;/&nbsp;{{serverGroup.autoScalingGroupName}}
          </div>
          </dt>
          <dd>
            <ul>
              <li ng-repeat="commonSecurityGroup in securityGroupDiff.commonSecurityGroups">
                {{commonSecurityGroup}}
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
    <p class="text-right">
      <a class="btn btn-sm btn-default dirty-flag-dismiss" href ng-click="vm.acknowledgeSecurityGroupDiff()">Okay</a>
    </p>
  </div>
</div>
