<div class="modal-footer">
  <button class="btn btn-default pull-left"
          ng-click="vm.wizard.previousPage(vm.form.$valid)">
    <span class="glyphicon glyphicon-chevron-left"></span> Back
  </button>
  <button ng-disabled="vm.taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="vm.cancel()">Cancel</button>
  <submit-button ng-if="vm.showSubmitButton()" is-disabled="vm.form.$invalid || !vm.isValid() || vm.taskMonitor.submitting"
                 label="vm.command.viewState.submitButtonLabel"
                 on-click="vm.submit()" is-new="true"></submit-button>
  <button class="btn btn-default"
          ng-disabled="vm.form.$invalid"
          ng-click="vm.wizard.nextPage(vm.form.$valid)">
    Advanced Settings <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
