<ng-form name="pubsubTriggerForm">
  <dl class="dl-horizontal dl-flex">
    <dd><i>{{ctrl.getTriggerEndpoint()}}</i></dd>
  </dl>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Source
      <help-field key="pipeline.config.trigger.webhook.source"></help-field>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control input-sm" ng-model="ctrl.trigger.source"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      Payload Constraints
      <help-field key="pipeline.config.trigger.webhook.payloadConstraints"></help-field>
    </div>
    <div class="col-md-6">
      <map-editor model="ctrl.trigger.payloadConstraints" add-button-label="Add payload constraint"></map-editor>
    </div>
  </div>
  <div class="form-group" ng-if="ctrl.fiatEnabled">
    <run-as-user-selector service-accounts="ctrl.serviceAccounts"
                          component="ctrl.trigger"
                          field="runAsUser">
    </run-as-user-selector>
  </div>
</ng-form>
