<div class="header row header-clusters">
  <div class="col-lg-9 col-md-10">
    <div class="form-inline clearfix filters">
      <div class="form-group">
        <label class="checkbox">Show </label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showServerGroups" ng-change="ctrl.updateSecurityGroups()" />
            Server Groups
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showLoadBalancers" ng-change="ctrl.updateSecurityGroups()" />
            Load Balancers
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-2">
    <div class="application-actions">
      <button class="btn btn-sm btn-default" ng-click="ctrl.createSecurityGroup()">
        <span class="glyphicon glyphicon-plus-sign visible-lg-inline"></span>
        <span
          class="glyphicon glyphicon-plus-sign visible-md-inline visible-sm-inline"
          uib-tooltip="Create {{firewallLabel}}"
        ></span>
        <span class="visible-lg-inline">Create <firewall-label label="Firewall"></firewall-label></span>
      </button>
    </div>
  </div>
  <filter-tags tags="tags" tag-cleared="ctrl.updateSecurityGroups" clear-filters="ctrl.clearFilters"></filter-tags>
</div>
<div class="content" data-scroll-id="securitygroups-content" sticky-headers ng-include="ctrl.groupingsTemplate"></div>
