<div class="row rollup-entry sub-group">
  <div class="rollup-summary sticky-header">
    <div class="rollup-title-cell">
      <div class="heading-tag">
        <account-tag account="parentHeading"></account-tag>
      </div>
      <div class="pod-center horizontal space-between flex-1 no-right-padding">
        <div>
          <span class="glyphicon glyphicon-transfer"></span>
          {{grouping.heading}}
        </div>
        <managed-resource-status-indicator
          class="flex-container-h"
          ng-if="grouping.isManaged"
          shape="'square'"
          resource-summary="grouping.managedResourceSummary"
        ></managed-resource-status-indicator>
      </div>
    </div>
  </div>
  <div class="rollup-details">
    <div class="pod-subgroup" ng-repeat="subgroup in grouping.subgroups">
      <security-group
        application="application"
        security-group="subgroup.securityGroup"
        parent-grouping="grouping"
        heading="subgroup.heading"
        sort-filter="sortFilter"
      ></security-group>
    </div>
  </div>
</div>
