<li class="global-search open">
  <form class="navbar-form right global-search">
    <div class="form-group has-feedback">
      <div class="input-group">
        <input type="search"
          class="form-control flat"
          placeholder="Search"
          ng-model="query"
          ng-focus="ctrl.displayResults()"
          ng-keyup="ctrl.dispatchQueryInput($event)"
          />
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
  </form>
  <ul class="uib-dropdown-menu"
      role="menu"
      ng-if="querying">
    <li class="loader">searching..</li>
  </ul>
  <ul class="uib-dropdown-menu"
      role="menu"
      ng-if="!querying && showRecentItems">
    <li ng-repeat-start="category in recentItems" class="category-heading">
      <div class="category-heading">Recent {{ category.category }}</div>
    </li>
    <li ng-repeat="result in category.results | limitTo: 5"
        ng-repeat-end
        ng-mouseover="ctrl.focussedResult = result"
        class="result">
      <a ng-keydown="ctrl.navigateResults($event)"
         ui-sref="{{ result.state }}(result.params)"
         ng-click="ctrl.hideResults()"
         ng-focus="ctrl.focussedResult = result">
        <search-result item="result"></search-result>
      </a>
    </li>
  </ul>
  <ul class="uib-dropdown-menu"
      role="menu"
      ng-if="!querying && showSearchResults">
    <li ng-repeat-start="category in categories | orderBy: 'order'" class="category-heading">
      <div class="category-heading">{{ category.category }}</div>
    </li>
    <li ng-repeat="result in category.results | searchRank: query | limitTo: 5"
        ng-repeat-end
        ng-mouseover="ctrl.focussedResult = result"
        class="result">
      <a ng-keydown="ctrl.navigateResults($event)" ng-click="ctrl.clearFilters(result)" href="{{ result.href }}"
         ng-focus="ctrl.focussedResult = result">
        <search-result item="result"></search-result>
      </a>
    </li>
    <li class="divider"></li>
    <li class="result" ng-if="categories.length">
    <a href="#/infrastructure?q={{ query }}"
         class="expand-results"
         ng-keydown="ctrl.navigateResults($event)"
         ng-show="categories.length">
           See more results
      </a>
    </li>
    <li class="result" ng-if="!categories.length">
      <a>No matches</a>
    </li>
  </ul>
</li>
