<li class="global-search open">
  <form class="navbar-form right global-search">
    <div class="form-group has-feedback">
      <div class="input-group">
        <input type="search"
          class="form-control flat"
          placeholder="Search"
          ng-model="query"
          ng-focus="ctrl.displayResults()"
          ng-keyup="ctrl.dispatchQueryInput($event)"
          />
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
  </form>
  <ul class="dropdown-menu"
      role="menu"
      ng-if="querying">
    <li class="loader">searching..</li>
  </ul>
  <ul class="dropdown-menu"
      role="menu"
      ng-if="!querying && showSearchResults">
    <li ng-repeat-start="category in categories | orderBy: 'order'" class="category-heading">
      <div class="category-heading">{{ category.category }}</div>
    </li>
    <li ng-repeat="result in category.results | searchRank: query | limitTo: 5"
        ng-repeat-end
        ng-mouseover="ctrl.focussedResult = result"
        class="result">
      <a ng-keydown="ctrl.navigateResults($event)" ng-click="ctrl.clearFilters(result)" href="{{ result.href }}"
         ng-class="{sublinked: result.sublinks}"
         ng-focus="ctrl.focussedResult = result">
        <search-result item="result"></search-result>
        <span class="small" ng-if="result.sublinks && ctrl.focussedResult === result">- {{result.sublinks[0].name}}</span>
      </a>
      <span class="small sublink-label" ng-if="result.sublinks && ctrl.focussedResult === result">jump to: </span>
      <span class="sublink-label" ng-repeat-start="sublink in result.sublinks.slice(1)"
            ng-show="ctrl.focussedResult === result && $index > 0">|</span>
      <a class="sublink small"
         ng-show="ctrl.focussedResult === result"
         ng-repeat-end
         ng-keydown="ctrl.navigateResults($event)" ng-click="ctrl.clearFilters(result)"
         href="{{ result.href + sublink.href }}">
        {{sublink.name}}
      </a>
    </li>
    <li class="divider"></li>
    <li class="result" ng-if="categories.length">
    <a href="#/infrastructure?q={{ query }}"
         class="expand-results"
         ng-keydown="ctrl.navigateResults($event)"
         ng-show="categories.length">
           See more results
      </a>
    </li>
    <li class="result" ng-if="!categories.length">
      <a>No matches</a>
    </li>
  </ul>
</li>
