<div class="form-group">
  <div class="col-md-{{labelColumns}} sm-label-left">Zone</div>
  <div class="col-md-7" ng-if="!account">(Select an account)</div>
  <div class="col-md-7">
    <!-- TODO(duftler): Once GoogleResourceRetriever or whatever replaces it queries all zones, this should be dynamically populated with the full list of zones. -->
    <select class="form-control input-sm"
            ng-if="account"
            ng-model="component.zone"
            ng-change="onChange()"
            required>
      <option ng-repeat="option in ['us-central1-a', 'us-central1-b']" value="{{option}}">{{option}}</option>
    </select>
  </div>
</div>
