@import (reference) "~core/presentation/less/imports/colors.less";

.blesk-wrapper {
  background-color: @pod_header_blue;
  flex: 0 0;
  #blesk {
    flex: 0 0 auto;
    padding: 0;
    .bleskOuter {
      z-index: 10;
      border-radius: 0;
      margin-bottom: -10px;
    }
    .blesk-ui-info {
      background-color: @lightest_grey;
      border-color: @spinnaker-link-color;
      color: @spinnaker-link-color;
    }
  }

}
