<h5 class="text-center" ng-if="!command.viewState.securityGroupsConfigured">Please select an account and region.</h5>
<div
  ng-if="command.viewState.securityGroupsConfigured"
  ng-controller="azureServerGroupSecurityGroupsCtrl as securityGroupCtrl"
>
  <div class="form-group">
    <div class="col-md-3 sm-label-right">
      <b><firewall-label label="Firewalls"></firewall-label></b>
    </div>
    <div class="col-md-7">
      <ui-select
        ng-model="command.selectedSecurityGroup"
        class="form-control input-sm"
        on-select="securityGroupCtrl.securityGroupChanged($item)"
      >
        <ui-select-match placeholder="select a {{firewallLabel}}">{{$select.selected.id}}</ui-select-match>
        <ui-select-choices
          repeat="securityGroup in command.backingData.filtered.securityGroups | anyFieldFilter: {name: $select.search, id: $select.search}"
        >
          <span ng-bind-html="securityGroup.id | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-9 col-md-offset-3">
      <p>
        <span ng-if="refreshing"><span class="fa fa-sync-alt fa-spin"></span></span>
        <firewall-label label="Firewalls"></firewall-label>
        <span ng-if="!refreshing">last refreshed {{ getSecurityGroupRefreshTime() | timestamp }}</span>
        <span ng-if="refreshing"> refreshing...</span>
      </p>
      <p>
        If you're not finding a <firewall-label label="firewall"></firewall-label> that was recently added,
        <a href ng-click="refreshSecurityGroups()">click here</a> to refresh the list.
      </p>
    </div>
  </div>
</div>
