[
  {% for image in results.images %}
  {
    {% set split = image.name.split(":") %}
    "reference": "{{ split[0] }}@{{ image.digest }}",
    "name": "{{ split[0] }}",
    "version": "{{ image.digest }}",
    "type": "docker/image"
  } {% if (not loop.last) or ((artifacts.objects.paths | length) > 0) %} , {% endif %} {% endfor %}

  {% set location = artifacts.objects.location %}
  {% for path in artifacts.objects.paths %}
    {
      "reference": "{{ location }}{{ path }}",
      "name": "{{ location }}{{ path }}",
      "version": "{{ location }}{{ path }}",
      "type": "gcs/object"
    } {% if not loop.last %} , {% endif %}{% endfor %}
]
