<div class="details-panel">

  <div ng-if="ctrl.state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h4 class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>

  <div ng-if="!ctrl.state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="icon icon-elb"></span>
      <h3 select-on-dbl-click>
        {{ctrl.targetGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" style="visibility: hidden" disabled uib-dropdown-toggle>
            Target Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-click="ctrl.editLoadBalancer()">Edit Target Group</a></li>
            <li ng-if="!ctrl.loadBalancer.instances.length"><a href ng-click="ctrl.deleteLoadBalancer()">Delete Target Group</a></li>
            <li ng-if="ctrl.loadBalancer.instances.length" class="disabled" uib-tooltip="You must detach all instances before you can delete this load balancer.">
              <a href ng-click="ctrl.deleteLoadBalancer()">Delete Target Group</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!ctrl.state.loading" class="content">
    <collapsible-section heading="Target Group Details" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <dt>In</dt>
        <dd><account-tag account="ctrl.targetGroup.account" pad="right"></account-tag> {{ctrl.targetGroup.region}}</dd>
        <dt>VPC</dt>
        <dd><vpc-tag vpc-id="ctrl.targetGroup.vpcId"></vpc-tag></dd>
        <dt>Protocol</dt>
        <dd>{{ctrl.targetGroup.protocol}}</dd>
        <dt>Port</dt>
        <dd>{{ctrl.targetGroup.port}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <health-counts class="pull-left" container="ctrl.targetGroup.instanceCounts"></health-counts>
    </collapsible-section>
    <collapsible-section heading="Health Checks">
      <dl class="horizontal-when-filters-collapsed">
        <dt>Target</dt>
        <dd>{{ctrl.targetGroup.healthCheckProtocol}}:{{ctrl.targetGroup.healthCheckPort}} {{ctrl.targetGroup.healthCheckPath}}</dd>
        <dt>Timeout</dt>
        <dd>{{ctrl.targetGroup.healthCheckTimeoutSeconds}} seconds</dd>
        <dt>Interval</dt>
        <dd>{{ctrl.targetGroup.healthCheckIntervalSeconds}} seconds</dd>
        <dt>Healthy Threshold</dt>
        <dd>{{ctrl.targetGroup.healthyThresholdCount}}</dd>
        <dt>Unhealthy Threshold</dt>
        <dd>{{ctrl.targetGroup.unhealthyThresholdCount}}</dd>
        <dt>Matcher</dt>
        <dd>HTTP Code(s): {{ctrl.targetGroup.matcher.httpCode}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Attributes" expanded="true">
      <dl class="horizontal-when-filters-collapsed">
        <dt>Deregistration Delay Timeout</dt>
        <dd>{{ctrl.targetGroup.attributes['deregistration_delay.timeout_seconds']}} seconds</dd>
        <dt>Stickiness Enabled</dt>
        <dd>{{ctrl.targetGroup.attributes['stickiness.enabled']}}</dd>
        <dt ng-if-start="ctrl.targetGroup.attributes['stickiness.enabled'] === 'true'">Stickiness Load Balancer Cookie Duration</dt>
        <dd>{{ctrl.targetGroup.attributes['stickiness.lb_cookie.duration_seconds']}} seconds</dd>
        <dt>Stickiness Type</dt>
        <dd ng-if-end>{{ctrl.targetGroup.attributes['stickiness.type']}}</dd>
      </dl>
    </collapsible-section>
  </div>
</div>
