@import (reference) "~coreImports";

.score.score-label {
  font-size: 110%;
  padding: 3px 6px;
  display: inline-block;
  height: 20px;
  line-height: 14px;
  color: white;
  &.label-failing {
    background-color: var(--color-alert-light);
    &.inverse {
      color: var(--color-alert-light);
    }
  }
  &.label-healthy {
    background-color: var(--color-success);
    &.inverse {
      color: var(--color-success);
    }
  }
  &.label-unhealthy {
    background-color: var(--color-danger);
    &.inverse {
      color: var(--color-danger);
    }
  }
  &.label-unknown {
    background-color: var(--color-text-caption);
    &.inverse {
      color: var(--color-text-caption);
    }
  }
  &.inverse {
    background-color: transparent;
    font-size: 100%;
    padding: 0;
  }
}

.score-large.score {
  height: 48px;
}

.score-large .score.score-label {
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 10px;
  font-size: 200%;
  border-radius: 0;
  margin: 0 0 5px 10px;
  min-width: 48px;
  display: inline-block;
}
