@import (reference) "~coreImports";
@import (reference) "~coreColors";

.score.label {
  font-size: 110%;
  padding: 3px 6px;
  display: inline-block;
  height: 20px;
  line-height: 14px;
  &.label-failing {
    background-color: @unhealthy_orange;
    &.inverse {
      color: @unhealthy_orange;
    }
  }
  &.label-healthy {
    background-color: @healthy_green_border;
    &.inverse {
      color: @healthy_green_border;
    }
  }
  &.label-unhealthy {
    background-color: @unhealthy_red;
    &.inverse {
      color: @unhealthy_red;
    }
  }
  &.label-unknown {
    background-color: @unknown-label-color;
    &.inverse {
      color: @unknown-label-color;
    }
  }
  &.inverse {
    background-color: transparent;
    font-size: 100%;
    padding: 0;
  }
}

.score-large.score {
  height: 48px;
}

.score-large .score.label {
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 10px;
  font-size: 200%;
  border-radius: 0;
  margin: 0 0 5px 10px;
  min-width: 48px;
  display: inline-block;
}
