<div class="details-panel" ng-class="{ disabled: serverGroup.isDisabled }">

  <div class="header" ng-if="state.loading">
      <div class="close-button">
          <a class="btn btn-link" ui-sref="^">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </div>
      <h4 class="text-center">
          <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
  </div>

  <div class="header" ng-if="!state.loading">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <cloud-provider-logo provider="serverGroup.type" height="36px" width="36px" style="margin-right: 10px"></cloud-provider-logo>
      <h3 select-on-dbl-click>
        {{serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: serverGroup.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Titus Job Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="serverGroup.isDisabled" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup()">Clone</a></li>
          </ul>
        </div>
        <!--<div class="dropdown" ng-if="serverGroup.insightActions.length > 0" uib-dropdown>-->
          <!--<button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>-->
            <!--Insight <span class="caret"></span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu">-->
            <!--<li ng-repeat="action in serverGroup.insightActions"><a target=_blank href="{{action.url}}">{{action.label}}</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading">
    <h4 class="text-center" ng-if="serverGroup.isDisabled">[TITUS JOB IS DISABLED]</h4>
    <collapsible-section heading="Running Tasks" expanded="true" body-class="details-running-tasks" ng-if="serverGroup.runningTasks.length > 0 || runningExecutions().length > 0">
      <div class="container-fluid no-padding" ng-repeat="task in serverGroup.runningTasks | orderBy:'-startTime'">
        <div class="row">
          <div class="col-md-12">
            <strong>
              {{task.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="step in task.steps | displayableTasks">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="step"></status-glyph></span> {{step.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{step.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

      <div class="container-fluid no-padding" ng-repeat="execution in runningExecutions()">
        <div class="row">
          <div class="col-md-12">
            <strong>
              Pipeline: {{execution.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="stage in execution.stages">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{stage.runningTimeInMs | duration }}
          </div>
        </div>
      </div>
    </collapsible-section>
    <collapsible-section heading="Titus Job Information" expanded="true">
      <dl class="dl-horizontal" ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Job Id</dt>
        <dd><a href="{{ serverGroup.apiEndpoint }}v2/jobs/{{serverGroup.id}}?taskState=ANY" target="_blank">{{serverGroup.id}}</a></dd>
        <dt>Created</dt>
        <dd>{{serverGroup.createdTime | timestamp}}</dd>
        <dt ng-if="serverGroup.iamProfile">IAM Profile</dt>
        <dd ng-if="serverGroup.iamProfile">{{serverGroup.iamProfile}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Placement Constraints" expanded="true">
      <dl class="dl-horizontal" ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Account</dt>
        <dd><account-tag account="serverGroup.account" pad="right"></account-tag></dd>
        <dt>Region</dt>
        <dd>{{serverGroup.region}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Size" expanded="true">
      <dl class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="serverGroup.capacity.min === serverGroup.capacity.max">
        <dt>Desired</dt>
        <dd>{{serverGroup.capacity.desired}}</dd>
        <dt>Current</dt>
        <dd>{{serverGroup.instances.length}}</dd>
      </dl>
      <dl class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="serverGroup.capacity.min !== serverGroup.capacity.max">
        <dt>Min</dt>
        <dd>{{serverGroup.capacity.min}}</dd>
        <dt>Desired</dt>
        <dd>{{serverGroup.capacity.desired}}</dd>
        <dt>Max</dt>
        <dd>{{serverGroup.capacity.max}}</dd>
        <dt>Current</dt>
        <dd>{{serverGroup.instances.length}}</dd>
      </dl>
      <div>
        <a href ng-click="ctrl.resizeServerGroup()">Resize Server Group</a>
      </div>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="serverGroup">
        <dt>Tasks</dt>
        <dd>
          <health-counts container="serverGroup.instanceCounts" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Docker Image">
      <dl ng-class="InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'"
          ng-if="serverGroup.image">
        <dt ng-if="serverGroup.image.dockerImageName">Image Name</dt>
        <dd ng-if="serverGroup.image.dockerImageName">{{serverGroup.image.dockerImageName}}</dd>
        <dt ng-if="serverGroup.image.dockerImageVersion">Image Version</dt>
        <dd ng-if="serverGroup.image.dockerImageVersion">{{serverGroup.image.dockerImageVersion}}</dd>
        <dt ng-if="serverGroup.entryPoint">Command</dt>
        <dd ng-if="serverGroup.entryPoint">{{serverGroup.entryPoint}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in serverGroup.securityGroupDetails | orderBy:'groupName'">
          <a
            ui-sref="^.securityGroupDetails({name: securityGroup.groupName, accountId: securityGroup.awsAccount, region: serverGroup.placement.region, vpcId: securityGroup.awsVpcId, provider: 'aws'})">
            {{securityGroup.groupName}} ({{securityGroup.groupId}})
          </a>
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Environment">
      <div ng-if="!serverGroup.env">No environment parameters associated with this
        server group</div>
      <dl ng-if="serverGroup.env">
        <dt ng-repeat-start="(key, val) in serverGroup.env">{{key}}</dt>
        <dd ng-repeat-end>{{val}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Labels">
      <div ng-if="!serverGroup.labels">No labels associated with this
        server group</div>
      <dl ng-if="serverGroup.labels">
        <dt ng-repeat-start="(key, val) in serverGroup.labels">{{key}}</dt>
        <dd ng-repeat-end>{{val}}</dd>
      </dl>
    </collapsible-section>
  </div>
</div>
