.user-menu {
  .dropdown-toggle {
    background-color: var(--color-primary);
    border: none;
    box-shadow: none;
    color: var(--color-white);
    font-weight: 200;
    padding: var(--padd);
  }

  .dropdown-menu {
    top: 80%;
    min-width: 125px;
    @media (max-width: 480px) {
      position: static;
    }
    border: 0;
  }
}
