<li ng-if="authEnabled" class="user-menu">
  <!-- Smaller screens use this -->
  <div uib-dropdown>
    <a
      href
      class="hidden-lg dropdown-toggle"
      uib-dropdown-toggle
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="true"
    >
      <i class="glyphicon glyphicon-user"></i>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu>
      <li>
        <a class="user-name-small">{{ user.name }}</a>
      </li>
      <li class="divider" ng-if="showLogOutDropdown()"></li>
      <li ng-if="showLogOutDropdown()">
        <a href ng-click="logOut()">Log out</a>
      </li>
    </ul>
  </div>

  <!-- Larger screens use this -->
  <div uib-dropdown class="text-center">
    <a
      href
      class="hidden-xs hidden-sm hidden-md user-name-large"
      uib-dropdown-toggle
      ng-disabled="!showLogOutDropdown()"
      >{{ user.name }}
      <i class="glyphicon glyphicon-triangle-bottom" ng-if="showLogOutDropdown()"></i>
    </a>
    <ul uib-dropdown-menu>
      <li><a href ng-click="logOut()">Log out</a></li>
    </ul>
  </div>
</li>
