<div class="modal-body" ng-if="!$ctrl.command.scopes">
   <h4>Add a Property Scope</h4>
</div>

<div class="modal-body" ng-if="$ctrl.command.scopes">
  <div ng-if="$ctrl.recommendationText">
    <h5>Recommendation</h5>
    <p>{{$ctrl.recommendationText}}</p>
  </div>

  <div class="strategy-button-group">
    <button class="property-strategy-button"
            ng-click="$ctrl.selectManual()"
            ng-class="{active: $ctrl.command.strategy.isManual()}">
      <span is-visible="$ctrl.command.strategy.isManual()"
            class="fa fa-check-circle-o selected-indicator"></span>
      <div class="panel-heading">
        <span class="icon fa fa-cog"></span>
        <h4>Manual</h4>
      </div>
    </button>

    <button class="property-strategy-button"
            ng-click="$ctrl.selectAca()"
            ng-class="{active: $ctrl.command.strategy.isAca()}">
      <span is-visible="$ctrl.command.strategy.isAca()"
            class="fa fa-check-circle-o selected-indicator"></span>
      <div class="panel-heading">
        <span class="icon fa fa-tasks"></span>
        <h4>ACA</h4>
      </div>
    </button>

    <button class="property-strategy-button"
            ng-click="$ctrl.selectForcePush()"
            ng-class="{active: $ctrl.command.strategy.isForcePush()}">
      <span is-visible="$ctrl.command.strategy.isForcePush()"
            class="fa fa-check-circle-o selected-indicator"></span>
      <div class="panel-heading">
        <span class="icon fa fa-exclamation-triangle"></span>
        <h4>Force Push</h4>
      </div>
    </button>

  </div>

  <div ng-if="$ctrl.command.strategy">
    {{$ctrl.command.strategy.description}}
  </div>

  <div ng-include="$ctrl.command.strategy.form"></div>

</div>
