.AlarmConfigurer {
  font-size: 12px;
  margin: 0px;
  .configurer-field-lg {
    width: 90px;
  }

  .configurer-field-small {
    width: 32px;
  }

  .configurer-field-med {
    width: 60px;
  }

  .number-input-field {
    margin: 0px;
  }
}
