<div class="form-horizontal isolated-testing-target-config-view">
  <h4>Isolated Testing Target Config</h4>

  <h5>Owner</h5>
  <div class="horizontal-rule"></div>
  <stage-config-field label="Email">
    <input type="email" required ng-model="stage.owner"
           class="form-control input-sm" />
  </stage-config-field>

  <h5>Clusters<help-field key="pipeline.config.isolatedTestingTarget.clusters"></help-field></h5>
  <div class="horizontal-rule"></div>
  <div class="row">
    <div style="margin: 10px 10px 0px 50px;">
      <div class="well well-sm">
        <table class="table">
          <thead>
          <tr>
            <th>Location</th>
            <th>New Cluster</th>
            <th>VIPs <help-field key="pipeline.config.isolatedTestingTarget.vips"></th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cluster in stage.clusters">
            <td>
              <account-tag account="cluster.account"></account-tag>
              {{isolatedTestingTargetStageCtrl.getRegion(cluster)}}
            </td>
            <td>
              {{isolatedTestingTargetStageCtrl.getClusterName(cluster)}}
              <br/>
              <a href ng-click="isolatedTestingTargetStageCtrl.editCluster(cluster, $index)">Edit</a>
            </td>
            <td>
              <strong>Overridden:</strong> {{isolatedTestingTargetStageCtrl.getClusterOldVIPs(cluster)}} <a href ng-click="isolatedTestingTargetStageCtrl.editVip(cluster, 'oldVip')">Edit</a>
              <br/>
              <strong>New:</strong> {{isolatedTestingTargetStageCtrl.getClusterNewVIPs(cluster)}} <a href ng-click="isolatedTestingTargetStageCtrl.editVip(cluster, 'newVip')">Edit</a>
            </td>
            <td>
              <a href ng-click="isolatedTestingTargetStageCtrl.deleteCluster($index);">
                <span class="glyphicon glyphicon-trash" uib-tooltip="Delete Cluster"></span>
              </a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <button class="btn btn-block btn-sm add-new" ng-click="isolatedTestingTargetStageCtrl.addCluster()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add cluster
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
