.EvaluateArtifactsStageConfig {
  .modal {
    align-items: center;
    background-color: rgba(#000, 0.5);
    display: flex;
    justify-content: center;
  }

  .modal-dialog {
    background-color: #fff;
  }

  .modal-close {
    background-color: transparent;
    border: 0;
    font-size: 16px;
    margin: 0;
    right: 3px;
    top: 5px;
  }

  .modal-body {
    .col-md-3 {
      width: 0;
    }

    .col-md-9 {
      width: 100%;
    }
  }

  .sp-formItem {
    padding: 0;

    &__left {
      flex: 0;
    }

    &__right {
      flex: 1;
      padding: 0;
    }
  }
}
