<div ng-controller="pipelineExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'pipelineConfig'">
    <div class="row">
      <div class="col-md-12">
        <h5>Pipeline Stage Configuration</h5>
        <dl class="dl-narrow dl-horizontal">
          <dt>Application</dt>
          <dd>{{stage.context.application}}</dd>
          <dt ng-if="stage.context.executionName">Pipeline</dt>
          <dd ng-if="stage.context.executionName">{{stage.context.executionName}}</dd>
          <dt ng-if="stage.context.status">Status</dt>
          <dd ng-if="stage.context.status">{{stage.context.status}}</dd>
        </dl>
      </div>
      <stage-failure-message is-failed="stage.isFailed" message="stage.failureMessage"></stage-failure-message>
      <div class="col-md-12">
        <div class="well alert alert-info">
          <a ng-if="stage.context.executionId"
             ui-sref="home.applications.application.pipelines.executionDetails.execution({ application: stage.context.application, executionId: stage.context.executionId })"
             ui-sref-opts="{inherit: false, reload: 'home.applications.application.pipelines.executionDetails'}">View Pipeline Execution</a>
        </div>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'parameters'">
    <div class="row">
      <div class="col-md-12">
        <h5>Parameters</h5>
        <dl>
          <dt ng-repeat-start="param in parameters">{{param.key}}</dt>
          <dd ng-repeat-end>{{param.val}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>


</div>
