<div>
  <div class="row">
    <div class="col-md-6">
      <h5>Deployment Configuration</h5>
      <dl class="dl-narrow dl-horizontal">
        <dt>Account</dt>
        <dd>{{stage.context.account}}</dd>
        <dt>Region</dt>
        <dd ng-repeat="(region, zones) in stage.context.availabilityZones">{{region}}<br/>({{zones.join(', ')}})</dd>
        <dt>Cluster</dt>
        <dd>{{stage.context | clusterName }}</dd>
        <dt>VPC</dt>
        <dd>{{stage.context.subnetType || '[none]'}}</dd>
        <dt>Strategy</dt>
        <dd>{{stage.context.strategy || '[none]'}}</dd>
        <dt>Capacity</dt>
        <dd ng-if="stage.context.capacity.min === stage.context.capacity.max">{{stage.context.capacity.max}}</dd>
        <dd ng-if="stage.context.capacity.min !== stage.context.capacity.max">
          Min: {{stage.context.capacity.min}},
          Max: {{stage.context.capacity.max}},
          Desired: {{stage.context.capacity.desired}}
        </dd>
      </dl>
    </div>

    <execution-step-details item="stage"></execution-step-details>

  </div>
  <div class="row" ng-if="stage.isFailed">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h5>Exception:</h5>
        <p ng-if="ctrl.getKatoException(stage)">
          {{ctrl.getKatoException(stage)}}
        </p>
        <p ng-if="!ctrl.getKatoException(stage)">
          No reason provided.
        </p>
      </div>
    </div>
  </div>
  <div class="row" ng-if="stage.isCompleted && stage.context['kato.tasks'][0].resultObjects">
    <div class="col-md-12">
      <div class="well alert alert-info">
        <strong>Deployed:</strong>
        <a ng-repeat="(region, serverGroup) in stage.context['kato.tasks'][0].resultObjects[0].asgNameByRegion"
           ng-click="$event.stopPropagation()"
           ui-sref="home.applications.application.insight.clusters.serverGroup({application: stage.context.application, serverGroup: serverGroup, accountId: stage.context.account, region: region})">
          {{serverGroup}}
        </a>
      </div>
    </div>
  </div>
</div>
