<form class="form-horizontal">
  <div class="form-group" ng-if="deploymentStrategies.length">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Strategy</b>
      <help-field key="aws.serverGroup.strategy"></help-field>
    </div>
    <div class="col-md-6">
      <ui-select ng-model="command.strategy" class="form-control input-sm">
        <ui-select-match placeholder="Select...">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="strategy.key as strategy in deploymentStrategies | filter: $select.search">
          <strong ng-bind-html="strategy.label | highlight: $select.search"></strong>
          <div ng-bind-html="strategy.description"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 col-md-offset-1 sm-label-left">
      <b>Template</b>
      <help-field key="pipeline.config.deploy.template"></help-field>
    </div>
    <div class="col-md-6">
      <ui-select ng-model="command.template"
                 on-select="deployInitializerCtrl.selectTemplate($item)"
                 class="form-control input-sm">
        <ui-select-match placeholder="Select...">
          <span>{{$select.selected.label}}</span>
        </ui-select-match>
        <ui-select-choices repeat="template in templates | anyFieldFilter: {label: $select.search, serverGroupName: $select.search}">
          <h5>{{template.label}}</h5>
          <div ng-if="template.serverGroup">
            <b>Most recent server group: </b> {{template.serverGroupName}}
          </div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group" ng-if="command.template.serverGroup">
    <div class="col-md-12">
      <deploy-preview stage="stage"></deploy-preview>
    </div>
    <div class="col-md-12 text-right">
      <button class="btn btn-primary" ng-click="deployInitializerCtrl.useTemplate()">
        Use this template
      </button>
    </div>
  </div>
  <div class="form-group" ng-if="!command.template.serverGroup">
    <div class="col-md-9 text-right">
      <button class="btn btn-primary" ng-click="deployInitializerCtrl.useTemplate()">
        Continue without a template
      </button>
    </div>
  </div>
</form>
