<div class="form-horizontal">
  <h4>Manifest</h4>
  <div class="horizontal-rule"></div>
  <kubernetes-manifest-selector
    on-change="ctrl.handleManifestSelectorChange"
    selector="stage"
  ></kubernetes-manifest-selector>
  <h4>Settings</h4>
  <div class="form-horizontal">
    <div class="form-group form-inline">
      <div class="col-md-3 sm-label-right">
        Revisions Back
        <help-field key="kubernetes.manifest.undoRollout.revisionsBack"></help-field>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input
            type="number"
            class="form-control input-sm highlight-pristine"
            ng-model="stage.numRevisionsBack"
            min="1"
          />
          <span class="input-group-addon">revision<span ng-if="ctrl.$scope.stage.numRevisionsBack !== 1">s</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
