/* Common mixins extracted from Bootstrap */

.text-right() {
  text-align: right;
}

.pull-right() {
  float: right !important;
}

.pull-left() {
  float: left !important;
}

.fade-in(@duration:0.25; @delay: 0) {
  &.ng-enter {
    transition: opacity ~"@{duration}s" ~"@{delay}s" ease-in;
  }
  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}
