<div ng-controller="CheckPreconditionsExecutionDetailsCtrl as checkPreconditionsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'checkPreconditions'">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal">
            <div ng-repeat="(key, val) in stage.context.context" ng-if="val !== null">
              <dt>{{key | robotToHuman}}</dt>
              <dd>{{val}}</dd>
            </div>
            <div>
              <dt>Fail Pipeline</dt>
              <dd>{{stage.context.failPipeline}}</dd>
            </div>
          </dd>
        </dl>
      </div>
    </div>

    <stage-failure-message is-failed="ctrl.getException(stage)" message="ctrl.getException(stage)"></stage-failure-message>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
