<div class="row page-header application-header navbar-fixed-top navbar">
  <div class="container">
    <h2 style="min-width: 200px">
      {{application.name}}
      <a href ng-click="application.refreshImmediately(true)">
        <span class="small glyphicon glyphicon-refresh"
              tooltip-html-unsafe="
                <p>Auto refresh is <strong>{{application.refreshing ? 'in progress' : application.autoRefreshEnabled ? 'enabled' : 'disabled'}}</strong>.
                   <br>(click <span class='small glyphicon glyphicon-refresh'></span> to refresh)</p>
                <p>Last refresh: {{application.lastRefresh | timestamp }} <br> ({{application.lastRefresh | relativeTime }})</p>
                <p class='small'><strong>Note:</strong> Due to caching, data may be delayed up to 2 minutes</p>
                {{!application.autoRefreshEnabled ? '<p class=small>For page performance reasons, we disable auto refresh whenever an application has more than 500 instances.</p>': ''}}"
              tooltip-placement="bottom"
              ng-class="{
              'refresh-enabled': application.autoRefreshEnabled,
              'refresh-disabled': !application.autoRefreshEnabled,
              'glyphicon-spinning': application.refreshing,
              }"></span>
      </a>
    </h2>
    <div ng-if="application.notFound">
      <h1 class="text-center">&lt;404&gt;</h1>
      <p class="text-center">Please check your URL - we can't find any data for <em>{{application.name}}</em>.</p>
    </div>
    <ul class="nav nav-pills" ng-if="!application.notFound">
      <li>
        <a ui-sref=".executions"
           analytics-on="click" analytics-category="Application View" analytics-label="Delivery tab selected"
           ng-class="{active: $state.includes('**.executions.**') || $state.includes('**.pipelineConfig')}">
          Delivery <span class="badge"
                         ng-if="( application.executions | filter:{isRunning:'true'}).length > 0">
            {{ (executions | filter:{isRunning:'true'}).length }}
          </span>
        </a>
      </li>
      <li>
        <a ui-sref=".insight.clusters"
           analytics-on="click" analytics-category="Application View" analytics-label="Clusters tab selected"
           ng-class="{active: $state.includes('**.clusters.**')}">
          Clusters
        </a>
      </li>
      <li>
        <a ui-sref=".insight.loadBalancers"
           analytics-on="click" analytics-category="Application View" analytics-label="Load Balancers tab selected"
           ng-class="{active: $state.includes('**.loadBalancers.**') || $state.includes('*.loadBalancer')}">
          Load Balancers
        </a>
      </li>
      <li>
        <a ui-sref=".insight.connections"
           analytics-on="click" analytics-category="Application View" analytics-label="Security Groups tab selected"
           ng-class="{active: $state.includes('**.connections.**')}">
          Security Groups
        </a>
      <li>
      <li>
        <a ui-sref=".tasks"
           analytics-on="click" analytics-category="Application View" analytics-label="Tasks tab selected"
           ng-class="{active: $state.includes('**.tasks.**')}">
          Tasks <span class="badge" ng-if="application.tasks.runningCount">
          {{ application.tasks.runningCount }}
        </span>
        </a>
      </li>
      <li>
        <a ui-sref=".config"
           analytics-on="click" analytics-category="Application View" analytics-label="Config tab selected"
           ng-class="{active: $state.includes('**.config.**')}">
          Config
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12 secondary-panel" ui-view="insight"></div>
</div>

