<div class="row pipeline-stage-config-heading">
  <div class="col-md-8">
    <h4 ng-bind="stage.name || '[new stage]'"></h4>
    <p class="small" ng-if="stage.type"><strong>Stage type:</strong> {{label}}<br/> {{description}}</p>
    <p class="small" ng-if="extendedDescription" ng-bind-html="extendedDescription"></p>
    <p class="small" ng-if="!stage.type">No stage type selected</p>
  </div>
  <div class="col-md-2 col-md-offset-2 text-right">
    <button type="button" class="btn btn-sm btn-default" ng-click="pipelineConfigurerCtrl.removeStage(stage)">
      <span class="glyphicon glyphicon-trash" uib-tooltip="Remove stage"></span> Remove stage
    </button>
  </div>
</div>
<div class="row panel-pipeline-phase no-border">
  <div class="col-md-12">
    <div class="form-horizontal">
      <stage-config-field label="Type" field-columns="9" ng-if="stage.isNew">
        <ui-select ng-model="options.selectedStageType"
                   style="width: 250px"
                   class="form-control input-sm"
                   on-select="stageConfigCtrl.selectStageType($item.key)">
          <ui-select-match>
            <strong>{{$select.selected.label}}</strong>
          </ui-select-match>
          <ui-select-choices repeat="option.key as option in options.stageTypes | anyFieldFilter: {label: $select.search, description: $select.search}">
            <div><strong>{{option.label}}</strong></div>
            <div ng-bind-html="option.description"></div>
          </ui-select-choices>
        </ui-select>
      </stage-config-field>
      <stage-config-field label="Stage Name">
        <input type="text" class="form-control input-sm" required ng-model="stage.name"/>
      </stage-config-field>
      <stage-config-field label="Depends On" help-key="pipeline.config.dependsOn" ng-if="pipeline.parallel" style="margin-bottom: 10px">
        <ui-select ng-model="stage.requisiteStageRefIds" multiple class="form-control input-sm"
                   on-select="updateAvailableDependencyStages()"
                   on-remove="updateAvailableDependencyStages()">
          <ui-select-match>{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="option.refId as option in options.dependencies | anyFieldFilter: {name: $select.search}"
                             ui-disable-choice="!option.available"
                             group-by="groupDependencyOptions"
            >
            <span ng-if="stage.requisiteStageRefIds.indexOf(option.refId) === -1" ng-bind-html="option.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </stage-config-field>
      <div ng-show="stage.type">
        <div class="stage-details">
          <div class="row">
            <div class="stage-body"></div>
          </div>
        </div>
        <stage-config-field label="Comments" style="margin-top:20px">
          <textarea class="form-control" ng-model="stage.comments" rows="3"
                    placeholder="(Optional) anything that might be helpful to explain the purpose of this stage; HTML is okay"></textarea>
        </stage-config-field>
        <execution-windows stage="stage" ng-if="!pipeline.strategy"></execution-windows>
        <override-timeout stage="stage"></override-timeout>
        <notification-list level="stage" notifications="stage.notifications" parent="stage" ng-if="!pipeline.strategy"></notification-list>
        <optional-stage stage="stage"></optional-stage>
      </div>
    </div>
  </div>
</div>
