<dl>
  <dt>{{$ctrl.executionType}}</dt>
  <dd>{{$ctrl.metadata.value.description}}</dd>
  <div ng-if="$ctrl.execution" style="margin-top: 10px">
    <dt>Triggered by</dt>
    <dd ng-if="$ctrl.metadata.value.user">{{$ctrl.metadata.value.user}}</dd>
    <dd ng-if="!$ctrl.metadata.value.user">{{$ctrl.execution.trigger.type}}</dd>
  </div>

  <div ng-if="!$ctrl.execution && $ctrl.metadata.value.user" style="margin-top: 10px">
    <dt>User</dt>
    <dd>{{$ctrl.metadata.value.user}}</dd>
  </div>

  <div ng-if="$ctrl.metadata.value.previousServerGroup" style="margin-top: 10px">
    <dt>Replaced</dt>
    <dd>
      {{$ctrl.metadata.value.previousServerGroup.name}}<br />
      {{$ctrl.metadata.value.previousServerGroup.imageName}}
      <span
        ng-if="$ctrl.metadata.value.previousServerGroup.imageId !== $ctrl.metadata.value.previousServerGroup.imageName"
      >
        ({{$ctrl.metadata.value.previousServerGroup.imageId}})
      </span>
    </dd>
  </div>

  <div ng-if="$ctrl.metadata.value.comments" style="margin-top: 10px">
    <dt>Comments</dt>
    <dd ng-bind-html="$ctrl.comments"></dd>
  </div>
</dl>
