@import (reference) "~core/presentation/less/imports/commonImports.less";

.entity-tags-popover {
  padding: 10px;
  .entity-tag-message {
    min-width: 150px;
    &:not(:first-child) {
      padding-top: 10px;
      margin-top: 5px;
      border-top: 1px solid @mid_light_grey;

    }
  }
}
