<div class="form-horizontal clearfix" xmlns="http://www.w3.org/1999/html">
  <div class="alert alert-warning">
    <strong>Warning!</strong> This stage is under active development and is subject to change.
  </div>

  <div class="container-fluid form-horizontal">
    <h4>Template Renderer</h4>
    <stage-config-field label="Render Engine"
                        help-key="pipeline.config.bake.manifest.templateRenderer"
                        field-columns="3">
      <select class="form-control input-sm"
              ng-model="ctrl.$scope.stage.templateRenderer">
        <option ng-repeat="renderer in ctrl.templateRenderers"
                value="{{renderer}}"
                ng-selected="ctrl.$scope.stage.templateRenderer === renderer">{{renderer}}</option>
      </select>
    </stage-config-field>
    <stage-config-field label="Name" field-columns="3">
      <input type="text" class="form-control input-sm"
             ng-model="ctrl.$scope.stage.outputName"
             ng-change="ctrl.outputNameChange()">
      </input>
    </stage-config-field>
    <stage-config-field label="Namespace" field-columns="3">
      <input type="text" class="form-control input-sm"
             ng-model="ctrl.$scope.stage.namespace">
      </input>
    </stage-config-field>

    <h4>Template Artifact</h4>
    <stage-config-field label="Expected Artifact"
                        help-key="pipeline.config.bake.manifest.expectedArtifact"
                        field-columns="8"
                        ng-if="ctrl.$scope.stage.source === ctrl.artifactSource">
      <expected-artifact-selector-react
                                  expected-artifacts="ctrl.templateArtifact().delegate.expectedArtifacts"
                                  selected="ctrl.templateArtifact().delegate.getSelectedExpectedArtifact()"
                                  on-change="ctrl.templateArtifact().controller.onArtifactChange"
                                  on-request-create="ctrl.templateArtifact().controller.onRequestCreate"
                                  requesting-new="ctrl.templateArtifact().delegate.requestingNew"
                                  >
      </expected-artifact-selector-react>
    </stage-config-field>
    <stage-config-field label="Artifact Account"
                        field-columns="8"
                        ng-if="ctrl.canShowAccountSelect(ctrl.templateArtifact())">
      <artifact-account-selector-react
        accounts="ctrl.templateArtifact().controller.accountsForArtifact"
        selected="ctrl.templateArtifact().delegate.getSelectedAccount()"
        on-change="ctrl.templateArtifact().controller.onAccountChange"
        >
      </artifact-account-selector-react>
    </stage-config-field>
    <expected-artifact-editor-react ng-if="ctrl.templateArtifact().delegate.requestingNew"
                                    kinds="ctrl.templateArtifact().delegate.getSupportedArtifactKinds()"
                                    sources="ctrl.templateArtifact().delegate.getExpectedArtifactSources()"
                                    accounts="ctrl.templateArtifact().delegate.getExpectedArtifactAccounts()"
                                    on-save="ctrl.templateArtifact().controller.onArtifactCreated"
    >
    </expected-artifact-editor-react>

    <h4>Overrides</h4>
    <div class="row form-group" ng-if="ctrl.hasValueArtifacts()" ng-repeat="artifact in ctrl.$scope.stage.inputArtifacts.slice(1)">
      <div class="col-md-offset-1 col-md-9">
        <stage-config-field label="Expected Artifact"
                            field-columns="8"
                            ng-if="ctrl.$scope.stage.source === ctrl.artifactSource">
          <expected-artifact-selector-react
                                      expected-artifacts="artifact.delegate.expectedArtifacts"
                                      selected="artifact.delegate.getSelectedExpectedArtifact()"
                                      on-change="artifact.controller.onArtifactChange"
                                      on-request-create="artifact.controller.onRequestCreate"
                                      requesting-new="artifact.delegate.requestingNew"
                                      >
          </expected-artifact-selector-react>
        </stage-config-field>
        <stage-config-field label="Artifact Account"
                            field-columns="8"
                            ng-if="ctrl.canShowAccountSelect(artifact)">
          <artifact-account-selector-react
            accounts="artifact.controller.accountsForArtifact"
            selected="artifact.delegate.getSelectedAccount()"
            on-change="artifact.controller.onAccountChange"
            >
          </artifact-account-selector-react>
        </stage-config-field>
        <expected-artifact-editor-react ng-if="artifact.delegate.requestingNew"
                                        kinds="artifact.delegate.getSupportedArtifactKinds()"
                                        sources="artifact.delegate.getExpectedArtifactSources()"
                                        accounts="artifact.delegate.getExpectedArtifactAccounts()"
                                        on-save="artifact.controller.onArtifactCreated"
        >
        </expected-artifact-editor-react>
      </div>
      <div class="col-md-1">
        <div class="form-control-static">
          <a href ng-click="ctrl.removeInputArtifact($index + 1)">
            <span class="glyphicon glyphicon-trash"></span>
            <span class="sr-only">Remove field</span>
          </a>
        </div>
      </div>
    </div>

    <stage-config-field field-columns="8">
      <button class="btn btn-block btn-sm add-new" ng-click="ctrl.addInputArtifact()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add value artifact
      </button>
    </stage-config-field>

    <stage-config-field label="Overrides" field-columns="6">
      <map-editor model="ctrl.$scope.stage.overrides" add-button-label="Add override"></map-editor>
    </stage-config-field>
  </div>
</div>
