<div modal-page class="cancel-modal">
  <form role="form" class="container-fluid no-padding" ng-submit="ctrl.confirm()">
    <modal-close dismiss="$dismiss()"></modal-close>
    <div class="modal-header">
      <h3>{{params.header}}</h3>
    </div>
    <div class="modal-body cancel-modal">
      <div ng-if="params.body" ng-bind-html="params.body"></div>
      <div ng-if="state.error">
        <div class="alert alert-danger">
          <h4>An exception occurred:</h4>
          <p>
            {{errorMessage || 'No details provided.'}}
          </p>
        </div>
      </div>
      <task-reason command="params"></task-reason>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default"
              type="button"
              ng-click="ctrl.cancel()">{{params.cancelButtonText}}</button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="state.submitting || ctrl.formDisabled()"
              ng-click="ctrl.confirm()">
        <button-busy-indicator ng-if="state.submitting"></button-busy-indicator>
        {{params.buttonText}}
      </button>
    </div>
  </form>
</div>
