<h3>
  Filters
</h3>
<filter-toggle-all>
    <filter-section heading="Search" expanded="{{sortFilter.filter.length > 0}}">
        <form class="form-horizontal" role="form">
            <div class="form-group nav-search">
                <input type="search" class="form-control input-sm" ng-model="sortFilter.filter" ng-change="clustersFilters.updateClusterGroups()" style="width: 85%">
            </div>
        </form>
    </filter-section>

    <filter-section heading="Account" expanded="{{sortFilter.account !== undefined}}">
        <div class="checkbox" ng-repeat="heading in clustersFilters.accountHeadings | orderBy:'toString()'  ">
            <label>
                <input type="checkbox" ng-model="sortFilter.account[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
            </label>
        </div>
    </filter-section>

    <filter-section heading="Region" expanded="{{sortFilter.region !== undefined}}">
        <div class="checkbox" ng-repeat="heading in clustersFilters.regionHeadings | orderBy: 'toString()' ">
            <label>
                <input type="checkbox" ng-model="sortFilter.region[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
            </label>
        </div>
    </filter-section>


    <filter-section heading="Status" expanded="{{sortFilter.status !== undefined}}">
        <div class="form">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="sortFilter.status.healthy"
                           ng-change="clustersFilters.updateClusterGroups()"/>
                    Healthy
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="sortFilter.status.unhealthy"
                           ng-change="clustersFilters.updateClusterGroups()"/>
                    Unhealthy
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="sortFilter.status.disabled"
                           ng-change="clustersFilters.updateClusterGroups()"/>
                    Disabled
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-model="sortFilter.status.unknown"
                           ng-change="clustersFilters.updateClusterGroups()"/>
                    Unknown
                </label>
            </div>
        </div>
    </filter-section>


    <filter-section heading="Instance Types" expanded="{{sortFilter.instanceType !== undefined}}">
        <div class="checkbox" ng-repeat="heading in clustersFilters.instanceTypeHeadings| orderBy: 'toString()' ">
            <label>
                <input type="checkbox" ng-model="sortFilter.instanceType[heading]" ng-change="clustersFilters.updateClusterGroups()"/> {{heading}}
            </label>
        </div>
    </filter-section>
`
    <!--<filter-section heading="Availability Zones" expanded="false">-->
    <!--</filter-section>-->

    <!--<filter-section heading="Load Balanced" expanded="false">-->
    <!--</filter-section>-->

    <!--<filter-section heading="Provider" expanded="{{sortFilter.providerType !== undefined}}">-->
        <!--<div class="checkbox" ng-repeat="heading in clustersFilters.getProviderType() | orderBy: 'toString()' ">-->
            <!--<label>-->
                <!--<input type="checkbox" ng-model="sortFilter.providerType[heading]" ng-change="clustersFilters.updateClusterGroups()"/> {{heading}}-->
            <!--</label>-->
        <!--</div>-->
    <!--</filter-section>-->
</filter-toggle-all>
