on-demand-cluster-picker {
  display: block;
}

.on-demand-cluster-picker {
  display: block;
  margin-bottom: 20px;

  .Select-menu,
  .Select-menu-outer {
    max-height: 50vh;
  }

  .Select-menu {
    overflow-y: auto;
  }
}
