<dl ng-class="InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-narrow'" ng-repeat="alarm in policy.alarms" style="margin-bottom: 20px">
  <dt>When</dt>
  <dd>
    {{alarm.metricName}} {{alarm.comparator}} {{alarm.threshold}}
  </dd>
  <dt>For</dt>
  <dd>
    {{alarm.evaluationPeriods}} consecutive periods of {{alarm.period}} seconds
  </dd>
  <dt>Then</dt>
  <dd ng-if="policy.stepAdjustments.length">
    <ul ng-repeat="stepAdjustment in policy.stepAdjustments">
      <li>
      <span ng-if="policy.adjustmentType === 'ExactCapacity'">
        set capacity
        to {{stepAdjustment.scalingAdjustment}} instance<span ng-if="stepAdjustment.scalingAdjustment > 1">s</span>
      </span>
      <span ng-if="policy.adjustmentType === 'ChangeInCapacity' || policy.adjustmentType === 'PercentChangeInCapacity'">
        {{stepAdjustment.operator}} capacity
        <span ng-if="policy.adjustmentType === 'PercentChangeInCapacity'">
          by {{stepAdjustment.absAdjustment}}%
        </span>
        <span ng-if="policy.adjustmentType === 'ChangeInCapacity'">
          by {{stepAdjustment.absAdjustment}} instance<span ng-if="stepAdjustment.absAdjustment > 1">s</span>
        </span>
        when
      </span>

      <div ng-if="alarm.comparator === '>' || alarm.comparator === '>='">
        <span ng-if="stepAdjustment.metricIntervalUpperBound">
          {{alarm.threshold + stepAdjustment.metricIntervalUpperBound}}
        </span>
        <span ng-if="!stepAdjustment.metricIntervalUpperBound">
          +infinity
        </span>
         &gt; {{alarm.metricName}}
        <span ng-if="stepAdjustment.metricIntervalLowerBound">
           &gt;= {{alarm.threshold + stepAdjustment.metricIntervalLowerBound}}
        </span>
        <span ng-if="!stepAdjustment.metricIntervalLowerBound">
          {{alarm.comparator}} {{alarm.threshold}}
        </span>
      </div>

      <div ng-if="alarm.comparator === '<' || alarm.comparator === '<='">
        <span ng-if="stepAdjustment.metricIntervalLowerBound">
          {{alarm.threshold + stepAdjustment.metricIntervalLowerBound}}
        </span>
        <span ng-if="!stepAdjustment.metricIntervalLowerBound">
          -infinity
        </span>
         &lt; {{alarm.metricName}}
        <span ng-if="stepAdjustment.metricIntervalUpperBound">
           &lt;= {{alarm.threshold + stepAdjustment.metricIntervalUpperBound}}
        </span>
        <span ng-if="!stepAdjustment.metricIntervalUpperBound">
          {{alarm.comparator}} {{alarm.threshold}}
        </span>
      </div>
      </li>
    </ul>
    <span>in increments of at least {{policy.minAdjustmentStep}} instance<span ng-if="policy.minAdjustmentStep > 1">s</span></span>
  </dd>
  <dd ng-if="!policy.stepAdjustments.length">
    <span ng-if="policy.adjustmentType === 'ExactCapacity'">
      set capacity
      to {{policy.scalingAdjustment}} instance<span ng-if="policy.scalingAdjustment > 1">s</span>
    </span>
    <span ng-if="policy.adjustmentType === 'ChangeInCapacity' || policy.adjustmentType === 'PercentChangeInCapacity'">
      {{policy.operator}} capacity
      <span ng-if="policy.adjustmentType === 'PercentChangeInCapacity'">
        by {{policy.absAdjustment}}%
      </span>
      <span ng-if="policy.adjustmentType === 'ChangeInCapacity'">
        by {{policy.absAdjustment}} instance<span ng-if="policy.absAdjustment > 1">s</span>
      </span>
      in increments of at least {{policy.minAdjustmentStep}} instance<span ng-if="policy.minAdjustmentStep > 1">s</span>
    </span>
  </dd>
  <dt ng-if="policy.cooldown || policy.estimatedInstanceWarmup">And</dt>
  <dd ng-if="policy.cooldown">
    wait {{policy.cooldown}} seconds before allowing another scaling activity.
  </dd>
  <dd ng-if="policy.estimatedInstanceWarmup">
    wait {{policy.estimatedInstanceWarmup}} seconds to warm up after each step.
  </dd>
</dl>
