<div class="form-group slide-in" ng-if="fp.showIf">
  <div class="sm-label-right col-md-3">
    <b ng-class="{strike: fp.model === 'none'}">ASG</b>
    <!--<span class="badge">{{newFP.asgList.length}}</span>-->
  </div>
  <div class="col-md-8">
    <select
        name="asg"
        class="form-control input-sm"
        ng-model="fp.model"
        ng-change="fp.asgChanged()"
        ng-if="!fp.freeFormAsgField"
        >

      <option value=""></option>
      <option value="none">none</option>
      <option
          ng-repeat="asg in fp.asgs"
          ng-selected="fp.model === asg"
          value="{{asg}}"
          >
        {{asg}}
      </option>
    </select>

    <input
        type="text"
        ng-blur="fp.asgChanged()"
        class="form-control input-sm"
        ng-model="fp.model"
        ng-if="fp.freeFormAsgField"/>

  </div>

  <div class="col-md-8 col-md-offset-3">
    <a href ng-click="fp.toggleFreeFormAsgField()" ng-if="!fp.freeFormAsgField">Toggle for text input</a>
    <a href ng-click="fp.toggleFreeFormAsgField()" ng-if="fp.freeFormAsgField">Toggle for list of existing ASGs</a>
  </div>

</div>
