<form class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-3 sm-label-left table-offset">Listener</div>
      <div class="col-md-9">
        <table class="table table-condensed packed">
          <thead>
          <tr>
            <th>Protocol</th>
            <th>Port Range <help-field key="gce.loadBalancer.portRange"></help-field></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="listener in loadBalancer.listeners">
            <!-- TODO(duftler): Add support for UDP. -->
            <td><select class="form-control input-sm" ng-model="listener.protocol"
                        ng-options="protocol for protocol in ['TCP']"></select></td>
            <td><input class="form-control input-sm" ng-model="listener.portRange"/></td>
          </tr>
          <tr>
            <td>
                <label><input type="checkbox" ng-model="loadBalancer.listeners[0].healthCheck" ng-change="ctrl.setVisibilityHealthCheckTab()" />
                  Enable health check? <help-field key="gce.loadBalancer.healthCheck"></help-field>
                </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
            ng-click="ctrl.cancel()">Cancel
    </button>
    <button class="btn btn-default"
            ng-click="wizard.previousPage()">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <submit-button is-disabled="form.$invalid || !wizard.isComplete() || taskMonitor.submitting"
                   submitting="state.submitting" on-click="ctrl.submit()" is-new="isNew"></submit-button>
    <button class="btn btn-primary"
            ng-disabled="!loadBalancer.listeners[0].healthCheck || form.$invalid"
            ng-click="wizard.markComplete('Listener'); wizard.markComplete('Health Check'); wizard.nextPage()">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
