<div ng-model="pipeline.parameterConfig" ui-sortable="parametersCtrl.sortOptions">
  <parameter ng-repeat="parameter in pipeline.parameterConfig" parameter="parameter" pipeline="pipeline"></parameter>
</div>
<div class="row">
  <div class="col-md-12">
    <p ng-if="!pipeline.parameterConfig.length">
      You don't have any parameters configured for {{pipeline.name}}.
    </p>
    <button class="btn btn-block btn-add-trigger add-new" ng-click="parametersCtrl.addParameter()">
      <span class="glyphicon glyphicon-plus-sign"></span> Add Parameter
    </button>
  </div>
</div>
