<form name="form" class="container-fluid form-horizontal" ng-controller="titusServerGroupParametersCtrl" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-5 sm-label-right"><b>IAM Instance Profile (optional)</b></div>
      <div class="col-md-6"><input type="text"
                                   class="form-control input-sm no-spel"
                                   ng-model="command.iamProfile"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-right"><b>Security Groups (optional)</b></div>
      <div class="col-md-5">
        <input type="text" class="form-control input-sm no-spel" name="cpu" ng-model="command.securityGroups" />
      </div>
      <div class="col-md-offset-5 col-md-5">
        (Comma separated list of ids)
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-right"><b>Soft Constraints(optional)</b></div>
      <div class="col-md-5">
        <input type="text" class="form-control input-sm no-spel" name="cpu" ng-model="command.softConstraints" />
      </div>
      <div class="col-md-offset-5 col-md-5">
        (Comma separated list of constraints)
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5 sm-label-right"><b>Hard Constraints(optional)</b></div>
      <div class="col-md-5">
        <input type="text" class="form-control input-sm no-spel" name="cpu" ng-model="command.hardConstraints" />
      </div>
      <div class="col-md-offset-5 col-md-5">
        (Comma separated list of constraints)
      </div>
    </div>
    <hr/>
    <div class="form-group">
      <div class="col-sm-12">
        <b>Environment (optional)</b>
      </div>
      <div class="col-sm-12">
        <map-editor model="command.env" allow-empty="true"></map-editor>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <b>Labels (optional)</b>
      </div>
      <div class="col-sm-12">
        <map-editor model="command.labels" allow-empty="true"></map-editor>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="application.attributes.platformHealthOnlyShowOverride">
    <div class="col-md-5 sm-label-right"><b>Task Completion</b></div>
    <div class="col-md-6">
      <platform-health-override command="command"
                                platform-health-type="'Titus'">
      </platform-health-override>
    </div>
  </div>
</form>
