<div class="btn-row col-md-12">
  <a href="#/{{deployable}}/clusters" class="btn btn-default" ng-show="cluster"><i class="fa fa-arrow-left"></i> Back to {{deployable}}</a>
  <a href="#/" class="btn btn-default" ng-show="!cluster"><i class="fa fa-arrow-left"></i> Back to App List</a>
  <a data-toggle="modal" data-target="#newAsgModal" class="btn btn-primary"><i class="fa fa-plus"></i> New ASG</a>
  <a data-toggle="modal" data-target="#shrinkClusterModal" class="btn btn-warning" ng-show="cluster"><i class="fa fa-compress"></i> Shrink Cluster</a>
</div>
<div ng-show="!asgs">
  Loading...
</div>
<div ng-repeat='asg in asgs' ng-show="asgs" class="asg col-md-2">
  <div class="header">
    <span><a href="#/{{deployable}}/clusters/{{asg.cluster}}/asgs/{{asg.name}}/{{asg.region}}">{{asg.name}}</a></span>
    <span class="pull-right">{{asg.region}}</span>
  </div>
  <div class="body">
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Cluster</span>
      <span class="col-sm-8 detail-text"><a href="#/{{deployable}}/clusters/{{asg.cluster}}/{{asg.region}}" title="{{asg.cluster}}">{{asg.cluster}}</a></span>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Package</span>
      <span class="col-sm-8 detail-text">{{asg.buildInfo.packageName}}</span>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Created</span>
      <span class="col-sm-8 detail-text">{{toAgo(asg.created)}}</span>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Build Job</span>
      <span class="col-sm-8 detail-text"><a href="http://builds.netflix.com/job/{{asg.buildInfo.buildJobName}}" target="_blank">{{asg.buildInfo.buildJobName}}</a></span>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Build Number</span>
      <span class="col-sm-8 detail-text">{{asg.buildInfo.buildNumber}}</span>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Commit</span>
      <span class="col-sm-8 detail-text">{{asg.buildInfo.commit}}</span>
    </div>
    <div class="col-sm-12 details">
      <hr/>
    </div>
    <div class="col-sm-12 details">
      <span class="col-sm-4 detail-label">Instances</span>
      <span class="col-sm-8 detail-text"></span>
    </div>
    <div class="col-sm-12 details instances">
      <div ng-repeat="instance in asg.instances" title="{{instance.instanceId}}" class="instance {{instance.healthStatus == 'Healthy' && instance.lifecycleState != 'Terminating' ? 'green' : 'red'}}">
        &nbsp;
      </div>
    </div>
  </div>
</div>
<div id="newAsgModal" class="modal fade" ng-controller="NewDeploymentController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Creating New ASG</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <input type="hidden" ng-model="deployable" value="{{deployable}}">
          <div class="form-group">
            <label class="col-sm-3 control-label">Stack</label>
            <div class="col-sm-9">
              <input class="col-sm-2" ng-model="stack">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Copy Last ASG</label>
            <div class="col-sm-9">
              <input class="col-sm-2" ng-model="copyLastAsg" checked="checked" type="checkbox">
            </div>
          </div>
          <div class="form-group" ng-show="!copyLastAsg">
            <label class="col-sm-3 control-label">Cluster Size</label>
            <div class="col-sm-9">
              <input class="col-sm-2" style="display: inline-block; margin-right: 5px" ng-model="minInstances" type="text">
              <input class="col-sm-2" style="display: inline-block; margin-right: 5px" ng-model="maxInstances" type="text">
              <input class="col-sm-2" style="display: inline-block; margin-right: 5px" ng-model="desiredInstances" type="text">
            </div>
          </div>
          <div class="form-group">
            <label for="pkg" class="col-sm-3 control-label">Package</label>
            <div class="col-sm-9">
              <input ng-model="pkg" id="pkg">
            </div>
          </div>
          <div class="form-group" ng-show="!images && pkg">
            <label for="img-btn" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              <button id="img-btn" class="btn btn-primary" ng-show="!loading" ng-click="loading = true; updateImages()">Load Images for Package</button>
              <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Loading image list...</span>
            </div>
          </div>
          <div class="form-group" ng-show="images">
            <label for="image" class="col-sm-3 control-label">Images</label>
            <div class="col-sm-9">
              <select id="image" ng-model="chosenImages" ng-options="(c.name + ' / ' + c.version + ' / ' + c.region) for c in images" multiple>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="pull-right" ng-show="chosenImages">
            <span class="label label-primary" style="margin-right: 10px;" ng-repeat="c in chosenImages">{{c.region}}</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="deploy()">Deploy!</button>
      </div>
    </div>
  </div>
</div>
<div id="shrinkClusterModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Shrink Cluster ({{cluster}})</h4>
      </div>
      <div class="modal-body">
        <p>Omg, are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" ng-click="shrink()">Save changes</button>
      </div>
    </div>
  </div>
</div>