<div ng-show="!deployables">
  Loading...
</div>
<div ng-show="deployables">
  <table class="table table-condensed table-striped table-bordered" id="app-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>ASGs</th>
        <th>Instances</th>
        <th>Description</th>
        <th>Group</th>
        <th>Email</th>
        <th>Owner</th>
        <th>Create Time</th>
        <th>Update Time</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(deployable, value) in deployables">
        <td class="deployable"><a href="#/{{deployable}}/clusters" title="{{deployable}}">{{deployable}}</a></td>
        <td class="asgCount"><span>{{value.asgCount}}</span></td>
        <td class="instanceCount"><span>{{value.instanceCount}}</span></td>
        <td class="description" title="{{value.attributes.description}}">{{value.attributes.description}}</td>
        <td>{{value.attributes.group}}</td>
        <td class="email">{{value.attributes.email}}</td>
        <td class="owner">{{value.attributes.owner}}</td>
        <td class="time">{{toAgo(value.attributes.createTs)}}</td>
        <td class="time">{{toAgo(value.attributes.updateTs)}}</td>
        <td class="tags">
          <span ng-repeat="tag in splitTags(value.attributes.tags)">
            {{tag}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>