<div>
  <div ng-repeat="task in tasks | orderBy:'-startTime'">
    <strong> {{task.name}} </strong>

    <div class="flex-container-h" ng-repeat="step in task.steps | displayableTasks">
      <div class="flex-grow">
        <span class="small"><status-glyph item="step"></status-glyph></span> {{step.name | robotToHuman }}
      </div>
      <div class="flex-pull-right">{{step.runningTimeInMs | duration }}</div>
    </div>
  </div>

  <div ng-repeat="execution in runningExecutions() track by $index">
    <strong> Pipeline: {{execution.name}} </strong>

    <div class="flex-container-h" ng-repeat="stage in execution.stages track by $index">
      <div class="flex-grow">
        <span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.name}}
      </div>
      <div class="flex-pull-right">{{stage.runningTimeInMs | duration }}</div>
    </div>
  </div>
</div>
