<div class="heading">
  <h3>
    Filters
    <span class="btn btn-default btn-light"
                  ng-click="clustersFilters.clearFilters()">Clear All</span>
  </h3>
  <filter-section heading="Search" expanded="true" help-key="cluster.search">
    <form class="form-horizontal" role="form">
      <div class="form-group nav-search">
        <input type="search" class="form-control input-sm" ng-model="sortFilter.filter"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
               ng-change="clustersFilters.updateClusterGroups()" style="width: 85%; display: inline-block">
      </div>
    </form>
  </filter-section>
</div>
<div class="content" ng-if="application.serverGroups.loaded">

  <filter-section heading="Provider" expanded="true" ng-if="clustersFilters.providerTypeHeadings.length > 1">
    <div class="checkbox" ng-repeat="heading in clustersFilters.providerTypeHeadings | orderBy: 'toString()'">
      <label>
        <input type="checkbox" ng-model="sortFilter.providerType[heading]"
               ng-change="clustersFilters.updateClusterGroups()"/>
        <cloud-provider-logo provider="heading" height="14px" width="14px"></cloud-provider-logo>
        <cloud-provider-label provider="heading"></cloud-provider-label>
      </label>
    </div>
  </filter-section>

  <filter-section heading="Account" expanded="true">
    <div class="checkbox" ng-repeat="heading in clustersFilters.accountHeadings | orderBy:'toString()'  ">
      <label>
        <input type="checkbox" ng-model="sortFilter.account[heading]"
               ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
      </label>
    </div>
  </filter-section>

  <filter-section heading="Region" expanded="true">
    <div class="checkbox" ng-repeat="heading in clustersFilters.regionHeadings | orderBy: 'toString()' ">
      <label>
        <input type="checkbox" ng-model="sortFilter.region[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
      </label>
    </div>
  </filter-section>

  <filter-section heading="Category" expanded="true" ng-if="clustersFilters.categoryHeadings.length > 1">
    <div class="checkbox" ng-repeat="heading in clustersFilters.categoryHeadings | orderBy: 'toString()' ">
      <label>
        <input type="checkbox" ng-model="sortFilter.category[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading | robotToHuman}}
      </label>
    </div>
  </filter-section>

  <filter-section heading="Stack" expanded="true">
    <div class="checkbox" ng-repeat="heading in clustersFilters.stackHeadings | orderBy: 'toString()' ">
      <label>
        <input type="checkbox" ng-model="sortFilter.stack[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
      </label>
    </div>
  </filter-section>

  <filter-section heading="Status" expanded="true">
    <div class="form">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.Up"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Healthy
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.Down"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Unhealthy
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.Disabled"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Disabled
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.Starting"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Starting
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.OutOfService"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Out of Service
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="sortFilter.status.Unknown"
                 ng-change="clustersFilters.updateClusterGroups()"/>
          Unknown
        </label>
      </div>
    </div>
  </filter-section>

  <filter-section heading="Availability Zones" expanded="true">
    <div class="checkbox" ng-repeat="heading in clustersFilters.availabilityZoneHeadings | orderBy: 'toString()' ">
      <label>
        <input type="checkbox" ng-model="sortFilter.availabilityZone[heading]" ng-change="clustersFilters.updateClusterGroups()"/>{{heading}}
      </label>
    </div>
  </filter-section>


  <filter-section heading="Instance Types" expanded="true">
    <div class="checkbox" ng-repeat="heading in clustersFilters.instanceTypeHeadings | orderBy: 'toString()' ">
      <label>
        <input type="checkbox" ng-model="sortFilter.instanceType[heading]"
               ng-change="clustersFilters.updateClusterGroups()"/> {{heading}}
      </label>
    </div>
  </filter-section>

  <filter-section heading="Instance Count" expanded="true">
    <div class="form-inline">
      <div class="form-group">
        Min:
        <input type="number" class="form-control input-sm" ng-model="sortFilter.minInstances"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
               ng-change="clustersFilters.updateClusterGroups()">
      </div>
      <div class="form-group">
        Max:
        <input type="number" class="form-control input-sm" ng-model="sortFilter.maxInstances"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
               ng-change="clustersFilters.updateClusterGroups()">
      </div>
    </div>
  </filter-section>

</div>
