[Unit]
Description=Spinnaker Echo
PartOf=spinnaker.service

[Service]
ExecStart=/opt/echo/bin/echo
WorkingDirectory=/opt/echo/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
