.insight {
  display: flex;

  .insight-filter-content {
    display: flex;
    overflow-x: hidden;
    margin-top: var(--m-spacing);

    .content {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .insight-filter-content {
    flex-direction: column;
    margin-top: var(--m-spacing);
  }
}
