.project-header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-alto);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  flex: 0 0 auto;

  .container {
    width: 100%;
  }

  h2 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 46px;
  }

  .nav-popover-menu {
    z-index: 25;
  }

  .project-name {
    font-weight: 300;
  }
  .project-view {
    position: relative;
    display: inline-block;
  }

  .configure-project-link {
    margin: 10px 0 5px;
    color: var(--color-dovegray);
    font-size: 120%;
  }
}

.project-details {
  overflow-y: hidden;

  .insight {
    .detail-content {
      height: calc(~'100% - 54px');
    }
  }
}

.table-search-results-project {
  .table-header,
  .table-row {
    .col-name {
      width: 250px;
    }
  }
}
