<form name="form" class="form-horizontal" novalidate>
  <div>
    <v2-modal-wizard ng-show="!ctrl.loading"
                     heading="{{ctrl.title}}"
                     dismiss="$dismiss()">

      <v2-wizard-page key="details" label="Details" mark-complete-on-view="false">
        <fast-property-details command="ctrl.command" is-deleting="true"></fast-property-details>
      </v2-wizard-page>

      <v2-wizard-page key="scope" label="Scope" mark-complete-on-view="false">
        <fast-property-scope-read-only command="ctrl.command"></fast-property-scope-read-only>
      </v2-wizard-page>

      <v2-wizard-page key="strategy" label="Strategy" mark-complete-on-view="false">
        <fast-property-strategy command="ctrl.command"></fast-property-strategy>
      </v2-wizard-page>

      <v2-wizard-page key="review" label="Review" mark-complete-on-view="false">
        <fast-property-review command="ctrl.command"></fast-property-review>
      </v2-wizard-page>

    </v2-modal-wizard>

    <div class="modal-footer">
      <button ng-disabled="ctrl.state.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>

      <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="!ctrl.isValid() || ctrl.state.submitting" label="ctrl.command.submitButtonLabel()"
                     submitting="ctrl.state.submitting" on-click="ctrl.startPipeline(ctrl.command.pipeline)" is-new="true"></submit-button>
    </div>
  </div>
</form>

