@value white from "../colors.module.css";
@value belowMobileSize from "../breakpoints.module.css";

.footer {
  flex: 0 0 64px;
  background-color: var(--color-white);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.12), 0 6px 12px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0 16px;
}

.footerLeft {
  flex: 1 1 100%;
  margin-right: 16px;
}

.footerRight {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media belowMobileSize {
  .footer {
    flex: 0 0 100%;
    padding: 0 12px;
    flex-wrap: wrap;
  }

  .footerLeft {
    margin: 8px 0;
  }
}
