@value white, blumine, lightSteel15PercentOpacity from "../colors.module.css";
@value belowMobileSize from "../breakpoints.module.css";

@value headerColor: blumine;
@value closeButtonHoverColor: lightSteel15PercentOpacity;

@value closeButtonHoverTransition: all 150ms ease-out;

.header {
  flex: 1 0 auto;
  background-color: headerColor;
  color: var(--color-white);
  justify-content: center;
  display: flex;
  align-items: center;
}

.title {
  margin: 10px 16px;
  font-size: 22px;
  font-weight: 500;
  flex: 1 1 100%;
  word-break: break-all;
}

@media belowMobileSize {
  .title {
    margin: 4px 12px;
    font-size: 18px;
  }
}

.close {
  flex: 0 0 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
  transition: closeButtonHoverTransition;
}

.close:hover {
  background-color: closeButtonHoverColor;
}

@media belowMobileSize {
  .close {
    flex: 0 0 48px;
    height: 48px;
  }
}
