<div ng-controller="ChapExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'testRunDetails'">
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt>Test case</dt>
          <dd><a href="{{testCaseUrl}}" target="_blank">
            {{stage.context.run.testCase.name}}
          </a></dd>
          <dt>FIT Scenario</dt>
          <dd><a href="{{fitScenarioUrl}}" target="_blank">
            {{stage.context.run.testCase.properties.scenario}}
          </a></dd>
          <dt>Duration</dt>
          <dd>{{stage.context.run.testCase.duration}} minute<span ng-if="stage.context.run.testCase.duration > 1">s</span></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt>Account</dt>
          <dd><account-tag account="stage.context.run.testCase.properties.account"></account-tag></dd>
          <dt>Region</dt>
          <dd>{{stage.context.run.testCase.properties.region}}</dd>
          <dt>Instances</dt>
          <dd>{{stage.context.run.testCase.properties.instanceCount}}</dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-{{stage.isFailed ? 'danger' : 'info'}}">
          <h5>Links</h5>
          <div>
            <a href="{{runUrl}}" target="_blank">Run Details</a>
          </div>
          <div>
            <a href="{{canaryReportUrl}}" target="_blank">Canary Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
  <stage-failure-message stage="stage" message="stage.failureMessage"></stage-failure-message>
</div>
