#if($notification.additionalContext.message && !$notification.additionalContext.message.empty)
$htmlToText.convert($notification.additionalContext.message)
#end
#if($notification.additionalContext.judgmentInput && !$notification.additionalContext.judgmentInput.empty)
Judgment '$htmlToText.convert($notification.additionalContext.judgmentInput)' was selected.
#end
For more details, please visit:

#if($notification.additionalContext.stageId && !$notification.additionalContext.stageId.empty)
#if($notification.additionalContext.restrictExecutionDuringTimeWindow)
$baseUrl/#/applications/$notification.source.application/executions/details/$notification.source.executionId?refId=$notification.additionalContext.stageId&step=1
#else
$baseUrl/#/applications/$notification.source.application/executions/details/$notification.source.executionId?refId=$notification.additionalContext.stageId
#end
#else
$baseUrl/#/applications/$notification.source.application/executions/details/$notification.source.executionId
#end
