.label-filter {
  margin-right: 5px;
  .add-new {
    margin: 10px 0 130px 0;
  }
}

.label-filter-select-container {
  display: flex;
  margin-top: 10px;
}

.label-filter-select {
  display: flex;
  flex-direction: column;
  flex: 1;
  .Select {
    margin-bottom: 5px;
    word-break: break-word;
  }
}

.label-filter-remove {
  display: flex;
  align-items: center;
  .link {
    padding: 0 0 0 5px;
  }
}
