@import "../../core/presentation/less/imports/commonImports.less";
reservation-report {
  display: block;
  margin-bottom: 20px;
  .reservation-report {
    border: 1px solid @light_grey;
    background-color: @lightest_grey;
    padding: 10px;
    .table {
      margin-bottom: 0;
    }
  }
}
