<form role="form" novalidate name="fastPropertyScopeForm">
  <div class="modal-body">
    <div class="row">

      <!--
        LEFT COLUMN
        Only rendered if the form is creating a new FP
      -->
      <div class="col-md-8" ng-if="!newFP.isEditing">

        <div class="row">

          <div class="col-md-12">
            <div class="form-horizontal fp-scope-config-view">

              <scope-app-selector
                model="newFP.property.targetScope.appIdList"
                applications="newFP.applicationList"
                on-app-remove="newFP.applicationRemoved(item)"
                on-app-selected="newFP.applicationSelected(item)"
                on-refresh-list="newFP.refreshAppList(query)"
              >
              </scope-app-selector>

              <scope-region-selector
                model="newFP.property.targetScope.region"
                regions="newFP.scopeLists.region"
                on-change="newFP.regionChange(region)"
              >
              </scope-region-selector>

              <scope-stack-selector
                model="newFP.property.targetScope.stack"
                stacks="newFP.scopeLists.stack"
                show-if="newFP.property.targetScope.region"
                on-change="newFP.stackChange(stack)"
              >
              </scope-stack-selector>

              <scope-cluster-selector
                model="newFP.property.targetScope.cluster"
                clusters="newFP.scopeLists.cluster"
                show-if="newFP.property.targetScope.stack"
                on-change="newFP.clusterChange(cluster)"
              >
              </scope-cluster-selector>


              <scope-asg-selector
                model="newFP.property.targetScope.asg"
                asgs="newFP.scopeLists.asg"
                show-if="newFP.property.targetScope.cluster"
                on-change="newFP.asgChange(asg)"
              >
              </scope-asg-selector>

              <scope-availability-zone-selector
                model="newFP.property.targetScope.zone"
                zones="newFP.scopeLists.zone"
                show-if="newFP.property.targetScope.asg"
                on-change="newFP.availabilityZoneChange(zone)"
              >
              </scope-availability-zone-selector>

              <scope-instance-selector
                model="newFP.property.targetScope.serverId"
                instances="newFP.scopeLists.instance"
                show-if="newFP.property.targetScope.zone"
                on-change="newFP.instanceChange(instance)"
              >
              </scope-instance-selector>

            </div>
          </div>
        </div>

      </div>

      <!--
       RIGHT COLUMN
       -->
      <div class="col-md-4">
        <h4>Impact Count:
          <span ng-if="!newFP.impactLoading" style="color:red;">{{newFP.impact}}</span>
          <span ng-if="newFP.impactLoading" us-spinner="{radius:8, width:3, length: 5}"></span>
        </h4>

        <div>
          <table class="table table-hover">
            <tbody>
            <tr ng-if="newFP.selectedScope.env">
              <td><b>Env</b></td>
              <td>{{newFP.selectedScope.env}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.appId">
              <td><b>Apps</b></td>
              <td>{{newFP.selectedScope.appId}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.region">
              <td><b>Region</b></td>
              <td>{{newFP.selectedScope.region}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.stack">
              <td><b>Stack</b></td>
              <td>{{newFP.selectedScope.stack}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.cluster">
              <td><b>Cluster</></td>
              <td>{{newFP.selectedScope.cluster}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.asg">
              <td><b>ASG</b></td>
              <td>{{newFP.selectedScope.asg}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.zone">
              <td><b>Zone</b></td>
              <td>{{newFP.selectedScope.zone}}</td>
            </tr>
            <tr ng-if="newFP.selectedScope.serverId">
              <td><b>Instance</b></td>
              <td>{{newFP.selectedScope.serverId}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--
      ERROR MESSAGES
    -->
    <div class="form-group row slide-in" ng-if="fastPropertyScopeForm.$invalid">
      <div class="col-sm-8 col-sm-offset-4 error-message">
        <div ng-messages="fastPropertyScopeForm.region.$error" ng-if="fastPropertyScopeForm.region.$touched">
          <p ng-message="required">Select region</p>
        </div>
      </div>
    </div>

    <!--
      FOOTER BUTTONS
    -->
    <div class="modal-footer">
      <button tabindex="-1" ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
              ng-click="$dismiss()">Cancel
      </button>

      <button tabindex="-1" class="btn btn-default"
              ng-click="wizard.previousPage()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>

      <button class="btn btn-primary"
              ng-disabled="fastPropertyScopeForm.$invalid"
              ng-click="wizard.markComplete('Scope'); wizard.nextPage()">
        Next <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>

  </div>
</form>
