<form role="form" novalidate name="fastPropertyScopeForm">
  <div class="modal-body">
    <div class="row">

      <!--{{propertyStage.stage}}-->

      <div class="row">
          <div class="col-md-12">
            <h4 class="section">Properties</h4>
            <stage-config-field
              label="Copy From Stage"
              ng-if="propertyStage.hasPreviousPropertyStages()">

              <div class="row" style="margin-bottom: 10px">
                <div class="col-md-10">
                  <select
                    name="previousStageName"
                    class="form-control input-sm"
                    ng-model="propertyStage.stage.copiedFromName"
                    ng-options="name for name in propertyStage.getPreviousPropertyStageNames()">
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-sm pull-right" ng-click="propertyStage.setStageFromPrevious()">Copy</button>
                </div>
              </div>
            </stage-config-field>


            <div class="form-horizontal fp-scope-config-view">

              <persisted-property-create-list
                stage="propertyStage.stage"
                property-list="propertyStage.appPropertyList">
              </persisted-property-create-list>

              <h4 class="section">Scope</h4>

              <stage-config-field label="Environment">
                <select
                  autofocus
                  name="env"
                  class="form-control input-sm"
                  ng-model="propertyStage.stage.scope.env"
                  required
                  ng-options="env for env in ['prod', 'test']">
                </select>
              </stage-config-field>

              <stage-config-field
                label="Enable Rollback" help-key="pipeline.config.fastProperty.rollback">
                <input
                  type="checkbox"
                  style="margin-top: 10px"
                  ng-model="propertyStage.stage.rollbackProperties" >
              </stage-config-field>

              <stage-config-field ng-if="!propertyStage.applicationsLoaded">
                <div
                  style="margin: 35px"
                  us-spinner="{radius:8, width:3, length:5}">
                </div>
              </stage-config-field>

              <div ng-if="propertyStage.applicationsLoaded">

                <stage-config-field label="Choose Scope">
                  <fast-property-scope-search-component
                    on-scope-selected="propertyStage.selectScope(scopeOption)"
                    application-name="application.name">
                  </fast-property-scope-search-component>
                </stage-config-field>

                <stage-config-field label="Seleced Scope">

                  <div ng-if="propertyStage.stage.scope.instanceCounts">
                    <table class="table table-hover">
                      <tbody>
                      <tr ng-if="propertyStage.stage.scope.env">
                        <td><b>Env</b></td>
                        <td>{{propertyStage.stage.scope.env}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.appId">
                        <td><b>Apps</b></td>
                        <td>{{propertyStage.stage.scope.appId}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.region">
                        <td><b>Region</b></td>
                        <td>{{propertyStage.stage.scope.region}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.stack">
                        <td><b>Stack</b></td>
                        <td>{{propertyStage.stage.scope.stack}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.cluster">
                        <td><b>Cluster</></td>
                        <td>{{propertyStage.stage.scope.cluster}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.asg">
                        <td><b>ASG</b></td>
                        <td>{{propertyStage.stage.scope.asg}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.zone">
                        <td><b>Zone</b></td>
                        <td>{{propertyStage.stage.scope.zone}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.serverId">
                        <td><b>Instance</b></td>
                        <td>{{propertyStage.stage.scope.serverId}}</td>
                      </tr>
                      <tr ng-if="propertyStage.stage.scope.instanceCounts">
                        <td><b>Instance Count</b></td>
                        <td style="color:#b82525; font-weight: 600; font-size: larger; padding-top: 3px; margin-left: 9px">{{propertyStage.stage.scope.instanceCounts.up}} instances</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </stage-config-field>

              </div>



              <h4 class="section">Notifications</h4>

              <stage-config-field label="Email">
                <input type="text" class="form-control input-sm" ng-model="propertyStage.stage.email">
              </stage-config-field>
            </div>
          </div>
        </div>

    </div>

  </div>
</form>


<h4 class="section">Stage Details</h4>
