<form role="form" novalidate name="fastPropertyScopeForm">
  <div class="modal-body">
    <div class="row">

      <div class="row">
          <div class="col-md-12">
            <h4 class="section">Properties</h4>
            <stage-config-field
              label="Copy From Stage"
              ng-if="ctrl.hasPreviousPropertyStages()">

              <div class="row" style="margin-bottom: 10px">
                <div class="col-md-10">
                  <select
                    name="previousStageName"
                    class="form-control input-sm"
                    ng-model="ctrl.stage.copiedFromName"
                    ng-options="name for name in ctrl.getPreviousPropertyStageNames()">
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-primary btn-sm pull-right" ng-click="ctrl.setStageFromPrevious()">Copy</button>
                </div>
              </div>
            </stage-config-field>


            <div class="form-horizontal fp-scope-config-view">

              <persisted-property-create-list
                stage="ctrl.stage"
                property-list="ctrl.appPropertyList">
              </persisted-property-create-list>

              <h4 class="section">Scope</h4>

              <div ng-if="!ctrl.scopeSelected">
                <stage-config-field label="Environment">
                  <select
                    autofocus
                    name="env"
                    class="form-control input-sm"
                    ng-model="ctrl.stage.scope.env"
                    ng-change="ctrl.resetScope()"
                    required
                    ng-options="env for env in ['prod', 'test']">
                  </select>
                </stage-config-field>

                <stage-config-field
                  label="Enable Rollback" help-key="pipeline.config.fastProperty.rollback">
                  <input
                    type="checkbox"
                    style="margin-top: 10px"
                    ng-model="ctrl.stage.rollbackProperties" >
                </stage-config-field>

                <stage-config-field ng-if="!ctrl.applicationsLoaded">
                  <div
                    style="margin: 35px"
                    us-spinner="{radius:8, width:3, length:5}">
                  </div>
                </stage-config-field>
              </div>

              <div ng-if="ctrl.applicationsLoaded && !ctrl.scopeSelected">

                <stage-config-field label="Choose Scope" ng-if="!ctrl.scopeSelected">
                  <fast-property-scope-search-component
                    on-scope-selected="ctrl.selectScope(scopeOption)"
                    env="{{ctrl.stage.scope.env}}"
                    application-name="application.name">
                  </fast-property-scope-search-component>
                </stage-config-field>

              </div>

              <div class="form-group" ng-if="ctrl.scopeSelected">
                <div class="col-md-3 sm-label-right">
                  Selected Scope
                  <div style="font-weight: 400">
                    <a href ng-click="ctrl.resetScope()">Select new scope</a>
                  </div>
                </div>
                <div class="col-md-8">
                  <div>
                    <table class="table">
                      <tbody>
                      <tr ng-if="ctrl.stage.scope.env || ctrl.customizingScope">
                        <td><b>Env</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.env}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.env" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.appId || ctrl.customizingScope">
                        <td><b>App</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.appId}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.appId" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.appIdList || ctrl.customizingScope">
                        <td><b>Apps</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.appIdList.join(', ')}}</span>
                          <input class="form-control input-sm"
                                 placeholder="comma-separated list"
                                 ng-model="ctrl.appIdList"
                                 ng-change="ctrl.appIdListChanged()"
                                 ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.region || ctrl.customizingScope">
                        <td><b>Region</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.region}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.region" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.stack || ctrl.customizingScope">
                        <td><b>Stack</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.stack}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.stack" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.cluster || ctrl.customizingScope">
                        <td><b>Cluster</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.cluster}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.cluster" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.asg || ctrl.customizingScope">
                        <td><b>ASG</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.asg}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.asg" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.zone || ctrl.customizingScope">
                        <td><b>Zone</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.zone}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.zone" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.serverId || ctrl.customizingScope">
                        <td><b>Instance</b></td>
                        <td>
                          <span ng-if="!ctrl.customizingScope">{{ctrl.stage.scope.serverId}}</span>
                          <input class="form-control input-sm" ng-model="ctrl.stage.scope.serverId" ng-if="ctrl.customizingScope"/>
                        </td>
                      </tr>
                      <tr ng-if="ctrl.stage.scope.instanceCounts && !ctrl.customizingScope">
                        <td><b>Instance Count</b></td>
                        <td style="color:#b82525; font-weight: 600; font-size: larger; padding-top: 6px; margin-left: 9px">{{ctrl.stage.scope.instanceCounts.up}} instances</td>
                      </tr>
                      </tbody>
                      <tfoot ng-if="!ctrl.customizingScope">
                      <tr>
                        <td colspan="2"><a href ng-click="ctrl.customizeScope()">Edit scope fields</a></td>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>




              <h4 class="section">Notifications</h4>

              <stage-config-field label="Email">
                <input type="text" class="form-control input-sm" ng-model="ctrl.stage.email">
              </stage-config-field>
            </div>
          </div>
        </div>

    </div>

  </div>
</form>


<h4 class="section">Stage Details</h4>
