<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr/>
  </div>
</div>

<div>
  <div class="form-group">

    <label class="col-md-2 col-md-offset-1 sm-label-right">
      <span class="label-text">Property {{propertyCtrl.index + 1}}</span>
    </label>

    <div class="col-md-6">
      <ui-select
        ng-model="propertyCtrl.property.key"
        class="form-control input-sm col-sm-9" >

        <ui-select-match>
          <span>{{$select.selected}}</span>
        </ui-select-match>

        <ui-select-choices
          refresh="propertyCtrl.refreshOptions($select.search)"
          refresh-delay="0"
          repeat="property in propertyCtrl.filteredProperties | filter: $select.search">
          <div ng-bind-html="property | highlight: $select.search"></div>
        </ui-select-choices>

      </ui-select>
    </div>
    <div class="col-md-2">
      <button class="btn-link" ng-click="propertyCtrl.remove(propertyCtrl.property)">
        <span class="glyphicon glyphicon-trash" uib-tooltip="Remove property"></span><span class="sr-only">Remove Property</span>
      </button>
    </div>
  </div>


  <stage-config-field label="Value">
    <textarea
      style="resize: vertical;"
      type="text"
      rows="{{propertyCtrl.getValueRowCount(propertyCtrl.property.value)}}"
      required
      ng-model="propertyCtrl.property.value"
      class="form-control input-sm">
    </textarea>
  </stage-config-field>

  <stage-config-field label="Description">
    <textarea
      style="resize: vertical;"
      type="text"
      rows="{{propertyCtrl.getValueRowCount(propertyCtrl.property.description)}}"
      required
      ng-model="propertyCtrl.property.description"
      class="form-control input-sm">
    </textarea>
  </stage-config-field>


  <stage-config-field label="Constraints">
    <constraints-selector
      model="propertyCtrl.property.constraints" >
    </constraints-selector>
  </stage-config-field>

  <stage-config-field label="TTL (seconds)" help-key="fastProperty.ttl">
    <input type="number"
           class="form-control input-sm"
           style="width: 100px"
           ng-model="propertyCtrl.property.ttl"/>
  </stage-config-field>

</div>
