<div ng-controller="gceResizeAsgStageCtrl as resizeAsgStageCtrl">
  <div ng-if="!pipeline.strategy">
    <div ng-if="viewState.loading">
      <h4 class="text-center">
        <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
    </div>
    <div ng-if="!viewState.loading">
      <div class="form-group">
        <label class="col-md-2 col-md-offset-1 sm-label-left">Account</label>
        <div class="col-md-6">
          <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="resizeAsgStageCtrl.accountUpdated()" required></account-select-field>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-md-offset-1 sm-label-left">Zones</label>
        <div class="col-md-6" ng-if="!stage.credentials">
          <p class="form-control-static">(Select an Account)</p>
        </div>
        <div class="col-md-6" ng-if="stage.credentials">
          <checkmap item-map="zones" selected-items="stage.zones"></checkmap>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-1 sm-label-left">
          <b>Cluster</b>
          <help-field key="pipeline.config.resizeAsg.cluster"></help-field>
        </div>
        <div class="col-md-6">
          <input type="text" required ng-model="stage.cluster" class="form-control input-sm"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 col-md-offset-1 sm-label-left">
        <b>Target</b>
      </div>
      <div class="col-md-6">
        <target-select model="stage" options="resizeTargets"></target-select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-md-offset-1 sm-label-left">Action
        <help-field key="pipeline.config.resizeAsg.action"></help-field>
      </label>
      <div class="col-md-6">
        <select class="form-control input-sm"
                required
                ng-model="stage.action"
                ng-change="resizeAsgStageCtrl.updateResizeType()"
                ng-options="a.val as a.label for a in scaleActions">
          <option>Select an action...</option>
        </select>
      </div>
    </div>
    <div ng-if="stage.action !== 'scale_exact'">
      <div class="form-group">
        <label ng-if="stage.action !== 'scale_to_cluster'" class="col-md-2 col-md-offset-1 sm-label-left">Type</label>
        <label ng-if="stage.action === 'scale_to_cluster'" class="col-md-2 col-md-offset-1 sm-label-left">Additional Capacity</label>
        <div class="col-md-6">
          <select class="form-control input-sm"
                  required
                  ng-model="stage.resizeType"
                  ng-change="resizeAsgStageCtrl.updateResizeType()"
                  ng-options="t.val as t.label for t in resizeTypes">
            <option>Select an action...</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-if="stage.resizeType === 'pct'">
        <div class="col-md-9 col-md-offset-3">
          <label class="col-md-2 sm-label-left" style="font-size:12px;line-height:13px;margin-left:0;padding-left:0">Resize Percentage</label>
          <div class="col-md-2">
            <input type="number" min="0" ng-model="stage.scalePct" class="form-control input-sm"/>
          </div>
        </div>
        <div class="col-md-9 col-md-offset-3">
          <em class="subinput-note">This is the percentage by which the target server group's capacity will be increased</em>
        </div>
      </div>
      <div class="form-group" ng-if="stage.resizeType === 'incr'">
        <div class="col-md-9 col-md-offset-3">
          <label class="col-md-2 sm-label-left" style="margin-left:0;padding-left:0">Resize-by Amount</label>
          <div class="col-md-2">
            <input type="number" min="0" ng-model="stage.scaleNum" class="form-control input-sm"/>
          </div>
        </div>

        <div class="col-md-9 col-md-offset-3">
          <em class="subinput-note">This is the exact amount by which the target server group's capacity will be increased</em>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="stage.action === 'scale_exact'">
      <div class="col-md-9 col-md-offset-3 small">
        <div class="col-md-9">
          <div class="col-md-2 col-md-offset-3">Min</div>
          <div class="col-md-2">Max</div>
          <div class="col-md-2">Desired</div>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-3">
        <label class="col-md-2 sm-label-left small" style="margin-left:0;padding-left:0">Match Capacity</label>
        <div class="col-md-9">
          <div class="col-md-2">
            <input type="number" ng-model="stage.capacity.min" class="form-control input-sm"/>
          </div>
          <div class="col-md-2">
            <input type="number" ng-model="stage.capacity.max" class="form-control input-sm"/>
          </div>
          <div class="col-md-2">
            <input type="number" ng-model="stage.capacity.desired" class="form-control input-sm"/>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-md-offset-3">
        <em class="subinput-note">This is the exact amount to which the target server group will be scaled</em>
      </div>
    </div>
    <platform-health-override ng-if="application.attributes.platformHealthOnlyShowOverride"
                              command="stage"
                              platform-health-type="'Google'"
                              label-text="Task Completion"
                              label-columns="2"
                              label-offset="col-md-offset-1">
    </platform-health-override>
  </div>
</div>
