.modal-logged-out {
  text-align: center;
  padding: 30px 60px !important;

  h3 {
    margin: 30px 0 !important;
  }

  p {
    margin-bottom: 30px;
  }

  .fa-hourglass {
    position: absolute;
    display: block;
    top: 95px;
    left: 278px;
    height: 0;
    font-size: 62px;
  }
}
