
  <div>
    <table
      class="table table-hover table-condensed">
      <thead>
        <tr>
          <th colspan="2">
            {{$ctrl.categoryName}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="scope-row"
          ng-repeat="scopeOption in $ctrl.scopeOptions"
          ng-if="scopeOption.instanceCounts.up > 0"
          ng-click="$ctrl.selectScope(scopeOption)">
          <td width="10%">
            <span class="badge badge-impact-count" ng-class="{positive: scopeOption.instanceCounts.up > 0}">{{scopeOption.instanceCounts.up}}</span>
          </td>
          <td width="90" class="scope-cell">
            <span ng-if="scopeOption.appId"><b>{{scopeOption.appId}}</b></span>
            <span ng-if="scopeOption.region">{{scopeOption.region}}</span>
            <span ng-if="scopeOption.stack">{{scopeOption.stack}}</span>
            <span ng-if="scopeOption.cluster">{{scopeOption.cluster}}</span>
            <span ng-if="scopeOption.asg">{{scopeOption.asg}}</span>
            <span ng-if="scopeOption.serverId">{{scopeOption.serverId}}</span>
            <span ng-if="$ctrl.categoryName === 'Global'">All Instances</span>
          </td>
        </tr>

        <tr
          class="scope-row"
          ng-repeat="scopeOption in $ctrl.scopeOptions"
          ng-click="$ctrl.selectScope(scopeOption)"
          ng-if="scopeOption.instanceCounts.up === 0 && $ctrl.showNoImpactListForCategory[category.category]" >
          <td width="10%">
            <span class="badge badge-impact-count" ng-class="{positive: scopeOption.instanceCounts.up > 0}">{{scopeOption.instanceCounts.up}}</span>
          </td>
          <td width="90" class="scope-cell">
            <span ng-if="scopeOption.appId"><b>{{scopeOption.appId}}</b></span>
            <span ng-if="scopeOption.region">{{scopeOption.region}}</span>
            <span ng-if="scopeOption.cluster">{{scopeOption.cluster}}</span>
            <span ng-if="scopeOption.stack">{{scopeOption.stack}}</span>
            <span ng-if="scopeOption.asg">{{scopeOption.asg}}</span>
            <span ng-if="scopeOption.serverId">{{scopeOption.serverId}}</span>
            <span ng-if="$ctrl.categoryName === 'Global'">All Instances</span>
          </td>
        </tr>

        <tr ng-if="($ctrl.scopeOptions | filter: $ctrl.noImpact).length">
          <td colspan="2">
            There are <span class="noticeText">{{($ctrl.scopeOptions | filter: $ctrl.noImpact).length}}</span>
            <span><b>{{$ctrl.categoryName}}</b></span> scopes that have no impact.
            <button
              ng-click="$ctrl.toggleNoImpactList(category.category)"
              class="btn btn-default btn-xs">
              <span ng-if="$ctrl.showNoImpactListForCategory[category.category]">Hide</span>
              <span ng-if="!$ctrl.showNoImpactListForCategory[category.category]">Show</span>
            </button>
          </td>
        </tr >
      </tbody>
    </table>

  </div>

