<form class="">
  <div class="has-feedback">
    <div class="input-group">
      <input type="search"
             class="form-control flat"
             placeholder="Search"
             ng-model="$ctrl.query"
             ng-focus="$ctrl.displayResults()"
             ng-keyup="$ctrl.dispatchQueryInput($event)"
             ng-blur="$ctrl.searchFieldBlurred($event)"
             ng-paste="$ctrl.dispatchQueryInput($event)"
             ng-cut="$ctrl.dispatchQueryInput($event)"
      />
      <span class="glyphicon glyphicon-search form-control-feedback" uib-tooltip-html="ctrl.tooltip"
            tooltip-placement="right"></span>
    </div>
  </div>
</form>


<div ng-if="$ctrl.query" >

  <div class="searching"
    ng-if="$ctrl.querying">
    <h3>Searching...</h3>
  </div>

  <div
    ng-repeat="category in $ctrl.categories | orderBy: 'order' "
    ng-if="!$ctrl.querying && category.scopes.length"
    class="scope-category-container">

    <div class="category-heading">{{category.category}}</div>

    <div
      ng-repeat="scopeOption in category.scopes"
      ng-if="scopeOption.instanceCounts.up > 0"
      class="scope-button-container">
      <category-button-list-component
        on-select-scope="$ctrl.selectScope(scopeOption)"
        category-name="category.category"
        scope-option="scopeOption">
      </category-button-list-component>
    </div>

    <div ng-if="(category.scopes | filter: $ctrl.noImpact).length">
      There are <span class="noticeText">{{(category.scopes | filter: $ctrl.noImpact).length}}</span>
      <span><b>{{category.category}}</b></span> scopes that have no impact.
      <button
        ng-click="$ctrl.toggleNoInpactList(category.category)"
        class="btn btn-default btn-xs">
        <span ng-if="$ctrl.showNoImpactListForCategory[category.category]">Hide</span>
        <span ng-if="!$ctrl.showNoImpactListForCategory[category.category]">Show</span>
      </button>
    </div>

    <div
      ng-if="$ctrl.showNoImpactListForCategory[category.category]"
      class="scope-category-container">

      <div
        ng-repeat="scopeOption in category.scopes"
        ng-if="scopeOption.instanceCounts.up === 0"
        class="scope-button-container">
        <category-button-list-component
          on-select-scope="$ctrl.selectScope(scopeOption)"
          category-name="category.category"
          scope-option="scopeOption">
        </category-button-list-component>
      </div>

    </div>
  </div>
</div>
