<form class="">
  <div class="has-feedback">
    <input type="search"
           class="form-control flat"
           placeholder="Search"
           ng-model="$ctrl.query"
           ng-focus="$ctrl.displayResults()"
           ng-keyup="$ctrl.dispatchQueryInput($event)"
           ng-blur="$ctrl.searchFieldBlurred($event)"
           ng-paste="$ctrl.dispatchQueryInput($event)"
           ng-cut="$ctrl.dispatchQueryInput($event)"
    />
    <span class="glyphicon glyphicon-search form-control-feedback"
          style="right: 0"
          uib-tooltip-html="ctrl.tooltip"
          tooltip-placement="right"></span>
  </div>
</form>


<div ng-if="$ctrl.query" >

  <h2 ng-if="$ctrl.querying" class="text-center">
    <span class="fa fa-cog fa-spin"></span>
  </h2>

  <div
    ng-repeat="category in $ctrl.categories | orderBy: 'order' "
    ng-if="!$ctrl.querying && category.scopes.length"
    class="scope-category-container">
    <category-button-list-component
      on-select-scope="$ctrl.selectScope(scopeOption)"
      category-name="category.category"
      scope-options="category.scopes">
    </category-button-list-component>
  </div>
</div>
