.project-dashboard {
  overflow-y: auto;
  h3 {
    font-weight: 600;
  }

  .project-column {
    overflow-x: scroll;
  }

  .project-pipeline-group {
    margin-bottom: 16px;

    > h4 {
      border-bottom: 1px solid var(--color-alto);
      font-weight: 600;
      padding-bottom: 4px;
    }
  }

  .project-pipeline-never-run {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }
}
