<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Owner</dt>
          <dd>{{vm.application.attributes.email}}</dd>
          <dt ng-if="vm.application.attributes.pdApiKey">Pager Duty</dt>
          <dd ng-if="vm.application.attributes.pdApiKey">
            <pager-duty-tag api-key="vm.application.attributes.pdApiKey"></pager-duty-tag>
          </dd>
          <dt ng-if="vm.application.attributes.repoType">Source Repo Type</dt>
          <dd ng-if="vm.application.attributes.repoType">{{vm.application.attributes.repoType}}</dd>
          <dt ng-if="vm.application.attributes.repoProjectKey">Source Repo Project</dt>
          <dd ng-if="vm.application.attributes.repoProjectKey">{{vm.application.attributes.repoProjectKey}}</dd>
          <dt ng-if="vm.application.attributes.repoSlug">Source Repo</dt>
          <dd ng-if="vm.application.attributes.repoSlug">{{vm.application.attributes.repoSlug}}</dd>
          <dt>Description</dt>
          <dd>{{vm.application.attributes.description}}</dd>
          <dt>Account(s)</dt>
          <dd>{{vm.application.attributes.accounts}}</dd>
          <dt ng-if="vm.application.attributes.cloudProviders">Cloud Provider(s)</dt>
          <dd ng-if="vm.application.attributes.cloudProviders">{{vm.application.attributes.cloudProviders}}</dd>
          <dt ng-if="vm.application.attributes.platformHealthOnly || vm.application.attributes.platformHealthOnlyShowOverride">
            Instance health
          </dt>
          <dd ng-if="vm.application.attributes.platformHealthOnly || vm.application.attributes.platformHealthOnlyShowOverride">
            {{vm.healthMessage}}
          </dd>
          <dt>Instance Port</dt>
          <dd>{{vm.application.attributes.instancePort}}</dd>
          <dt ng-if="vm.application.attributes.legacyUdf">User Data Format</dt>
          <dd ng-if="vm.application.attributes.legacyUdf">This application requires legacy user data format.</dd>
        </dl>
        <button class="btn btn-link" ng-click="vm.editApplication()"><span class="glyphicon glyphicon-cog"></span>
          Edit Application Attributes
        </button>
      </div>
    </div>
  </div>
</div>
