<ul class="nav nav-pills" ng-if="!application.notFound">
  <li ng-if="feature.pipelines !== false">
    <a ui-sref=".executions"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Pipelines"
       ng-if="!application.executions.loadFailure"
       ng-class="{active: $state.includes('**.executions.**') || $state.includes('**.pipelineConfig')}">
      Pipelines
      <span class="badge"
            ng-if="application.runningExecutions.data.length">
        {{application.runningExecutions.data.length}}
      </span>
    </a>
    <a ng-if="application.executions.loadFailure">
      Pipelines
      <span class="small glyphicon glyphicon-exclamation-sign"
            uib-tooltip="There was an error loading pipelines. We'll try again shortly."></span>
    </a>
  </li>
  <li>
    <a ui-sref=".insight.clusters"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Clusters"
       ng-class="{active: $state.includes('**.clusters.**')}">
      Clusters
    </a>
  </li>
  <li>
    <a ui-sref=".insight.loadBalancers"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Load Balancers"
       ng-class="{active: $state.includes('**.loadBalancers.**') || $state.includes('*.loadBalancer')}">
      Load Balancers
    </a>
  </li>
  <li>
    <a ui-sref=".insight.securityGroups"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Security Groups"
       ng-class="{active: $state.includes('**.securityGroups.**')}">
      Security Groups
    </a>
  <li>
  <li ng-if="feature.fastProperty">
    <a ui-sref=".propInsights.properties"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Fast Properties"
       ng-class="{active: $state.includes('**.properties.**')}">
      Properties
    </a>
  <li>
  <li ng-if="feature.analytics">
    <a ui-sref=".analytics"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Analytics"
       ng-class="{active: $state.includes('**.analytics.**')}">
      Analytics
    </a>
  <li>
  <li>
    <a ui-sref=".tasks"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Tasks"
       ng-if="!application.tasks.loadFailure"
       ng-class="{active: $state.includes('**.tasks.**')}">
      Tasks
      <span class="badge"
            ng-if="application.runningTasks.data.length">
        {{application.runningTasks.data.length}}
      </span>
    </a>
    <a ng-if="application.tasks.loadFailure">
      Tasks
      <span class="small glyphicon glyphicon-exclamation-sign"
            uib-tooltip="There was an error loading tasks. We'll try again shortly."></span>
    </a>
  </li>
  <li>
    <a ui-sref=".config"
       analytics-on="click"
       analytics-category="Application Nav"
       analytics-event="Config"
       ng-class="{active: $state.includes('**.config.**')}">
      Config
    </a>
  </li>
</ul>
