<div class="modal-page">
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Application</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editApplicationForm">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Name</div>
        <div class="col-sm-9">
          <p class="form-control-static">{{editApp.applicationAttributes.name}}</p>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Owner Email *</div>
        <div class="col-sm-9">
          <input type="email"
                 name="email"
                 ng-class="{'ng-invalid ng-dirty':newAppModal.emailErrorMsg.length > 0 }"
                 class="form-control input-sm "
                 data-purpose="application-email"
                 ng-model="editApp.applicationAttributes.email"
                 placeholder="Enter an email address"
                 required>
          </input>
        </div>
      </div>

      <div class="form-group row slide-in animated" ng-if="editApplicationForm.email.$dirty && editApplicationForm.email.$invalid">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Please enter a valid email address</span>
        </div>
      </div>

      <div class="form-group row slide-in animated" ng-if="editApp.emailErrorMsg">
        <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in editApp.emailErrorMsg">
          {{errorMsg}} <small><span class="glyphicon glyphicon-remove" ng-click="editApp.clearEmailMsg()" style="cursor: pointer; padding-left: 10px"></span></small>

        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left" id="pagerDutyApiKeyLabel">PagerDuty API Key</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="editApp.applicationAttributes.pdApiKey"
                 placeholder="Enter your PagerDuty API key">
          </input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Repo Type</div>
        <div class="col-sm-9">
          <select
              class="form-control input-sm"
              ng-options="repoType for repoType in ['stash', 'github']"
              ng-model="editApp.applicationAttributes.repoType">
            <option value="">Select Repo Type</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Repo Project</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="editApp.applicationAttributes.repoProjectKey"
                 placeholder="Enter your source repository project name"/>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Repo Name</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="editApp.applicationAttributes.repoSlug"
                 placeholder="Enter your source repository name (not the url)"
                 pattern="^((?!\:\/\/).)*$"
                 name="repoSlug"/>
        </div>
      </div>

      <div class="form-group row slide-in animated" ng-messages="editApplicationForm.repoSlug.$error">
        <div class="col-sm-9 col-sm-offset-3 error-message" ng-message="pattern">
          Enter your source repository name (not the URL).
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Description</div>
        <div class="col-sm-9">
          <textarea
              class="form-control input-sm"
              ng-model="editApp.applicationAttributes.description"
              placeholder="Enter a description"
              data-purpose="application-description">
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 sm-label-left">Account(s)</div>
        <div class="col-md-9">
          <p class="form-control-static">{{editApp.applicationAttributes.accounts}}</p>
        </div>
      </div>

      <div class="form-group row" ng-if="editApp.cloudProviders.length > 1">
        <div class="col-md-3 sm-label-left">Cloud Provider</div>
        <div class="col-md-9">
          <ui-select multiple ng-model="editApp.applicationAttributes.cloudProviders" class="form-control input-sm">
            <ui-select-match>
              {{$item}}
            </ui-select-match>
            <ui-select-choices repeat="provider in editApp.cloudProviders | filter: $select.search">
              {{provider}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Instance Health</div>
        <div class="col-sm-9 checkbox" style="margin-bottom: 0">
          <label>
            <input type="checkbox"
                   ng-model="editApp.applicationAttributes.platformHealthOnly"
                   id="applicationPlatformHealthOnly">
            </input>
            Consider only cloud provider health when executing tasks
            <help-field key="application.platformHealthOnly"></help-field>
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9 col-sm-offset-3 checkbox" style="margin-top: 0">
          <label>
            <input type="checkbox"
                   ng-model="editApp.applicationAttributes.platformHealthOnlyShowOverride"
                   id="applicationPlatformHealthOnlyShowOverride">
            </input>
            Show health override option for each operation
            <help-field key="application.showPlatformHealthOverride"></help-field>
          </label>
        </div>
      </div>

      <div class="form-group row slide-in animated" ng-if="editApp.errorMsgs">
        <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in editApp.errorMsgs">
          {{errorMsg}}
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-12">
          <em>* Required</em>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-disabled="!editApplicationForm.$valid || editApp.submitting"
              ng-click="editApp.submit()">
        <span class="glyphicon glyphicon-ok-circle" ng-if="!editApp.submitting"></span>
        <span ng-if="editApp.submitting" style="display: inline-block; position: relative; width: 16px; height: 15px">
          <span us-spinner="{color: '#ffffff', left: '3px', top: '10px', radius:3, width: 2, length: 3}"></span>
        </span>
        Update
      </button>
    </div>
  </form>
</div>
