<div class="header row header-clusters">
  <div class="col-md-4 col-sm-4">
    <h3>
      Security Groups
    </h3>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="form-inline clearfix filters">
      <div class="form-group text-center">
        <label class="checkbox">Show </label>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showServerGroups" ng-change="ctrl.updateSecurityGroups()" />
            Server Groups
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="sortFilter.showLoadBalancers" ng-change="ctrl.updateSecurityGroups()"/>
            Load Balancers
          </label>
        </div>
      </div>
    </div>
    <div class="application-actions">
      <button class="btn btn-sm btn-default" ng-click="ctrl.createSecurityGroup()">
        <span class="glyphicon glyphicon-plus-sign visible-lg-inline"></span>
        <span class="glyphicon glyphicon-plus-sign visible-md-inline visible-sm-inline" uib-tooltip="Create Security Group"></span>
        <span class="visible-lg-inline">Create Security Group</span>
      </button>
    </div>
  </div>
  <filter-tags tags="tags" tag-cleared="ctrl.updateSecurityGroups()" clear-filters="ctrl.clearFilters()"></filter-tags>
</div>
<div class="content"
     data-scroll-id="securitygroups-content"
     sticky-headers
     waypoint-container
     waypoint-container-key="{{application.name}}"
     waypoint-offset="100"
     ng-include="ctrl.groupingsTemplate"></div>
