[Unit]
Description=Spinnaker Rosco
PartOf=spinnaker.service

[Service]
ExecStart=/opt/rosco/bin/rosco 2>&1 /var/log/spinnaker/rosco/rosco.log
WorkingDirectory=/opt/rosco/bin
SuccessExitStatus=143
User=spinnaker
Group=spinnaker
Type=simple

[Install]
WantedBy=multi-user.target
