<div class="container infrastructure global-search-header">
  <div class="row">
    <div class="col-md-12">
      <h2>Infrastructure Search</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>You may search for Applications, Clusters, Load Balancers, and Server Groups.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <form class="form form-horizontal">
        <div class="form-group">
          <div class="col-md-12">
            <input type="search"
                   class="form-control input-lg"
                   style="margin-bottom: 10px"
                   placeholder="Search infrastructure"
                   autofocus
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
                   ng-model="query">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div ng-if="ctrl.hasResults()">
  <div class="row" ng-if="moreResults">
    <div class="col-md-12">
      <p style="margin: 10px 20px 0">Only showing the first {{pageSize}} results found.</p>
    </div>
  </div>
  <div class="row infrastructure">
    <div class="col-md-4 animated category-container" ng-repeat="category in categories | orderBy:'category'">
      <div class="panel category row">
        <div class="summary">{{ category.category }} ({{category.results.length}})</div>
        <div class="details-container list-group">
          <a class="list-group-item"
             ng-repeat="result in category.results"
             href="{{ result.href }}">
            <search-result item="result"></search-result>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 ng-if="viewState.searching" class="text-center" style="margin-bottom: 25px">
  <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span>
</h2>
<div ng-if="ctrl.noMatches() && !viewState.searching">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">No results matching {{ query }}.</h4>
    </div>
  </div>
</div>
<div ng-if="ctrl.hasRecentItems && !viewState.searching && !categories.length">
  <div class="row infrastructure recently-viewed-items">
    <div class="col-md-12">
      <h3>Recently viewed</h3>
    </div>
  </div>
  <div class="row infrastructure">
    <div class="col-md-4 animated category-container" ng-repeat="category in recentItems | orderBy:'category'">
      <div class="panel category row">
        <div class="summary">{{ category.category | robotToHuman }} ({{category.results.length}})</div>
        <div class="details-container list-group">
          <a class="list-group-item"
             ng-repeat="result in category.results"
             ui-sref="{{ result.state }}(result.params)">
            <search-result item="result"></search-result>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
