.execution-status-section {
  ul.trigger-details.artifacts {
    li {
      margin-bottom: 4px;
    }

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: inherit;
      height: 12px;
    }

    dl {
      margin: 0;
    }

    dd, dt {
      display: inline;
    }

    dt {
      font-weight: normal;
      padding: 0 4px 0 0;
    }
  }
}
