<svg ng-attr-width="{{$ctrl.donut.width+20}}" ng-attr-height="{{$ctrl.donut.height}}">
  <g ng-attr-transform="translate({{($ctrl.donut.width+20)/2 || 0}},{{$ctrl.donut.height/2 || 0}})">
    <g class="arc total">
      <path ng-attr-d="{{$ctrl.donut.total}}" class="score-border"></path>
    </g>
    <g class="arc availability" ng-repeat="arc in $ctrl.donut.arcs">
      <path ng-attr-d="{{arc.path}}" class="score-fill-{{arc.score}}"></path>
    </g>
    <g class="target" ng-repeat="target in $ctrl.donut.targets">
      <path ng-attr-d="{{target.path}}" class="score-fill-{{target.score}}" ng-attr-transform="rotate({{target.rotation}})"></path>
      <text class="target-value" alignment-baseline="middle" ng-attr-x="{{target.labelPosition[0]}}" ng-attr-y="{{target.labelPosition[1]}}">{{target.availability.toFixed(1)}}</text>
    </g>
    <text text-anchor="middle" alignment-baseline="baseline" x="0" y="0" style="font-size: {{$ctrl.ninesSize}}px" class="nines score-fill-{{$ctrl.score}}">{{$ctrl.displayNines}}</text>
    <text text-anchor="middle" alignment-baseline="hanging" x="0" y="5" style="font-size: {{$ctrl.percentSize}}px" class="percent score-fill-{{$ctrl.score}}">{{$ctrl.availability === 100 ? $ctrl.availability : $ctrl.availability.toFixed(3)}}%</text>
  </g>
</svg>
