<form name="form" class="container-fluid form-horizontal" ng-controller="ServerGroupBasicSettingsCtrl as basicSettingsCtrl" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div class="col-md-12 well" ng-class="{'alert-danger': form.loadBalancerName.$error.validateUnique, 'alert-info': !form.loadBalancerName.$error.validateUnique}">
        <strong>Your server group will be in the cluster:</strong>
        <span>{{basicSettingsCtrl.getNamePreview()}}</span>
      </div>
    </div>
    <account-select-field component="command" field="credentials" accounts="accounts" loading="false"></account-select-field>
    <region-select-field component="command" field="region" account="command.credentials" regions="regions"></region-select-field>
    <subnet-select-field component="command" field="subnetType" region="command.region" subnets="regionSubnetPurposes"></subnet-select-field>
    <div class="form-group">
      <div class="col-md-3 sm-label-left"><b>Stack</b></div>
      <div class="col-md-3"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.stack"/></div>

      <div class="col-md-1 sm-label-left"><b>Detail</b></div>
      <div class="col-md-3"><input type="text"
                                   class="form-control input-sm"
                                   ng-model="command.freeFormDetails"/></div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-left"><b>Image</b></div>
      <div class="col-md-9" ng-if="state.queryAllImages || regionalImages.length === 0">
        <input type="hidden" class="form-control input-sm" required
               ng-model="command.allImageSelection"
               ng-change="command.amiName = command.allImageSelection.id"
               ui-select2="select2Params"/>
        <a ng-if="regionalImages.length > 0" href ng-click="state.queryAllImages = false">Only show images matching "{{applicationName}}"</a>
      </div>
      <div class="col-md-9" ng-if="!state.queryAllImages &&  regionalImages.length > 0">
        <select ui-select2 class="form-control input-sm" ng-model="command.amiName" data-placeholder="Pick an image" required>
          <option ng-repeat="image in regionalImages" value="{{image.imageName}}">{{image.imageName}}</option>
        </select>
        <a href ng-click="state.queryAllImages = true">Search All Images</a>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                   submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
    <button type="button" class="btn btn-primary" ng-click="wizard.nextPage(form.$valid)" ng-disabled="form.$invalid">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
