<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Cooldown</b></div>
  <div class="col-md-2"><input type="text" required
                               class="form-control input-sm"
                               ng-model="command.cooldown"/></div>&nbsp;seconds
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Health Check Type</b></div>
  <div class="col-md-6">

    <ui-select ng-model="command.healthCheckType" class="form-control input-sm">
      <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="healthCheckType in healthCheckTypes | filter: $select.search">
        <span ng-bind-html="healthCheckType | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>

  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Health Check Grace Period</b></div>
  <div class="col-md-2"><input type="text" required
                               class="form-control input-sm"
                               ng-model="command.healthCheckGracePeriod"/></div>&nbsp;seconds
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Termination Policies</b></div>
  <div class="col-md-6">

    <ui-select ng-model="command.terminationPolicies" class="form-control input-sm">
      <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="terminationPolicy in terminationPolicies | filter: $select.search">
        <span ng-bind-html="terminationPolicy | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>

  </div>
</div>

<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Key Name</b></div>
  <div class="col-md-6">
    <ui-select ng-model="command.keyPair" class="form-control input-sm">
      <ui-select-match>{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="regionalKeyPair in command.backingData.filtered.keyPairs">
        <span ng-bind-html="regionalKeyPair"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Ramdisk Id</b></div>
  <div class="col-md-6"><input type="text"
                               class="form-control input-sm"
                               ng-model="command.ramdiskId"/></div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>IAM Instance Profile</b></div>
  <div class="col-md-6"><input type="text"
                               class="form-control input-sm"
                               ng-model="command.iamRole"/></div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Instance Monitoring</b></div>
  <div class="col-md-6 checkbox">
    <label><input type="checkbox" ng-model="command.instanceMonitoring"/> Enable Instance Monitoring </label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>EBS Optimized</b></div>
  <div class="col-md-6 checkbox">
    <label><input type="checkbox" ng-model="command.ebsOptimized"/> Optimize Instances for EBS</label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Associate Public IP Address</b></div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="true" id="associatePublicIpAddressTrue"/>
      Yes
    </label>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="false" id="associatePublicIpAddressFalse"/>
      No
    </label>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="command.associatePublicIpAddress" ng-value="null" id="associatePublicIpAddressDefault"/>
      Default
    </label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-left"><b>Enable Traffic</b></div>
  <div class="col-md-6 checkbox">
    <label><input type="checkbox"
                  ng-click="advancedSettingsCtrl.toggleSuspendedProcess('AddToLoadBalancer')"
                  ng-checked="!advancedSettingsCtrl.processIsSuspended('AddToLoadBalancer')"/>
      Send client requests to new instances
    </label>
  </div>
</div>
