.help-menu {
  border: 0;

  .dropdown-toggle,
  .dropdown-toggle:active {
    border: 0;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    border: 0;
    background: transparent;
    border-radius: 0;
    color: var(--color-white);

    .caret {
      margin-left: 3px;
    }
  }

  .dropdown.open {
    .dropdown-toggle {
      background-color: transparent;
      text-decoration: none;
      color: var(--color-white);
      box-shadow: none;
    }
  }

  .dropdown-menu {
    border: 0;
  }
}
