<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-12">
      <select-field options="methods" value="loadBalancer.algorithm" label="Distribution" help-key="openstack.loadBalancer.distribution" on-change="ctrl.onDistributionChanged(value)"></select-field>
      <table class="table table-condensed packed">
        <thead>
        <tr>
          <th>Protocol</th>
          <th>External Port</th>
          <th></th>
          <th>Internal Port</th>
          <th ng-if="ctrl.showSslCertificateIdField()" width="25%">SSL Certificate Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="listener in loadBalancer.listeners">
          <td><select class="form-control input-sm" ng-model="listener.externalProtocol"
                      ng-change="ctrl.listenerProtocolChanged(listener)"
                      ng-options="protocol for protocol in ['HTTP','TERMINATED_HTTPS','TCP']"></select></td>
          <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.externalPort"
                     required/></td>
          <td class="small" style="padding-top: 10px;">&rarr;</td>
          <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.internalPort"
                     required/></td>
          <td ng-if="ctrl.showSslCertificateIdField() && listener.externalProtocol !== 'TERMINATED_HTTPS'"></td>
          <td ng-if="listener.externalProtocol === 'TERMINATED_HTTPS'">
            <input class="form-control input-sm" type="text" ng-model="listener.sslCertificateId"
                   required/></td>
          </td>
          <td ng-if="loadBalancer.listeners.length > 1"><a href class="sm-label" ng-click="ctrl.removeListener($index)"><span
            class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="{{ctrl.showSslCertificateIdField() ? 6 : 5}}">
            <button class="add-new col-md-12" ng-click="ctrl.addListener()"><span
              class="glyphicon glyphicon-plus-sign"></span> Add new port mapping
            </button>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
