<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Notification</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editNotificationForm">
    <div class="modal-body">
      <notification-selector notification="editNotification.notification"></notification-selector>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Notify when</div>
        <div class="col-sm-9">
          <label class="col-sm-9" ng-repeat="wo in editNotification.whenOptions">
            <input
              type="checkbox"
              name="when"
              value="{{wo}}"
              ng-model="selectedWhenOptions[wo]"
              ng-checked="editNotification.notification.when.indexOf(wo) > -1">
            {{wo|notificationWhen:level}}

          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-show="editApp.submitting" us-spinner="{radius:20, width:6, length: 12}"></span>
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-click="editNotification.submit()"
              ng-disabled="editNotificationForm.$invalid || !editNotification.hasSelectedWhen"
        >
        <span class="glyphicon glyphicon-ok-circle"></span> Update
      </button>
    </div>
  </form>
</div>
