<ul class="nav nav-pills" ng-if="!application.notFound">
  <li>
    <a ui-sref=".executions"
       ng-if="!application.executionsLoadFailure"
       ng-class="{active: $state.includes('**.executions.**') || $state.includes('**.pipelineConfig')}">
      Pipelines
      <span class="badge"
            ng-if="( application.executions | filter:{isActive:true}).length > 0">
        {{ (application.executions | filter:{isActive:true}).length }}
      </span>
    </a>
    <a ng-if="application.executionsLoadFailure">
      Pipelines
      <span class="small glyphicon glyphicon-exclamation-sign"
            uib-tooltip="There was an error loading pipelines. We'll try again shortly."></span>
    </a>
  </li>
  <li>
    <a ui-sref=".insight.clusters"
       ng-class="{active: $state.includes('**.clusters.**')}">
      Clusters
    </a>
  </li>
  <li>
    <a ui-sref=".insight.loadBalancers"
       ng-class="{active: $state.includes('**.loadBalancers.**') || $state.includes('*.loadBalancer')}">
      Load Balancers
    </a>
  </li>
  <li>
    <a ui-sref=".insight.securityGroups"
       ng-class="{active: $state.includes('**.securityGroups.**')}">
      Security Groups
    </a>
  <li>
    <!-- TODO: Get this out somehow, maybe by overriding the file in template cache, who knows -->
  <li ng-if="feature.fastProperty">
    <a ui-sref=".properties"
       ng-class="{active: $state.includes('**.properties')}">
      Properties
    </a>
  <li>
  <li>
    <a ui-sref=".tasks"
       ng-if="!application.tasksLoadFailure"
       ng-class="{active: $state.includes('**.tasks.**')}">
      Tasks
      <span class="badge"
            ng-if="( application.tasks | filter:{isActive:true}).length > 0">
        {{ (application.tasks | filter:{isActive:true}).length }}
      </span>
    </a>
    <a ng-if="application.tasksLoadFailure">
      Tasks
      <span class="small glyphicon glyphicon-exclamation-sign"
            uib-tooltip="There was an error loading tasks. We'll try again shortly."></span>
    </a>
  </li>
  <li>
    <a ui-sref=".config"
       ng-class="{active: $state.includes('**.config.**')}">
      Config
    </a>
  </li>
</ul>