<div class="dropdown" uib-dropdown>
  <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
    {{pipeline.strategy === true ? 'Strategy' : 'Pipeline'}} Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li><a href ng-click="pipelineConfigurerCtrl.renamePipeline()">Rename</a></li>
    <li><a href ng-click="pipelineConfigurerCtrl.deletePipeline()">Delete</a></li>
    <li ng-if="pipeline.disabled"><a href ng-click="pipelineConfigurerCtrl.enablePipeline()">Enable</a></li>
    <li ng-if="!pipeline.disabled"><a href ng-click="pipelineConfigurerCtrl.disablePipeline()">Disable</a></li>
    <li><a href ng-click="pipelineConfigurerCtrl.editPipelineJson()">Edit as JSON</a></li>
    <li ng-if="viewState.hasHistory"><a href ng-click="pipelineConfigurerCtrl.showHistory()">Show Revision History</a></li>
    <li ng-if="!viewState.hasHistory"><a class="disabled">No version history found</a></li>
    <li><pipeline-migrator pipeline="pipeline" application="application"></pipeline-migrator></li>
  </ul>
</div>
