<div class="container">
  <div class="row">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SPINNAKER</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="!navbarExpanded">
      <ul class="nav navbar-nav">
        <li state-active="home.applications.**">
          <a ui-sref="home.applications">Applications</a>
        </li>
        <li state-active="home.infrastructure.**">
          <a ui-sref="home.infrastructure">Infrastructure</a>
        </li>
        <li ng-if="feature.fastProperty" state-active="home.data.**">
          <a ui-sref="home.data.properties">Data</a>
        </li>
        <li ng-if="feature.analytics" state-active="home.analytics.**">
          <a ui-sref="home.analytics">Analytics</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <global-search></global-search>
        <whats-new></whats-new>
        <feedback></feedback>
      </ul>
    </div>
  </div>
  <!--/.nav-collapse -->
</div>
