<div modal-page>
  <form role="form" class="container-fluid form-horizontal" name="form" novalidate>
    <div class="modal-header">
      <h3>Create New Security Group</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Name</div>
        <div class="col-md-9">
          <input type="text" class="form-control input-sm"
                 ng-model="securityGroup.name"
                 validate-unique="existingSecurityGroupNames"
                 validate-ignore-case="true"
                 name="securityGroupName"
                 ng-pattern="ctrl.namePattern"
                 trigger-validation="securityGroup.subnet"
                 required/>
          <validation-error ng-if="form.securityGroupName.$error.validateUnique" message="That name is already in use"></validation-error>
          <validation-error ng-if="form.securityGroupName.$error.pattern" message="Name must match {{ctrl.getCurrentNamePattern().toString()}}"></validation-error>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Description</div>
        <div class="col-md-9">
          <input type="text" class="form-control input-sm" ng-model="securityGroup.description" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Account</div>
        <div class="col-md-9">
          <select class="form-control input-sm"
                  ng-model="securityGroup.credentials"
                  ng-options="account for account in accounts"
                  ng-change="ctrl.accountUpdated()"
                  required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Region</div>
        <div class="col-md-9">
          <select class="form-control input-sm" ng-model="securityGroup.region"
                  ng-change="ctrl.regionUpdated()"
                  ng-options="region.name as region.name for region in regions"
                  required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">VPC</div>
        <div class="col-md-9">
          <select class="form-control input-sm" ng-model="securityGroup.vpcId"
                  ng-change="ctrl.vpcUpdated()"
                  ng-options="vpc.id as vpc.label for vpc in vpcs">
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary" ng-click="nextPage()"
              ng-disabled="form.$invalid">
        <span class="glyphicon glyphicon-chevron-right"></span> Next: Inbound Rules
      </button>
    </div>
  </form>
</div>
