<div modal-page>
  <form role="form" class="container-fluid form-horizontal">
    <div class="modal-header">
      <h3>Create New Security Group</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Name</div>
        <div class="col-md-9">
          <input type="text" class="form-control input-sm" ng-model="securityGroup.name" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Description</div>
        <div class="col-md-9">
          <input type="text" class="form-control input-sm" ng-model="securityGroup.description" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Account</div>
        <div class="col-md-9">
          <select class="form-control input-sm"
                  ng-model="securityGroup.account"
                  ng-options="account for account in accounts"
                  required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">VPC</div>
        <div class="col-md-9">
          <select class="form-control input-sm" ng-model="securityGroup.subnet" required>
            <option value="{{subnet.name}}" ng-repeat="subnet in subnetOptions">
              {{subnet.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Region</div>
        <div class="col-md-9">
          <select class="form-control input-sm" ng-model="securityGroup.region" required>
            <option value="{{region.name}}" ng-repeat="region in regions">
              {{region.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left table-offset">IP Range Rules</div>
        <div class="col-md-9">
          <table class="table table-condensed packed">
            <thead>
            <tr>
              <th>Protocol</th>
              <th>Start Port</th>
              <th>End Port</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ipRangeRule in securityGroup.ipRangeRules">
              <td><select class="form-control input-sm" ng-model="ipRangeRule.protocol"
                          ng-options="protocol for protocol in ['HTTP','TCP', 'ICMP']"></select></td>
              <td><input class="form-control input-sm" type="number" min="0" ng-model="ipRangeRule.internalPort"
                         required/></td>
              <td><select class="form-control input-sm" ng-model="listener.externalProtocol"
                          ng-options="protocol for protocol in ['HTTP','TCP']"></select></td>
              <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.externalPort"
                         required/></td>
              <td><a class="pointer sm-label" ng-click="removePortMapping(securityGroup, $index)"><span
                class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="4">
                <button class="add-new col-md-12" ng-click="addPortMapping(securityGroup)"><span
                  class="glyphicon glyphicon-plus-sign"></span> Add new port mapping
                </button>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary"
              ng-click="ctrl.resize()"
              ng-disabled="!ctrl.isValid()">
        Submit
      </button>
    </div>
  </form>
</div>
