<div modal-page>
  <form role="form" class="container-fluid form-horizontal">
    <div class="modal-header">
      <h3>Create New Load Balancer</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Name</div>
        <div class="col-md-9">
          <input type="text" class="form-control input-sm" ng-model="loadBalancer.name" required/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">Account</div>
        <div class="col-md-9">
          <select class="form-control input-sm"
                  ng-model="loadBalancer.account"
                  ng-options="account for account in accounts"
                  required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left">VPC</div>
        <div class="col-md-9">
          <select class="form-control input-sm" ng-model="loadBalancer.subnet" required>
            <option value="{{subnet.name}}" ng-repeat="subnet in subnetOptions">
              {{subnet.label}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left table-offset">Port Mappings</div>
        <div class="col-md-9">
          <table class="table table-condensed packed">
            <thead>
            <tr>
              <th>Internal Protocol</th>
              <th>Internal Port</th>
              <th>External Protocol</th>
              <th>External Port</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="listener in loadBalancer.portMappings">
              <td><select class="form-control input-sm" ng-model="listener.internalProtocol"
                          ng-options="protocol for protocol in ['HTTP','TCP']"></select></td>
              <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.internalPort"
                         required/></td>
              <td><select class="form-control input-sm" ng-model="listener.externalProtocol"
                          ng-options="protocol for protocol in ['HTTP','TCP']"></select></td>
              <td><input class="form-control input-sm" type="number" min="0" ng-model="listener.externalPort"
                         required/></td>
              <td><a class="pointer sm-label" ng-click="removePortMapping(loadBalancer, $index)"><span
                class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="4">
                <button class="add-new col-md-12" ng-click="addPortMapping(loadBalancer)"><span
                  class="glyphicon glyphicon-plus-sign"></span> Add new port mapping
                </button>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-left table-offset">Health Check</div>
        <div class="col-md-9">
          <table class="table table-condensed packed">
            <thead>
            <tr>
              <th width="35%">Protocol</th>
              <th>Port</th>
              <th>Path</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><select class="form-control input-sm" ng-model="loadBalancer.healthCheck.protocol" required
                          ng-options="protocol for protocol in ['HTTP', 'HTTPS', 'SSL', 'TCP']"></select></td>
              <td><input class="form-control input-sm" type="number" ng-model="loadBalancer.healthCheck.port"
                         required min="0"/></td>
              <td><input class="form-control input-sm" type="text" ng-model="loadBalancer.healthCheck.path"
                         required/></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
      <button class="btn btn-primary"
              ng-click="ctrl.resize()"
              ng-disabled="!ctrl.isValid()">
        Submit
      </button>
    </div>
  </form>
</div>
