<modal-wizard heading="{{newFP.heading}}" hide-indicators="true" class="fastPropertyWizard">
  <wizard-page key="Details" label="Step 1: Property details">

      <form novalidate name="form" role="form" class="container-fluid" novalidate name="newFastPropertyForm">
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Environment</div>
            <div class="col-sm-9">
              <select class="form-control input-sm" ng-model="newFP.property.env" ng-disabled="newFP.isEditing" ng-options="env for env in ['test', 'prod']">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Property name</div>
            <div class="col-sm-9">
              <input type="text"
                     autofocus
                     name="name"
                     required
                     ng-disabled="newFP.isEditing"
                     ng-pattern="/^[a-zA-z_0-9.]*$/"
                     class="form-control input-sm"
                     data-purpose="fastProperty-key"
                     ng-model="newFP.property.key"
                     placeholder="Enter a fast property key" >
              </input>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Value</div>
            <div class="col-sm-9">
              <input type="text"
                     name="value"
                     class="form-control input-sm "
                     data-purpose="fastProperty-value"
                     ng-model="newFP.property.value"
                     placeholder="Enter a fast property value"
                     required
                     id="ownerEmail">
              </input>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Constraints <fast-property-constraints></fast-property-constraints></div>
            <div class="col-sm-9">
              <input type="text"
                     name="constraints"
                     class="form-control input-sm "
                     data-purpose="fastProperty-constraints"
                     ng-model="newFP.property.constraints"
                     placeholder="Enter a constraint"
                     required
                     id="constraints">
              </input>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Description</div>
            <div class="col-sm-9">
          <textarea
            class="form-control input-sm"
            ng-model="newFP.property.description"
            placeholder="Enter description"
            name="description">
          </textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3 sm-label-left">Notification email</div>
            <div class="col-sm-9">
              <input
                type="email"
                name="email"
                required
                class="form-control input-sm"
                ng-model="newFP.property.email"
                placeholder="Enter a notification email"
                data-purpose="fastProperty-description">
              </input>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3 sm-label-left">CMC</div>
            <div class="col-md-9">
              <input
                required
                type="text"
                name="cmcTicket"
                class="form-control input-sm"
                ng-model="newFP.property.cmcTicket"
                placeholder="Enter a CMC"
                data-purpose="fastProperty-cmc">
              </input>
            </div>
          </div>
        </div>

        <div class="form-group row slide-in animated" ng-if="form.$error">
          <div class="col-sm-8 col-sm-offset-4 error-message">
            <ui style="list-style: none;">
              <li ng-if="form.name.$dirty && form.name.$invalid">Enter a property name</li>
              <li ng-if="form.value.$dirty && form.value.$invalid">Enter a value</li>
              <li ng-if="form.constraints.$dirty && form.constraints.$invalid">Enter a constraints</li>
              <li ng-if="form.email.$dirty && form.email.$invalid">Enter a valid email</li>
              <li ng-if="form.cmcTicket.$dirty && form.cmcTicket.$invalid">CMC Ticket is required</li>
            </ui>
          </div>
        </div>

        <div class="modal-footer">
          <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
                  ng-click="$dismiss()">Cancel
          </button>
          <button class="btn btn-primary"
                  ng-disabled="form.$invalid"
                  ng-click="wizard.markComplete('Details'); wizard.nextPage()">
            Next <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </form>

  </wizard-page>

  <wizard-page key="scope" label="Step 2: Define Starting Scope" render="true" done="true">


    <div class="row">
      <div class="col-md-12">
        <scope-select app-name="newFP.appName" clusters="newFP.clusters" modal="newFP.property" ng-if="!newFP.isEditing"></scope-select>
      </div>

    </div>

    <div class="row">
      <div class="modal-body">
        <div class="col-md-8">
          <dl class="fastProperty-scope" ng-if="newFP.property.selectedScope">
            <dt>App Name:</dt>
            <dd>{{newFP.property.selectedScope.appId}}</dd>

            <dt ng-if="newFP.property.selectedScope.region">Region:</dt>
            <dd ng-if="newFP.property.selectedScope.region">{{newFP.property.selectedScope.region}}</dd>

            <dt ng-if="newFP.property.selectedScope.stack">Stack:</dt>
            <dd ng-if="newFP.property.selectedScope.stack">{{newFP.property.selectedScope.stack}}</dd>

            <dt ng-if="newFP.property.selectedScope.cluster">Cluster:</dt>
            <dd ng-if="newFP.property.selectedScope.cluster">{{newFP.property.selectedScope.cluster}}</dd>

            <dt ng-if="newFP.property.selectedScope.asg">ASG:</dt>
            <dd ng-if="newFP.property.selectedScope.asg">{{newFP.property.selectedScope.asg}}</dd>

            <dt ng-if="newFP.property.selectedScope.zone">AZ:</dt>
            <dd ng-if="newFP.property.selectedScope.zone">{{newFP.property.selectedScope.zone}}</dd>

            <dt ng-if="newFP.property.selectedScope.serverId">Instance:</dt>
            <dd ng-if="newFP.property.selectedScope.serverId">{{newFP.property.selectedScope.serverId}}</dd>


          </dl>
        </div>

        <div class="col-md-4">
          <h3>You will affect</h3>

          <h2 style="margin-top: 10px; color: #ff0000">{{newFP.property.impactCount}}</h2>

          <h3>instances</h3>
        </div>

      </div>
    </div>


    <div class="modal-footer">
      <button ng-disabled="taskMonitor.submitting" class="btn btn-default pull-left"
              ng-click="$dismiss()">Cancel
      </button>
      <button class="btn btn-default"
              ng-click="wizard.previousPage()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>

      <button class="btn btn-primary" ng-if="!newFP.isEditing"
              ng-disabled="form.$invalid"
              ng-click="newFP.submit()"> Create property
      </button>

      <button class="btn btn-primary" ng-if="newFP.isEditing"
              ng-disabled="form.$invalid"
              ng-click="newFP.update()"> Update property
      </button>
    </div>

  </wizard-page>

</modal-wizard>



