.EnvironmentOverview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --base-horizontal-padding: var(--xl-spacing);

  .Environment {
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    max-width: 1200px;
    width: 100%;
    border: 1px solid var(--color-cirrus);
    border-radius: 4px;
    background-color: var(--color-white);
    overflow: hidden;

    .EnvironmentTitle {
      width: 100%;
      min-height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px var(--base-horizontal-padding);
      color: var(--color-primary);
      background-color: var(--color-accent-g4);
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
    }

    .environment-section {
      .environment-section-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: var(--l-spacing) var(--base-horizontal-padding);
        color: var(--color-black);
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        border-bottom: 1px solid var(--color-cirrus);
      }

      .environment-section-body {
        padding-bottom: var(--xl-spacing);
      }

      &:not(:last-of-type) {
        .environment-section-body {
          padding-bottom: var(--xl-spacing);
          border-bottom: 1px solid var(--color-cirrus);
        }
      }
    }
  }
}
