/* Common mixins extracted from Bootstrap */

.text-right() {
  text-align: right;
}

.pull-right() {
  float: right !important;
}

.pull-left() {
  float: left !important;
}

.fade-in(@duration:0.25; @delay: 0) {
  animation: @duration ease-in @delay fadeIn;
  animation-iteration-count: 1;
}

.slide-down(@duration:0.25) {
  animation: @duration ease-in-out 0 slideDown;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
