<div ng-controller="titusRunJobStageCtrl as runJobCtrl" class="form-horizontal">
  <stage-config-field label="Account">
    <account-select-field component="stage" field="credentials" accounts="backingData.credentials"
                          on-change="runJobCtrl.accountChanged()"
                          provider="'titus'"></account-select-field>
  </stage-config-field>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <region-select-field label-columns="2"
                           component="stage.cluster"
                           field="region"
                           account="stage.credentials"
                           regions="regions"
                           on-change="runJobCtrl.regionChanged()"
                           provider="'titus'"></region-select-field>
    </div>
  </div>

  <stage-config-field label="Image">
    <input type="text" class="form-control input-sm" name="image" ng-model="stage.cluster.imageId" required/>
  </stage-config-field>

  <stage-config-field label="CPU(s)">
    <input type="number" class="form-control input-sm" name="cpu" ng-model="stage.cluster.resources.cpu" required/>
  </stage-config-field>

  <stage-config-field label="Memory (MB)">
    <input type="number" class="form-control input-sm" name="memory" ng-model="stage.cluster.resources.memory"
           required/>
  </stage-config-field>

  <stage-config-field label="Disk (MB)">
    <input type="number" class="form-control input-sm" name="disk" ng-model="stage.cluster.resources.disk" required/>
  </stage-config-field>

  <stage-config-field label="Network (Mbps)">
    <input type="number" class="form-control input-sm" name="networkMbps" ng-model="stage.cluster.resources.networkMbps" required/>
  </stage-config-field>

  <stage-config-field label="Command">
    <input type="text" class="form-control input-sm" name="command" ng-model="stage.cluster.entryPoint"
           required/>
  </stage-config-field>

  <div class="form-group">
    <div class="col-md-9 col-md-offset-1">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="stage.showAdvancedOptions">
          <strong>Show Advanced Options</strong>
        </label>
      </div>
    </div>
  </div>

  <div ng-class="{collapse: stage.showAdvancedOptions !== true, 'collapse.in': stage.showAdvancedOptions === true}">

    <stage-config-field label="Allocate IP">
      <input type="checkbox" class="input-sm" name="allocateIpAddress"
             ng-model="stage.cluster.resources.allocateIpAddress"/>
    </stage-config-field>

    <stage-config-field label="Ports" ng-if="!stage.cluster.resources.allocateIpAddress" field-columns="3">
      <number-list model="stage.cluster.resources.ports" label="Port" constraints="{min: 1, max: 65535}"></number-list>
    </stage-config-field>
    <stage-config-field label="IAM Instance Profile (optional)">
      <input type="text"
             class="form-control input-sm"
             ng-model="stage.cluster.iamProfile"/>
    </stage-config-field>

    <stage-config-field label="Security Groups">
      <div ng-if="!stage.credentials || !stage.cluster.region">Select an account and region</div>
      <titus-security-group-picker ng-if="runJobCtrl.loaded && stage.credentials && stage.cluster.region"
                                   command="stage"
                                   hide-label="true"
                                   groups-to-edit="stage.cluster.securityGroups"
                                   removed-groups="runJobCtrl.removedGroups"
                                   groups-removed="runJobCtrl.groupsRemovedStream"
                                   account-changed="runJobCtrl.accountChangedStream"
                                   region-changed="runJobCtrl.regionChangedStream"></titus-security-group-picker></titus-security-group-picker>
    </stage-config-field>

    <stage-config-field label="Environment (optional)">
      <map-editor model="stage.cluster.env" allow-empty="true"></map-editor>
    </stage-config-field>

  </div>

</div>
