.cron-gen-main {
  .row {
    margin-bottom: 10px;
  }
  input[type='radio'] {
    margin-right: 4px;
  }
  .vertical-align-select {
    vertical-align: middle;
  }
  .select-month-days {
    min-width: 100px;
  }
  .select-month-week {
    min-width: 100px;
  }
  .select-weekdays {
    min-width: 200px;
  }
}
