<ng-form name="cronForm">
  <div class="form-group" style="margin-top: 10px">
    <label class="col-md-3 sm-label-right">
      Frequency
    </label>
    <div class="col-md-9">
      <cron-gen
        ng-model="vm.trigger.cronExpression"
        options="vm.cronOptions"
        name="{{vm.trigger.id}}"
        template-url="spinnaker-custom-cron-picker-template"
      ></cron-gen>
    </div>
  </div>

  <div class="form-group" ng-if="vm.fiatEnabled">
    <run-as-user-selector service-accounts="vm.serviceAccounts" component="vm.trigger" field="runAsUser">
    </run-as-user-selector>
  </div>
</ng-form>
