<div class="details-panel" ng-if="details.property || details.propertyNotFound">
  <div class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ng-click="details.close()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <h3 select-on-dbl-click>
        {{details.property.key}}
      </h3>
    </div>

    <div ng-if="details.property">
      <div class="actions">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
          Property Actions</button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-click="details.editFastProperty(details.property)">Edit</a></li>
            <li><a href ng-click="details.delete(details.property)">Delete</a></li>
            <li><a href ng-click="details.cloneToNewScope(details.property)">Clone with new scope</a></li>
          </ul>
        </div>
        <button class="btn btn-sm btn-default push-right" ng-click="details.showHistory()">History</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="content text-center" ng-if="details.propertyNotFound">
    Could not find the selected property.
  </div>

  <div class="content" ng-if="details.property">
    <collapsible-section heading="Fast Property Information" expanded="true">
      <dl class="dl-horizontal dl-narrow">

        <dt>Description</dt>
        <dd>{{details.property.description}}</dd>

        <dt ng-if="details.property.comment">Comment</dt>
        <dd ng-if="details.property.comment">{{details.property.comment}}</dd>

        <dt>Id</dt>
        <dd><copy-to-clipboard text="details.property.propertyId" tool-tip="'Copy property ID to clipboard'"></copy-to-clipboard></dd>

        <dt>Env</dt>
        <dd><account-tag account="details.property.env" pad="right"></account-tag><dd>

        <dt>Key<dt>
        <dd>{{details.property.key}}</dd>

        <dt>Value</dt>
        <dd>{{details.property.value}}</dd>

        <dt>Constraints</dt>
        <dd>{{details.property.constraints}}</dd>

        <dt>Source</dt>
        <dd>{{details.property.sourceOfUpdate}}</dd>

        <dt>Email</dt>
        <dd>{{details.property.email}}</dd>

        <dt>Updated By</dt>
        <dd>{{details.property.updatedBy}}</dd>

        <dt>Updated On</dt>
        <dd>{{details.property.ts | fastPropertyTime}}</dd>

        <dt ng-if="details.propertyExpires">Expires</dt>
        <dd ng-if="details.propertyExpires">{{details.propertyExpires}}</dd>

        <dt>CMC Ticket</dt>
        <dd>{{details.property.cmcTicket}}</dd>
      </dl>
    </collapsible-section>

    <collapsible-section heading="Scope" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>App</dt>
        <dd>{{details.property.appId}}</dd>

        <dt ng-if="details.property.region">Region</dt>
        <dd ng-if="details.property.region">{{details.property.region}}</dd>

        <dt ng-if="details.property.cluster">Cluster</dt>
        <dd ng-if="details.property.cluster">{{details.property.cluster}}</dd>

        <dt ng-if="details.property.stack">Stack</dt>
        <dd ng-if="details.property.stack">{{details.property.stack}}</dd>

        <dt ng-if="details.property.asg">ASG</dt>
        <dd ng-if="details.property.asg">{{details.property.asg}}</dd>

        <dt ng-if="details.property.zone">Zone</dt>
        <dd ng-if="details.property.zone">{{details.property.zone}}</dd>

        <dt ng-if="details.property.serverId">Instance</dt>
        <dd ng-if="details.property.serverId">{{details.property.serverId}}</dd>

      </dl>
    </collapsible-section>
  </div>
</div>

