@import "app/styles/imports/commonImports.less";

.sortable-stages {
  display: inline-block;
  vertical-align: top;
  .invalid {
    border-color: @state-danger-text;
    @shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten(@state-danger-text, 20%);
    .box-shadow(@shadow);
  }
}

.pipeline-footer {
  border-top: 1px solid @light_grey;
  margin-top: 10px;
  padding-top: 10px;

  .alert {
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    vertical-align: middle;
  }
}

.additional-details {
  margin-top: 15px;
}

.pipeline-config {
  &.row {
    border-bottom: 1px solid @light_grey;
  }
}

.pipeline-configurer {
  &:last-child {
    margin-bottom: 100px;
  }
}

pipeline-configurer {
  margin-top: 15px;
  display: block;

  .stage-details {
    background-color: #ffffff;
  }

  .panel-body {
    padding-top: 0;
  }

  .accordion-toggle {
    display: block;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }

    .glyphicon {
      font-size: 70%;
      opacity: 0.7;
      margin-right: 5px;
    }

    .dirty {
      .glyphicon-warning-sign {
        color: @text_error;
        font-size: 90%;
        opacity: 1;
        margin-left: 5px;
        padding: 0 2px;
      }
    }

  }

  .pipeline-actions {
    position: absolute;
    top: 30px;
    right: 30px;
    .fade-in(0.15, 0.4); // hack: prevent shifting of actions button during sliding animation
  }
}

.nav-pipeline-config {
  margin-bottom: 0;
  padding-left: 0;

  display: inline-block;
  width: 100%;

  h4 {
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
  }

  li {
    float: left;
  }

  .config-section {
    a, button {
      margin: 10px 5px;
      vertical-align: top;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

triggers {
  .add-new {
    margin: 0;
  }
}

.config-section {
  padding: 0;
  display: inline-block;

  &:last-child {
    border-right-width: 0;
  }

  a, h4 {
    display: inline-block;
    padding-left: 15px;
  }
  .add-new {
    margin: 0;
    padding: 7px;
  }
  a {
    padding: 5px 15px;
  }
  h4 {
    background-color: transparent;
    padding-right: 5px;
    vertical-align: middle;
    height: 32px;
    line-height: 32px;
  }
}

.panel-pipeline-phase {
  background: #ffffff;
  border: 1px solid @light_grey;
  padding: 15px;
  margin-bottom: 15px;
  &.no-border {
    border-width: 0;
  }
  .select2-result-label {
    h5 {
      margin: 5px 0 0 0;
    }
  }
}

deploy-preview {
  display: block;
}

pipeline-config-stage {
  .panel-group {
    .panel {
      border-radius: 0;
      .panel-body {
        padding-top: 15px;
      }
    }
  }
}

availability-zone-selector, server-group-capacity-selector {
  display: block;
}
