<progressbar animate="true" value="100" class="progress-striped active" ng-hide="notification.$done"></progressbar>
<span ng-if="notification.title">{{ notification.title }}</span>
<span ng-if="notification.href">
  <a href="{{ notification.href }}">
    {{ notification.message }}
  </a>
</span>
<span ng-if="!notification.href">
  {{ notification.message }}
</span>
<span class="navbar-right">
  <span ng-if="notification.timestamp">{{ notification.timestamp | date: 'HH:mm:ss' }}</span>
  <span class="glyphicon glyphicon-remove" ng-click="notification.dismiss($event)"></span>
</span>
