.artifact-select {
  padding: 0 !important;
}

.artifact-select .Select-placeholder {
  line-height: 28px;
  height: 28px;
}

.artifact-select .Select-control {
  border-radius: 3px;
}

.artifact-select .Select-arrow-zone {
  border-left: 1px solid rgb(204, 204, 204);
  background-image: url('~Select2/select2x2.png');
  background-size: 60px 40px;
  width: 17px;
}

.artifact-select .Select-arrow {
  display: none;
}
