<div
  class="form-group container-fluid form-horizontal"
  ng-controller="kubernetesServerGroupVolumesController as volumesController"
>
  <div ng-repeat="source in command.volumeSources" ng-init="sourceIndex = $index">
    <div class="form-group">
      <div class="col-md-3 sm-label-right">
        Volume Source
        <help-field key="kubernetes.pod.volume"></help-field>
      </div>
      <div class="col-md-4">
        <select class="form-control input-sm" ng-model="source.type">
          <option ng-repeat="type in volumesController.volumeTypes" value="{{type}}" ng-selected="source.type === type"
            >{{type}}</option
          >
        </select>
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-default" ng-click="volumesController.removeVolume($index)">
          <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
          <span class="visible-lg-inline"> Remove Volume Source</span>
        </button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 sm-label-right">
        Name
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="path" ng-model="source.name" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'CONFIGMAP'">
      <div class="col-md-3 sm-label-right">
        Config Map Name
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="path" ng-model="source.configMap.configMapName" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'CONFIGMAP'">
      <div class="col-md-3 sm-label-right">
        Items
        <help-field key="kubernetes.pod.volume.configMap.items"></help-field>
      </div>
      <div class="col-md-8">
        <table class="table table-condensed packed tags">
          <thead>
            <tr>
              <th>Key</th>
              <th>Path</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in source.configMap.items track by $index" ng-init="itemIndex = $index">
              <td>
                <input class="form-control input-sm" type="text" ng-model="item.key" />
              </td>
              <td>
                <input
                  class="form-control input-sm"
                  type="text"
                  ng-pattern="volumesController.relativePathPattern"
                  ng-model="item.path"
                />
              </td>
              <td class="table-remove-button">
                <a
                  class="btn btn-link sm-label"
                  style="margin-top: 0;"
                  ng-click="volumesController.removeItem(sourceIndex, itemIndex)"
                >
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="add-new btn btn-block btn-sm" ng-click="volumesController.addItem(sourceIndex)">
          <span class="glyphicon glyphicon-plus-sign"></span> Add item
        </button>
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'EMPTYDIR'">
      <div class="col-md-3 sm-label-right">
        Medium
        <help-field key="kubernetes.pod.emptydir.medium"></help-field>
      </div>
      <div class="col-md-4">
        <select class="form-control input-sm" ng-model="source.emptyDir.medium">
          <option
            ng-repeat="type in volumesController.mediumTypes"
            value="{{type}}"
            ng-selected="source.emptyDir.medium === type"
            >{{type}}</option
          >
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'HOSTPATH'">
      <div class="col-md-3 sm-label-right">
        Path
        <help-field key="kubernetes.pod.volume.hostpath.path"></help-field>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control input-sm"
          ng-pattern="volumesController.pathPattern"
          name="path"
          ng-model="source.hostPath.path"
        />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'PERSISTENTVOLUMECLAIM'">
      <div class="col-md-3 sm-label-right">
        Claim Name
        <help-field key="kubernetes.pod.volume.persistentvolumelclaim.claim"></help-field>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" ng-model="source.persistentVolumeClaim.claimName" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'PERSISTENTVOLUMECLAIM'">
      <div class="col-md-3 sm-label-right">
        Read Only
      </div>
      <div class="col-md-2">
        <input type="checkbox" ng-model="source.persistentVolumeClaim.readOnly" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'SECRET'">
      <div class="col-md-3 sm-label-right">
        Secret Name
        <help-field key="kubernetes.pod.volume.secret.secretname"></help-field>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="path" ng-model="source.secret.secretName" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'AWSELASTICBLOCKSTORE'">
      <div class="col-md-3 sm-label-right">
        Volume ID
        <help-field key="kubernetes.pod.volume.awsElasticBlockStore.volumeId"></help-field>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control input-sm"
          name="volumeId"
          ng-model="source.awsElasticBlockStore.volumeId"
        />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'AWSELASTICBLOCKSTORE'">
      <div class="col-md-3 sm-label-right">
        FS Type
        <help-field key="kubernetes.pod.volume.awsElasticBlockStore.fsType"></help-field>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="fsType" ng-model="source.awsElasticBlockStore.fsType" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'AWSELASTICBLOCKSTORE'">
      <div class="col-md-3 sm-label-right">
        Partition
        <help-field key="kubernetes.pod.volume.awsElasticBlockStore.partition"></help-field>
      </div>
      <div class="col-md-4">
        <input
          type="number"
          class="form-control input-sm"
          name="partition"
          ng-model="source.awsElasticBlockStore.partition"
        />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'NFS'">
      <div class="col-md-3 sm-label-right">
        Server
        <help-field key="kubernetes.pod.volume.nfs.server"></help-field>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control input-sm" name="server" ng-model="source.nfs.server" />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'NFS'">
      <div class="col-md-3 sm-label-right">
        Path
        <help-field key="kubernetes.pod.volume.nfs.path"></help-field>
      </div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control input-sm"
          ng-pattern="volumesController.pathPattern"
          name="path"
          ng-model="source.nfs.path"
        />
      </div>
    </div>
    <div class="form-group" ng-if="source.type === 'NFS'">
      <div class="col-md-3 sm-label-right">
        Read Only
      </div>
      <div class="col-md-2">
        <input type="checkbox" name="readOnly" ng-model="source.nfs.readOnly" />
      </div>
    </div>
    <hr ng-if="command.volumeSources.length > 1" />
  </div>
  <div>
    <td colspan="1">
      <button class="add-new btn btn-block btn-sm" ng-click="volumesController.addVolume()">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Volume Source
      </button>
    </td>
  </div>
</div>
