<div class="details-panel"
     ng-class="{ disabled: serverGroup.isDisabled }">

  <div class="header" ng-if="state.loading">
      <div class="close-button">
          <a class="btn btn-link"
             ui-sref="^">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </div>
      <div class="horizontal center middle">
        <loading-spinner size="'small'"></loading-spinner>
      </div>
  </div>


  <div class="header" ng-if="!state.loading">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text horizontal middle">
      <cloud-provider-logo provider="serverGroup.type" height="'36px'" width="'36px'"></cloud-provider-logo>
      <h3 class="horizontal middle space-between flex-1" select-on-dbl-click>
        {{serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: serverGroup.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-if="!ctrl.serverGroup.isDisabled" ng-click="ctrl.rollbackServerGroup()">Rollback</a></li>
            <li role="presentation" class="divider" ng-if="!ctrl.serverGroup.isDisabled"></li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="serverGroup.isDisabled && serverGroup.loadBalancers.length" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(serverGroup)">Clone</a></li>
          </ul>
        </div>
        <div class="dropdown" ng-if="serverGroup.insightActions.length > 0" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
            Insight <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li ng-repeat="action in serverGroup.insightActions"><a target=_blank href="{{action.url}}">{{action.label}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading">
    <h4 class="text-center" ng-if="serverGroup.isDisabled">[SERVER GROUP IS DISABLED]</h4>
    <server-group-running-tasks-details server-group="serverGroup" application="ctrl.application"></server-group-running-tasks-details>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <dt>Created</dt>
        <dd>{{serverGroup.createdTime | timestamp }}</dd>
        <dt>In</dt>
        <dd><account-tag account="serverGroup.account" pad="right"></account-tag><dd>
        <dt>Namespace<dt>
        <dd>{{serverGroup.region}}</dd>
        <dt>Kind</dt>
        <dd>{{serverGroup.kind}}</dd>
        <dt>YAML</dt>
        <dd><a href ng-click="ctrl.showYaml()">Show YAML</a></dd>
        <dt ng-show="serverGroup.revision">Revision</dt>
        <dd ng-show="serverGroup.revision">{{serverGroup.revision}}</dd>
        <dt>Kube UI</dt>
        <dd><a href={{ctrl.uiLink()}} target="_blank">{{serverGroup.name}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal dl-flex" ng-if="serverGroup">
        <dt>Pods</dt>
        <dd>
          <health-counts container="serverGroup.instanceCounts" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Deployment" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <div ng-show="serverGroup.deploymentStatus === null">
          No deployment found.
        </div>
        <div ng-show="serverGroup.deploymentStatus !== null">
          <div>
            <dt>Name</dt>
            <dd>{{serverGroup.labels.cluster}}</dd>
            <dt>Most Recent</dt>
            <dd>{{serverGroup.deploymentStatus.revision === serverGroup.revision}}</dd>
            <dt>Revision</dt>
            <dd>{{serverGroup.deploymentStatus.revision}}</dd>
          </div>
          <br>
          <div>
            <dt>Available</dt>
            <dd>{{serverGroup.deploymentStatus.availableReplicas}}</dd>
            <dt>Unavailable</dt>
            <dd>{{serverGroup.deploymentStatus.unavailableReplicas}}</dd>
            <dt>Updated</dt>
            <dd>{{serverGroup.deploymentStatus.updatedReplicas}}</dd>
          </div>
        </div>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Replicas" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <div ng-show="serverGroup.autoscalerStatus === null">
          <dt>Current</dt>
          <dd>{{serverGroup.instances.length}}</dd>
          <dt>Desired</dt>
          <dd>{{serverGroup.capacity.desired}}</dd>
        </div>
        <div ng-show="serverGroup.autoscalerStatus !== null">
          <dt>Min</dt>
          <dd>{{serverGroup.deployDescription.capacity.min}}</dd>
          <dt>Max</dt>
          <dd>{{serverGroup.deployDescription.capacity.max}}</dd>
          <dt>Current</dt>
          <dd>{{serverGroup.instances.length}}</dd>
        </div>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Horizontal Pod Autoscaling" expanded="true">
      <dl class="dl-horizontal dl-flex">
        <div ng-show="serverGroup.autoscalerStatus === null">
          No autoscaler found.
        </div>
        <div ng-show="serverGroup.autoscalerStatus !== null">
          <dt>Desired</dt>
          <dd>{{serverGroup.autoscalerStatus.desiredReplicas}}</dd>
          <dt>Target CPU</dt>
          <dd>{{serverGroup.deployDescription.scalingPolicy.cpuUtilization.target}}%</dd>
          <dt>Current CPU</dt>
          <dd>{{serverGroup.autoscalerStatus.currentCpuUtilization !== null ? serverGroup.autoscalerStatus.currentCpuUtilization : '- '}}%</dd>
          <dt ng-if="serverGroup.autoscalerStatus.lastScaleTime">Latest Rescale</dt>
          <dd ng-if="serverGroup.autoscalerStatus.lastScaleTime">{{serverGroup.autoscalerStatus.lastScaleTime | relativeTime}}</dd>
        </div>
      </dl>
    </collapsible-section>
    <collapsible-section ng-repeat="container in serverGroup.deployDescription.containers" heading="{{container.name}}">
      <kubernetes-server-group-container-detail container="container">
      </kubernetes-server-group-container-detail>
    </collapsible-section>
    <collapsible-section ng-repeat="container in serverGroup.deployDescription.initContainers" heading="{{container.name}} (init)">
      <kubernetes-server-group-container-detail container="container" init-container="true">
      </kubernetes-server-group-container-detail>
    </collapsible-section>
    <collapsible-section heading="Labels" ng-if="serverGroup.labels">
      <dl class="dl-horizontal dl-flex">
        <kubernetes-key-value-details map="serverGroup.labels">
        </kubernetes-key-value-details>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Replica Set Annotations" ng-if="serverGroup.deployDescription.replicaSetAnnotations">
      <dl class="dl-horizontal dl-flex">
        <kubernetes-key-value-details map="serverGroup.deployDescription.replicaSetAnnotations">
        </kubernetes-key-value-details>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Pod Annotations" ng-if="serverGroup.deployDescription.podAnnotations">
      <dl class="dl-horizontal dl-flex">
        <kubernetes-key-value-details map="serverGroup.deployDescription.podAnnotations">
        </kubernetes-key-value-details>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Node Selector" ng-if="serverGroup.deployDescription.nodeSelector">
      <dl class="dl-horizontal dl-flex">
        <kubernetes-key-value-details map="serverGroup.deployDescription.nodeSelector">
        </kubernetes-key-value-details>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Toleration - {{toleration.key}}"
                         ng-repeat="toleration in serverGroup.deployDescription.tolerations">
      <dl class="dl-horizontal dl-flex">
        <dt>Value</dt>
        <dd>{{toleration.value}}</dd>
        <dt>Operator</dt>
        <dd>{{toleration.operator}}</dd>
        <dt>Effect</dt>
        <dd>{{toleration.effect}}</dd>
        <dt ng-if="toleration.tolerationSeconds">Toleration Seconds</dt>
        <dd ng-if="toleration.tolerationSeconds">{{toleration.tolerationSeconds}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Events">
      <div ng-if="serverGroup.events && serverGroup.events.length > 0">
        <kubernetes-event ng-repeat="event in serverGroup.events" event="event"></kubernetes-event>
      </div>
      <div ng-if="!(serverGroup.events && serverGroup.events.length > 0)">
        No events.
      </div>
    </collapsible-section>
    <collapsible-section heading="Advanced Settings">
      <dl ng-if="serverGroup.deployDescription.serviceAccountName">
        <dt>Service Account Name</dt>
        <dd>{{serverGroup.deployDescription.serviceAccountName}}</dd>
      </dl>
      <dl>
        <dt>Termination Grace Period</dt>
        <dd>{{serverGroup.deployDescription.terminationGracePeriodSeconds}}&nbsp;second(s)</dd>
      </dl>
    </collapsible-section>
  </div>
</div>
