<ng-form name="pubsubForm">
  <div class="form-group row">
    <div class="col-sm-3 sm-label-right">Topic</div>
    <div class="col-sm-9">
      <input type="text"
             name="topic"
             class="form-control input-sm "
             ng-model="vm.notification.topic"
             placeholder="enter an pubsub topic name"
             ng-required="!vm.notification.topic.length">
      </input>
    </div>
  </div>
  <div class="form-group row slide-in"
       ng-if="pubsubForm.topic.$dirty && pubsubForm.topic.$invalid">
    <div class="col-sm-9 col-sm-offset-3 error-message">
      <span>Please enter a valid pubsub topic</span>
    </div>
  </div>
</ng-form>
