<form name="form" class="container-fluid form-horizontal" ng-controller="gceServerGroupAdvancedSettingsCtrl as settingsCtrl" novalidate>
  <div class="modal-body">
    <gce-server-group-advanced-settings-selector command="command"></gce-server-group-advanced-settings-selector>
    <div class="form-group" ng-if="application.attributes.platformHealthOnlyShowOverride">
      <div class="col-md-5 sm-label-left"><b>Task Completion</b></div>
      <div class="col-md-6">
        <platform-health-override command="command"
                                  platform-health-type="'Google'">
        </platform-health-override>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                   label="command.viewState.submitButtonLabel"
                   submitting="taskMonitor.submitting" on-click="ctrl.clone()" is-new="true"></submit-button>
  </div>
</form>
