The application $notification.additionalContext.application in $notification.additionalContext.accounts has been reassigned to $notification.additionalContext.newOwner.name<$notification.additionalContext.newOwner.email> as the previous owner $notification.additionalContext.previousOwner.name<$notification.additionalContext.previousOwner.email> is no longer employed by Netflix.
