<div class="canary-details" ng-controller="CanaryDeploymentExecutionDetailsCtrl as canaryDeploymentDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>

  <div class="step-section-details" ng-if="detailsSection === 'canaryDeployment'">
    <div class="row">
      <div class="col-md-12 canary-summary">
        <div class="score score-large">
          <canary-score health="stage.context.status.health"
                        result="stage.context.status.result"
                        score="stage.context.status.score"></canary-score>
        </div>
        <div class="canary-summary-section">
          <span ng-if="deployment.canaryResult.lastUpdated">
            <strong>Last updated: </strong>
            {{ deployment.canaryResult.lastUpdated | timestamp}}
          </span>
          <span ng-if="!deployment.canaryResult.lastUpdated">
            No canary results reported
          </span>
          <br/>
          <a ng-if="deployment.status.reportUrl" target="_blank" ng-href="{{deployment.status.reportUrl}}">Canary Report</a>
          <span ng-if="!deployment.status.reportUrl">No report available</span>
        </div>
      </div>
    </div>
    <div class="horizontal-rule"></div>
    <div class="row divider"></div>
    <div class="row">
      <div class="col-md-6">
        <h5>Baseline</h5>
        <div class="row">
          <div class="col-md-3"><strong>Cluster</strong></div>
          <div class="col-md-9"><a ng-href="{{baselineClusterUrl}}">{{deployment.baselineCluster.name}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Image</strong></div>
          <div class="col-md-9">{{deployment.baselineCluster.imageId}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Build</strong></div>
          <div class="col-md-9"><a ng-href="{{deployment.baselineCluster.build.url}}" target="_blank">#{{deployment.baselineCluster.build.number}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Capacity</strong></div>
          <div class="col-md-9">
            {{deployment.baselineCluster.capacity}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Canary</h5>
        <div class="row">
          <div class="col-md-3"><strong>Cluster</strong></div>
          <div class="col-md-9"><a ng-href="{{canaryClusterUrl}}">{{deployment.canaryCluster.name}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Image</strong></div>
          <div class="col-md-9">{{deployment.canaryCluster.imageId}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Build</strong></div>
          <div class="col-md-9"><a ng-href="{{deployment.canaryCluster.build.url}}" target="_blank">#{{deployment.canaryCluster.build.number}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Capacity</strong></div>
          <div class="col-md-9">
            {{deployment.canaryCluster.capacity}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="step-section-details" ng-if="detailsSection === 'canaryAnalysisHistory'">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center" ng-if="viewState.loadingHistory">Loading...</p>
        <p class="text-center" ng-if="!viewState.loadingHistory && viewState.loadingHistoryError">
          Canary analysis history could not be loaded. <br/>
          <a href ng-click="loadHistory()">Reload score history</a>
        </p>
        <table class="table" ng-if="!viewState.loadingHistory && !viewState.loadingHistoryError">
          <thead>
          <tr>
            <th width="10%">Score</th>
            <th width="20%">Generated On</th>
            <th width="20%">Report</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="scoreReport in analysisHistory | orderBy: '-lastUpdated'">
              <td>
                <canary-score result="scoreReport.result"
                              score="scoreReport.score"
                              health="scoreReport.health"></canary-score>
              </td>
              <td>
                {{ scoreReport.lastUpdated | timestamp }}
              </td>
              <td><a target="_blank" ng-href="{{scoreReport.canaryReportURL}}">Canary Report</a></td>
            </tr>
          </tbody>
        </table>
        <p class="text-center" ng-if="!viewState.loadingHistory && !analysisHistory.length">No canary analysis history available</p>

      </div>
    </div>
  </div>

</div>
