<div class="canary-details" ng-controller="CanaryDeploymentExecutionDetailsCtrl as canaryDeploymentDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>

  <div class="step-section-details" ng-if="detailsSection === 'canaryDeployment'">
    <div class="row">
      <div class="col-md-12 canary-summary">
        <div class="score score-large">
          <canary-score health="stage.context.status.health"
                        result="stage.context.status.result"
                        score="stage.context.status.score"></canary-score>
        </div>
        <div class="canary-summary-section">
            <strong>Last updated: </strong>
            {{ 1429126669006 | timestamp}}
            <br/>
            <a target="_blank" ng-href="{{deployment.status.reportUrl}}">Canary Report</a>
        </div>
      </div>
    </div>
    <div class="row divider"></div>
    <div class="row">
      <div class="col-md-6">
        <h5>Baseline</h5>
        <div class="row">
          <div class="col-md-3"><strong>Cluster</strong></div>
          <div class="col-md-9"><a ng-href="{{baselineClusterUrl}}">{{deployment.baselineCluster.name}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Image</strong></div>
          <div class="col-md-9">{{deployment.baselineCluster.imageId}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Build</strong></div>
          <div class="col-md-9"><a ng-href="{{deployment.baselineCluster.build.url}}" target="_blank">#{{deployment.baselineCluster.build.number}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Capacity</strong></div>
          <div class="col-md-9">
            <span ng-if="deployment.baselineCluster.capacity.min === deployment.baselineCluster.capacity.max">
              {{deployment.baselineCluster.capacity.min}}
            </span>
            <span ng-if="deployment.baselineCluster.capacity.min !== deployment.baselineCluster.capacity.max">
              {{deployment.baselineCluster.capacity.min}}/{{deployment.baselineCluster.capacity.desired}}/{{deployment.baselineCluster.capacity.max}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h5>Canary</h5>
        <div class="row">
          <div class="col-md-3"><strong>Cluster</strong></div>
          <div class="col-md-9"><a ng-href="{{canaryClusterUrl}}">{{deployment.canaryCluster.name}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Image</strong></div>
          <div class="col-md-9">{{deployment.canaryCluster.imageId}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Build</strong></div>
          <div class="col-md-9"><a ng-href="{{deployment.canaryCluster.build.url}}" target="_blank">#{{deployment.canaryCluster.build.number}}</a></div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Capacity</strong></div>
          <div class="col-md-9">
            <span ng-if="deployment.canaryCluster.capacity.min === deployment.canaryCluster.capacity.max">
              {{deployment.canaryCluster.capacity.min}}
            </span>
            <span ng-if="deployment.canaryCluster.capacity.min !== deployment.canaryCluster.capacity.max">
              {{deployment.canaryCluster.capacity.min}}/{{deployment.canaryCluster.capacity.desired}}/{{deployment.canaryCluster.capacity.max}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
