<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Precondition</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editPreconditionForm">
    <div class="modal-body">
      <precondition-selector precondition="editPrecondition.precondition" strategy="editPrecondition.strategy"></precondition-selector>
    </div>
    <div class="modal-footer">
      <span ng-show="editApp.submitting" us-spinner="{radius:20, width:6, length: 12}"></span>
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-click="editPrecondition.submit()"
              ng-disabled="editPreconditionForm.$invalid"
        >
        <span class="glyphicon glyphicon-ok-circle"></span> Update
      </button>
    </div>
  </form>
</div>
