.application-header {
  z-index: 5;
  .application-name {
    margin-right: 10px;
  }
  h2 {
    min-width: 200px;
    margin: 0 50px 0 0;
    font-weight: 600;
    font-size: 26px;
    color: var(--color-primary);
    @media (max-width: 1400px) {
      font-size: 20px;
    }
  }
  .application-header-icon {
    display: block;
    border-radius: 50%;
    background-color: var(--color-primary);
    border: 2px solid var(--color-white);
    color: var(--color-white);
    text-align: center;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 15px;
  }
  .refresher {
    font-size: 75%;
    margin-left: 10px;
    margin-top: 3px;
  }

  .page-button {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 0 5px;
    font-size: 14px;
    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }
}

.second-level-navigation-header {
  background-color: var(--color-accent-g2);
  &:after {
    content: ' ';
    height: 0;
    width: 100%;
    display: block;
    position: relative;
    box-shadow: 0 0 3px 1px var(--color-alto);
  }
  .nav-item,
  .dropdown-toggle {
    &:after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid transparent;
      position: absolute;
      left: calc(~'50% - 16px');
      bottom: -4px;
      z-index: 3;
      transition: border-bottom-color 200ms ease-in;
    }
    &.active,
    &:hover {
      color: var(--color-primary);
      .badge {
        background-color: var(--color-primary);
      }
      &:after {
        border-bottom-color: var(--color-alabaster);
      }
    }
  }
}

.nav-section {
  .dropdown-menu {
    margin-top: -15px;
    padding: 0;
    left: 25px;
    border-radius: 1px;
    border: none;
    box-shadow: 0 0 12px var(--color-dovegray);
    @media (max-width: 1400px) {
      margin-top: -10px;
    }
    .nav-menu-item {
      display: flex;
      color: var(--color-primary);
      font-size: 14px;
      padding: 8px 15px;
    }
    > li a:hover {
      background-color: var(--color-accent-g2);
    }
  }
  .btn-link {
    border: 0;
    padding: 0;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none !important;
    }
  }
  .nav-item,
  .nav-menu-item {
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 600;
  }
  .nav-item {
    cursor: pointer;
    padding: 25px 25px;
    transition: color 200ms ease-in;
    position: relative;
    font-size: 18px;
    @media (max-width: 1400px) {
      font-size: 16px;
      padding: 15px;
    }
    &:focus,
    &:hover {
      outline: none !important;
      text-decoration: none !important;
    }
  }
  .nav-item-icon {
    margin: 1px 4px 0 0;
  }
  .notification {
    margin: 0 5px;
  }
  .ds-icon {
    padding-right: 5px;
    font-size: 90%;
  }
  .badge {
    margin-left: 5px;
  }
}

.third-level-nav {
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid var(--color-accent-g2);
  h3 {
    margin: 0;
    width: 260px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color-primary);
    padding-bottom: 10px;
    font-size: 22px;
    @media (max-width: 1400px) {
      font-size: 18px;
      padding-bottom: 5px;
    }
  }
  .nav-item {
    font-size: 16px;
    letter-spacing: 0.02em;
    border-bottom: 3px solid transparent;
    padding: 15px 15px 15px;
    margin: 0 2px;
    @media (max-width: 1400px) {
      font-size: 14px;
      padding: 10px;
    }
    &.active,
    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--color-primary);
      border-bottom-color: var(--color-primary);
      transition: border-bottom-color 200ms ease-in, color 200ms ease-in;
      .badge {
        background-color: var(--color-primary);
      }
    }
  }
}
