.appengine-server-group-wizard {
  input[type="checkbox"] {
    margin-top: .75rem;
  }

  help-field.help-field-absolute {
    span {
      position: absolute;
      top: 7px;
      right: 2px;
    }
  }
}
