<form class="form-inline execution-filters">
  <div class="form-group" is-visible="filter.execution.groupBy">
    <a class="btn btn-sm btn-default" href ng-click="ctrl.toggleExpansion(true)" tooltip="expand all">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a class="btn btn-sm btn-default" href ng-click="ctrl.toggleExpansion(false)" tooltip="collapse all">
      <span class="glyphicon glyphicon-minus"></span>
    </a>
  </div>
  <div class="form-group">
    <label>Group by</label>
    <select class="form-control" ng-model="filter.execution.groupBy">
      <option value="">None</option>
      <option value="name">Pipeline</option>
      <option value="timeBoundary">Time Boundary</option>
    </select>
  </div>
  <div class="form-group">
    <label>Pipeline Status</label>
    <div class="btn-group">
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.not_started"
             btn-checkbox>
        <status-glyph item="{hasNotStarted: true}"></status-glyph> Not Started
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.running"
             btn-checkbox>
        <status-glyph item="{isRunning: true}"></status-glyph> Running
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.completed"
             btn-checkbox>
        <status-glyph item="{isCompleted: true}"></status-glyph> Completed
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.failed"
             btn-checkbox>
        <status-glyph item="{isFailed: true}"></status-glyph> Failed
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.canceled"
             btn-checkbox>
        <status-glyph item="{isCanceled: true}"></status-glyph> Canceled
      </label>
      <label class="btn btn-default btn"
             ng-model="filter.execution.status.suspended"
             btn-checkbox>
        <status-glyph item="{isSuspended: true}"></status-glyph> Suspended
      </label>

    </div>
  </div>
  <div class="form-group">
    <label>Show</label>
    <select class="input input-sm"
            ng-model="filter.count"
            ng-options="count for count in filterCountOptions"
            style="width: 50px">
    </select>
    per group
  </div>
  <div class="form-group pull-right">
    <a ui-sref="^.pipelineConfig" class="btn btn-configure"><span class="glyphicon glyphicon-cog"></span> Configure Pipelines</a>
  </div>
</form>

