<div
  class="container-fluid form-horizontal"
  ng-controller="openstackServerGroupAdvancedSettingsCtrl as advancedSettingsCtrl"
>
  <div class="modal-body">
    <ng-form name="advancedSettings" novalidate>
      <div class="form-group">
        <div class="sm-label-left">
          <b>User Data (optional)</b>
          <help-field key="openstack.serverGroup.userData"></help-field>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right"><b>User Data Type</b></div>
        <div class="col-md-7">
          <ui-select ng-model="command.userDataType" class="form-control input-sm">
            <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="userDataType in command.backingData.userDataTypes | filter: $select.search">
              <span ng-bind-html="userDataType | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">User Data Value</div>
        <div class="col-md-9 no-spel">
          <input
            type="text"
            class="form-control"
            ng-model="command.userData"
            placeholder="A url that points to a script"
            ng-if="command.userDataType == 'URL'"
          />
          <input
            type="text"
            class="form-control"
            ng-model="command.userData"
            placeholder="A swift object that contains a script, e.g. '<container>:<my/object>'"
            ng-if="command.userDataType == 'Swift'"
          />
          <textarea
            class="form-control nospel"
            ng-model="command.userData"
            ng-if="command.userDataType=='Text' || !command.userDataType"
            rows="3"
            placeholder="A raw plaintext script"
          >
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="sm-label-left">
          <b>Zone Placement (optional)</b>
          <help-field key="openstack.serverGroup.availabilityZones"></help-field>
        </div>
        <os-cache-backed-multi-select-field
          label="Zones"
          cache="allAvailabilityZones"
          refresh-cache="updateAvailabilityZones"
          required="false"
          model="selectedAZs"
          on-change="selectedAZsChanged()"
        >
        </os-cache-backed-multi-select-field>
      </div>
      <div class="form-group">
        <div class="sm-label-left">
          <b>Scheduler Hints (optional)</b>
          <help-field key="openstack.serverGroup.schedulerHints"></help-field>
        </div>
        <map-editor model="command.schedulerHints" allow-empty="true"></map-editor>
      </div>
      <div class="form-group">
        <div class="sm-label-left">
          <b>Tags (optional)</b>
          <help-field key="openstack.serverGroup.tags"></help-field>
        </div>
        <map-editor model="command.tags" allow-empty="true"></map-editor>
      </div>
    </ng-form>
  </div>
</div>
