<div class="details-panel"
     ng-class="{ disabled: ctrl.serverGroup.isDisabled }">

  <div class="header" ng-if="ctrl.state.loading">
      <div class="close-button">
          <a class="btn btn-link"
             ui-sref="^">
              <span class="glyphicon glyphicon-remove"></span>
          </a>
      </div>
      <h4 class="text-center">
          <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
  </div>


  <div class="header" ng-if="!ctrl.state.loading">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <cloud-provider-logo provider="ctrl.serverGroup.type" height="36px" width="36px" style="margin-right: 10px"></cloud-provider-logo>
      <h3 select-on-dbl-click>
        {{ctrl.serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: ctrl.serverGroup.insightActions.length > 0 }">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-if="!ctrl.serverGroup.isDisabled" ng-click="ctrl.rollbackServerGroup()">Rollback</a></li>
            <li role="presentation" class="divider" ng-if="!ctrl.serverGroup.isDisabled"></li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!ctrl.serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="ctrl.serverGroup.isDisabled && ctrl.serverGroup.loadBalancers.length" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(ctrl.serverGroup)">Clone</a></li>
          </ul>
        </div>
        <div class="dropdown" ng-if="ctrl.serverGroup.insightActions.length > 0" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" uib-dropdown-toggle>
            Insight <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li ng-repeat="action in ctrl.serverGroup.insightActions"><a target=_blank href="{{action.url}}">{{action.label}}</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!ctrl.state.loading">
    <h4 class="text-center" ng-if="ctrl.serverGroup.isDisabled">[SERVER GROUP IS DISABLED]</h4>
    <collapsible-section heading="Running Tasks" expanded="true" body-class="details-running-tasks" ng-if="ctrl.serverGroup.runningTasks.length > 0 || ctrl.runningExecutions().length > 0">
      <div class="container-fluid no-padding" ng-repeat="task in ctrl.serverGroup.runningTasks | orderBy:'-startTime'">
        <div class="row">
          <div class="col-md-12">
            <strong>
              {{task.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="step in task.steps | displayableTasks">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="step"></status-glyph></span> {{step.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{step.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

      <div class="container-fluid no-padding" ng-repeat="execution in ctrl.runningExecutions()">
        <div class="row">
          <div class="col-md-12">
            <strong>
              Pipeline: {{execution.name}}
            </strong>
          </div>
        </div>
        <div class="row" ng-repeat="stage in execution.stages">
          <div class="col-md-7 col-md-offset-0">
            <span class="small"><status-glyph item="stage"></status-glyph></span> {{stage.name | robotToHuman }}
          </div>
          <div class="col-md-4 text-right">
            {{stage.runningTimeInMs | duration }}
          </div>
        </div>
      </div>

    </collapsible-section>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl class="dl-horizontal" ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Created</dt>
        <dd>{{ctrl.serverGroup.launchConfig.createdTime | timestamp}}</dd>
        <dt>In</dt>
        <dd>
          <account-tag account="ctrl.serverGroup.account" pad="right"></account-tag>
          {{ctrl.serverGroup.region}}
        </dd>
        <dt>Network</dt>
        <dd>{{ctrl.serverGroup.network}}</dd>
        <dt ng-if="ctrl.serverGroup.subnet">Subnet</dt>
        <dd ng-if="ctrl.serverGroup.subnet">{{ctrl.serverGroup.subnet}}</dd>
        <dt>Zone{{ctrl.serverGroup.regional ? 's' : ''}}</dt>
        <dd>
          <ul>
            <li ng-repeat="zone in ctrl.serverGroup.zones">{{zone}}</li>
          </ul>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Size" expanded="true">
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup.asg.minSize === ctrl.serverGroup.asg.maxSize">
        <dt>Min/Max</dt>
        <dd>{{ctrl.serverGroup.asg.desiredCapacity}}</dd>
        <dt>Current</dt>
        <dd>{{ctrl.serverGroup.instances.length}}</dd>
      </dl>
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup.asg.minSize !== ctrl.serverGroup.asg.maxSize">
        <dt>Min</dt>
        <dd>{{ctrl.serverGroup.asg.minSize}}</dd>
        <dt>Max</dt>
        <dd>{{ctrl.serverGroup.asg.maxSize}}</dd>
        <dt>Current</dt>
        <dd>{{ctrl.serverGroup.instances.length}}</dd>
      </dl>
      <a href ng-click="ctrl.resizeServerGroup()">Resize Server Group</a>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal"
          ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'"
          ng-if="ctrl.serverGroup">
        <dt>Instances</dt>
        <dd>
          <health-counts container="ctrl.serverGroup.instanceCounts" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Launch Configuration">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt>Name</dt>
        <dd>{{ctrl.serverGroup.launchConfig.launchConfigurationName}}</dd>
        <dt>Image</dt>
        <dd>{{ctrl.serverGroup.launchConfig.imageId}}</dd>
        <dt>Instance Type</dt>
        <dd>{{ctrl.serverGroup.launchConfig.instanceType | customInstanceFilter }}</dd>
        <dt ng-repeat-start="diskDescription in ctrl.serverGroup.diskDescriptions">Disk{{diskDescription.countSuffix}}</dt>
        <dd ng-repeat-end>{{diskDescription.finalLabel}}</dd>
        <dt ng-if="ctrl.serverGroup.serviceAccountEmail">Service Account</dt>
        <dd ng-if="ctrl.serverGroup.serviceAccountEmail">{{ctrl.serverGroup.serviceAccountEmail}}</dd>
        <dt ng-if="ctrl.serverGroup.authScopes">Auth Scopes</dt>
        <dd ng-repeat="authScope in ctrl.serverGroup.authScopes">
          {{authScope}}
          <help-field key="gce.instance.authScopes.{{authScope}}"></help-field>
        </dd>
        <dt>Network</dt>
        <dd>{{ctrl.serverGroup.network}}</dd>
        <dt ng-if="ctrl.serverGroup.subnet">Subnet</dt>
        <dd ng-if="ctrl.serverGroup.subnet">{{ctrl.serverGroup.subnet}}</dd>
        <dt>Startup Script</dt>
        <dd ng-if="ctrl.serverGroup.startupScript"><a href ng-click="ctrl.showStartupScript()">Show Startup Script</a></dd>
        <dd ng-if="!ctrl.serverGroup.startupScript">[none]</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in ctrl.securityGroups | orderBy:'name'">
          <a ui-sref="^.securityGroupDetails({name: securityGroup.name, accountId: securityGroup.accountName, region: 'global', provider: ctrl.serverGroup.type})">
            {{securityGroup.name}}
          </a>
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Autoscaling">
      <gce-add-autoscaling-policy-button ng-if="!ctrl.serverGroup.autoscalingPolicy"
                                     server-group="ctrl.serverGroup"
                                     application="ctrl.application">
      </gce-add-autoscaling-policy-button>
      <gce-autoscaling-policy ng-repeat="policy in [ctrl.serverGroup.autoscalingPolicy]"
                          ng-if="ctrl.serverGroup.autoscalingPolicy"
                          application="ctrl.application"
                          server-group="ctrl.serverGroup"
                          policy="policy">
      </gce-autoscaling-policy>
    </collapsible-section>
    <collapsible-section heading="AutoHealing" ng-if="ctrl.serverGroup.autoHealingPolicyHealthCheck">
      <p>AutoHealing can be configured via the Developers Console.</p>
      <dt>
        Health Check
        <help-field key="gce.serverGroup.autoHealing"></help-field>
      </dt>
      <dd>{{ctrl.serverGroup.autoHealingPolicyHealthCheck}}</dd>
      <dt>
        Initial Delay
        <help-field key="gce.serverGroup.initialDelaySec"></help-field>
      </dt>
      <dd>{{ctrl.serverGroup.initialDelaySec}} seconds</dd>
    </collapsible-section>
    <collapsible-section heading="Custom Metadata">
      <div ng-if="!ctrl.serverGroup.launchConfig.instanceTemplate.properties.metadata.items.length">No custom metadata associated with this server group</div>
      <dl ng-if="ctrl.serverGroup.launchConfig.instanceTemplate.properties.metadata.items.length">
        <dt ng-repeat-start="metadata in ctrl.serverGroup.launchConfig.instanceTemplate.properties.metadata.items">
          {{metadata.key}}
          <help-field key="gce.serverGroup.customMetadata.{{metadata.key}}"></help-field>
        </dt>
        <dd ng-repeat-end>{{metadata.value.length > 90 ? metadata.value.substring(0, 90) + "..." : metadata.value}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Tags">
      <div ng-if="!ctrl.serverGroup.launchConfig.instanceTemplate.properties.tags.items.length">No tags associated with this server group</div>
      <dl ng-if="ctrl.serverGroup.launchConfig.instanceTemplate.properties.tags.items.length">
        <dd ng-repeat="tag in ctrl.serverGroup.launchConfig.instanceTemplate.properties.tags.items">
          {{tag}}
          <help-field content="{{ctrl.serverGroup.launchConfig.instanceTemplate.properties.tags.helpMap[tag]}}"></help-field>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Availability Policies">
      <div ng-if="!ctrl.serverGroup.availabilityPolicies">No availability policies associated with this server group</div>
      <div ng-if="ctrl.serverGroup.availabilityPolicies">
        <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
          <dt>
            Preemptibility
            <help-field key="gce.serverGroup.preemptibility"></help-field>
          </dt>
          <dd>{{ctrl.serverGroup.availabilityPolicies.preemptibility}}</dd>
          <dt>
            Automatic Restart
            <help-field key="gce.serverGroup.automaticRestart"></help-field>
          </dt>
          <dd>{{ctrl.serverGroup.availabilityPolicies.automaticRestart}}</dd>
          <dt>
            On Host Maintenance
            <help-field key="gce.serverGroup.onHostMaintenance"></help-field>
          </dt>
          <dd>{{ctrl.serverGroup.availabilityPolicies.onHostMaintenance}}</dd>
        </dl>
      </div>
    </collapsible-section>
    <collapsible-section heading="Package" ng-if="ctrl.serverGroup.buildInfo">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt ng-if="ctrl.serverGroup.buildInfo.jenkins">Job</dt>
        <dd ng-if="ctrl.serverGroup.buildInfo.jenkins">{{ctrl.serverGroup.buildInfo.jenkins.name}}</dd>
        <dt>Package</dt>
        <dd>{{ctrl.serverGroup.buildInfo.package_name}}</dd>
        <dt ng-if="ctrl.serverGroup.buildInfo.jenkins">Build</dt>
        <dd ng-if="ctrl.serverGroup.buildInfo.jenkins">{{ctrl.serverGroup.buildInfo.jenkins.number}}</dd>
        <dt>Commit</dt>
        <dd>{{ctrl.truncateCommitHash()}}</dd>
        <dt>Version</dt>
        <dd>{{ctrl.serverGroup.buildInfo.version}}</dd>
        <dt ng-if="ctrl.serverGroup.buildInfo.jenkins">Build Link</dt>
        <dd ng-if="ctrl.serverGroup.buildInfo.jenkins"><a target=_blank href="{{ctrl.buildJenkinsLink()}}">{{ctrl.buildJenkinsLink()}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Port Name Mapping" ng-if="ctrl.serverGroup.loadBalancingPolicy">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'"
          ng-if="ctrl.serverGroup.loadBalancingPolicy.listeningPort">
        <dd>http &rarr; {{ ctrl.serverGroup.loadBalancingPolicy.listeningPort }}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Capacity Metrics" ng-if="ctrl.serverGroup.loadBalancingPolicy">
      <dl ng-class="ctrl.InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'"
          ng-if="ctrl.serverGroup.loadBalancingPolicy.listeningPort">
        <dt>Balancing Mode</dt>
        <dd>{{ctrl.serverGroup.loadBalancingPolicy.balancingMode}}</dd>
        <dt ng-if="ctrl.serverGroup.loadBalancingPolicy.maxRatePerInstance">Max RPS per instance</dt>
        <dd ng-if="ctrl.serverGroup.loadBalancingPolicy.maxRatePerInstance">
          {{ctrl.serverGroup.loadBalancingPolicy.maxRatePerInstance}}
        </dd>
        <dt ng-if="ctrl.serverGroup.loadBalancingPolicy.maxUtilization">Max CPU Utilization</dt>
        <dd ng-if="ctrl.serverGroup.loadBalancingPolicy.maxUtilization">
          {{ctrl.serverGroup.loadBalancingPolicy.maxUtilization | decimalToPercent}}
        </dd>
        <dt ng-if="ctrl.serverGroup.loadBalancingPolicy.capacityScaler">Capacity</dt>
        <dd ng-if="ctrl.serverGroup.loadBalancingPolicy.capacityScaler">
          {{ctrl.serverGroup.loadBalancingPolicy.capacityScaler | decimalToPercent}}
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Logs">
      <ul>
        <li ng-if="ctrl.serverGroup.logsLink">
          <a href="{{ctrl.serverGroup.logsLink}}" target="_blank">Developers Console Logs</a>
          <copy-to-clipboard
              class="copy-to-clipboard copy-to-clipboard-sm"
              text="{{ctrl.serverGroup.logsLink}}"
              tool-tip="Copy to clipboard">
          </copy-to-clipboard>
        </li>
      </ul>
    </collapsible-section>
  </div>
</div>
