<div class="overlay overlay-modal" ng-if="executor && viewState.executing" modal-page modal-overlay>
  <div class="modal-header">
    <h3>Migrating {{component.name}} to VPC0</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="col-md-10 col-md-offset-1" auto-scroll="[executor.lastResult.eventLog]" >
      <ul class="task task-progress">
        <li ng-repeat="entry in executor.lastResult.eventLog track by $index">
          <span class="glyphicon glyphicon-ok-circle"></span> {{entry}}
        </li>
      </ul>
      <ul class="task task-progress task-progress-running">
        <li><span class="glyphicon glyphicon-spinning glyphicon-asterisk"></span></li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.cancel()" autofocus>Close</button>
  </div>
</div>
