<div class="overlay overlay-modal" ng-if="vm.task && (vm.state === 'migrate' || vm.state === 'dryRun')" modal-page modal-overlay>
  <div class="modal-header">
    <h3 ng-if="vm.state === 'migrate'">Migrating {{vm.component.name}} to VPC0</h3>
    <h3 ng-if="vm.state === 'dryRun'">Calculating migration plan</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="clearfix" auto-scroll="vm.task.getEventLog()">
      <div class="col-md-10 col-md-offset-1">
        <ul class="task task-progress task-progress-status" ng-if="!vm.task.migrationComplete()">
          <li ng-repeat="entry in vm.task.getEventLog() track by $index">
            <span class="fa fa-check-circle-o"></span> {{entry}}
          </li>
        </ul>
        <ul class="task task-progress" ng-if="vm.task.migrationComplete() && vm.state !== 'dryRun'">
          <li ng-repeat="step in vm.task.steps | displayableTasks" ng-class="{'not-started': step.hasNotStarted}">
            <status-glyph item="step"></status-glyph>
            {{step.name | robotToHuman}}
            <span ng-if="step.startTime">({{step.runningTimeInMs | duration}})</span>
          </li>
        </ul>
        <ul class="task task-progress task-progress-running">
          <li><span class="glyphicon glyphicon-spinning glyphicon-asterisk"></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.cancel()" autofocus>{{vm.state === 'migrate' ? 'Close' : 'Cancel'}}</button>
  </div>
</div>
