<div class="details-panel">
  <div class="header">
    <instance-details-header
      health-state="instance.healthState"
      instance-id="instance.instanceId || instanceIdNotFound"
      loading="state.loading"
      standalone="state.standalone"
    ></instance-details-header>
    <div ng-if="!state.loading">
      <div class="actions" ng-class="{ insights: instance.insightActions.length > 0 }" ng-if="instance.placement">
        <instance-actions actions="taskActions" title="'Titus Task Actions'"></instance-actions>
        <instance-insights analytics="true" insights="instance.insightActions" instance="instance"></instance-insights>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading && instance">
    <titus-instance-information
      instance="instance"
      titus-ui-endpoint="ctrl.titusUiEndpoint"
    ></titus-instance-information>
    <instance-status
      health-metrics="healthMetrics"
      health-state="instance.healthState"
      metric-types="['TargetGroup']"
      private-ip-address="instance.privateIpAddress"
      custom-health-url="instance.customHealthUrl"
    >
    </instance-status>
    <titus-instance-dns
      container-ip="instance.placement.containerIp"
      host="instance.placement.host"
      instance-port="state.instancePort"
      ipv6-address="instance.ipv6Address"
    ></titus-instance-dns>
    <titus-security-groups
      app="application"
      server-group="serverGroup"
      class="collapsible-section"
      style="display: block"
    ></titus-security-groups>
    <!--<collapsible-section heading="Resources">
      <dl class="dl-horizontal dl-narrow">
        <dt>CPU(s)</dt>
        <dd>{{instance.resources.cpu}}</dd>
        <dt>Memory</dt>
        <dd>{{instance.resources.memory}} MB</dd>
        <dt>Disk</dt>
        <dd>{{instance.resources.disk}} MB</dd>
        <dt>Network</dt>
        <dd>{{instance.resources.networkMbps}} Mbps</dd>
        <dt>GPU(s)</dt>
        <dd>{{instance.resources.gpu}}</dd>
      </dl>
    </collapsible-section>-->
    <collapsible-section heading="Console Output">
      <ul>
        <li>
          <console-output-link instance="instance"></console-output-link>
        </li>
      </ul>
    </collapsible-section>
    <instance-links
      address="baseIpAddress"
      application="application"
      instance="instance"
      moniker="moniker"
      environment="environment"
    ></instance-links>
  </div>
  <div class="content" ng-if="!state.loading && !instance">
    <div class="content-section">
      <div class="content-body text-center">
        <h3>Instance not found.</h3>
      </div>
    </div>
  </div>
</div>
