<div class="details-panel">
  <div class="header" ng-if="state.loading">
    <div class="close-button" ng-if="!state.standalone">
      <a class="btn btn-link" ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h4 class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>
  <div class="header" ng-if="!state.loading">
    <div class="close-button" ng-if="!state.standalone">
      <a class="btn btn-link" ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text horizontal middle">
      <span class="glyphicon glyphicon-hdd {{instance.healthState}}"></span>
      <h3 class="horizontal middle space-between flex-1" select-on-dbl-click>
        {{instance ? instance.id : instanceIdNotFound}}
      </h3>
      <copy-to-clipboard
        ng-if="instance"
        class="copy-to-clipboard"
        text="sshLink"
        tool-tip="'Copy titus-ssh command to clipboard'"
      >
      </copy-to-clipboard>
    </div>
    <div>
      <div class="actions" ng-class="{ insights: instance.insightActions.length > 0 }" ng-if="instance.placement">
        <instance-actions actions="taskActions" title="'Titus Task Actions'"></instance-actions>
        <instance-insights analytics="true" insights="instance.insightActions" instance="instance"></instance-insights>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading && instance">
    <titus-instance-information
      instance="instance"
      titus-ui-endpoint="ctrl.titusUiEndpoint"
    ></titus-instance-information>
    <instance-status
      health-metrics="healthMetrics"
      health-state="instance.healthState"
      metric-types="['TargetGroup']"
      private-ip-address="instance.privateIpAddress"
      custom-health-url="instance.customHealthUrl"
    >
    </instance-status>
    <collapsible-section heading="DNS">
      <dl class="dl-horizontal dl-narrow">
        <dt ng-if="instance.placement.containerIp">Container IP</dt>
        <dd ng-if="instance.placement.containerIp">
          {{instance.placement.containerIp}}
          <copy-to-clipboard
            class="copy-to-clipboard"
            text="instance.placement.containerIp"
            tool-tip="'Copy container IP clipboard'"
          >
          </copy-to-clipboard>
        </dd>
        <dt ng-if="instance.ipv6Address">Container IPv6</dt>
        <dd ng-if="instance.ipv6Address">
          {{instance.ipv6Address}}
          <copy-to-clipboard
            class="copy-to-clipboard"
            text="'http://[' + instance.ipv6Address + ']:' + state.instancePort"
            tool-tip="'Copy container IP clipboard'"
          >
          </copy-to-clipboard>
        </dd>
        <dt>Host IP</dt>
        <dd>{{instance.placement.host}}</dd>
      </dl>
    </collapsible-section>
    <titus-security-groups
      app="application"
      server-group="serverGroup"
      class="collapsible-section"
      style="display: block"
    ></titus-security-groups>
    <!--<collapsible-section heading="Resources">
      <dl class="dl-horizontal dl-narrow">
        <dt>CPU(s)</dt>
        <dd>{{instance.resources.cpu}}</dd>
        <dt>Memory</dt>
        <dd>{{instance.resources.memory}} MB</dd>
        <dt>Disk</dt>
        <dd>{{instance.resources.disk}} MB</dd>
        <dt>Network</dt>
        <dd>{{instance.resources.networkMbps}} Mbps</dd>
        <dt>GPU(s)</dt>
        <dd>{{instance.resources.gpu}}</dd>
      </dl>
    </collapsible-section>-->
    <collapsible-section heading="Console Output">
      <ul>
        <li>
          <console-output-link instance="instance"></console-output-link>
        </li>
      </ul>
    </collapsible-section>
    <instance-links
      address="baseIpAddress"
      application="application"
      instance="instance"
      moniker="moniker"
      environment="environment"
    ></instance-links>
  </div>
  <div class="content" ng-if="!state.loading && !instance">
    <div class="content-section">
      <div class="content-body text-center">
        <h3>Instance not found.</h3>
      </div>
    </div>
  </div>
</div>
