<div modal-page class="form-inline">
  <modal-close dismiss="$dismiss()"></modal-close>
  <div class="modal-header">
    <h4 class="modal-title">Host And Path Rules for {{ ctrl.loadBalancerName }}</h4>
  </div>
  <div class="modal-body clearfix">
    <div class="section-body">
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-12 content-fields">
            <input placeholder="Filter" ng-model="searchText" class="form-control input-sm" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Host</th>
                  <th>Path</th>
                  <th>Backend Service</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in ctrl.table | filter:searchText">
                  <td>{{ row.hostPattern }}</td>
                  <td>{{ row.path }}</td>
                  <td>{{ row.backend }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.close()">Close</button>
  </div>
</div>
