<form class="container-fluid form-horizontal" name="form" novalidate>
  <ng-form name="body">
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Completions
          <help-field key="kubernetes.job.completions"></help-field>
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control input-sm" name="details" ng-model="command.completions"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Parallelism
          <help-field key="kubernetes.job.parallelism"></help-field>
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control input-sm" name="details" ng-model="command.parallelism"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Deadline Seconds
          <help-field key="kubernetes.job.deadlineSeconds"></help-field>
        </div>
        <div class="col-md-6">
          <input type="number" class="form-control input-sm" name="details" ng-model="command.activeDeadlineSeconds"/>
        </div>
      </div>
  </ng-form>
</form>
