<div class="form-group">
  <div class="col-md-12 checkbox">
    <label><input type="checkbox" ng-model="command.scaleDown"/>
      Scale down replaced server groups to zero instances
      <help-field key="strategy.redblack.scaleDown"></help-field>
    </label>
  </div>
  <div class="col-md-12 form-inline">
    <label><input class="form-control input-sm" style="width:50px" type="number" ng-model="command.maxRemainingAsgs" min="2">
      Maximum number of server groups to leave
      <help-field key="strategy.redblack.maxRemainingAsgs"></help-field>
    </label>
  </div>
</div>
