<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span> Server Groups
  </h3>
  <div class="application-actions">
    <div class="dropdown">
      <button class="btn btn-sm btn-default" ng-click="ctrl.createServerGroup()">
        <span class="glyphicon glyphicon-plus-sign"></span> Create ASG
      </button>
    </div>
  </div>
</div>
<div ng-include="'views/application/cluster/filters.html'"></div>
<div class="content" ng-include="'views/application/cluster/groupings.html'"></div>
