<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span> Clusters
  </h3>
  <div class="actions pull-right">
    <select class="form-control input-sm">
      <option value="">Cluster Actions</option>
    </select>
  </div>
</div>
<div class="sort-filter">
  <div class="form-inline">
    <div class="form-group">
      <label>
        Sort by
        <select class="form-control input-sm"
                ng-model="sortFilter.sortPrimary"
                ng-change="updateSorting()"
                ng-options="option.key as option.label for option in sortOptions()">
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        then
        <select class="form-control input-sm"
                ng-model="sortFilter.sortSecondary"
                ng-change="updateSorting()"
                ng-options="option.key as option.label for option in sortOptions(sortFilter.sortPrimary)">
        </select>
      </label>
    </div>
    <div class="form-group pull-right">
      <label>
        Filter
        <input type="text" class="form-control input-sm" name="filter" placeholder="Region, Account, ASG"
               ng-model="sortFilter.filter"
               ng-change="updateClusterGroups()"/>
      </label>
    </div>
  </div>
</div>
<div class="content">
  <div ng-repeat="group in groups" class="server-group-rollup">
    <div ng-repeat="subgroup in group.subgroups">
      <div ng-repeat="subsubGroup in subgroup.subgroups">
        <h4>{{group.heading}}: {{subgroup.heading}}: {{subsubGroup.heading}}</h4>
        <server-group ng-repeat="serverGroup in subsubGroup.serverGroups" server-group="serverGroup" cluster="serverGroup.cluster"></server-group>
      </div>
    </div>
  </div>
</div>
