<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span> Server Groups
  </h3>
  <div class="application-actions">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="disabled">
        Cluster Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">CONFIG</li>
        <li><a href ng-click="ctrl.createServerGroup()">Create ASG</a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-include="'views/application/cluster/filters.html'"></div>
<div class="content" ng-include="'views/application/cluster/groupings.html'"></div>
