<h3>
  Filters
  <span class="small">by</span>
  <span class="form-inline">
    <div class="form-group small">
      <select class="form-control input-sm"
              ng-model="sortFilter.sortPrimary"
              ng-options="option.key as option.label for option in sortOptions">
      </select>
    </div>
  </span>
</h3>

<h4>Search</h4>
<div class="form-group">
   <div class="input-group">
       <input type="search" class="form-control" ng-model="sortFilter.filter" ng-change="clustersFilters.updateClusterGroups()">
   </div>
</div>

<h4>Account</h4>
<div class="checkbox" ng-repeat="heading in clustersFilters.getAccountHeadings() | orderBy:'toString()'  ">
    <label>
        <input type="checkbox"/>{{heading | uppercase }}
    </label>
</div>

<h4>Region</h4>
<div class="checkbox" ng-repeat="heading in clustersFilters.getRegionHeadings() | orderBy: 'toString()' ">
    <label>
        <input type="checkbox"/>{{heading}}
    </label>
</div>

<h4>Status</h4>
<div class="form">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   ng-model="sortFilter.showAllInstances"
                   ng-change="allClusters.updateClusterGroups()"/>
            Healthy
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   ng-model="sortFilter.hideHealthy"
                   ng-change="allClusters.updateClusterGroups()"/>
            Unhealthy
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   ng-model="sortFilter.hideDisabled"
                   ng-change="allClusters.updateClusterGroups()"/>
            Disabled
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   ng-model="sortFilter.hideDisabled"
                   ng-change="allClusters.updateClusterGroups()"/>
           Unknown
        </label>
    </div>
</div>



<h4>Instance Types</h4>
<h4>Availability Zones</h4>
<h4>Load Balanced</h4>
<h4>Provider</h4>


<div class="sub-nav-item show-all-link">
  <a ui-sref="."
     ng-class="{active: $state.includes('**.clusters.**') && !$state.includes('**.cluster.**')}"
    >Show All Clusters</a>
</div>
<div class="sub-nav" ng-repeat="heading in clustersFilters.getHeadings() | orderBy:'toString()'">
  <div class="sub-nav-item">
    <h4>{{heading}}</h4>
    <a ng-repeat="cluster in clustersFilters.getClustersFor(heading) | orderBy:'name'"
       ui-sref=".cluster({account: cluster.account, cluster: cluster.name})"
       ng-class="{active: $state.includes('**.cluster.**', {account: cluster.account, cluster: cluster.name} )}">
        {{clustersFilters.getClusterLabel(cluster)}}<health-counts container="cluster"></health-counts>
        <span class="sublabel">{{clustersFilters.getClusterSublabel(cluster)}}</span>
    </a>
  </div>
</div>
