<div class="sort-filter">
  <div class="form-inline clearfix" ng-if="sortFilter.allowSorting">
    <div class="form-group">
      <label>
        Sort by
        <select class="form-control input-sm"
                ng-model="sortFilter.sortPrimary"
                ng-change="updateSorting()"
                ng-options="option.key as option.label for option in sortOptions()">
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        then
        <select class="form-control input-sm"
                ng-model="sortFilter.sortSecondary"
                ng-change="updateSorting()"
                ng-options="option.key as option.label for option in sortOptions(sortFilter.sortPrimary)">
        </select>
      </label>
    </div>
    <div class="form-group pull-right">
      <label>
        Filter
        <input type="text" class="form-control input-sm" name="filter" placeholder="Region, Account, ASG"
               ng-model="sortFilter.filter"
               ng-change="updateClusterGroups()"/>
      </label>
    </div>
  </div>

  <div class="form-inline">
    <label>Show</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="sortFilter.showAllInstances" ng-change="updateClusterGroups()"/>
        Instances
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="sortFilter.hideHealthy" ng-change="updateClusterGroups()"/>
        Only Unhealthy
      </label>
    </div>
  </div>
</div>
