<div class="sort-filter">
  <div class="form-inline clearfix" ng-if="sortFilter.allowSorting">
    <div class="form-group">
      <label>
        Sort by
        <select class="form-control input-sm"
                ng-model="sortFilter.sortPrimary"
                ng-change="allClusters.updateSorting()"
                ng-options="option.key as option.label for option in allClusters.getSortOptions()">
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        then
        <select class="form-control input-sm"
                ng-model="sortFilter.sortSecondary"
                ng-change="allClusters.updateSorting()"
                ng-options="option.key as option.label for option in allClusters.getSortOptions(sortFilter.sortPrimary)">
        </select>
      </label>
    </div>

      <div class="form-group pull-right-lg">
          <label class="checkbox">Show</label>
          <div class="checkbox">
              <label>
                  <input type="checkbox"
                         ng-model="sortFilter.showAllInstances"
                         ng-change="allClusters.updateClusterGroups()"/>
                  Instances
              </label>
          </div>
      </div>

  </div>
</div>
