<h3>
  Clusters <span class="small">by account</span>
</h3>

<h4 ng-if="!clustersLoaded" class="text-center" ng-init="loadClusters()">
  <span us-spinner="{radius:20, width:6, length: 12}"></span>
</h4>
<div ng-if="clustersLoaded" class="sub-nav-item">
  <a ui-sref="."
     ng-class="{active: $state.includes('clusters') && !$state.includes('cluster')}"
    >Show All Clusters</a>
</div>
<div ng-if="clustersLoaded" class="sub-nav" ng-repeat="account in application.accounts | orderBy:'toString()'">
  <div class="sub-nav-item">
    <h4>{{account}}</h4>
    <a ng-repeat="cluster in getClustersForAccount(account) | orderBy:'name'"
       ui-sref="cluster({account: account, cluster: cluster.name})"
       ng-class="{active: $state.includes('cluster', {account: account, cluster: cluster.name} )}">
        {{cluster.name}}</a>
  </div>
</div>
