<div class="row server-group"
     ng-class="{active: $state.includes('*.serverGroup', {region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name})}">
  <div class="col-sm-2 server-group-summary">
    <a ui-sref=".serverGroup({region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name})">
      <span class="glyphicon glyphicon-th"></span> {{serverGroup.name | stripCluster:cluster}}
    </a>
  </div>
  <div class="col-sm-10 server-group-details">
    <div class="build-title">
      <a href="{{ serverGroup.buildInfo.jenkins.host }}job/{{ serverGroup.buildInfo.jenkins.name }}/{{ serverGroup.buildInfo.jenkins.number }}/"
         target="_blank"
         ng-if="serverGroup.buildInfo.jenkins.host">
        Build #{{ serverGroup.buildInfo.jenkins.number }}:</a>
      <span ng-if="!serverGroup.buildInfo.jenkins.host">(No build info)</span>
      <health-counts server-group="serverGroup"></health-counts>
    </div>
    <div class="instances">
      <a class="instance health-status-{{instance.healthStatus}}"
         ng-repeat="instance in serverGroup.asg.instances"
         tooltip="{{instance.instanceId}}"
         ui-sref=".instanceDetails({instanceId: instance.instanceId })"
         ui-sref-active="active">
        <span class="sr-only">{{instance.instanceId}}</span></a>
    </div>
  </div>
</div>
