<div class="row server-group sub-group"
     ng-class="{
        active: $state.includes('**.serverGroup', {region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name}),
        disabled: serverGroup.isDisabled
     }">
  <div class="summary">
    <a class="title-link"
       ui-sref=".serverGroup({region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name})">
      <span class="glyphicon glyphicon-th"></span>
      {{serverGroup.name}}
      <account-tag account="serverGroup.account" pad="left"></account-tag>
    </a>
    <load-balancers-tag load-balancers="serverGroup.loadBalancers" max-display="1"></load-balancers-tag>
  </div>
  <div class="details">
    <div class="build-title">
      <a ng-if="serverGroup.buildInfo.jenkins.host"
         href="{{ serverGroup.buildInfo.jenkins.host }}job/{{ serverGroup.buildInfo.jenkins.name }}/{{ serverGroup.buildInfo.jenkins.number }}/"
         target="_blank">
          Build #{{ serverGroup.buildInfo.jenkins.number }}:
      </a>
      <span ng-if="!serverGroup.buildInfo.jenkins.host">
          (No build info)
      </span>
      <health-counts container="serverGroup"></health-counts>
    </div>
    <div ng-if="displayOptions.showInstances">
      <instances instances="serverGroup.instances" render-instances-on-scroll="displayOptions.renderInstancesOnScroll"></instances>
    </div>
  </div>
</div>
