<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span>
    {{account}}: {{cluster.name}}
  </h3>

  <div class="actions pull-right">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="disabled">
        Cluster Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">CONFIG</li>
        <li><a href="#">Create ASG</a></li>
        <li><a href="#">Delete Cluster</a></li>
        <li class="dropdown-header">INSIGHT</li>
        <li><a href="#">View in Atlas</a></li>
        <li><a href="#">View in Chronos</a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-include="'views/application/cluster/filters.html'"></div>
<div class="content">
  <div ng-repeat="serverGroupRegion in serverGroupsByRegion | orderBy:'region'" class="server-group-rollup">
    <h4>{{serverGroupRegion.region}}</h4>
    <server-group
      ng-repeat="serverGroup in serverGroupRegion.serverGroups | orderBy:'name'"
      server-group="serverGroup"
      cluster="cluster.name"
      display-options="displayOptions"></server-group>
  </div>
  <div ng-if="!serverGroupsByRegion.length">
    <h4 class="text-center">No server groups match the filters you've selected.</h4>
  </div>
</div>

