<div class="header">
  <h3>
    <span class="glyphicon glyphicon-th-large"></span>
    {{account}}: {{cluster.name}}
  </h3>

  <div class="actions pull-right">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="disabled">
        Cluster Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">CONFIG</li>
        <li><a href="#">Create ASG</a></li>
        <li><a href="#">Delete Cluster</a></li>
        <li class="dropdown-header">INSIGHT</li>
        <li><a href="#">View in Atlas</a></li>
        <li><a href="#">View in Chronos</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="content">
  <div class="sort-filter" style="display:none">
    <div class="row form-inline">
      <div class="form-group">
        <label>
          Sort by
          <select class="form-control input-sm" name="sort-by" ng-model="sortFilter.sort">
            <option value="region" selected>Region</option>
            <option value="us-east-1">us-east-1</option>
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Filter
          <input type="text" class="form-control input-sm" name="filter" ng-model="sortFilter.filter"/>
        </label>
      </div>
    </div>
  </div>
  <div ng-repeat="asg in asgsByRegion | orderBy:'region'">
    <h4>{{asg.region}}</h4>
    <server-group ng-repeat="serverGroup in asg.serverGroups | orderBy:'name'" server-group="serverGroup" cluster="cluster.name"></server-group>
  </div>
</div>
