<div modal-page>
  <task-monitor monitor="taskMonitor"></task-monitor>
  <form role="form">
    <modal-close></modal-close>
    <div class="modal-header">
      <h3>Associate Elastic IP with Cluster</h3>
    </div>
    <div class="modal-body container-fluid form-horizontal">
      <div class="form-group">
        <div class="col-md-2"><b>Cluster:</b></div>
        <div class="col-md-3">
          {{serverGroup.cluster}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"><b>Region:</b></div>
        <div class="col-md-3">
          {{serverGroup.region}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2"><b>Account:</b></div>
        <div class="col-md-3">
          {{serverGroup.account}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 sm-label-left">Type <help-field key="aws.associateElasticIp.type"></help-field></div>
        <div class="col-md-3">
          <select class="form-control input-sm" ng-model="elasticIp.type" ng-init="elasticIp.type='standard'">
            <option>standard</option>
            <option>vpc</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 sm-label-left">Elastic IP <help-field key="aws.associateElasticIp.elasticIp"></help-field></div>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" maxlength="15" ng-model="elasticIp.address">
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
        <button type="submit"
                class="btn btn-primary"
                ng-click="ctrl.associate()">
          Associate
        </button>
      </div>
    </div>
  </form>
</div>
