<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Persistent Disk Type</b>
  </div>
  <div class="col-md-6">
    <ui-select ng-model="vm.command.persistentDiskType" class="form-control input-sm" required>
      <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="persistentDiskType in vm.command.backingData.persistentDiskTypes | filter: $select.search">
        <span ng-bind-html="persistentDiskType | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Persistent Disk Size (GB)</b>
  </div>
  <div class="col-md-6"><input type="number"
                               class="form-control input-sm"
                               ng-model="vm.command.persistentDiskSizeGb"
                               min="10"/></div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Number of Local SSD Disks</b>
    <help-field key="gce.instance.storage.localSSD"></help-field>
  </div>
  <div class="col-md-2"><input type="number"
                               class="form-control input-sm"
                               ng-model="vm.command.localSSDCount"
                               min="0"
                               max="{{vm.command.viewState.instanceTypeDetails.storage.localSSDSupported ? 4 : 0}}"
                               ng-disabled="!vm.command.viewState.instanceTypeDetails.storage.localSSDSupported"/></div>
</div>
<div class="form-group">
  <div class="sm-label-left">
    <b>Custom Metadata</b>
    <help-field key="gce.serverGroup.customMetadata"></help-field>
  </div>
  <map-editor model="vm.command.instanceMetadata" add-button-label="Add New Metadata" allow-empty="true"></map-editor>
</div>
<div class="form-group">
  <div class="sm-label-left">
    <table class="table table-condensed packed tags">
      <b>Tags</b>
      <tbody>
      <tr ng-repeat="tag in vm.command.tags">
        <td><input class="form-control input-sm" type="text" ng-model="tag.value" required/></td>
        <td><a class="btn btn-link sm-label"
               ng-click="vm.removeTag($index)"><span
          class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="1">
          <button class="btn btn-block btn-sm add-new" ng-click="vm.addTag()"><span
            class="glyphicon glyphicon-plus-sign"></span> Add New Tag
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Preemptibility</b>
    <help-field key="gce.serverGroup.preemptibility"></help-field>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.preemptible" ng-value="false" id="preemptibleFalse" ng-change="vm.setPreemptible()"/>
      Off
    </label>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.preemptible" ng-value="true" id="preemptibleTrue" ng-change="vm.setPreemptible()"/>
      On
    </label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Automatic Restart</b>
    <help-field key="gce.serverGroup.automaticRestart"></help-field>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.automaticRestart" ng-value="false" id="automaticRestartFalse"/>
      Off
    </label>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.automaticRestart" ng-value="true" id="automaticRestartTrue"/>
      On
    </label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>On Host Maintenance</b>
    <help-field key="gce.serverGroup.onHostMaintenance"></help-field>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.onHostMaintenance" ng-value="'MIGRATE'" id="onHostMaintenanceMigrate"/>
      Migrate
    </label>
  </div>
  <div class="col-md-2 radio">
    <label>
      <input type="radio" ng-model="vm.command.onHostMaintenance" ng-value="'TERMINATE'" id="onHostMaintenanceTerminate"/>
      Terminate
    </label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>AutoHealing</b>
  </div>
  <div class="col-md-6 checkbox">
    <label>
      <input type="checkbox" ng-model="vm.command.enableAutoHealing" ng-change="vm.setAutoHealing()"/>
    </label>
  </div>
</div>
<div class="form-group" ng-if="vm.command.enableAutoHealing">
  <div class="col-md-5 sm-label-right">
    <b>Http Health Check</b>
  </div>
  <div class="col-md-6">
    <ui-select ng-model="vm.command.autoHealingPolicy.healthCheck" class="form-control input-sm" required>
      <ui-select-match placeholder="Select...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="httpHealthCheck in vm.command.backingData.filtered.httpHealthChecks | filter: $select.search">
        <span ng-bind-html="httpHealthCheck | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="form-group small" style="margin-top: 20px" ng-if="vm.command.enableAutoHealing">
  <div class="col-md-5 sm-label-right">
  </div>
  <div class="col-md-6">
    <p>
      <span ng-if="vm.refreshing"><span class="small glyphicon glyphicon-refresh glyphicon-spinning"></span></span>
      Http health checks
      <span ng-if="!vm.refreshing">last refreshed {{ vm.getHttpHealthCheckRefreshTime() | timestamp }}</span>
      <span ng-if="vm.refreshing"> refreshing...</span>
    </p>
    <p>If you're not finding a health check that was recently added,
      <a href ng-click="vm.refreshHttpHealthChecks()">click here</a> to refresh the list.
    </p>
  </div>
</div>
<div class="form-group" ng-if="vm.command.enableAutoHealing">
  <div class="col-md-5 sm-label-right">
    <b>Initial Delay (sec)</b>
  </div>
  <div class="col-md-6"><input type="number"
                               class="form-control input-sm"
                               ng-model="vm.command.autoHealingPolicy.initialDelaySec"
                               min="0"
                               max="2147483647"
                               required/></div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Service Account</b>
    <help-field key="gce.instance.serviceAccount"></help-field>
  </div>
  <div class="col-md-6">
    <input type="text"
           class="form-control input-sm"
           ng-model="vm.command.serviceAccountEmail"/>
  </div>
</div>
<div class="form-group">
  <div class="col-md-5 sm-label-right">
    <b>Auth Scopes</b>
    <help-field key="gce.instance.authScopes"></help-field>
  </div>
  <div class="col-md-6">
    <ui-select multiple tagging tagging-label="(custom auth scope)" ng-model="vm.command.authScopes" class="form-control input-sm">
      <ui-select-match>{{$item}}</ui-select-match>
      <ui-select-choices repeat="authScope in vm.command.backingData.authScopes | filter: $select.search">
        <span ng-bind-html="authScope | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
