<div class="header">
  <h3>
    <span class="glyphicon glyphicon-transfer"></span> Security Groups
  </h3>
  <div class="application-actions">
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="disabled">
        Security Group Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">CONFIG</li>
        <li><a href="#">Create Security Group</a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-include="'views/application/connection/filters.html'"></div>
<div class="content" ng-include="'views/application/connection/groupings.html'"></div>
