<div class="sort-filter">
  <div class="form-inline">
    <div class="form-group">
      <label>
        Sort by
        <select class="form-control input-sm"
                ng-model="sortFilter.sortPrimary"
                ng-change="ctrl.updateSecurityGroups()"
                ng-options="option.key as option.label for option in sortOptions">
        </select>
      </label>
    </div>
    <div class="form-group pull-right has-feedback">
      <label>
        Filter
        <input type="text" class="form-control input-sm" name="filter" placeholder="Region, Account, Name"
               ng-model="sortFilter.filter"
               style="width: 235px"
               ng-change="ctrl.updateSecurityGroups()"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </label>
    </div>
  </div>
  <div class="form-inline">
    <label>Show</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="sortFilter.showServerGroups" ng-change="ctrl.updateSecurityGroups()" />
        Server Groups
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="sortFilter.showLoadBalancers" ng-change="ctrl.updateSecurityGroups()"/>
        Load Balancers
      </label>
    </div>
  </div>
</div>
