<h4 class="col-md-12" style="margin-top: 10px">This application is:</h4>
<div class="archetype-columns archetype-columns-{{columns}}" ng-repeat="instanceProfile in instanceProfiles">
  <button class="instance-profile"
          ng-class="{active: command.viewState.instanceProfile === instanceProfile.type}"
          ng-click="instanceArchetypeCtrl.selectInstanceType(instanceProfile.type)">
        <span is-visible="command.viewState.instanceProfile === instanceProfile.type"
              class="glyphicon glyphicon-ok-circle selected-indicator"></span>
    <div class="panel-heading">
      <h4><span class="glyphicon glyphicon-{{instanceProfile.icon}}"></span><br/> {{instanceProfile.label}}</h4>
    </div>
  </button>
</div>
<div class="clearfix" ng-if="command.viewState.instanceProfile === 'custom'">
  <dirty-instance-type-notification command="command"></dirty-instance-type-notification>
  <div class="col-md-8">
    <select class="form-control input-sm"
            ng-model="command.instanceType"
            ng-options="customType for customType in command.backingData.filtered.instanceTypes"
            ng-change="instanceArchetypeCtrl.updateInstanceTypeDetails()"
            required>
      <option value="">Select an instance type...</option>
    </select>
  </div>
  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-9">
      <p>
        <span ng-if="instanceArchetypeCtrl.refreshing"><span class="small glyphicon glyphicon-refresh glyphicon-spinning"></span></span>
        Instance types
        <span ng-if="!instanceArchetypeCtrl.refreshing">last refreshed {{ instanceArchetypeCtrl.getInstanceTypeRefreshTime() | timestamp }}</span>
        <span ng-if="instanceArchetypeCtrl.refreshing"> refreshing...</span>
      </p>
      <p>If you're not seeing an instance type you expect,
        <a href ng-click="instanceArchetypeCtrl.refreshInstanceTypes()">click here</a> to refresh the list.
      </p>
    </div>
  </div>
</div>
<ng-include
  src="instanceArchetypeCtrl.getInstanceBuilderTemplate()"
  ng-if="command.viewState.instanceProfile === 'buildCustom'">
</ng-include>
