.gce-security-group-wizard {
  .sm-label-left {
    border-bottom: 2px solid var(--color-seashell);
  }

  .table {
    border-top: 2px solid var(--color-white);

    .fixed-width {
      width: 100%;
    }

    .table-label {
      padding: 0.8rem 0 0 1rem;
    }

    .table-remove-button {
      padding: 0 0 1rem 1rem;
      margin-right: 65%;
    }
  }
}
