@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff2?8iopm1') format('woff2'), url('fonts/icomoon.ttf?8iopm1') format('truetype'),
    url('fonts/icomoon.woff?8iopm1') format('woff'), url('fonts/icomoon.svg?8iopm1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-network-good:before {
  content: '\e914';
}
.icon-network-bad:before {
  content: '\e91f';
}
.icon-arrow-button-right:before {
  content: '\e900';
}
.icon-arrow-button-down:before {
  content: '\e901';
}
.icon-cloud-remove:before {
  content: '\e90f';
}
.icon-cloud-loading:before {
  content: '\e90b';
}
.icon-cloud-check:before {
  content: '\e90c';
}
.icon-arrow-down-1:before {
  content: '\e90d';
}
.icon-arrow-up-1:before {
  content: '\e90e';
}
.icon-button-refresh-arrows:before {
  content: '\e903';
}
.icon-spel:before {
  content: '\e904';
}
.icon-pencil:before {
  content: '\e905';
}
.icon-alert-triangle:before {
  content: '\e906';
}
.icon-delete:before {
  content: '\e907';
}
.icon-bin:before {
  content: '\e908';
}
.icon-sp-handle:before {
  content: '\e909';
}
.icon-view-1:before {
  content: '\e90a';
}
.icon-sitemap:before {
  content: '\e910';
}
.icon-spinner:before {
  content: '\e911';
}
.icon-navigation-left-circle:before {
  content: '\e912';
}
.icon-earth-warning:before {
  content: '\e915';
}
.icon-lab-tubes:before {
  content: '\e916';
}
.icon-lab-tube:before {
  content: '\e917';
}
.icon-calendar-warning:before {
  content: '\e902';
}
.icon-explore-data:before {
  content: '\e91b';
}
.icon-canary-marginal:before {
  content: '\e91c';
}
.icon-canary-fail:before {
  content: '\e91d';
}
.icon-canary-pass:before {
  content: '\e91e';
}
.icon-file-json:before {
  content: '\e913';
}
.icon-copy-paste:before {
  content: '\e91a';
}
.icon-pipeline:before {
  content: '\e918';
}
.icon-button-play:before {
  content: '\e919';
}
.icon-critical:before {
  content: '\e902';
}
