@font-face {
  font-family: 'icomoon';
  src:url('./fonts/icomoon.eot?jeuj5q');
  src:url('./fonts/icomoon.eot?#iefixjeuj5q') format('embedded-opentype'),
    url('./fonts/icomoon.woff?jeuj5q') format('woff'),
    url('./fonts/icomoon.ttf?jeuj5q') format('truetype'),
    url('./fonts/icomoon.svg?jeuj5q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

span[class^="icon-"], span[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e97e";
}

/* You haven't seen an ugly icon until you've seen the fontawesome sitemap icon */
.fa.fa-sitemap:before {
  font-family: 'icomoon';
  content: "\e600";
}
