<div class="col-md-12" ng-if="command.viewState.dirty.securityGroups">
  <div class="alert alert-warning">
    <p><span class="glyphicon glyphicon-warning-sign"></span>
      The following security groups could not be found in the selected account/region/VPC and were removed:
    </p>
    <ul>
      <li ng-repeat="securityGroup in command.viewState.dirty.securityGroups">{{securityGroup}}</li>
    </ul>
    <p class="text-right">
      <a class="btn btn-sm btn-default dirty-flag-dismiss" href ng-click="command.viewState.dirty.securityGroups = null">Okay</a>
    </p>
  </div>
</div>

<div class="col-md-12" ng-if="command.viewState.securityGroupDiffs.length">
  <div class="alert alert-warning">
    <p><span class="glyphicon glyphicon-warning-sign"></span>
      The following server groups in the same cluster have different security groups:
    </p>
    <ul>
      <li ng-repeat="securityGroupDiff in command.viewState.securityGroupDiffs">
        <dl>
          <dt>
            <div ng-repeat="serverGroup in securityGroupDiff.serverGroups">
              {{serverGroup.region}}&nbsp;/&nbsp;{{serverGroup.autoScalingGroupName}}
            </div>
          </dt>
          <dd>
            <ul>
              <li ng-repeat="commonSecurityGroup in securityGroupDiff.commonSecurityGroups">
                {{commonSecurityGroup}}
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
    <p class="text-right">
      <a class="btn btn-sm btn-default dirty-flag-dismiss" href ng-click="command.viewState.securityGroupDiffs = []">Okay</a>
    </p>
  </div>
</div>

<div class="form-group">
  <div class="col-md-3 sm-label-left"><b>Security Groups</b></div>
  <div class="col-md-9">
    <ui-select multiple ng-model="command.securityGroups" class="form-control input-sm">
      <ui-select-match>{{$item.name}} ({{$item.id}})</ui-select-match>
      <ui-select-choices repeat="securityGroup.id as securityGroup in command.backingData.filtered.securityGroups | anyFieldFilter: {name: $select.search, id: $select.search}">
        <span ng-bind-html="securityGroup.name | highlight: $select.search"></span>
        (<span ng-bind-html="securityGroup.id  | highlight: $select.search"></span>)
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div class="form-group small" style="margin-top: 20px">
  <div class="col-md-9 col-md-offset-3">
    <p>
      <span ng-if="refreshing"><span class="small glyphicon glyphicon-refresh glyphicon-spinning"></span></span>
      Security groups
      <span ng-if="!refreshing">last refreshed {{ getSecurityGroupRefreshTime() | timestamp }}</span>
      <span ng-if="refreshing"> refreshing...</span>
    </p>
    <p>If you're not finding a security group that was recently added,
      <a href ng-click="refreshSecurityGroups()">click here</a> to refresh the list.
    </p>
  </div>
</div>
