<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-12">
      <table class="table table-condensed packed">
        <thead>
          <tr>
            <th width="35%">Protocol</th>
            <th width="30%">Host</th>
            <th><span ng-if="ctrl.requiresHealthCheckPath()">Path</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select class="form-control input-sm" ng-model="loadBalancer.probes[0].probeProtocol" required ng-options="protocol for protocol in ['HTTP']"></select>
            </td>
            <td>
              <input class="form-control input-sm" type="text" ng-model="loadBalancer.probes[0].probePort" />
            </td>
            <td>
              <input ng-if="ctrl.requiresHealthCheckPath()" class="form-control input-sm" type="text" ng-model="loadBalancer.probes[0].probePath"
              required/>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="wizard-subheading">
      <h4>Advanced Settings</h4>
    </div>
    <div class="col-md-8 nest">
      <div class="form-group">
        <div class="col-md-6 sm-label-right">
          <b>Interval</b>
          <help-field key="loadBalancer.probes.probeInterval"></help-field>
        </div>
        <div class="col-md-4">
          <input class="form-control input-sm" type="number" min="0" ng-model="loadBalancer.probes[0].probeInterval" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 sm-label-right">
          <b>Unhealthy Threshold</b>
          <help-field key="loadBalancer.probes.unhealthyThreshold"></help-field>
        </div>
        <div class="col-md-4">
          <input class="form-control input-sm" type="number" min="0" ng-model="loadBalancer.probes[0].unhealthyThreshold" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 sm-label-right">
          <b>Timeout</b>
          <help-field key="loadBalancer.probes.timeout"></help-field>
        </div>
        <div class="col-md-4">
          <input class="form-control input-sm" type="number" min="0" ng-model="loadBalancer.probes[0].timeout" />
        </div>
      </div>
    </div>
  </div>
</div>
