<form ng-controller="awsServerGroupCapacityCtrl" class="container-fluid form-horizontal" name="form" novalidate>
  <div class="modal-body">
    <aws-server-group-capacity-selector command="command"></aws-server-group-capacity-selector>
    <hr/>
    <availability-zone-selector command="command"></availability-zone-selector>
    <div class="form-group">
      <div class="col-md-4 sm-label-left"><b>AZ Rebalance</b></div>
      <div class="col-md-7 checkbox">
        <label><input type="checkbox"
                      ng-click="ctrl.toggleSuspendedProcess('AZRebalance')"
                      ng-checked="!ctrl.processIsSuspended('AZRebalance')"/>
          Keep instances evenly distributed across zones
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left"
            ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="form.$invalid || !ctrl.isValid() || taskMonitor.submitting"
                   label="command.viewState.submitButtonLabel"
                   state="state" on-click="ctrl.submit()" is-new="true"></submit-button>
    <button class="btn btn-default"
            ng-disabled="form.$invalid"
            ng-click="wizard.nextPage(form.$valid)">
      Advanced Settings <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>
