# Master Spinnaker Configuration File
#
# This file binds configuration variables to their values.
# These are then used to populate the individual subsystem configuration files
# by running /opt/spinnaker/scripts/reconfigure_spinnaker.sh


# Google Compute Engine Configuration
#
GOOGLE_ENABLED=true

# The primary spinnaker Account Name for GCP Credentials.
# This cannot be blank if GOOGLE_ENABLED is true.
GOOGLE_ACCOUNT_NAME=my-account-name

# The primary GCE project id being managed by spinnaker.
# If this is blank then use the project that spinnaker is running in.
GOOGLE_MANAGED_PROJECT_ID=

# Path to credentials for the primary GCP managed project id.
# The initial value is written automatically with the
# captured credentials. However if you modify the configuration
# after the fact, then you may need to point to another JSON file.
GOOGLE_JSON_CREDENTIAL_PATH=


# @GOOGLE_CREDENTIALS is a special variable that can be added multiple times.
# Each entry denotes a different account and its set of credentials.
#
# It can be repeated once per account.
# The binding is in the form <account name>:<project id>:<json credential path>.
#
# If the <project id> is blank, then the spinnaker project id will be used
# If the <json credential path> is blank, then there are no associated
# credentials, so will attempt to use spinnaker's credentials.
# Note that using spinnakers project and credentials is only viable if spinnaker
# is deployed on GCE. Otherwise Spinnaker won't have a project or credentials.

# A @GOOGLE_CREDENTIALS for the primary credentials specified above is already
# implied so does not need to be added.
#
# You can add additional credentials here by adding one @GOOGLE_CREDENTIALS
# line for each, looking something like this:
# @GOOGLE_CREDENTIALS=nth-account:my-other-project:~/.spinnaker/nth_json.json



# Amazon Web Services Configuration
#
AWS_ENABLED=false
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# If this is set to true, SimpleDB will be used for Application metadata
# for AWS accounts. If false, Cassandra will be used.
AWS_SIMPLEDBENABLED=false


# Cassandra Configuration
#
SPINNAKER_CASSANDRA_ENABLED=true


# Docker Configuration
#
# host[:port][/path] of docker server being used, or empty for none.
# This is used to launch docker containers for running scripts
# and baking images.
DOCKER_ADDRESS=

# These are used when baking docker images.
DOCKER_ENABLED=false
DOCKER_TARGET_REPOSITORY=


# Jenkins Configuration
#
# host[:port][/path] of jenkins server being used, or empty for none.
JENKINS_ADDRESS=
JENKINS_USERNAME=
JENKINS_PASSWORD=

# Spinnaker Igor subsystem.
# TODO: This is tied to using Jenkins.
# I'm not sure why this is separate.
# If left blank, this will be replaced with true if JENKINS_ADDRESS is defined,
# and false if it is not.
IGOR_ENABLED=


# External Dependency Bindings
CASSANDRA_HOST=localhost
REDIS_HOST=localhost
