chaos-monkey-config {
  input[type='number'] {
    &.form-control {
      display: inline-block;
      width: 55px;
      margin: 0 5px 0 10px;
    }
  }

  .row {
    margin-top: 10px;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 0;
    &.help-label {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  label {
    font-weight: 600;
  }

  .chaos-enabled {
    margin-bottom: 20px;
    .checkbox-inline {
      font-size: 110%;
      font-weight: 600;
      input[type='checkbox'] {
        bottom: 4px;
      }
    }
  }

  .first-header {
    margin-top: 0;
  }
}
