.custom-banner-config-container {
  display: flex;
  flex-direction: column;
}

.custom-banner-config-description {
  margin-bottom: 10px;
}

.custom-banner-config-textarea,
.custom-banner-config-preview {
  resize: vertical;
  min-height: 50px;
  max-height: 150px;
}

.custom-banner-config-preview {
  overflow-y: auto;
}

.custom-banner-config-color-option {
  height: 20px;
  border: 1px solid var(--color-alto);
}

.Select-value .custom-banner-config-color-option {
  margin: 4px 12px 4px 4px;
}

.custom-banner-config-color-option-column {
  width: 15%;
}
