<v2-modal-wizard heading="Define template parameters: {{::ctrl.pipelineName}}" dismiss="$dismiss()" ng-if="ctrl.variableMetadataGroups">
  <v2-wizard-page key="{{::group.name}}"
                  label="{{::group.name}}"
                  mark-complete-on-view="false"
                  ng-repeat="group in ctrl.variableMetadataGroups">
    <variable ng-repeat="metadata in group.variableMetadata"
              class="clearfix"
              variable-metadata="metadata"
              variable="ctrl.getVariable(metadata.name)"
              on-change="ctrl.handleVariableChange"></variable>
  </v2-wizard-page>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button label="'Create and Configure'"
                   is-disabled="!ctrl.formIsValid()"
                   on-click="ctrl.getPipelineConfigPlan()">
    </submit-button>
  </div>
</v2-modal-wizard>
