<div class="details-panel">
  <div class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div ng-if="state.loading">
      <h4 class="text-center">
        <span us-spinner="{radius:20, width:6, length: 12}"></span>
      </h4>
    </div>
    <div class="header-text" ng-if="!state.loading">
      <span class="glyphicon glyphicon-transfer"></span>
      <h3 select-on-dbl-click>
        {{securityGroup.name || '(not found)'}}
      </h3>
    </div>
    <div class="actions">
      <div class="dropdown" uib-dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled" uib-dropdown-toggle>
          Security Group Actions <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu">
          <li><a href ng-click="ctrl.editInboundRules()">Edit Inbound Rules</a></li>
          <li><a href ng-click="ctrl.deleteSecurityGroup()">Delete Security Group</a></li>
          <li><a href ng-click="ctrl.cloneSecurityGroup()">Clone Security Group</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content" ng-if="!state.loading">
    <collapsible-section heading="Security Group Details" expanded="true">
      <dl class="dl-horizontal dl-medium">
        <dt>ID:</dt>
        <dd>{{securityGroup.id}}</dd>
        <dt>Account:</dt>
        <dd><account-tag account="securityGroup.accountName"></account-tag></dd>
        <dt>Region:</dt>
        <dd>{{securityGroup.region}}</dd>
        <dt>VPC:</dt>
        <dd><vpc-tag vpc-id="securityGroup.vpcId"></vpc-tag></dd>
        <dt>Description:</dt>
        <dd>{{securityGroup.description}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="IP Range Rules ({{securityGroup.ipRangeRules.length || 0}})" expanded="{{!!(securityGroup.ipRangeRules && securityGroup.ipRangeRules.length)}}">
      <div ng-if="!securityGroup.ipRangeRules.length">None</div>

      <dl ng-class="insightCtrl.vm.filtersExpanded ? '' : 'dl-horizontal dl-medium'"
          ng-repeat="ipRangeRule in securityGroup.ipRangeRules | orderBy: 'range.ip'">
        <dt>IP Range</dt>
        <dd>{{ipRangeRule.range.ip}}{{ipRangeRule.range.cidr}}</dd>
        <dt ng-if="ipRangeRule.portRanges && ipRangeRule.portRanges[0].startPort">Port Ranges</dt>
        <dd ng-repeat="portRange in ipRangeRule.portRanges" ng-if="portRange.startPort && portRange.endPort">
          {{ipRangeRule.protocol}}: {{portRange.startPort}} &rarr; {{portRange.endPort}}
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Group Rules ({{securityGroup.securityGroupRules.length || 0}})" expanded="{{!!securityGroup.securityGroupRules.length}}">
      <div ng-if="!securityGroup.securityGroupRules.length">None</div>

      <dl ng-class="insightCtrl.vm.filtersExpanded ? '' : 'dl-horizontal dl-medium'"
          ng-repeat="rule in securityGroup.securityGroupRules | orderBy: 'securityGroup.name' ">
        <dt>Security Group</dt>
        <dd ng-if="rule.securityGroup.name">
          <a a ui-sref="^.securityGroupDetails({name: rule.securityGroup.name, accountId: rule.securityGroup.accountName, region: rule.securityGroup.region, vpcId: securityGroup.vpcId, provider: 'aws'})">
            {{rule.securityGroup.name}} ({{rule.securityGroup.id}})
          </a>
        </dd>
        <dt ng-if="rule.portRanges && rule.portRanges[0].startPort">Port Ranges</dt>
        <dd ng-repeat="portRange in rule.portRanges" ng-if="portRange.startPort && portRange.endPort">
          {{rule.protocol}}: {{portRange.startPort}} &rarr; {{portRange.endPort}}
        </dd>
      </dl>
    </collapsible-section>
  </div>
</div>
