.artifact-details {
  text-overflow: ellipsis;
  font-size: inherit;
  line-height: 18px;
  word-break: break-word;

  dl {
    margin: 0;
  }
}

.artifact-detail {
  display: inline-flex;
  padding: 0.1px;
  align-items: baseline;

  .artifact-icon {
    padding-right: 4px;
  }

  dd,
  dt {
    display: inline;
  }

  dt {
    font-weight: normal;
  }
}

.artifact-value {
  display: inline-flex;
  align-items: baseline;
  overflow-wrap: break-word;
}
