<div ng-controller="awsBakeStageCtrl as bakeStageCtrl">
  <div ng-if="viewState.loading">
    <h4 ng-if="viewState.loading" class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>
  <div ng-if="!viewState.loading">
    <stage-config-field label="Regions">
      <checklist items="regions" model="stage.regions" inline="true" include-select-all-button="true"></checklist>
    </stage-config-field>
    <stage-config-field label="Package" help-key="pipeline.config.bake.package">
      <input type="text" class="form-control input-sm"
             ng-model="stage.package"/>
    </stage-config-field>
    <stage-config-field label="Base OS">
      <label class="radio-inline" ng-repeat="baseOsOption in baseOsOptions">
        <input type="radio"
               ng-model="stage.baseOs"
               ng-value="baseOsOption.id"/>
        {{baseOsOption.id}} ({{baseOsOption.shortDescription}}) <help-field content="{{baseOsOption.detailedDescription}}" />
      </label>
    </stage-config-field>
    <stage-config-field label="VM Type" ng-if="stage.cloudProviderType === 'aws' || stage.cloudProviderType === undefined">
      <label class="radio-inline" ng-repeat="vmType in vmTypes">
        <input type="radio"
               ng-model="stage.vmType"
               ng-value="vmType"/>
        {{vmType | uppercase}}
      </label>
    </stage-config-field>
    <stage-config-field label="Store Type" ng-if="stage.cloudProviderType === 'aws' || stage.cloudProviderType === undefined">
      <label class="radio-inline" ng-repeat="storeType in storeTypes">
        <input type="radio"
               ng-model="stage.storeType"
               ng-value="storeType"/>
        {{storeType | uppercase}}
      </label>
    </stage-config-field>
    <stage-config-field label="Base Label">
      <label class="radio-inline" ng-repeat="baseLabel in baseLabelOptions">
        <input type="radio"
               ng-model="stage.baseLabel"
               ng-value="baseLabel"/>
        {{baseLabel}}
      </label>
    </stage-config-field>
    <!-- Even if the roscoMode flag is false, we should show the control if rebake is set. -->
    <stage-config-field label="Rebake" ng-if="viewState.roscoMode || stage.rebake">
      <div class="checkbox" style="margin-bottom: 0">
        <label>
          <input type="checkbox"
                 ng-model="stage.rebake">
          </input>
          Rebake image without regard to the status of any existing bake
        </label>
      </div>
    </stage-config-field>
    <div class="form-group" ng-if="stage.cloudProviderType === 'aws' || stage.cloudProviderType === undefined">
      <div class="col-md-9 col-md-offset-1">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="stage.showAdvancedOptions">
            <strong>Show Advanced Options</strong>
          </label>
        </div>
      </div>
    </div>
    <div ng-class="{collapse: stage.showAdvancedOptions !== true, 'collapse.in': stage.showAdvancedOptions === true}">
      <stage-config-field label="Template File Name" help-key="pipeline.config.bake.templateFileName"
                          ng-if="bakeStageCtrl.showTemplateFileName()">
        <input type="text" class="form-control input-sm"
               ng-model="stage.templateFileName"/>
      </stage-config-field>
      <stage-config-field label="Extended Attributes" help-key="pipeline.config.bake.extendedAttributes"
                          ng-if="bakeStageCtrl.showExtendedAttributes()">
        <table class="table table-condensed packed">
          <thead>
          <tr>
            <th style="width:40%">Key</th>
            <th style="width:60%">Value</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="(key,value) in stage.extendedAttributes">
            <td>
              <strong class="small">{{key}}</strong>
            </td>
            <td>
              <input type="text" required ng-model="stage.extendedAttributes[key]" value="{{value}}"
                     class="form-control input-sm"/>
            </td>
            <td class="text-right">
              <a class="small" href ng-click="bakeStageCtrl.removeExtendedAttribute(key)">Remove</a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="7">
              <button class="btn btn-block btn-sm add-new" ng-click="bakeStageCtrl.addExtendedAttribute()">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Extended Attribute
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </stage-config-field>
      <stage-config-field label="Var File Name" help-key="pipeline.config.bake.varFileName"
                          ng-if="bakeStageCtrl.showVarFileName()">
        <input type="text" class="form-control input-sm"
               ng-model="stage.varFileName"/>
      </stage-config-field>
      <stage-config-field label="Base Name">
        <input type="text" class="form-control input-sm"
               ng-model="stage.baseName"/>
      </stage-config-field>
      <stage-config-field label="Base AMI" help-key="pipeline.config.bake.baseAmi">
        <input type="text" class="form-control input-sm"
               ng-model="stage.baseAmi"/>
      </stage-config-field>
      <stage-config-field label="AMI Name" help-key="pipeline.config.bake.amiName">
        <input type="text" class="form-control input-sm"
               ng-model="stage.amiName"/>
      </stage-config-field>
      <stage-config-field label="AMI Suffix" help-key="pipeline.config.bake.amiSuffix">
        <input type="text" class="form-control input-sm"
               ng-model="stage.amiSuffix"/>
      </stage-config-field>
      <stage-config-field label="Enhanced Networking" help-key="pipeline.config.bake.enhancedNetworking">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="stage.enhancedNetworking"/>
          </label>
        </div>
      </stage-config-field>
    </div>
  </div>
</div>
