<div>
  <h5 class="execution-title">
    <a ui-sref="^.application.executions.execution({application: vm.execution.application, executionId: vm.execution.id})">
      {{vm.execution.application | uppercase}}: {{vm.execution.name}}
    </a>
  </h5>
  (<execution-build-number execution="vm.execution"></execution-build-number><span ng-if="vm.hasBuildInfo">, </span>started {{vm.execution.startTime | timestamp }})
  <div class="execution-bar">
    <div ng-repeat="stage in vm.execution.stageSummaries"
         class="clickable stage execution-marker execution-marker-{{stage.status.toLowerCase()}}"
         ng-style="{width: vm.stageWidth, 'background-color': stage.color}"
         uib-tooltip-template="stage.labelTemplateUrl"
         tooltip-title="(Click for details)"
         tooltip-placement="bottom"
         ui-sref="^.application.executions.execution({application: vm.execution.application, executionId: vm.execution.id, stage: $index})"></div>
  </div>
</div>
