<div class="row">
  <!-- TODO: Conditionally to the selected subnet, modify the available target groups.  If bridge networking is selected, display target groups as per the selected ECS cluster -->
  <!-- TODO: Depending on the subnetType (AWS VPC), allow to choose security groups based on the subnetType's VPC -->

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Network mode</b> <help-field key="ecs.networkMode"></help-field>
    </div>
    <div class="col-md-6">
      <ui-select ng-model="$ctrl.command.networkMode" class="form-control input-sm">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="item in ['bridge', 'host', 'awsvpc', 'none', 'default']">
          <span ng-bind-html="item"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div ng-if="$ctrl.command.networkMode == 'awsvpc'">
    <div class="form-group">
      <div class="col-md-4 sm-label-right"><b>VPC Subnet</b> <help-field key="ecs.subnet"></help-field></div>

      <div class="col-md-6" ng-if="!$ctrl.command.backingData.filtered.subnetTypes.length">
        No account was selected, or no subnet type is available for this account
      </div>

      <div class="col-md-6" ng-if="$ctrl.command.backingData.filtered.subnetTypes.length">
        <ui-select ng-model="$ctrl.command.subnetType" class="form-control input-sm" required on-select="$ctrl.fieldChanged()">
          <ui-select-match>{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="subnetType in $ctrl.command.backingData.filtered.subnetTypes">
            <span ng-bind-html="subnetType"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.command.networkMode == 'awsvpc'">
    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Security Groups</b> <help-field key="ecs.securityGroups"></help-field> <!-- TODO : add info for this field -->
      </div>
      <div class="col-md-6">
        <div class="form-control-static" ng-if="!$ctrl.command.backingData.filtered.securityGroupNames.length">
          No security groups found in the selected account/region
        </div>
        <ui-select multiple
                   ng-if="$ctrl.command.backingData.filtered.securityGroupNames.length"
                   ng-model="$ctrl.command.securityGroupNames"
                   class="form-control input-sm">
          <ui-select-match>{{$item}}</ui-select-match>
          <ui-select-choices repeat="securityGroupName in $ctrl.command.backingData.filtered.securityGroupNames | filter: $select.search">
            <span ng-bind-html="securityGroupName"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div ng-if="$ctrl.command.networkMode == 'awsvpc'">
    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Associate Public IP Address</b> <help-field key="ecs.publicip"></help-field>
      </div>
      <div class="col-md-1 radio">
        <label>
          <input type="radio" ng-model="$ctrl.command.associatePublicIpAddress" ng-value="true" id="associatePublicIpAddressTrue"/>
          Yes
        </label>
      </div>
      <div class="col-md-1 radio">
        <label>
          <input type="radio" ng-model="$ctrl.command.associatePublicIpAddress" ng-value="false" id="associatePublicIpAddressFalse"/>
          No
        </label>
      </div>
    </div>
  </div>

  <div class="col-md-12" ng-if="$ctrl.command.viewState.dirty.targetGroup">
    <div class="alert alert-warning">
      <p><i class="fa fa-exclamation-triangle"></i>
        The following target groups could not be found in the selected account/region/VPC and were removed:
      </p>
      <ul>
        <li ng-repeat="targetGroup in $ctrl.command.viewState.dirty.targetGroup">{{targetGroup}}</li>
      </ul>
      <p class="text-right">
        <a class="btn btn-sm btn-default dirty-flag-dismiss" href ng-click="$ctrl.command.viewState.dirty.targetGroup = null">Okay</a>
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      <b>Target Group</b>
      <help-field key="ecs.loadBalancer.targetGroup"></help-field>
    </div>
    <div class="col-md-6">
      <div class="form-control-static" ng-if="!$ctrl.command.backingData.filtered.targetGroups.length">
        No target groups found in the selected account/region/VPC
      </div>
      <ui-select ng-if="$ctrl.command.backingData.filtered.targetGroups.length"
                 ng-model="$ctrl.command.targetGroup"
                 class="form-control input-sm">
        <ui-select-match>{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="targetGroup in $ctrl.command.backingData.filtered.targetGroups | filter: $select.search">
          <span ng-bind-html="targetGroup | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div class="form-group small" style="margin-top: 20px">
    <div class="col-md-8 col-md-offset-4">
      <p>
        <span ng-if="$ctrl.refreshing"><span class="fa fa-sync-alt fa-spin"></span></span>
        Target groups
        <span ng-if="!$ctrl.refreshing">last refreshed {{ $ctrl.refreshTime | timestamp }}</span>
        <span ng-if="$ctrl.refreshing"> refreshing...</span>
      </p>
      <p>If you're not finding a target group that was recently added,
        <a href ng-click="$ctrl.refreshLoadBalancers()">click here</a> to refresh the list.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 sm-label-right">
      Target container port <help-field key="ecs.loadbalancing.targetPort"></help-field>
    </div>
    <div class="col-md-2"><input type="number"
                                 class="form-control input-sm no-spel"
                                 ng-pattern="basicSettingsCtrl.detailPattern"
                                 name="targetContainerPort"
                                 ng-model="$ctrl.command.containerPort"/></div>
  </div>
</div>
