.fp-rollout {
  display: flex;
  flex: 1 1 auto;

  .execution-groups-header {
    h3, .pull-right {
      display: none;
    }
  }
  .execution-group-heading {
    .execution-group-actions {
      display: none;
    }
  }
}
