<div modal-page class="migrator-modal">
  <div ng-include="vm.submittingTemplateUrl"></div>
  <form role="form" name="form">
    <modal-close></modal-close>
    <div class="modal-header">
      <h3>Migrate {{vm.component.name}} to VPC0</h3>
    </div>
    <div class="modal-body">

      <div ng-if="vm.state === 'initialize'" class="migration-options">
        <h3 class="text-center">
          <span class="small glyphicon glyphicon-asterisk glyphicon-spinning"></span>
        </h3>
      </div>

      <div ng-if="vm.state === 'configure'" class="migration-options">
        <div class="row">
          <div class="col-md-10">
            <h4>Migration Options</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 sm-label-right">
            Target Account<span ng-if="vm.accountMapping.length > 1">s</span>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3 sm-label-left">Source</div>
              <div class="col-md-4 sm-label-left">Target</div>
              <div class="col-md-4 sm-label-left">Key Name</div>
            </div>
            <div class="row" ng-repeat="mapping in vm.accountMapping">
              <div class="col-md-3">
                <account-tag account="mapping.source"></account-tag>
              </div>
              <div class="col-md-4">
                <account-select-field accounts="vm.accounts" component="mapping" field="target" provider="'aws'"></account-select-field>
              </div>
              <div class="col-md-4">
                <select class="form-control input-sm"
                        ng-model="mapping.keyName"
                        ng-options="key.keyName as key.keyName for key in vm.keyPairs[mapping.target]"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 sm-label-right" style="margin-top: 10px">
            ClassicLink
          </div>
          <div class="col-md-6 checkbox">
            <label><input type="checkbox" ng-model="vm.migrationOptions.allowIngressFromClassic"/> Allow Access From EC2 Classic </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 sm-label-right">
            ASG Subnet
          </div>
          <div class="col-md-6">
            <select class="form-control input-sm"
                    style="display: inline; width: auto"
                    ng-model="vm.migrationOptions.subnetType"
                    ng-options="type for type in ['internal', 'external']"></select>
          </div>
        </div>
      </div>

      <div class="row" ng-if="vm.state === 'dryRun'">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center">
            <span class="small glyphicon glyphicon-asterisk glyphicon-spinning"></span>
            Calculating execution plan...
          </h3>
        </div>
      </div>

      <div class="row preview" ng-if="vm.state === 'preview' || vm.state === 'complete'">
        <div class="col-md-10 col-md-offset-1">
          <div ng-if="vm.state === 'preview'">
            <p>This will create a new pipeline named
              <strong>{{vm.viewState.targetName}}</strong>. All triggers will be disabled.</p>
            <p ng-if="!vm.preview.securityGroups.length && !vm.preview.loadBalancers.length">
              All load balancers and security groups needed for server groups deployed in the pipeline have already
              been migrated to VPC0, so this will just create the new pipeline.
            </p>
            <p ng-if="vm.preview.securityGroups.length || vm.preview.loadBalancers.length">As part of this migration, the following
              <span ng-if="vm.preview.securityGroups.length">security groups</span>
              <span ng-if="vm.preview.securityGroups.length && vm.preview.loadBalancers.length"> and </span>
              <span ng-if="vm.preview.loadBalancers.length">load balancers</span>
              will be created or updated in VPC0:</p>
          </div>
          <div ng-if="vm.state === 'complete'">
            <p ng-if="vm.preview.securityGroups.length || vm.preview.loadBalancers.length">The following items have been created or updated:</p>
          </div>
          <div ng-if="vm.preview.securityGroups.length">
            <h4><span class="glyphicon glyphicon-transfer small"></span> Security Groups</h4>
            <div ng-repeat="securityGroup in vm.preview.securityGroups" class="preview-entry">
              <account-tag ng-if="vm.accountMapping.length > 1"
                           account="securityGroup.mutationDetails.awsReference.location.account"></account-tag>
              {{securityGroup.mutationDetails.awsReference.identity.groupName}}</div>
          </div>
          <div ng-if="vm.preview.loadBalancers.length">
            <h4><span class="small icon icon-elb"></span> Load Balancers</h4>
            <div ng-repeat="loadBalancer in vm.preview.loadBalancers" class="preview-entry">{{loadBalancer.mutationDetails.awsReference.identity.loadBalancerName}}</div>
            <p class="note">Note: if Route53 or sticky session policies are configured for the current load balancer,
              you will need to set that up in the AWS console.
            </p>
          </div>
          <div ng-if="vm.preview.skipped.length" class="skipped">
            <h4><span class="small glyphicon glyphicon-ban-circle"></span> Skipped Security Groups</h4>
            <p>The following ingress rule<span ng-if="vm.preview.skipped.length > 1">s</span> cannot be created because
              Spinnaker does not manage the account owning the security group.</p>
            <div ng-repeat="skipped in vm.preview.skipped">
              <dl class="dl-horizontal">
                <dt>Source Security Group</dt>
                <dd>{{skipped.mutationDetails.referencedBy.group}}</dd>
                <dt>Account ID</dt>
                <dd>{{skipped.mutationDetails.awsReference.account.id}}</dd>
                <dt>Ingress Security Group</dt>
                <dd>{{skipped.mutationDetails.awsReference.groupName}} ({{skipped.mutationDetails.awsReference.groupId}})</dd>
              </dl>
            </div>
            <p ng-if="vm.state === 'preview'">After the migration completes, you will need to make sure
              the ingress security group<span ng-if="vm.preview.skipped.length > 1">s</span>
              exist<span ng-if="vm.preview.skipped.length === 1">s</span> in VPC0, then create an ingress rule via
              the AWS console.</p>
            <p ng-if="vm.state === 'complete'">Please make sure
              exist<span ng-if="vm.preview.skipped.length === 1">s</span> in VPC0, then create an ingress rule via
              the AWS console.</p>
          </div>
          <div ng-if="vm.state === 'complete'">
            <p>The new pipeline named
              <strong>{{vm.viewState.targetName}}</strong> is available for review.</p>
          </div>
          <div ng-if="vm.clustersWithStrategies.length" class="alert alert-warning">
            <h4 style="margin-top:0;">Important</h4>
            <p>
              The following deployment stages use deployment strategies:
            </p>
            <ul>
              <li ng-repeat="cluster in vm.clustersWithStrategies">
                {{cluster.stage}} (strategy: {{cluster.cluster.strategy}})
              </li>
            </ul>
            <p>
              Spinnaker's deployment strategies do not differentiate between VPCs when cleaning up previous server groups.
              Running this pipeline will clean up (i.e. disable or remove) the <em>current server groups</em> in EC2 Classic.
            </p>
            <p>If this is undesirable, you should switch the deployment strategies to "None" before running the new pipeline.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-if="vm.state === 'error'">
      <div class="col-md-10 col-md-offset-1">
        <h4 ng-if="!vm.preview">We could not calculate an execution plan for {{vm.component.name}} at this time.</h4>
        <h4 ng-if="vm.preview">We could not perform the migration of {{vm.component.name}} at this time.</h4>
        <p><strong>Reason:</strong> {{vm.viewState.error}}</p>
      </div>
    </div>

    <div class="modal-footer" ng-if="vm.state === 'error'">
      <button class="btn btn-default" ng-click="vm.cancel()">Close</button>
    </div>

    <div class="modal-footer" ng-if="vm.state !== 'error' && vm.state !== 'migrate'">
      <button class="btn btn-default"
              ng-if="vm.state !== 'complete'"
              ng-click="vm.cancel()">Cancel</button>
      <button class="btn btn-primary"
              ng-if="vm.state === 'complete'"
              ng-click="vm.close()">Review {{vm.viewState.targetName}}</button>
      <button class="btn btn-primary"
              ng-if="vm.state === 'preview'"
              ng-click="vm.submit()">
        Migrate {{vm.component.name}} to VPC0
      </button>
      <button class="btn btn-primary"
              ng-if="vm.state === 'configure'"
              ng-click="vm.calculateDryRun()">
        Calculate Migration Plan
      </button>
    </div>

  </form>
</div>
