<div ng-if="!project.notFound" class="project-dashboard">
  <div class="row">
    <div class="col-md-7">
      <h3>Application Status</h3>
      <project-cluster
          ng-repeat="cluster in project.config.clusters"
          project="project"
          cluster="cluster"
          ></project-cluster>
      <h4 ng-if="!project.config.clusters.length">No clusters configured</h4>
    </div>
    <div class="col-md-5">
      <h3>Pipeline Status
        <a href ng-click="dashboardCtrl.refreshImmediately()">
          <span class="small glyphicon glyphicon-refresh refresh-enabled"
                tooltip-placement="bottom"
                uib-tooltip-template="dashboardCtrl.refreshTooltipTemplate"
                ng-class="{'glyphicon-spinning': dashboardCtrl.state.refreshing}"></span>
        </a>
      </h3>
      <project-pipeline
        ng-repeat="execution in executions"
        execution="execution"></project-pipeline>
      <h4 ng-if="!project.config.pipelineConfigs.length">No pipelines configured</h4>
    </div>
  </div>
</div>
