<div class="container-fluid form-horizontal">
  <ng-form name="listenerForm">
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-condensed packed">
          <thead>
            <tr>
              <th>Protocol</th>
              <th>Subnet</th>
              <th>Ports<help-field key="gce.internalLoadBalancer.ports"></help-field></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select
                  ng-disabled="!ctrl.isNew"
                  class="form-control input-sm"
                  ng-change="ctrl.protocolUpdated()"
                  ng-model="ctrl.loadBalancer.ipProtocol"
                  ng-options="protocol for protocol in ['TCP', 'UDP']"
                ></select>
              </td>

              <td>
                <select
                  class="form-control input-sm"
                  ng-options="subnet for subnet in ctrl.subnetOptions"
                  ng-disabled="!ctrl.isNew"
                  ng-model="ctrl.loadBalancer.subnet"
                ></select>
              </td>

              <td><input class="form-control input-sm" required ng-model="ctrl.loadBalancer.ports" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-form>
</div>
