.checkbox input[type='checkbox'].delete-manifest-options-input-cascading {
  margin-left: 0;
}

.delete-manifest-options-input-grace-period {
  display: inline-block;
  margin-right: 5px;
  max-width: 75px;
}
