.copy-stage-modal-body {
  .no-stages-message {
    padding: 0.5rem 2rem;
  }

  .well {
    margin-bottom: 0;
    padding: 10px;

    p {
      margin: 0;
    }
  }

  .form-horizontal {
    margin-bottom: 10px;
  }
}
