.canary-config-view {
  .alert {
    margin-bottom: 0;
  }

  .duration-input {
    display: inline-block;
    width: 11%;

    & + .duration-input {
      margin-left: 12px;
    }
  }

  .small-inline-input {
    display: inline-block;
    width: 30%;
  }
}
