<hr ng-if="$ctrl.index > 0">
<ng-form name="healthCheck">
  <div class="container-fluid form-horizontal">
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Name</div>
      <div class="col-md-3">
        <input class="form-control input-sm"
               ng-pattern="/^[a-z0-9]*$/"
               name="healthCheckName"
               required ng-model="$ctrl.healthCheck.name"/>
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-default" ng-click="$ctrl.deleteHealthCheck()">
          <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
          <span>Delete</span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">Request Path</div>
      <div class="col-md-3">
        <input class="form-control input-sm" required ng-model="$ctrl.healthCheck.requestPath"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">Port</div>
      <div class="col-md-3">
        <input type="number"
               class="form-control input-sm"
               required
               min="1"
               max="65535"
               ng-model="$ctrl.healthCheck.port"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Timeout</b><help-field key="loadBalancer.advancedSettings.healthTimeout"/>
      </div>
      <div class="col-md-3">
        <input class="form-control input-sm"
               type="number"
               min="0"
               max="{{:: $ctrl.max}}"
               required
               ng-model="$ctrl.healthCheck.timeoutSec"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Interval</b><help-field key="gce.loadBalancer.advancedSettings.healthInterval"/>
      </div>
      <div class="col-md-3">
        <input class="form-control input-sm"
               type="number"
               min="0"
               max="{{:: $ctrl.max}}"
               required
               ng-model="$ctrl.healthCheck.checkIntervalSec"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Healthy Threshold</b><help-field key="gce.loadBalancer.advancedSettings.healthyThreshold"/>
      </div>
      <div class="col-md-3">
        <input class="form-control input-sm"
               type="number"
               min="0"
               max="{{:: $ctrl.max}}"
               required
               ng-model="$ctrl.healthCheck.healthyThreshold"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4 sm-label-right">
        <b>Unhealthy Threshold</b><help-field key="gce.loadBalancer.advancedSettings.unhealthyThreshold"/>
      </div>
      <div class="col-md-3">
        <input class="form-control input-sm"
               type="number"
               min="0"
               max="{{:: $ctrl.max}}"
               required
               ng-model="$ctrl.healthCheck.unhealthyThreshold"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2" ng-if="healthCheck.healthCheckName.$error.pattern">
        <validation-error message="Health check name can only contain lowercase numbers and letters">
        </validation-error>
      </div>
    </div>
  </div>
</ng-form>
