.ManagedResourceHistoryModal {
  width: 100%;

  .event-type {
    color: var(--color-charcoal);
  }

  .event-warning-message {
    color: var(--color-alert);
  }

  .event-error-message {
    color: var(--color-danger);
  }

  .loading-error-message {
    color: var(--color-danger);
  }
}
