@import (reference) "~core/presentation/less/imports/commonImports.less";

.health-check .status-code {
    display: inline-block;
    margin: 4px;
    margin-top: 5px;
    border: 1px solid @mid_grey;
    border-radius: 6px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: @mid_light_grey;

    span.glyphicon {
      margin-top: 2px;
      vertical-align: top;
      margin-left: 3px;
      font-weight: bold;
      cursor: pointer;
    }
}

.load-balancer-pod {
  .icon-elb {
    color: @healthy_green_border;
  }
  .rollup-details {
    .pod-subgroup {
      h6 {
        padding-bottom: 10px;
      }
    }
  }
  .load-balancer-header {
    .health-counts {
      .instance-health-counts {
        margin-top: -2px;
      }
    }
  }
  .load-balancer {
    >.cluster-container {
      padding-top: 0;
    }
  }
}
