#if( $notification.additionalContext.execution.name && !$notification.additionalContext.execution.name.empty )
#if( $notification.additionalContext.execution.trigger.buildInfo.number && !$notification.additionalContext.execution.trigger.buildInfo.number.empty )
Stage $notification.additionalContext.stageName for $notification.source.application's $notification.additionalContext.execution.name pipeline build #$notification.additionalContext.execution.trigger.buildInfo.number is awaiting manual judgment
#else
Stage $notification.additionalContext.stageName for $notification.source.application's $notification.additionalContext.execution.name pipeline is awaiting manual judgment
#end
#else
Stage $notification.additionalContext.stageName for $notification.source.application is awaiting manual judgment
#end
