.ArtifactActionModal {
  .details {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: baseline;

    dd {
      min-width: 0;
    }

    dt {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      color: var(--color-concrete);
    }
  }
}
