.ManagementWarning {
  background-color: var(--color-alabaster);
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 600;
  padding-bottom: var(--m-spacing);

  .content {
    background-color: var(--color-warning-light);
    border-radius: 4px;
  }
}
