<div class="user-notifications user-notifications-top">
  <user-notification ng-repeat="message in $ctrl.messages"
                     message="message"
                     position="top"
                     dismiss="$ctrl.dismiss($index)"></user-notification>
</div>
<div class="user-notifications user-notifications-bottom">
  <user-notification ng-repeat="message in $ctrl.messages"
                     message="message"
                     position="bottom"
                     dismiss="$ctrl.dismiss($index)"></user-notification>
</div>
