@import (reference) '~core/presentation/less/imports/commonImports.less';

.refresher {
  .fa-sync-alt {
    font-size: 75%;
    &.refresh-disabled {
      opacity: 0.5;
    }
    &.refresh-young {
      color: var(--color-success);
    }
    &.refresh-old {
      color: var(--color-alert);
    }
    &.refresh-ancient {
      color: var(--color-danger);
    }
  }
}
