<span class="stage-label">
  <span>{{stage.name}}</span>
  <div ng-repeat="result in stage.masterStage.context.buildInfo.testResults" class="test-results-label">
    (
    <span class="tests-pass-count">
    {{result.totalCount - result.failCount - result.skipCount}}</span>
    /
    <span class="tests-fail-count">
      {{result.failCount}}
    </span>
    <span ng-if="result.skipCount">/</span>
    <span class="tests-skip-count" ng-if="result.skipCount">
      {{result.skipCount}}
    </span>
    )
  </div>
</span>
