  <div class="page-header application-header navbar">
    <h2 ng-if="!application.notFound">
      <span class="application-name">{{application.name}}</span>
      <component-refresher state="application.activeState || application"
                           template-url="refreshTooltipTemplate"
                           refresh="application.refresh(true)"></component-refresher>
    </h2>

    <div ng-if="application.notFound">
      <h1 class="text-center">&lt;404&gt;</h1>

      <p class="text-center">Please check your URL - we can't find any data for <em>{{application.name}}</em>.</p>
    </div>
    <span ng-include="ctrl.applicationNavTemplate"></span>
    <div class="page-button pull-right" ng-if="application.attributes.pdApiKey">
      <button class="btn btn-xs btn-danger btn-page-owner"
              ng-click="ctrl.pageApplicationOwner()"
              uib-tooltip="Page application owner">
        <span class="glyphicon glyphicon-phone-alt"></span>
      </button>
    </div>
  </div>
  <div class="scrollable-columns">
    <div class="secondary-panel" ui-view="insight"></div>
  </div>
