@import "../presentation/less/imports/commonImports.less";

.application-header {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f8f8f8;
  flex: 0 0 auto;
  z-index: 3;
  .application-name {
    display: inline-block;
  }
  .page-button {
    margin-top: 30px;
    @media (min-width: 708px) and (max-width: 1200px) {
      margin-top: 16px;
    }
    .btn-danger {
      color: @unhealthy_red;
      background-color: transparent;
      border-color: transparent;
      padding: 0 5px;
      font-size: 14px;
    }
  }
  h2 {
    @media (min-width: 708px) and (max-width: 1200px) {
      float: left;
      font-size: 160%;
      min-width: 120px;
      margin-right: 30px;
      margin-top: 15px;
    }
    min-width: 200px;
    margin-right: 50px;
    a {
      font-size: 75%;
      display: inline-block;
      margin-right: 20px;
    }
    font-weight: 700;
    display: inline-block;
  }
  ul {
    @media (min-width: 992px) and (max-width: 1200px) {
      li {
        margin-top: 10px;
        font-size: 90%;
      }
    }
    @media (min-width: 708px) and (max-width: 992px) {
      li {
        margin-top: 10px;
        font-size: 85%;
      }
    }
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 110%;
    & > li {
      margin-left: 0;
      & > a {
        border-radius: 0;
        border-bottom: 3px solid transparent;
        transition: border-bottom-color .2s, background-color .2s, color .2s;
      }
    }
    a.active {
      color: @spinnaker-link-hover;
      border-bottom: 3px solid @spinnaker-link-color;
    }
    a {
      &:focus, &:hover {
        border-bottom: 3px solid @spinnaker-link-hover;
      }
    }
  }
  border-bottom: 1px solid @mid_light_grey;
  padding-bottom: 0;
}

.glyphicon-cloud {
  top: 4px;
}

.application-actions {
  margin-bottom: 10px;
  padding-top: 5px;
  display: inline-block;
  .pull-right;
}

.link-inverse {
  color: @inverse-link-color;
  &:active, &:focus, &:hover {
    color: @inverse-link-color-active;
    text-decoration: none;
  }
}

.filter-tags {
  border-top: 1px solid @mid_light_grey;
  padding: 5px 15px 0;
  .filter-tag {
    strong {
      font-weight: 600;
      text-transform: uppercase;
    }
    border-radius: 2px;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: @light_grey;
    font-size: 90%;
    a {
      font-size: 90%;
      color: @mid_grey;
    }
  }
  .clear-filters {
    display: inline-block;
    margin-left: 5px;
    color: @text-color;
    font-size: 90%;
  }
}

.select2-highlighted {
  .icon {
    color: inherit;
  }
}

.glyphicon-none:before{
  content:"\e113";
  color: transparent !important;
}



