  <div class="page-header">
    <div ng-if="application.notFound">
      <h2 class="text-center">Application Not Found</h2>

      <p class="text-center" style="margin-bottom: 20px">Please check your URL - we can't find any data for <em>{{application.name}}</em>.</p>
    </div>
    <div class="container application-header">
      <h2 ng-if="!application.notFound">
        <i class="fa fa-window-maximize"></i>
        <span class="application-name">{{application.name}}</span>
        <component-refresher state="application.activeState || application"
                             template-url="refreshTooltipTemplate"
                             refresh="application.refresh(true)"></component-refresher>
      </h2>
      <application-nav application="application"></application-nav>
      <div class="header-right">
        <secondary-application-nav application="application"></secondary-application-nav>
        <div class="page-button" ng-if="application.attributes.pdApiKey">
          <button class="btn btn-xs btn-danger btn-page-owner"
                  ng-click="ctrl.pageApplicationOwner()"
                  uib-tooltip="Page application owner">
            <i class="fa fa-phone"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container scrollable-columns">
    <div class="secondary-panel" ui-view="insight"></div>
  </div>
