<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Application Attributes</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{application.attributes.description}}</dd>
            <dt>Account(s)</dt>
            <dd>{{application.attributes.accounts}}</dd>
            <dt>Owner</dt>
            <dd>{{application.attributes.email}}</dd>
            <dt ng-if="application.attributes.pdApiKey">Pager Duty API Key</dt>
            <dd ng-if="application.attributes.pdApiKey">{{application.attributes.pdApiKey}}</dd>
            <dt ng-if="application.attributes.repoType">Source Repo Type</dt>
            <dd ng-if="application.attributes.repoType">{{application.attributes.repoType}}</dd>
            <dt ng-if="application.attributes.repoProjectKey">Source Repo Project</dt>
            <dd ng-if="application.attributes.repoProjectKey">{{application.attributes.repoProjectKey}}</dd>
            <dt ng-if="application.attributes.repoSlug">Source Repo</dt>
            <dd ng-if="application.attributes.repoSlug">{{application.attributes.repoSlug}}</dd>
            <dt ng-if="application.attributes.cloudProviders">Cloud Provider(s)</dt>
            <dd ng-if="application.attributes.cloudProviders">{{application.attributes.cloudProviders}}</dd>
          </dl>
          <button class="btn btn-link" ng-click="config.editApplication()"><span class="glyphicon glyphicon-cog"></span>
            Edit Application Attributes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          <p>You can edit notification settings for this application</p>
          <notification-list notifications="config.notifications" level="application" application="application.name"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cache Management</h3>
        </div>
        <div class="panel-body">

          <p>We use local storage to speed up performance throughout the application.
          </p>

          <p>If you're not seeing one of those in a dropdown, it may be because our cached versions are too old.</p>

          <div class="row">
            <div class="col-md-3 col-md-offset-1"><strong>Cache Type</strong></div>
            <div class="col-md-3"><strong>Last Updated</strong></div>
            <div class="col-md-1 text-center"><strong>Refresh</strong></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Accounts</div>
            <div class="col-md-3">{{config.getCacheInfo('credentials').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('credentials')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['credentials']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Applications</div>
            <div class="col-md-3">{{config.getCacheInfo('applications').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('applications')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['applications']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Instance Types</div>
            <div class="col-md-3">{{config.getCacheInfo('instanceTypes').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('instanceTypes')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['instanceTypes']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Key Pairs</div>
            <div class="col-md-3">{{config.getCacheInfo('keyPairs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('keyPairs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['keyPairs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Load Balancers</div>
            <div class="col-md-3">{{config.getCacheInfo('loadBalancers').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('loadBalancers')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['loadBalancers']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Security Groups</div>
            <div class="col-md-3">{{config.getCacheInfo('securityGroups').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('securityGroups')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['securityGroups']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Subnets</div>
            <div class="col-md-3">{{config.getCacheInfo('subnets').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('subnets')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['subnets']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Networks</div>
            <div class="col-md-3">{{config.getCacheInfo('networks').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('networks')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['networks']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">VPCs</div>
            <div class="col-md-3">{{config.getCacheInfo('vpcs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('vpcs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['vpcs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Build Masters</div>
            <div class="col-md-3">{{config.getCacheInfo('buildMasters').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('buildMasters')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['buildMasters']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-md-offset-1">Build Jobs</div>
            <div class="col-md-3">{{config.getCacheInfo('buildJobs').ageMax | timestamp}}</div>
            <div class="col-md-1 text-center">
              <a href ng-click="config.refreshCache('buildJobs')">
              <span ng-class="{'glyphicon-spinning':config.clearingCache['buildJobs']}"
                    class="glyphicon glyphicon-refresh"></span>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top:20px">
            <div class="col-md-10">
              <button class="btn btn-link" ng-if="!config.clearingCaches" ng-click="config.refreshCaches()"><span
                class="glyphicon glyphicon-refresh"></span>
                Refresh all caches
              </button>
              <p ng-if="config.clearingCaches"><span class="glyphicon glyphicon-refresh glyphicon-spinning"></span>
                Refreshing
                caches...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Delete Application</h3>
        </div>
        <div class="panel-body">
          <p ng-if="!config.hasServerGroups">
            Deleting the application only removes the associated metadata around the application.
            It will <strong>not</strong> delete any security groups, load balancers, or pipeline configurations you
            may have created.
          </p>

          <p ng-if="config.hasServerGroups">
            You cannot delete this application because it has server groups.
          </p>
          <button class="btn btn-link" ng-click="config.deleteApplication()" ng-if="!config.hasServerGroups"><span
            class="glyphicon glyphicon-trash"></span>
            Delete Application
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
