<div modal-page class="confirmation-modal">
  <task-monitor monitor="taskMonitor"></task-monitor>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>{{params.header}}</h3>
  </div>
  <div class="modal-body confirmation-modal" ng-if="params.body || verification.requireAccountEntry || state.error || params.platformHealthOnlyShowOverride">
    <form role="form" class="container-fluid" ng-submit="ctrl.confirm()">
      <div ng-if="params.body" ng-bind-html="params.body">
      </div>
      <div class="row" ng-if="params.platformHealthOnlyShowOverride">
        <div class="col-sm-offset-1 col-sm-10">
          <platform-health-override command="params"
                                    platform-health-type="params.platformHealthType"
                                    show-help-details="true">
          </platform-health-override>
        </div>
      </div>
      <div class="row" ng-if="verification.requireAccountEntry">
        <div class="col-sm-offset-1 col-sm-10">
          <p>Type the name of the account ( <account-tag account="params.account"></account-tag> ) below to continue.</p>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" auto-focus ng-model="verification.verifyAccount" class="form-control input-sm highlight-pristine" ng-class="{'ng-invalid': verification.verifyAccount !== params.account.toUpperCase()}"/>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div ng-if="state.error">
      <div class="alert alert-danger">
        <h4>An exception occurred:</h4>
        <p>
          {{errorMessage || 'No details provided.'}}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.cancel()">{{params.cancelButtonText}}</button>
    <button class="btn btn-primary"
            ng-disabled="ctrl.formDisabled()"
            ng-click="ctrl.confirm()">
      <span ng-if="params.glyphicon" class="glyphicon glyphicon-{{params.glyphicon}}"></span>
      <button-busy-indicator ng-if="state.submitting"></button-busy-indicator>
      {{params.buttonText}}
    </button>
  </div>
</div>
