<div modal-page class="confirmation-modal">
  <form role="form" class="container-fluid no-padding" ng-submit="ctrl.confirm()">
    <task-monitor monitor="taskMonitor"></task-monitor>
    <multi-task-monitor ng-if="taskMonitors.length" monitors="taskMonitors" title="params.multiTaskTitle" close-modal="ctrl.cancel()"></multi-task-monitor>
    <modal-close></modal-close>
    <div class="modal-header">
      <h3>{{params.header}}</h3>
    </div>
    <div class="modal-body confirmation-modal" ng-if="params.body || state.error || params.platformHealthOnlyShowOverride || params.askForReason">
      <div ng-if="params.body" ng-bind-html="params.body"></div>
      <div class="row" ng-if="params.platformHealthOnlyShowOverride">
        <div class="col-sm-offset-1 col-sm-10">
          <platform-health-override command="params"
                                    platform-health-type="params.platformHealthType"
                                    show-help-details="true">
          </platform-health-override>
        </div>
      </div>
      <div ng-if="state.error">
        <div class="alert alert-danger">
          <h4>An exception occurred:</h4>
          <p>
            {{errorMessage || 'No details provided.'}}
          </p>
        </div>
      </div>
      <task-reason ng-if="(taskMonitor || taskMonitors) && params.askForReason" command="params"></task-reason>
    </div>
    <div class="modal-footer">
      <user-verification ng-if="!state.submitting" verification="verification" account="params.account" label="params.verificationLabel" autofocus="true"></user-verification>
      <button class="btn btn-default"
              type="button"
              ng-click="ctrl.cancel()">{{params.cancelButtonText}}</button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="state.submitting || ctrl.formDisabled()"
              ng-click="ctrl.confirm()">
        <span ng-if="params.glyphicon" class="glyphicon glyphicon-{{params.glyphicon}}"></span>
        <button-busy-indicator ng-if="state.submitting"></button-busy-indicator>
        {{params.buttonText}}
      </button>
    </div>
  </form>
</div>
