<table class="table table-condensed packed tags" style="border-top: 2px solid white;">
  <tr ng-repeat="source in $ctrl.volumeSources track by $index" ng-init="sourceIndex = $index">
    <td>
      <div class="form-group">
        <div class="col-md-4 sm-label-right">
          Volume Source
          <help-field key="kubernetes.pod.volume"></help-field>
        </div>
        <div class="col-md-4">
          <select class="form-control input-sm" ng-model="source.type">
            <option ng-repeat="type in $ctrl.volumeTypes" value="{{ type }}" ng-selected="source.type === type">{{
              type
            }}</option>
          </select>
        </div>
        <div class="col-md-1">
          <button class="btn btn-sm btn-default" ng-click="$ctrl.removeVolume($index)">
            <span class="glyphicon glyphicon-trash visible-lg-inline"></span>
            <span class="visible-lg-inline">Remove</span>
          </button>
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'CONFIGMAP'">
        <div class="col-md-4 sm-label-right">
          Config Map Name
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" name="path" ng-model="source.configMap.configMapName" />
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'CONFIGMAP'">
        <div class="col-md-4 sm-label-right" style="padding-top: 2px;">
          Items
          <help-field key="kubernetes.pod.volume.configMap.items"></help-field>
        </div>
        <div class="col-md-8">
          <table class="table table-condensed packed tags" style="border-top: 2px solid white">
            <thead>
              <tr>
                <th>Key</th>
                <th>Path</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in source.configMap.items track by $index" ng-init="itemIndex = $index">
                <td>
                  <input class="form-control input-sm" type="text" ng-model="item.key" />
                </td>
                <td>
                  <input
                    class="form-control input-sm"
                    ng-pattern="$ctrl.relativePathPattern"
                    type="text"
                    ng-model="item.path"
                  />
                </td>
                <td class="table-remove-button">
                  <a
                    class="btn btn-link sm-label"
                    style="margin-top: 0;"
                    ng-click="$ctrl.removeItem(sourceIndex, itemIndex)"
                  >
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="add-new btn btn-block btn-sm" ng-click="$ctrl.addItem(sourceIndex)">
            <span class="glyphicon glyphicon-plus-sign"></span> Add item
          </button>
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'EMPTYDIR'">
        <div class="col-md-4 sm-label-right">
          Medium
          <help-field key="kubernetes.pod.emptydir.medium"></help-field>
        </div>
        <div class="col-md-4">
          <select class="form-control input-sm" ng-model="source.emptyDir.medium">
            <option
              ng-repeat="type in $ctrl.mediumTypes"
              value="{{ type }}"
              ng-selected="source.emptyDir.medium === type"
              >{{ type }}</option
            >
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'HOSTPATH'">
        <div class="col-md-4 sm-label-right">
          Path
          <help-field key="kubernetes.pod.volume.hostpath.path"></help-field>
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control input-sm"
            ng-pattern="$ctrl.pathPattern"
            name="path"
            ng-model="source.hostPath.path"
          />
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'PERSISTENTVOLUMECLAIM'">
        <div class="col-md-4 sm-label-right">
          Claim Name
          <help-field key="kubernetes.pod.volume.persistentvolumelclaim.claim"></help-field>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" ng-model="source.persistentVolumeClaim.claimName" />
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'PERSISTENTVOLUMECLAIM'">
        <div class="col-md-4 sm-label-right">
          Read Only
        </div>
        <div class="col-md-2">
          <input type="checkbox" ng-model="source.persistentVolumeClaim.readOnly" />
        </div>
      </div>
      <div class="form-group" ng-show="source.type === 'SECRET'">
        <div class="col-md-4 sm-label-right">
          Secret Name
          <help-field key="kubernetes.pod.volume.secret.secretname"></help-field>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-sm" name="path" ng-model="source.secret.secretName" />
        </div>
      </div>
      <hr />
      <div class="form-group">
        <div class="col-md-4 sm-label-right">
          Mount Path
          <help-field key="kubernetes.containers.volumemounts.mountPath"></help-field>
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control input-sm"
            name="details"
            ng-model="$ctrl.volumeMounts[$index].mountPath"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 sm-label-right">
          Sub Path
          <help-field key="kubernetes.containers.volumemounts.subPath"></help-field>
        </div>
        <div class="col-md-4">
          <input
            type="text"
            class="form-control input-sm"
            name="details"
            ng-model="$ctrl.volumeMounts[$index].subPath"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 sm-label-right">
          Read Only
        </div>
        <div class="col-md-2">
          <input type="checkbox" ng-model="$ctrl.volumeMounts[$index].readOnly" />
        </div>
      </div>
      <hr ng-show="$ctrl.volumeSources.length > 1" />
    </td>
  </tr>
  <tr>
    <td colspan="1">
      <button class="btn btn-block btn-sm add-new" ng-click="$ctrl.addVolume()" style="margin-bottom: 0px;">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Volume
      </button>
    </td>
  </tr>
</table>
