@import (reference) "~core/presentation/less/imports/commonImports.less";

.execution {
  .label {
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    .glyphicon {
      color: #ffffff;
    }
    &.label-succeeded {
      background-color: @healthy_green_border;
    }
    &.label-terminal, &.label-terminated {
      background-color: @unhealthy_red;
    }
    &.label-failed_continue {
      background-color: @stage-failed_continue;
      color: @text-color;
    }
    &.label-running, &.label-launched {
      background-color: @spinnaker-blue;
    }
    &.label-stopped {
      background-color: @stage-stopped;
      color: @text-color;
    }

  }
  .timestamp {
    color: @mid_grey;
    font-size: .8em;
    padding-top: 22px;
  }
  .panel {
    .summary {
      background-color: @mid_light_grey;
      cursor: pointer;
      padding-bottom: 0px;
      h5 {
        font-weight: bold;
        display: inline-block;
      }
    }
    .summary.current {
      background-color: #FFF;
    }

    .details {
      .tr {
        background-color: lighten(@spinnaker-blue, 20%);
      }
    }

  }
}

.execution-actions {
  display: inline-block;
  width: 40px;
  vertical-align: top;
  padding-top: 20px;
  margin-left: 6px;
  .glyphicon-remove-circle {
    color: @unhealthy_red;
  }

  a {
    text-decoration: none;

    &:first-child {
      padding-right: 5px;
    }
  }
}

.execution-summary {
  padding: 0 5px 5px;
  font-size: 90%;
}

execution-details-section-nav {
  margin-left: 15px;
  display: block;
}

execution-status {
  display: inline-block;
  width: 180px;
}
.execution-bar {
  display: inline-block;
  width: calc(~"100% - 235px");
  vertical-align: top;
  .stage {
    .fa { // .fa is "font-awesome" - the only icon set we're using for custom stage icons
      display: inline-block;
      margin-right: 3px;
    }
    .duration {
      font-weight: 600;
      line-height: 20px;
      visibility: hidden;
      width: 0;
      display: inline-block;
    }
  }
}
.show-durations {
  .stage {
    .duration {
      visibility: visible;
      width: auto;
    }
    min-width: 50px;
  }
}
