<div class="row verification" ng-if="vm.verification.required" style="margin-top: 10px">
  <div class="col-sm-offset-1 col-sm-10">
    <p>Type the name of the account ( <account-tag account="vm.account"></account-tag> ) below to continue.</p>
    <div class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="vm.verification.verifyAccount" class="form-control input-sm highlight-pristine"
               ng-class="{'ng-invalid': vm.verification.verifyAccount !== vm.account.toUpperCase()}"/>
      </div>
    </div>
  </div>
</div>
