.navbar-nav .user-menu {
  .user-name-large:hover, .user-name-large:active {
    background-color: transparent;
    border-top-color: transparent;
    transition: none;
  }

  div[uib-dropdown] {
    > a {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      color: #fff;
      font-weight: 200;
      position: relative;
      display: block;
      padding: 5px 0;
      text-decoration: none;
      background-color: #3a5469;
      i.glyphicon {
        position: relative;
        top: 1px;
        left: 2px;
        font-size: 8px;
      }
    }
    .dropdown-menu {
      top: 80%;
      min-width: 125px;
    }
  }
}
