<div ng-controller="awsBakeExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'bakeConfig'">
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt if-multiple-providers>Provider</dt>
          <dd if-multiple-providers>Amazon</dd>
          <dt>Image</dt>
          <dd>{{stage.context.ami}}</dd>
          <dt>Region</dt>
          <dd>{{stage.context.region}}</dd>
          <dt>Package</dt>
          <dd>{{stage.context.package}}</dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-narrow dl-horizontal">
          <dt>Base OS</dt>
          <dd>{{stage.context.baseOs}}</dd>
          <dt>VM Type</dt>
          <dd>{{stage.context.vmType | uppercase}}</dd>
          <dt>Store Type</dt>
          <dd>{{stage.context.storeType | uppercase}}</dd>
          <dt>Label</dt>
          <dd>{{stage.context.baseLabel}}</dd>
          <dt ng-if="rebakeControlEnabled || stage.context.rebake">Rebake</dt>
          <dd ng-if="rebakeControlEnabled || stage.context.rebake">{{stage.context.rebake || false}}</dd>
        </dl>
      </div>
    </div>
    <stage-failure-message is-failed="stage.isFailed" message="ctrl.getException(stage)"></stage-failure-message>

    <div class="row" ng-if="stage.context.region && stage.context.status.resourceId">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <div ng-if="stage.context.previouslyBaked">No changes detected; reused existing bake</div>
          <a target="_blank" href="{{ bakeryDetailUrl(stage) }}">
            View Bakery Details
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
