<div modal-page>
  <task-monitor monitor="taskMonitor"></task-monitor>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3>Configure Project</h3>
  </div>
  <div class="modal-body">
    <form role="form" name="form" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-3 sm-label-left">
          <b>Project Name</b>
        </div>
        <div class="col-md-7">
          <input type="text" class="form-control input-sm"
                 ng-model="command.name"
                 name="name"
                 required
                 ng-pattern="/^[^\\\^/^?^%^#]*$/"
                 validate-unique="projectNames"
                 validate-ignore-case="true"/>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.pattern">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <div>
            Project name cannot contain any of the following characters:
          </div>
          <code>/  \  ?  %  #</code>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="form.name.$error.validateUnique">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>There is already a project with that name.</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Owner Email</div>
        <div class="col-sm-9">
          <input type="email"
                 name="email"
                 ng-class="{'ng-invalid ng-dirty':command.emailErrorMsg.length > 0 }"
                 class="form-control input-sm "
                 ng-model="command.email"
                 placeholder="Enter an email address"
                 required
                 id="ownerEmail">
          </input>
        </div>
      </div>
      <div class="form-group row slide-in animated" ng-if="newApplicationForm.email.$dirty && newApplicationForm.email.$invalid">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Please enter a valid email address</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 sm-label-left">Applications</div>
        <div class="col-sm-9">
          <ui-select multiple required name="applications" class="form-control input-sm"
                     ng-model="command.config.applications"
                     on-select="ctrl.addApplication($item)"
                     on-remove="ctrl.applicationRemoved($item)">
            <ui-select-match>
              {{$item}}
            </ui-select-match>
            <ui-select-choices repeat="application in applications | filter: $select.search | limitTo: viewState.infiniteScroll.currentItems"
                               infinite-scroll="ctrl.addMoreItems()"
                               infinite-scroll-container="'.ui-select-choices-content'"
                               infinite-scroll-distance="2">
              {{application}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 sm-label-left">Clusters</div>
        <div class="col-sm-9">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Account</th>
                <th>Stack</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cluster in command.config.clusters">
                <td>
                  <account-select-field accounts="accounts" component="cluster" field="account"></account-select-field>
                </td>
                <td>
                  <input type="text" class="form-control input-sm" ng-model="cluster.stack" />
                </td>
                <td><a href class="sm-label" ng-click="ctrl.removeCluster($index)"><span
                    class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <button class="add-new col-md-12" ng-click="ctrl.addCluster()"><span
                      class="glyphicon glyphicon-plus-sign"></span> Add Cluster
                  </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 sm-label-left">Pipelines</div>
        <div class="col-sm-9">
          <span ng-if="!command.config.applications.length">(Add an application)</span>
          <table class="table table-condensed" ng-if="command.config.applications.length">
            <thead>
            <tr>
              <th>Application</th>
              <th>Pipeline</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pipeline in command.config.pipelineConfigs">
              <td>
                <select class="input input-sm" ng-model="pipeline.application" ng-options="application for application in command.config.applications"></select>
              </td>
              <td>
                <select class="input input-sm"
                        ng-model="pipeline.pipelineConfigId"
                        ng-options="pipeline.id as pipeline.name for pipeline in pipelineConfigOptions[pipeline.application]"></select>
              </td>
              <td><a href class="sm-label" ng-click="ctrl.removePipeline($index)"><span
                  class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5">
                <button class="add-new col-md-12" ng-click="ctrl.addPipeline()"><span
                    class="glyphicon glyphicon-plus-sign"></span> Add Pipeline
                </button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="form-group" ng-if="!viewState.deleteProject && command.id">
        <div class="col-sm-3 sm-label-left">
          <a href class="btn btn-default btn-sm" ng-click="viewState.deleteProject = true">
            <span class="glyphicon glyphicon-trash"></span> Delete Project
          </a>
        </div>
      </div>
      <div class="form-group well" ng-if="viewState.deleteProject">
        <div class="col-md-12">
          <p>Type the name of the project ({{command.name}}) below to continue.</p>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
              <input type="text" auto-focus ng-model="viewState.verifyProjectDelete"
                     class="form-control input-sm highlight-pristine"
                     ng-class="{'ng-invalid': viewState.verifyProjectDelete !== command.name}"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-2">
              <button class="btn btn-default"
                      ng-click="viewState.deleteProject = false">Cancel</button>
              <button class="btn btn-primary"
                      ng-disabled="viewState.verifyProjectDelete !== command.name"
                      ng-click="ctrl.deleteProject()">
                <span class="glyphicon glyphicon-trash"></span> Delete project</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
    <button class="btn btn-primary"
            ng-disabled="form.$invalid"
            ng-click="ctrl.updateProject()">
      <span class="glyphicon glyphicon-ok-circle"></span> {{ctrl.descriptor}} Project
    </button>
  </div>
</div>
