<form name="form" class="container-fluid form-horizontal">
  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-12">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th width="25%">Applications</th>
            <th>Account</th>
            <th>Stack <help-field key="project.cluster.stack"></help-field></th>
            <th>Detail <help-field key="project.cluster.detail"></help-field></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="cluster in command.config.clusters">
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox"
                         ng-model="cluster.useAllApplications"
                         ng-change="ctrl.toggleClusterApplicationOverrides(cluster)"> All
                </label>
              </div>
              <ui-select multiple required name="applications" class="form-control input-sm"
                         ng-model="cluster.applications"
                         ng-if="!cluster.useAllApplications">
                <ui-select-match>
                  {{$item}}
                </ui-select-match>
                <ui-select-choices repeat="application in command.config.applications | filter: $select.search">
                  {{application}}
                </ui-select-choices>
              </ui-select>

            </td>

            <td>
              <account-select-field accounts="accounts" component="cluster" field="account"></account-select-field>
            </td>
            <td>
              <input type="text" class="form-control input-sm" ng-model="cluster.stack" />
            </td>
            <td>
              <input type="text" class="form-control input-sm" ng-model="cluster.detail" />
            </td>
            <td><a href class="sm-label" ng-click="ctrl.removeCluster($index)"><span
                class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <button class="add-new col-md-12" ng-click="ctrl.addCluster()"><span
                  class="glyphicon glyphicon-plus-sign"></span> Add Cluster
              </button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left"
            ng-click="wizard.previousPage(form.$valid)">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <button ng-disabled="taskMonitor.submitting" class="btn btn-default btn-cancel" ng-click="ctrl.cancel()">Cancel</button>
    <submit-button ng-if="ctrl.showSubmitButton()" is-disabled="taskMonitor.submitting"
                   label="'Save'"
                   submitting="taskMonitor.submitting" on-click="ctrl.updateProject()"></submit-button>
    <button class="btn btn-primary"
            ng-click="wizard.nextPage(true)">
      Next <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</form>