copy-to-clipboard {
  .clipboard-btn {
    border-width: 0;
    background-color: transparent;
    color: #777;
    display: inline-block;
  }
  .clipboard-btn:hover {
    background-color: transparent;
  }
  &.copy-to-clipboard-sm {
    .clipboard-btn {
      margin-bottom: 3px;
    }
  }
}
