<div ng-controller="BulkQuickPatchAsgExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'bulkQuickPatchStageConfig'">
    <div class="row">
      <div class="col-md-9">
        <dl class="dl-horizontal">
          <dt>Account</dt>
          <dd>
            <account-tag account="stage.context.credentials"></account-tag>
          </dd>
          <dt>Region</dt>
          <dd>{{stage.context.region}}</dd>
          <dt>Cluster</dt>
          <dd>{{stage.context.clusterName}}</dd>
          <dt>Name</dt>
          <dd>{{stage.context.package}}</dd>
          <dt>Version</dt>
          <dd>{{stage.context.version}}</dd>
          <dt>Instance Id(s)</dt>
          <dd ng-repeat="key in stage.context.instanceIds">{{key}}</dd>
          <dt>Quip Tasks</dt>
          <dd ng-repeat="(key, value) in stage.context.taskIds"><a target="_blank" href="http://{{key}}:5050/tasks/{{value}}">{{value}}</a></dd>
          <dt>BaseOS</dt>
          <dd>{{stage.context.baseOs}}</dd>
          <dt>Rolling Patch</dt>
          <dd>{{stage.context.rollingPatch}}</dd>
          <dt>Skip If UpToDate</dt>
          <dd>{{stage.context.skipUpToDate}}</dd>
        </dl>
      </div>
    </div>
    <stage-failure-message is-failed="stage.isFailed" message="ctrl.getException(stage)"></stage-failure-message>

    <div class="row" ng-if="stage.context.execution.logs">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <!-- TODO: Move this to config -->
          <a target="_blank" href="{{stage.context.execution.logs}}">
            View Execution Logs
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>
</div>
