<div class="details-panel">
  <div class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="glyphicon glyphicon-hdd health-status-{{instance.healthStatus}}"></span>
      <h3>
        {{instance.instanceId}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" ng-disabled="disabled">
            Instance Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">CONFIG</li>
            <li><a href ng-click="terminateInstance()">Terminate Instance</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <collapsible-section heading="Instance Information" expanded="true">
      <dl>
        <dt>Launched:</dt>
        <dd ng-if="instance.launchTime">{{instance.launchTime | relativeTime}}</dd>
        <dd ng-if="!instance.launchTime">(Unknown)</dd>
        <dt>In:</dt>
        <dd>
          {{instance.placement.availabilityZone || '(Unknown)' | regionAbbreviator}}
          <account-tag account="instance.account" pad="left"></account-tag>
        </dd>
        <dt>Instance Type:</dt>
        <dd>{{instance.instanceType || '(Unknown)'}}</dd>
        <dt ng-if="instance.serverGroup">Auto Scaling Group:</dt>
        <dd ng-if="instance.serverGroup">{{instance.serverGroup}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <p ng-if="instance.healthStatus === 'Healthy'">
        <span class="glyphicon glyphicon-up-triangle healthy"></span> Up
      </p>
      <p ng-if="instance.healthStatus === 'Unhealthy'">
        <span class="glyphicon glyphicon-down-triangle unhealthy"></span> Down
      </p>
      <p ng-if="instance.healthStatus === 'Unknown'">
        <span class="glyphicon glyphicon-question-sign unknown"></span> Unknown
      </p>
    </collapsible-section>
    <div class="content-section" ng-if="instance.notFound">
      <div class="content-body">
        <p>Could not find the instance. No other details provided.</p>
      </div>
    </div>
    <collapsible-section heading="DNS" ng-if="!instance.notFound">
      <dl>
        <dt>Private DNS Name:</dt>
        <dd><a href="http://{{instance.privateDnsName}}">{{instance.privateDnsName}}</a></dd>
        <dt>Private IP Address:</dt>
        <dd><a href="http://{{instance.privateIpAddress}}" target="_blank">{{instance.privateIpAddress}}</a></dd>
        <dt ng-if="instance.publicIpAddress">Public IP Address:</dt>
        <dd ng-if="instance.publicIpAddress">{{instance.publicIpAddress}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section ng-if="!instance.notFound" heading="Security Groups">
        <ul>
          <li ng-repeat="securityGroup in instance.securityGroups">
            {{securityGroup.groupName}}
          </li>
        </ul>
    </collapsible-section>
    <collapsible-section heading="Logs" ng-if="!instance.notFound">
      <ul>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/list?view=tomcat/catalina.out" target="_blank">catalina.out</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/list" target="_blank">Log File Archive</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/threaddumps" target="_blank">Thread Dumps</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminProxyInfo" target="_blank">Admin Proxy Info</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminProxyStatus" target="_blank">Admin Proxy Status</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminGCViz/index" target="_blank">GC Visualization</a>
        </li>
      </ul>
    </collapsible-section>
  </div>
</div>
