<div class="details-panel">
  <h4 ng-if="!instance" class="text-center">
    <span us-spinner="{radius:20, width:6, length: 12}"></span>
  </h4>

  <div ng-if="instance" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h3>
      <span class="glyphicon glyphicon-hdd health-status-{{instance.healthStatus}}"></span>
      {{instance.name}}
    </h3>
  </div>
  <div ng-if="instance" class="content">
    <div class="content-section">
      <h4>Instance Information</h4>
      <dl>
        <dt>Launched:</dt>
        <dd ng-if="instance.launchTime">{{instance.launchTime | relativeTime}}</dd>
        <dd ng-if="!instance.launchTime">(Unknown)</dd>
        <dt>In:</dt>
        <dd>{{instance.placement.availabilityZone || '(Unknown)'}}</dd>
        <dt>Instance Type:</dt>
        <dd>{{instanceType || '(Unknown)'}}</dd>
        <dt ng-if="instance.serverGroup">Auto Scaling Group:</dt>
        <dd ng-if="instance.serverGroup">{{instance.serverGroup}}</dd>
      </dl>
    </div>
    <div class="content-section">
      <h4>Status</h4>
      <p ng-if="instance.healthStatus === 'Healthy'">
        <span class="glyphicon glyphicon-up-triangle healthy"></span> Up
      </p>
      <p ng-if="instance.healthStatus === 'Unhealthy'">
        <span class="glyphicon glyphicon-down-triangle unhealthy"></span> Down
      </p>
      <p ng-if="instance.healthStatus === 'Unknown'">
        <span class="glyphicon glyphicon-question-sign unknown"></span> Unknown
      </p>
    </div>
    <div class="content-section" ng-if="instance.notFound">
      <p>Could not find the instance. No other details provided.</p>
    </div>
    <div class="content-section" ng-if="!instance.notFound">
      <h4>DNS</h4>
      <dl>
        <dt>Private DNS Name:</dt>
        <dd><a href="http://{{instance.privateDnsName}}">{{instance.privateDnsName}}</a></dd>
        <dt>Private IP Address:</dt>
        <dd><a href="http://{{instance.privateIpAddress}}" target="_blank">{{instance.privateIpAddress}}</a></dd>
        <dt ng-if="instance.publicIpAddress">Public IP Address:</dt>
        <dd ng-if="instance.publicIpAddress">{{instance.publicIpAddress}}</dd>
      </dl>
    </div>
    <div class="content-section" ng-if="!instance.notFound">
      <h4>Security Groups</h4>
      <ul>
        <li ng-repeat="securityGroup in instance.securityGroups">
          {{securityGroup.groupName}}
        </li>
      </ul>
    </div>
    <div class="content-section" ng-if="!instance.notFound">
      <h4>Logs</h4>
      <ul>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/list?view=tomcat/catalina.out" target="_blank">catalina.out</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/list" target="_blank">Log File Archive</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminLogs/threaddumps" target="_blank">Thread Dumps</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminProxyInfo" target="_blank">Admin Proxy Info</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminProxyStatus" target="_blank">Admin Proxy Status</a>
        </li>
        <li>
          <a href="http://{{instance.privateIpAddress}}:7001/AdminGCViz/index" target="_blank">GC Visualization</a>
        </li>
      </ul>
    </div>
  </div>
</div>
