<div class="details-panel"
     ng-class="{ disabled: serverGroup.isDisabled }">
  <div class="header">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="glyphicon glyphicon-th"></span>
      <h3>
        {{serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle">
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">CONFIG</li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="serverGroup.isDisabled" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(serverGroup)">Clone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h4 class="text-center" ng-if="serverGroup.isDisabled">[SERVER GROUP IS DISABLED]</h4>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl>
        <dt>Created:</dt>
        <dd>{{serverGroup.asg.createdTime | relativeTime}}</dd>
        <dt>In:</dt>
        <dd>
          {{cluster.name}}:{{serverGroup.region}}
          <account-tag account="cluster.account" pad="left"></account-tag>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>Instances:</dt>
        <dd>
          <health-counts container="serverGroup" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Launch Configuration">
      <arbitrary-list source="launchConfig" omit="Launch Configuration"></arbitrary-list>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in securityGroups">
          <a ui-sref="^.securityGroupDetails({name:securityGroup.groupName, accountId: cluster.account, region: serverGroup.region})">
            {{securityGroup.groupName}} ({{securityGroup.groupId}})
          </a>
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Package">
      <arbitrary-list source="serverGroup.buildInfo"></arbitrary-list>
    </collapsible-section>
  </div>
</div>
