<div class="details-panel"
     ng-class="{ disabled: serverGroup.isDisabled }">
  <div class="header">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="glyphicon glyphicon-th"></span>
      <h3>
        {{serverGroup.name}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle">
            Server Group Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">CONFIG</li>
            <li><a href ng-click="ctrl.resizeServerGroup()">Resize</a></li>
            <li><a href ng-if="!serverGroup.isDisabled" ng-click="ctrl.disableServerGroup()">Disable</a></li>
            <li><a href ng-if="serverGroup.isDisabled" ng-click="ctrl.enableServerGroup()">Enable</a></li>
            <li><a href ng-click="ctrl.destroyServerGroup()">Destroy</a></li>
            <li><a href ng-click="ctrl.cloneServerGroup(serverGroup)">Clone</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <h4 class="text-center" ng-if="serverGroup.isDisabled">[SERVER GROUP IS DISABLED]</h4>
    <collapsible-section heading="Server Group Information" expanded="true">
      <dl>
        <dt>Created:</dt>
        <dd>{{serverGroup.asg.createdTime | relativeTime}}</dd>
        <dt>In:</dt>
        <dd>
          {{cluster.name}}:{{serverGroup.region}}
          <account-tag account="cluster.account" pad="left"></account-tag>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Health" expanded="true">
      <dl class="dl-horizontal dl-narrow">
        <dt>Instances:</dt>
        <dd>
          <health-counts container="serverGroup" class="pull-left"></health-counts>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Launch Configuration">
      <dl class="dl-horizontal dl-narrow">
        <dt>Name</dt>
        <dd>{{launchConfig.launchConfigurationName}}</dd>
        <dt>Image ID</dt>
        <dd>{{launchConfig.imageId}}</dd>
        <dt>Instance Type</dt>
        <dd>{{launchConfig.instanceType}}</dd>
        <dt>IAM Profile</dt>
        <dd>{{launchConfig.iamInstanceProfile}}</dd>
        <dt>Instance Monitoring</dt>
        <dd>{{launchConfig.instanceMonitoring}}</dd>
        <dt>Key Name</dt>
        <dd>{{launchConfig.keyName}}</dd>
        <dt>Kernel ID</dt>
        <dd>{{launchConfig.kernelId}}</dd>
        <dt>Ramdisk ID</dt>
        <dd>{{launchConfig.ramdiskId}}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Security Groups">
      <ul>
        <li ng-repeat="securityGroup in securityGroups">
          <a ui-sref="^.securityGroupDetails({name: securityGroup.name, accountId: securityGroup.accountName, region: serverGroup.region})">
            {{securityGroup.name}} ({{securityGroup.id}})
          </a>
        </li>
      </ul>
    </collapsible-section>
    <collapsible-section heading="Package">
      <dl class="dl-horizontal dl-narrow" ng-if="serverGroup.buildInfo && serverGroup.buildInfo.jenkins">
        <dt>Job</dt>
        <dd>{{serverGroup.buildInfo.jenkins.name}}</dd>
        <dt>Package</dt>
        <dd>{{serverGroup.buildInfo.package_name}}</dd>
        <dt>Build</dt>
        <dd>{{serverGroup.buildInfo.jenkins.number}}</dd>
        <dt>Commit</dt>
        <dd>{{serverGroup.buildInfo.commit}}</dd>
        <dt>Version</dt>
        <dd>{{serverGroup.buildInfo.version}}</dd>
        <dt>Build Link</dt>
        <dd><a target=_blank href="{{ctrl.buildJenkinsLink()}}">{{ctrl.buildJenkinsLink()}}</a></dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Logs">
      <ul>
        <li>
          <a href ng-click="ctrl.showScalingActivities()">Scaling Activities</a>
        </li>
      </ul>
    </collapsible-section>
  </div>
</div>
