<div class="details-panel">
  <h4 ng-if="!serverGroup" class="text-center">
    <span us-spinner="{radius:20, width:6, length: 12}"></span>
  </h4>
  <div class="header" ng-if="serverGroup">
    <div class="close-button">
      <a class="btn btn-link"
          ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h3>
      <span class="glyphicon glyphicon-th"></span>
      {{serverGroup.name}}
    </h3>
    <div class="text-right">
      <div class="actions">
        <div class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
            ASG Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">CONFIG</li>
            <li><a href ng-click="resizeServerGroup()">Resize ASG</a></li>
            <li><a href ng-click="disableServerGroup()">Disable ASG</a></li>
            <li><a href ng-click="destroyServerGroup()">Destroy ASG</a></li>
            <li class="dropdown-header">INSIGHT</li>
            <li><a href="#">View in Atlas</a></li>
            <li><a href="#">View in Chronos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="content" ng-if="serverGroup">
    <div class="content-section">
      <h4>ASG Information</h4>
      <dl class="dl-horizontal dl-narrow">
        <dt>Created:</dt>
        <dd>{{serverGroup.asg.createdTime | relativeTime}}</dd>
        <dt>In:</dt>
        <dd>{{cluster.name}}<account-tag account="cluster.account"></account-tag></dd>
      </dl>
    </div>
    <div class="content-section">
      <h4>Health</h4>
      <dl class="dl-horizontal dl-narrow">
        <dt>Instances:</dt>
        <dd>
          <health-counts container="serverGroup"></health-counts>
        </dd>
      </dl>
    </div>
    <div class="content-section">
      <h4>Launch Configuration</h4>
      <arbitrary-list source="serverGroup.launchConfig" omit="Launch Configuration"></arbitrary-list>
    </div>
    <div class="content-section">
      <h4>Package</h4>
      <arbitrary-list source="serverGroup.buildInfo"></arbitrary-list>
    </div>
  </div>
</div>
