<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-3 sm-label-right table-offset">Listener</div>
    <div class="col-md-9">
      <table class="table table-condensed packed">
        <thead>
        <tr>
          <th>Protocol</th>
          <th>Port Range <help-field key="gce.loadBalancer.portRange"></help-field></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="listener in loadBalancer.listeners">
          <td><select class="form-control input-sm" ng-model="listener.protocol"
                      ng-options="protocol for protocol in ['TCP', 'UDP']"></select></td>
          <td><input class="form-control input-sm" ng-model="listener.portRange"/></td>
        </tr>
        <tr>
          <td>
              <label><input type="checkbox" ng-model="loadBalancer.listeners[0].healthCheck" ng-change="ctrl.setVisibilityHealthCheckTab()" />
                Enable health check? <help-field key="gce.loadBalancer.healthCheck"></help-field>
              </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
