<div class="row rollup-entry"
     ng-class="{active: $state.includes('**.securityGroupDetails', {region: securityGroup.region, accountId: securityGroup.accountName, name: securityGroup.name, vpcId: securityGroup.vpcId, provider: securityGroup.provider})}"
     ng-click="loadDetails($event)">

  <div class="rollup-summary">
    <div class="rollup-title-cell">
      <h5>
        <span class="account-tag account-tag-{{securityGroup.accountName}}">{{securityGroup.accountName}}</span>
        <span class="glyphicon glyphicon-transfer"></span> {{securityGroup.name}}
      </h5>
    </div>
  </div>

  <div class="rollup-details">
    <div class="rollup-details-section col-md-6" ng-if="displayOptions.showServerGroups">
      <div ng-if="!securityGroup.usages.serverGroups.length" class="small">
        No server groups
      </div>
      <div ng-repeat="serverGroup in securityGroup.usages.serverGroups | orderBy:'-name'"
           class="rollup-row" ng-class="{disabled: serverGroup.isDisabled}">
        <a
          ui-sref=".serverGroup({region: serverGroup.region, accountId: serverGroup.account, serverGroup: serverGroup.name, provider: serverGroup.type})"
          ui-sref-active="active">
          <span class="glyphicon glyphicon-th"></span> {{serverGroup.name}}
        </a>
      </div>
    </div>
    <div class="rollup-details-section col-md-6" ng-if="displayOptions.showLoadBalancers">
      <div ng-if="!securityGroup.usages.loadBalancers.length" class="small">
        No load balancers
      </div>
      <div ng-repeat="loadBalancer in securityGroup.usages.loadBalancers | orderBy:'-name'"
           class="rollup-row">
        <a
          ui-sref=".loadBalancerDetails({region: loadBalancer.region, accountId: loadBalancer.account, name: loadBalancer.name, vpcId: loadBalancer.vpcId, provider: loadBalancer.provider})"
          ui-sref-active="active">
          <span class="icon icon-elb"></span> {{loadBalancer.name}}
        </a>
      </div>
    </div>
  </div>
</div>
