
<div class="row">
  <div class="col-md-1 no-padding">
    <div class="stacked-pills">
      <ul class="nav nav-pills nav-stacked">
        <li class="heading">
          View by
        </li>
        <li>
          <a href="javascript:void(0)"
             ng-click="view.activeTab = 'clusters'"
             ng-class="{active: view.activeTab==='clusters'}">
            <span class="glyphicon glyphicon-align-justify"></span>
            Clusters
          </a>
        </li>
        <li>
          <a href="javascript:void(0)"
             ng-click="view.activeTab = 'elbs'"
             ng-class="{active: view.activeTab==='elbs'}">
            <span class="glyphicon glyphicon-th"></span>ELB</a>
        </li>
        <li>
          <a href="javascript:void(0)"
             ng-click="view.activeTab = 'connections'"
             ng-class="{active: view.activeTab==='connections'}">
            <span class="glyphicon glyphicon-transfer"></span>
            Connections
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 secondary-panel">
    <div class="row">

      <div class="col-md-4 nav">
        <h3>Accounts</h3>
        <div class="sub-nav">
          <div class="sub-nav-item">
            <h4>MCE Test</h4>
            <a href="#">front50: #654</a>
          </div>
          <div class="sub-nav-item">
            <h4>Test</h4>
            <a href="#">front50: #654</a>
          </div>
          <div class="sub-nav-item">
            <h4>Production</h4>
            <a href="#">front50: #654</a>
          </div>
        </div>
      </div>

      <div class="col-md-8 nav-content">
        <div class="header">
          <div class="close-button">
            <button class="btn btn-link">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <h3>
            <span class="glyphicon glyphicon-transfer"></span> Security Groups
          </h3>
          <div class="actions">
            <select class="form-control input-sm">
              <option value="">Actions</option>
            </select>
          </div>
        </div>
        <div class="content">
          <div class="sort-filter">
            <div class="row form-inline">
              <div class="form-group">
                <label>
                  Sort by
                  <select class="form-control input-sm" name="sort-by" id="sort-by">
                    <option value="region" selected>Region</option>
                    <option value="us-east-1">us-east-1</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <label>
                  Filter
                  <input type="text" class="form-control input-sm" name="filter" id="filter"/>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-3 details-panel">
    <div class="header">
      <div class="close-button">
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <h3>
        <span class="glyphicon glyphicon-th"></span>
        API-Proxy-Test1 v264
      </h3>
    </div>
    <div class="content">
      <div class="content-section">
        <h4>ASG Information</h4>
        <dl class="dl-horizontal dl-narrow">
          <dt>Created:</dt>
          <dd>Yesterday @ 14:52</dd>
          <dt>In:</dt>
          <dd>Api-Proxy-Test1</dd>
        </dl>
      </div>
      <div class="content-section">
        <h4>Health</h4>
        <dl class="dl-horizontal dl-narrow">
          <dt>Instances:</dt>
          <dd>2</dd>
        </dl>
      </div>
      <div class="content-section">
        <h4>Launch Configuration</h4>
      </div>
      <div class="content-section">
        <h4>Package</h4>
      </div>
    </div>
  </div>
</div>

