
<div class="stacked-pills">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: view.activeTab==='details'}">
      <a href="javascript:void(0)" ng-click="view.activeTab = 'details'">
        <span class="glyphicon glyphicon-wrench"></span>
        General
        <server-error-flag component="application" paths="description name"></server-error-flag>
      </a>
    </li>
    <li ng-class="{active: view.activeTab==='delivery'}">
      <a href="javascript:void(0)" ng-click="view.activeTab = 'delivery'">
        <span class="glyphicon glyphicon-tasks"></span>
        Delivery
        <server-error-flag component="application" paths="pipelines"></server-error-flag>
      </a>
    </li>
    <li ng-class="{active: view.activeTab==='traffic'}">
      <a href="javascript:void(0)" ng-click="view.activeTab = 'traffic'">
        <span class="glyphicon glyphicon-transfer"></span>
        Connections
        <server-error-flag component="application" paths="egressApplications ingressApplications"></server-error-flag>
      </a>
    </li>
  </ul>
</div>
