<div class="container applications global-search-header navbar-fixed-top">
  <div class="row">
    <div class="col-md-2">
      <h2 data-purpose="view-header">Applications</h2>
    </div>
    <div class="col-md-4">
      <form class="form form-horizontal">
        <div class="form-group">
          <div class="col-md-12">
            <input type="search"
                   placeholder="Search applications"
                   class="form-control input-md"
                   focus
                   ng-model="applicationFilter"
                   ng-change="ctrl.filterApplications()"/>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-offset-4 col-md-2 pull-right">
      <insight-menu data-purpose="applications-menu"
                    actions="menuActions"
                    right-align="true">
      </insight-menu>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 ng-if="!applicationsLoaded" class="text-center" style="margin-bottom: 250px">
      <span class="glyphicon glyphicon-asterisk glyphicon-spinning"></span>
    </h2>
    <table ng-if="applicationsLoaded" class="table table-striped">
      <thead>
        <tr>
          <th sort-toggle key="name" label="Name" default="true" on-change="ctrl.filterApplications()"></th>
          <th sort-toggle key="createTs" label="Created" on-change="ctrl.filterApplications()"></th>
          <th sort-toggle key="updateTs" label="Updated" on-change="ctrl.filterApplications()"></th>
          <th sort-toggle key="email" label="Owner" on-change="ctrl.filterApplications()"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="application in ctrl.resultPage()">
          <td>
            <a ui-sref=".application({ application: application.name.toLowerCase() })">
              {{ application.name.toLowerCase() }}
            </a>
          </td>
          <td>
            {{ application.createTs | relativeTime }}
          </td>
          <td>
            {{ application.updateTs | relativeTime }}
          </td>
          <td>
            {{ application.email }}
          </td>
        </tr>
      </tbody>
    </table>
    <pagination ng-if="applicationsLoaded"
                total-items="filteredApplications.length"
                max-size="pagination.maxSize"
                ng-model="pagination.currentPage"
      ></pagination>
  </div>
</div>
