
<div class="row page-header application-header">
  <h2>{{application.name}}</h2>
</div>
<div class="row">
  <div class="col-md-1 no-padding">
    <div class="stacked-pills">
      <ul class="nav nav-pills nav-stacked">
        <li class="heading">
          View by
        </li>
        <li>
          <a ui-sref="clusters" ng-class="{active: $state.includes('clusters')}">
            <span class="glyphicon glyphicon-align-justify"></span>
            Clusters
          </a>
        </li>
        <li>
          <a ui-sref="elbs" ng-class="{active: $state.includes('elbs')}">
            <span class="glyphicon glyphicon-th"></span>ELB</a>
        </li>
        <li>
          <a ui-sref="connections" ng-class="{active: $state.includes('connections')}">
            <span class="glyphicon glyphicon-transfer"></span>
            Connections
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-7 secondary-panel">
    <div class="row">

      <div class="col-md-4 nav">
        <div ui-view="nav"></div>
      </div>

      <div class="col-md-8 nav-content">
        <div ui-view="master"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 details-panel">
    <div class="header">
      <div class="close-button">
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <h3>
        <span class="glyphicon glyphicon-th"></span>
        API-Proxy-Test1 v264
      </h3>
    </div>
    <div class="content">
      <div class="content-section">
        <h4>ASG Information</h4>
        <dl class="dl-horizontal dl-narrow">
          <dt>Created:</dt>
          <dd>Yesterday @ 14:52</dd>
          <dt>In:</dt>
          <dd>Api-Proxy-Test1</dd>
        </dl>
      </div>
      <div class="content-section">
        <h4>Health</h4>
        <dl class="dl-horizontal dl-narrow">
          <dt>Instances:</dt>
          <dd>2</dd>
        </dl>
      </div>
      <div class="content-section">
        <h4>Launch Configuration</h4>
      </div>
      <div class="content-section">
        <h4>Package</h4>
      </div>
    </div>
  </div>
</div>

