<li class="dropdown global-search">
  <form class="navbar-form right global-search dropdown-toggle">
    <div class="form-group">
      <input type="search"
        class="form-control"
        placeholder="Search"
        ng-model="query"
        ng-focus="ctrl.showSearchResults()">
      </input>
    </div>
  </form>
  <ul class="dropdown-menu" role="menu" ng-show="showSearchResults">
    <span ng-repeat="category in categories">
      <li>
        {{ category.category }}
      </li>
      <li ng-repeat="result in category.results">
        <a href="{{ result.href }}">{{ result.name }}</a>
      </li>
    </span>
  </ul>
</li>
