<div class="container infrastructure global-search-header">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h2>Infrastructure</h2>
    </div>
    <div class="col-md-4 col-sm-12">
      <form class="form form-horizontal">
        <div class="form-group">
          <div class="col-md-12">
            <input type="search"
                   class="form-control input-md"
                   placeholder="Search infrastructure"
                   focus
                   ng-model="query">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<span ng-if="ctrl.hasResults()">
  <div class="row" ng-if="moreResults">
    <div class="col-md-12">
      <p style="margin: 10px 20px 0">Only showing the first {{pageSize}} results found.</p>
    </div>
  </div>
  <div class="row infrastructure">
    <div class="col-md-4" ng-repeat="category in categories | orderBy:'category'">
      <div class="panel category row">
        <div class="summary">{{ category.category }} ({{category.results.length}})</div>
        <div class="col-md-12 details-container">
          <div class="details row padding">
            <div class="col-md-12" ng-repeat="result in category.results">
              <a href="{{ result.href }}">{{ result.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
<span ng-if="ctrl.noMatches()">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">No results matching {{ query }}.</h4>
    </div>
  </div>
</span>
