<div class="modal-page">
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">New Application</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="newApplicationForm">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Name</div>
        <div class="col-sm-9">
          <input type="text"
                 autofocus
                 name="name"
                 ng-pattern="/^[a-zA-z_0-9-.]*$/"
                 class="form-control input-sm"
                 data-purpose="application-name"
                 ng-model="newAppModal.application.name"
                 placeholder="Enter an application name"
                 validate-unique="newAppModal.appNameList"
                 id="applicationName">
          </input>
        </div>
      </div>

      <div class="form-group row slide-in" ng-if="newApplicationForm.name.$error.pattern">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Only dot(.), dash(-), and underscore(_) special characters are allowed.</span>
        </div>
      </div>

      <div class="form-group row slide-in" ng-if="newApplicationForm.name.$error.validateUnique">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Application name must be unique.</span>
        </div>
      </div>

      <div class="form-group row slide-in" ng-if="newAppModal.application.name.indexOf('_') > -1">
        <div class="col-sm-9 col-sm-offset-3 warn-message">
          <span>Names that contain an underscore(_) will not be able to create a
            load balancer and will prevent it from being used as a frontend service.</span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Owner Email</div>
        <div class="col-sm-9">
          <input type="email"
                 name="email"
                 ng-class="{'ng-invalid ng-dirty':newAppModal.emailErrorMsg.length > 0 }"
                 class="form-control input-sm "
                 data-purpose="application-email"
                 ng-model="newAppModal.application.email"
                 placeholder="Enter an email address"
                 required
                 id="ownerEmail">
          </input>
        </div>
      </div>

      <div class="form-group row slide-in" ng-if="newApplicationForm.email.$dirty && newApplicationForm.email.$invalid">
        <div class="col-sm-9 col-sm-offset-3 error-message">
          <span>Please enter a valid email address</span>
        </div>
      </div>

      <div class="form-group row slide-in" ng-if="newAppModal.emailErrorMsg">
        <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in newAppModal.emailErrorMsg">
          {{errorMsg}} <small><span class="glyphicon glyphicon-remove" ng-click="newAppModal.clearEmailMsg()" style="cursor: pointer; padding-left: 10px"></span></small>

        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 sm-label-left" id="pagerDutyApiKeyLabel">PagerDuty API Key</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="newAppModal.application.pdApiKey"
                 placeholder="Enter your PagerDuty API key"
                 id="pagerDutyApiKey">
          </input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Description</div>
        <div class="col-sm-9">
          <textarea
                 class="form-control input-sm"
                 ng-model="newAppModal.application.description"
                 placeholder="Enter a description"
                 data-purpose="application-description"
                 id="applicationDescription">
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 sm-label-left">Account</div>
        <div class="col-md-9">
          <account-select-field component="newAppModal.application" field="account" accounts="accounts"></account-select-field>
        </div>
      </div>
    </div>


    <div class="form-group row slide-in" ng-if="newAppModal.errorMsgs">
      <div class="col-sm-9 col-sm-offset-3 error-message" ng-repeat="errorMsg in newAppModal.errorMsgs">
        {{errorMsg}}
      </div>
    </div>

    <div class="modal-footer">
      <span ng-show="newAppModal.submitting" us-spinner="{radius:20, width:6, length: 12}"></span>
      <a href class="btn btn-default" ng-click="$dismiss()" analytics-on="click" analytics-category="New Application"
         analytics-label="Cancel">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-disabled="!newApplicationForm.$valid || newAppModal.submitting"
              ng-click="newAppModal.submit()" analytics-on="click" analytics-category="New Application" analytics-label="Create">
        <span class="glyphicon glyphicon-ok-circle"></span> Create
      </button>
    </div>
  </form>
</div>
