<div class="modal-page">
  <div class="close-button pull-right">
    <a class="btn btn-link" ng-click="$close()" >
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <div class="modal-header">
    <h3 data-purpose="modal-header">New Application</h3>
  </div>
  <form role="form" class="container-fluid" novalidate name="newApplicationForm">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Name</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 data-purpose="application-name"
                 ng-model="application.name"
                 placeholder="Enter an application name"
                 id="applicationName">
          </input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Owner Email</div>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control input-sm"
                 data-purpose="application-email"
                 ng-model="application.email"
                 placeholder="Enter an email address"
                 required
                 id="ownerEmail">
          </input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left" id="pagerDutyApiKeyLabel">PagerDuty API Key</div>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control input-sm"
                 ng-model="application.pdApiKey"
                 placeholder="Enter your PagerDuty API key"
                 id="pagerDutyApiKey">
          </input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 sm-label-left">Description</div>
        <div class="col-sm-9">
          <textarea
                 class="form-control input-sm"
                 ng-model="application.description"
                 placeholder="Enter a description"
                 data-purpose="application-description"
                 id="applicationDescription">
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 sm-label-left">Account</div>
        <div class="col-md-9">
          <select class="form-control input-sm"
                  ng-model="application.account"
                  data-purpose="application-accounts"
                  required>
            <option ng-repeat="account in accounts" value="{{ account }}">
              {{ account }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-link" ng-click="$close()">Cancel</a>
      <button type="submit"
              class="btn btn-default"
              data-purpose="submit"
              ng-disabled="!newApplicationForm.$valid"
              ng-click="$close(application)">
        Submit
      </button>
    </div>
  </form>
</div>
