<div class="col-md-12 task">
  <div class="row panel">
    <div class="col-md-12">
      <div class="row summary">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <status-glyph item="task"></status-glyph>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
              <h5>
                <a ui-sref=".taskDetails({ taskId: task.id })">
                  {{ task.name }}
                </a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <panel-progress item="task">
        </panel-progress>
      </div>
      <div class="row details" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <span class="glyphicon glyphicon-time"></span>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
              <dl ng-if="task.isEnqueued">
                <dt>Enqueued</dt>
              </dl>
              <dl ng-if="!task.isEnqueued">
                <dt>Started</dt> <dd>{{ task.startTime | relativeTime }}</dd>
                <dt ng-if="task.isCompleted && task.endTime">Completed</dt>
                <dd ng-if="task.isCompleted && task.endTime">{{ task.endTime | relativeTime }}</dd>
                <dt>Running time<dt> <dd>{{ task.runningTime }}</dd>
              </dl>
            </div>
          </div>
          <div class="row" ng-if="task.failureMessage">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <span class="glyphicon glyphicon-warning-sign"></span>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
              {{ task.failureMessage }}
            </div>
          </div>
          <div class="row" ng-if="task.href">
            <div class="col-md-1 col-sm-1 col-xs-1">
              <span class="glyphicon glyphicon-ok"></span>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
              <a href="{{ task.href }}">Complete!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
