<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h4>Tasks </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <strong>Display</strong>
        <div class="btn-group">
          <label class="btn btn-default" ng-model="taskStateFilter" btn-radio="'All'">
            All
          </label>
          <label class="btn btn-default" ng-model="taskStateFilter" btn-radio="'Running'">
            Running
          </label>
          <label class="btn btn-default" ng-model="taskStateFilter" btn-radio="'Completed'">
            Completed
          </label>
          <label class="btn btn-default" ng-model="taskStateFilter" btn-radio="'Errored'">
            Errored
          </label>
        </div>
      </div>
      <div class="col-md-7">
        <form class="form form-inline">
          <div class="form-group">
            <label>Filter</label>
            <input type="search" class="form-control" ng-model="taskFilter">
          </div>
        </form>
      </div>
    </div>
    <div class="row padding"
         ng-repeat="task in subscribed.data | taskFilter:taskStateFilter | filter:taskFilter">
      <div class="col-md-12 panel">
        <div class="row">
          <div class="col-md-3">
            <h5>
              <span ng-switch="task.status">
                <span ng-switch-when="COMPLETED" class="glyphicon glyphicon-ok"></span>
                <span ng-switch-when="FAILED" class="glyphicon glyphicon-refresh"></span>
                <span ng-switch-when="STARTED" class="glyphicon glyphicon-refresh"></span>
              </span>
              <strong>{{ task.description }}</strong>
            </h5>
          </div>
          <div class="col-md-4">
            <!-- TODO: add task visualization -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
