<div class="details-panel">
  <div class="header" >
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <h3>{{ task.name }}</h3>
    </div>
    <div class="actions">
      <div class="dropdown">
        <button type="button"
                class="btn btn-sm btn-primary dropdown-toggle"
                ng-disabled="disabled">
          Task Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-if="task.isCompleted"><a href ng-click="ctrl.retry()">Retry</a></li>
          <li ng-if="task.isRunning"><a href ng-click="ctrl.cancel()">Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <collapsible-section heading="Status" expanded="true">
      <status-glyph item="task"></status-glyph>
      {{ task.status}}
      <dl>
        <dt>Started</dt>
        <dd>{{ task.startTime | relativeTime }}</dd>
        <span ng-if="task.isCompleted">
          <dt>Completed</dt>
          <dd>{{ task.endTime | relativeTime }}</dd>
        </span>
        <dt>Running time</dt>
        <dd>{{ task.runningTime }}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Orchestration Log" expanded="true">
      <h5 ng-repeat-start="step in task.steps">
        <status-glyph item="step"></status-glyph>
        {{ step.name | robotToHuman }}
      </h5>
      <dl class="well" style="padding: 10px;" ng-repeat-end>
        <dt>Started</dt>
        <dd>{{ step.startTime | relativeTime }}</dd>
        <dt>Completed</dt>
        <dd>{{ step.endTime | relativeTime }}</dd>
        <dt>Running time</dt>
        <dd>{{ step.runningTime }}</dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Kato Log" expanded="true">
      <h5 ng-repeat-start="step in task.katoTasks">
        {{ step.status }}
      </h5>
      <dl class="well" style="padding: 10px;" ng-repeat-end>
        <dt>Started</dt>
        <dd>{{ step.startTime | relativeTime }}</dd>
        <dt>Completed</dt>
        <dd>{{ step.endTime | relativeTime }}</dd>
        <!--<dt>Running time</dt> // TODO: include running time
          <dd>{{ step.runningTime }}</dd>-->
      </dl>
    </collapsible-section>
  </div>
</div>
