<span ng-repeat="element in iterable | filter:filterFn | orderBy:ctrl.getTimestamp:true">
  <span ng-if="$first">
    <div class="row"
         ng-repeat="boundary in ctrl.lastBoundaryAfterIndex($index)">
      <div class="col-md-12" style="padding-right: 0px;">
        <h5 style="font-weight: bold;" class="boundary">
          <span>
            {{ boundary.name }}
          </span>
        </h5>
      </div>
    </div>
  </span>
  <span class="interior">
  </span>
  <div class="row"
       ng-repeat="boundary in ctrl.lastBoundaryFollowingIndex($index)">
    <div class="col-md-12" style="padding-right: 0px;">
      <h5 style="font-weight: bold;"
          class="boundary">
        <span>
          {{ boundary.name }}
        </span>
      </h5>
    </div>
  </div>
</span>
