<div ng-if="vm.accountContainsExpression" class="sm-control-field">
  <span>
    Resolved at runtime from expression: <code>{{vm.component[vm.field]}}</code>
  </span>
</div>
<div ng-if="!vm.accountContainsExpression">
  <div ng-if="!vm.multiselect">
    <select class="form-control input-sm"
            ng-model="vm.component[vm.field]"
            ng-change="vm.onChange()"
            ng-if="!vm.readOnly"
            required>
      <option value="" disabled>Select...</option>
      <option ng-repeat="account in vm.primaryAccounts" value="{{account}}" ng-selected="vm.component[vm.field] === account">{{account}}</option>
      <option ng-if="vm.primaryAccounts.length && vm.secondaryAccounts.length" disabled>---------------</option>
      <option ng-repeat="account in vm.secondaryAccounts" value="{{account}}" ng-selected="vm.component[vm.field] === account">{{account}}</option>
    </select>

    <p class="form-control-static" ng-if="vm.readOnly">{{vm.component[vm.field]}}</p>
  </div>

  <div ng-if="vm.multiselect">
    <ui-select multiple required name="vm.accounts" ng-model="vm.component[vm.field]" class="form-control input-sm" style="width:200px"
               on-select="vm.onChange()"
               on-remove="vm.onChange()" >
      <ui-select-match >
        {{$item}}
      </ui-select-match>
      <ui-select-choices group-by="vm.groupBy" repeat="account in vm.mergedAccounts | filter: $select.search">
        {{account}}
      </ui-select-choices>
    </ui-select>
  </div>
</div>
