
  <form role="form" class="container-fluid form-horizontal" name="form" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <p class="info">
          <span class="glyphicon glyphicon-info-sign"></span> IP range rules can only be edited through the AWS Console.
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <table class="table table-condensed packed">
            <thead>
            <tr>
              <th style="width: 50%">Security Group</th>
              <th style="width: 15%">Protocol</th>
              <th style="width: 15%">Start Port</th>
              <th style="width: 15%">End Port</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rule in securityGroup.securityGroupIngress">
              <td>
                <select ui-select2 class="form-control input-sm" ng-model="rule.name"
                        data-placeholder="Select...">
                  <option ng-repeat="securityGroup in availableSecurityGroups" value="{{securityGroup.name}}">
                    {{securityGroup.name}} ({{securityGroup.id}})
                  </option>
                </select>
              </td>
              <td><select class="form-control input-sm" ng-model="rule.type"
                          ng-options="protocol as protocol.toUpperCase() for protocol in ['tcp', 'udp', 'icmp']"></select></td>
              <td><input class="form-control input-sm" type="number" min="-1" ng-model="rule.startPort" required/></td>
              <td><input class="form-control input-sm" type="number" min="-1" ng-model="rule.endPort" required/></td>
              <td><a class="btn btn-link sm-label"
                     ng-click="ctrl.removeRule(securityGroup.securityGroupIngress, $index)"><span
                class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5">
                <button class="add-new col-md-12" ng-click="ctrl.addRule(securityGroup.securityGroupIngress)"><span
                  class="glyphicon glyphicon-plus-sign"></span> Add new Security Group Rule
                </button>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default pull-left"
              ng-click="ctrl.cancel()">Cancel
      </button>
      <button class="btn btn-default"
              ng-click="wizard.previousPage()">
        <span class="glyphicon glyphicon-chevron-left"></span> Back
      </button>
      <button type="submit" class="btn btn-primary" ng-click="ctrl.upsert()"
              ng-disabled="form.$invalid">
        <span class="glyphicon glyphicon-ok-circle"></span> {{isNew ? 'Create' : 'Update'}}
      </button>
    </div>
  </form>
