<form ng-controller="kubernetesLoadBalancerPortsController as portsController" class="container-fluid form-horizontal" name="ports">
  <div class="col-md-12">
    <div ng-repeat="port in loadBalancer.ports">
      <hr ng-if="$index > 0">
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Name
          <help-field key="kubernetes.service.ports.name"></help-field>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control input-sm" name="details" ng-model="port.name"/>
        </div>
        <div class="col-md-1">
          <a class="btn btn-link sm-label" ng-click="portsController.removePort($index)">
            <span class="glyphicon glyphicon-trash"></span>  Remove Port</a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Port
          <help-field key="kubernetes.service.ports.port"></help-field>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control input-sm" name="details" ng-model="port.port"
                 min="1" max="{{portsController.maxPort}}" />
        </div>
        <div class="col-md-3 sm-label-right">
          Target Port
          <help-field key="kubernetes.service.ports.targetPort"></help-field>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control input-sm" name="details" ng-model="port.targetPort"
                 min="1" max="{{portsController.maxPort}}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 sm-label-right">
          Node Port
          <help-field key="kubernetes.service.ports.nodePort"></help-field>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control input-sm" name="details" ng-model="port.nodePort"
                 min="1" max="{{portsController.maxPort}}"
                 ng-disabled="!(loadBalancer.serviceType === 'NodePort' || loadBalancer.serviceType === 'LoadBalancer')"/>
        </div>
        <div class="col-md-3 sm-label-right">
          Protocol
          <help-field key="kubernetes.service.ports.protocol"></help-field>
        </div>
        <div class="col-md-2">
          <select class="form-control input-sm"
                  ng-model="port.protocol">
            <option ng-repeat="protocol in portsController.protocols"
                    value="{{protocol}}"
                    ng-selected="port.protocol === protocol">{{protocol}}</option>
          </select>
        </div>
      </div>
    </div>
    <button class="add-new btn btn-block btn-sm col-md-12" ng-click="portsController.addPort()"><span
      class="glyphicon glyphicon-plus-sign"></span> Add New Port
    </button>
  </div>
</form>
