<ng-form name="port">
  <div class="container-fluid form-horizontal">
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Port<help-field key="gce.httpLoadBalancer.port"></help-field></div>
      <div class="col-md-3" ng-if="!ctrl.loadBalancer.certificate">
        <ui-select ng-model="ctrl.loadBalancer.portRange"
                   class="form-control input-sm">
          <ui-select-match placeholder="Select...">
            <span>{{$select.selected}}</span>
          </ui-select-match>
          <ui-select-choices repeat="choice in [80, 8080]">
            <span>{{choice}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-3" ng-if="ctrl.loadBalancer.certificate">
        <input class="form-control input-sm" readonly ng-model="ctrl.loadBalancer.portRange">
      </div>
    </div>
  </div>
</ng-form>
