<div class="nav nav-ci">
  <div class="row builds-navigation-header">
    <div class="col-md-4">
      <h3 class="builds-navigation-title">Builds</h3>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control input-sm" placeholder="branch..."
             ng-model="ctrl.filterModel.searchFilter"
             ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
             ng-change="ctrl.refreshBuilds()">
    </div>
  </div>
  <div class="row build-row" ng-class="{ active: $state.params.buildId === b.id }" ng-repeat="b in ctrl.builds">
    <a ui-sref=".detail.detailTab({ buildId: b.id, tab: 'output' })">
      <div class="col-md-4">
        <span class="build-status build-status-{{ b.completionStatus | lowercase }}">#{{ b.buildNumber }}</span>
      </div>
      <div class="build-duration col-md-8">
        <span class="build-filter-label">Dur</span> {{ b.runningTimeInMs | duration }}
      </div>
      <div class="col-md-4">
        {{ b.change.to.author.username }}
      </div>
      <div class="build-commit col-md-8">
        <span class="build-filter-label">Commit</span> {{ b.change.to.displayId }}
      </div>
    </a>
  </div>
  <div class="row no-builds-found" ng-hide="ctrl.builds">
    <div class="col-md-12">
      <span>No Builds Found</span>
    </div>
  </div>
</div>
<div class="row configuration-error" ng-hide="ctrl.viewState.hasAllConfig">
  <div class="col-md-12">
    <h4>Repository Configuration Missing</h4>
  </div>
</div>
<div class="build-detail" sticky-headers ui-view="detail">
</div>
