<div class="row">
  <div class="col-md-12 small">
    <h5>Dimensions</h5>
  </div>
</div>
<div ng-repeat="dimension in $ctrl.alarm.dimensions" class="row dimensions-row">
  <div class="col-md-4" style="padding-right: 0">
    <input
      type="text"
      class="form-control input-sm no-spel"
      style="width: 100%"
      required
      uib-typeahead="option for option in $ctrl.dimensionOptions | filter: $viewValue"
      typeahead-show-hint="true"
      typeahead-min-length="0"
      typeahead-editable="true"
      typeahead-on-select="$ctrl.updateAvailableMetrics()"
      ng-change="$ctrl.updateAvailableMetrics()"
      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
      ng-model="dimension.name"
      placeholder="name"
      ng-disabled="$ctrl.alarm.disableEditingDimensions"
    />
  </div>
  <div class="col-md-6" style="padding-left: 10px">
    <input
      type="text"
      class="form-control input-sm no-spel"
      style="width: 100%"
      required
      ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
      ng-change="$ctrl.updateAvailableMetrics()"
      ng-model="dimension.value"
      placeholder="value"
      ng-disabled="$ctrl.alarm.disableEditingDimensions"
    />
  </div>
  <div ng-show="!$ctrl.alarm.disableEditingDimensions" class="col-md-2">
    <a class="form-control-static" href ng-click="$ctrl.removeDimension($index)">
      <span class="glyphicon glyphicon-trash" uib-tooltip="Remove dimension"></span>
    </a>
  </div>
</div>
<div ng-show="!$ctrl.alarm.disableEditingDimensions" class="row">
  <div class="col-md-10">
    <button class="btn btn-block btn-xs add-new" ng-click="$ctrl.alarm.dimensions.push({})">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add dimension
    </button>
  </div>
</div>
