<div class="form-group row">
  <div class="col-sm-9 col-sm-offset-3" ng-if="vm.notificationConfig.botName">
    <strong>Please note:</strong> You need to invite the
    <strong select-on-dbl-click>{{vm.notificationConfig.botName}}</strong> bot to <strong>private</strong> rooms to
    receive HipChat notifications<br />
  </div>
  <div class="col-sm-3 sm-label-right">HipChat Room</div>
  <div class="col-sm-9">
    <input
      name="hipchat"
      class="form-control input-sm "
      ng-model="vm.notification.address"
      placeholder="enter a HipChat room"
      required
    />
  </div>
</div>
