<div ng-controller="ScriptExecutionDetailsCtrl">
  <execution-details-section-nav sections="configSections"></execution-details-section-nav>
  <div class="step-section-details" ng-if="detailsSection === 'scriptConfig'">
    <div class="row">
      <div class="col-md-9">
        <h5>Script Stage Configuration</h5>
        <dl class="dl-narrow dl-horizontal">
          <dt>Script Path</dt>
          <dd>{{stage.context.scriptPath}}</dd>
          <dt>Command</dt>
          <dd>{{stage.context.command}}</dd>
          <dt ng-if="stage.context.propertyFile">Properties</dt>
          <dd ng-if="stage.context.propertyFile">{{stage.context.propertyFile}}</dd>
        </dl>
      </div>
    </div>

    <div class="row ng-scope" ng-if="stage.context.buildInfo.url">
      <div class="col-md-12">
        <div class="well alert alert-info">
          <a ng-if="stage.context.buildInfo.url"
             href="{{stage.context.buildInfo.url}}consoleText"
             target="_blank">Script Results</a>
        </div>
      </div>
    </div>

    <stage-failure-message is-failed="stage.isFailed" message="failureMessage"></stage-failure-message>
  </div>

  <div class="step-section-details" ng-if="detailsSection === 'taskStatus'">
    <div class="row">
      <execution-step-details item="stage"></execution-step-details>
    </div>
  </div>

</div>
