[
  {
    "reference": "{{ properties.group }}:{{ properties.artifact }}:{{ properties.version }}",
    "name": "{{ properties.artifact }}-{{ properties.version }}",
    "version": "{{ properties.version }}",
    "type": "jar/archive"
  }
]
