<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-12">
      <div class="wizard-pod" ng-repeat="listener in ctrl.loadBalancerCommand.listeners">
        <div>
          <div class="wizard-pod-row header">
            <div class="wizard-pod-row-title">Listen On</div>
            <div class="wizard-pod-row-contents spread">
              <div>
                <span class="wizard-pod-content">
                  <label>Protocol</label>
                  <select class="form-control input-sm inline-number" ng-model="listener.protocol" style="width:80px;"
                          ng-change="ctrl.listenerProtocolChanged(listener)"
                          ng-options="protocol for protocol in ['HTTP','HTTPS']"></select>
                </span>
                <span class="wizard-pod-content">
                  <label>Port</label>
                  <input class="form-control input-sm inline-number" type="text" min="0" ng-model="listener.port"
                        style="width:80px;" required/>
                </span>
              </div>
              <div>
                <a href class="sm-label" ng-click="ctrl.removeListener($index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="wizard-pod-row" ng-if="ctrl.showSslCertificateNameField()">
            <div class="wizard-pod-row-title">Certificate</div>
            <div class="wizard-pod-row-contents">
              <div ng-repeat="certificate in listener.certificates"
                 style="width:100%;display:flex;flex-direction:row;">
                <select class="form-control input-sm inline-number"
                        style="width:45px;"
                        ng-model="certificate.type"
                        ng-options="certificateType for certificateType in ['iam','acm']"></select>

                <ui-select ng-if="ctrl.showCertificateSelect(certificate)"
                           class="form-control input-sm"
                           required
                           ng-model="certificate.name">
                  <ui-select-match placeholder="Select...">
                    <div style="max-width: 390px; text-overflow: ellipsis; overflow-x: hidden">
                      {{$select.selected.serverCertificateName}}
                    </div>
                  </ui-select-match>
                  <ui-select-choices repeat="certificate.serverCertificateName as certificate in ctrl.certificates[ctrl.loadBalancerCommand.credentials] | filter: $select.search">
                    {{certificate.serverCertificateName}}
                  </ui-select-choices>
                </ui-select>

                <input ng-if="!ctrl.showCertificateSelect(certificate)" class="form-control input-sm no-spel" style="display:inline-block;"
                       type="text"
                       ng-model="certificate.name"
                       required/>
              </div>
            </div>
          </div>
          <div class="wizard-pod-row">
            <div class="wizard-pod-row-title" style="height:30px">Rules</div>
            <div class="wizard-pod-row-contents" style="padding:0;">
              <table class="table table-condensed packed rules-table">
                <thead>
                  <th style="width: 10px; padding:0;"></th>
                  <th style="width: 226px;">If</th>
                  <th style="width: 75px;">Then</th>
                  <th>Target</th>
                  <th style="width:30px;"></th>
                </thead>
                <tbody ui-sortable="ctrl.ruleSortOptions">
                  <tr class="not-sortable">
                    <td></td>
                    <td>Default</td>
                    <td>forward to</td>
                    <td>
                      <select class="form-control input-sm" ng-model="listener.defaultActions[0].targetGroupName"
                              ng-options="targetGroup.name as targetGroup.name for targetGroup in ctrl.loadBalancerCommand.targetGroups" required></select>
                    </td>
                    <td></td>
                  </tr>
                  <tr ng-repeat="rule in listener.rules" class="listener-rule">
                    <td class="handle"><span class="glyphicon glyphicon-resize-vertical"></span></td>
                    <td>
                      <div class="listener-rule-condition" ng-repeat="condition in rule.conditions">
                        <select class="form-control input-sm inline-number"
                                ng-model="condition.field"
                                style="width:60px;"
                                required>
                          <option label="Host" value="host-header" ng-if="rule.conditions.length === 1 || condition.field === 'host-header'"/>
                          <option label="Path" value="path-pattern" ng-if="rule.conditions.length === 1 || condition.field === 'path-pattern'"/>
                        </select>
                        <help-field ng-if="condition.field === 'path-pattern'" key="aws.loadBalancer.ruleCondition.path"></help-field>
                        <help-field ng-if="condition.field === 'host-header'" key="aws.loadBalancer.ruleCondition.host"></help-field>
                        <input class="form-control input-sm"
                               type="text"
                               ng-model="condition.values[0]"
                               ng-maxlength="128"
                               required/>
                        <span class="remove-condition">
                          <a ng-if="$index === 1" class="btn btn-sm btn-link" href ng-click="ctrl.removeCondition(rule, $index)" style="padding:0;">
                            <span class="glyphicon glyphicon-trash" uib-tooltip="Remove Condition"></span>
                          </a>
                        </span>
                      </div>
                      <div class="add-new-container" ng-if="rule.conditions.length === 1">
                        <button class="add-new col-md-12" ng-click="ctrl.addCondition(rule)">
                          <span class="glyphicon glyphicon-plus-sign"></span> Add new condition
                        </button>
                        <span style="min-width: 15px;"></span>
                      </div>
                    </td>
                    <td>forward to</td>
                    <td>
                      <select class="form-control input-sm" ng-model="rule.actions[0].targetGroupName"
                              ng-options="targetGroup.name as targetGroup.name for targetGroup in ctrl.loadBalancerCommand.targetGroups" required></select>
                    </td>
                    <td>
                      <a class="btn btn-sm btn-link" href ng-click="ctrl.removeRule(listener, $index)" style="padding:0;">
                        <span class="glyphicon glyphicon-trash" uib-tooltip="Remove Rule"></span>
                      </a>
                    </td>
                  </tr>
                  <tr class="not-sortable">
                    <td colspan="5">
                      <button class="add-new col-md-12" ng-click="ctrl.addRule(listener)">
                        <span class="glyphicon glyphicon-plus-sign"></span> Add new rule
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-condensed packed">
        <tr>
          <td>
            <button class="add-new col-md-12" ng-click="ctrl.addListener()">
              <span class="glyphicon glyphicon-plus-sign"></span> Add new listener
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
