<div class="container-fluid form-horizontal">
  <div class="form-group">
    <div class="col-md-12">
      <div class="wizard-pod" ng-repeat="targetGroup in ctrl.loadBalancerCommand.targetGroups">
        <div>
          <div class="wizard-pod-row header">
            <div class="wizard-pod-row-title">Group Name</div>
            <div class="wizard-pod-row-contents">
              <span class="group-name-prefix">{{ctrl.application.name}}-</span>
              <input class="form-control input-sm target-group-name"
                     type="text"
                     ng-model="targetGroup.name"
                     ng-model-options="{ allowInvalid: true }"
                     validate-unique="ctrl.existingTargetGroupNames"
                     validate-ignore-case="true"
                     name="targetGroupName{{$index}}"
                     ng-maxlength="32 - ctrl.application.name.length"
                     required/>
              <a href class="sm-label" ng-click="ctrl.removeTargetGroup($index)"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
          </div>
          <div class="wizard-pod-row">
            <div class="wizard-pod-row-title">Backend Connection</div>
            <div class="wizard-pod-row-contents">
              <span class="wizard-pod-content">
                <label>Protocol </label>
                <select class="form-control input-sm inline-number"
                        ng-model="targetGroup.protocol"
                        ng-options="protocol for protocol in ['HTTP','HTTPS']">
                </select>
              </span>
              <span class="wizard-pod-content">
                <label>Port </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.port"
                       type="text"
                       required/>
              </span>
            </div>
          </div>
          <div class="wizard-pod-row">
            <div class="wizard-pod-row-title">Healthcheck</div>
            <div class="wizard-pod-row-contents">
              <span class="wizard-pod-content">
                <label>Protocol </label>
                <select class="form-control input-sm inline-number"
                        ng-model="targetGroup.healthCheckProtocol"
                        ng-options="protocol for protocol in ['HTTP','HTTPS']">
                </select>
              </span>
              <span class="wizard-pod-content">
                <label>Port </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.healthCheckPort"
                       type="text"
                       required/>
              </span>
              <span class="wizard-pod-content">
                <label>Path </label>
                <input class="form-control input-sm inline-text"
                       ng-model="targetGroup.healthCheckPath"
                       type="text"
                       required/>
              </span>
              <span class="wizard-pod-content">
                <label>Timeout </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.healthCheckTimeout"
                       type="text"
                       required/>
              </span>
              <span class="wizard-pod-content">
                <label>Interval </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.healthCheckInterval"
                       type="text"
                       required/>
              </span>
            </div>
          </div>
          <div class="wizard-pod-row">
            <div class="wizard-pod-row-title">Healthcheck Threshold</div>
            <div class="wizard-pod-row-contents">
              <span class="wizard-pod-content">
                <label>Healthy </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.healthyThreshold"
                       type="number"
                       required/>
              </span>
              <span class="wizard-pod-content">
                <label>Unhealthy </label>
                <input class="form-control input-sm inline-number"
                       ng-model="targetGroup.unhealthyThreshold"
                       type="number"
                       required/>
              </span>
            </div>
          </div>
          <div class="wizard-pod-row">
            <div class="wizard-pod-row-title">Attributes</div>
            <div class="wizard-pod-row-contents">
              <span class="wizard-pod-content">
                <label>Dereg. Delay</label><help-field key="aws.targetGroup.attributes.deregistrationDelay"></help-field> <input class="form-control input-sm inline-number" ng-model="targetGroup.attributes.deregistrationDelay" type="number"/>
              </span>
              <span class="wizard-pod-content">
                <label class="checkbox-inline" style="padding-top: 2px;">
                  <input type="checkbox" ng-model="targetGroup.attributes.stickinessEnabled"/> <label>Sticky</label><help-field key="aws.targetGroup.attributes.stickinessEnabled"></help-field>
                </label>
              </span>
              <span class="wizard-pod-content" ng-if="targetGroup.attributes.stickinessEnabled">
                <label>Duration</label><help-field key="aws.targetGroup.attributes.stickinessDuration"></help-field> <input class="form-control input-sm inline-number" ng-model="targetGroup.attributes.stickinessDuration" type="number"/>
              </span>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-condensed packed">
        <tr>
          <td>
            <button class="add-new col-md-12" ng-click="ctrl.addTargetGroup()">
              <span class="glyphicon glyphicon-plus-sign"></span> Add new target group
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
