@import "~core/presentation/less/imports/commonImports.less";

.sticky-header {
  .shadowed {
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    background-color: @pod_header_blue;
    align-items: center;
  }
  &.clickable.heading-sticky {
    box-shadow: none;
    .shadowed {
      box-shadow: 0 8px 6px -6px @mid_lighter_grey;
    }
  }
  .clearfix();
}

.heading-sticky {
  position: fixed;
  z-index: 2;
  margin: 0;
  .sticky-only {
    display: inline;
  }
}
.not-sticky {
  top: unset;
  width: 100%;
  z-index: 3;
}

.sticky-only {
  display: none;
}
