<div class="details-panel">
  <div ng-if="state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <h4 class="text-center">
      <span us-spinner="{radius:20, width:6, length: 12}"></span>
    </h4>
  </div>

  <div ng-if="!state.loading" class="header">
    <div class="close-button">
      <a class="btn btn-link"
         ui-sref="^">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="header-text">
      <span class="icon icon-elb"></span>
      <h3 select-on-dbl-click>
        {{loadBalancer.name}}
      </h3>
    </div>
    <div>
      <div class="actions">
        <div class="dropdown" uib-dropdown dropdown-append-to-body>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" uib-dropdown-toggle>
            Load Balancer Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a href ng-click="ctrl.editLoadBalancer()">Edit Load Balancer</a></li>
            <li ng-if="!loadBalancer.instances.length"><a href ng-click="ctrl.deleteLoadBalancer()">Delete Load Balancer</a></li>
            <li ng-if="loadBalancer.instances.length" class="disabled" uib-tooltip="You must detach all instances before you can delete this load balancer.">
              <a href ng-click="ctrl.deleteLoadBalancer()">Delete Load Balancer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!state.loading" class="content">
    <collapsible-section heading="Load Balancer Details" expanded="true">
      <dl class="dl-horizontal" ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'">
        <dt>Created</dt>
        <dd>{{loadBalancer.createdTime | timestamp}}</dd>
        <dt>In</dt>
        <dd><account-tag account="loadBalancer.account" pad="right"></account-tag></dd>
        <dt>Namespace</dt>
        <dd>{{loadBalancer.namespace}}</dd>
        <dt>Kind</dt>
        <dd>{{loadBalancer.service.kind}}</dd>
        <dt>YAML</dt>
        <dd><a href ng-click="ctrl.showYaml()">Show YAML</a></dd>
      </dl>
      <dl ng-class="InsightFilterStateModel.filtersExpanded ? '' : 'dl-horizontal dl-wide'">
        <dt ng-if="loadBalancer.serverGroups">Server Groups</dt>
        <dd ng-if="loadBalancer.serverGroups">
          <ul ng-style="{'margin-left': InsightFilterStateModel.filtersExpanded ? '30px' : 0}">
            <li ng-repeat="serverGroup in loadBalancer.serverGroups">{{serverGroup.name}}</li>
          </ul>
        </dd>
      </dl>
      <dl>
        <dt>Service Type</dt>
        <dd>
        {{loadBalancer.service.spec.type}}
        </dd>
      </dl>
      <dl>
        <dt>Session Affinity</dt>
        <dd>
        {{loadBalancer.service.spec.sessionAffinity}}
        </dd>
      </dl>
      <dl>
        <dt>Internal DNS Name</dt>
        <dd>
        {{loadBalancer.name}}.{{loadBalancer.namespace}}.svc.cluster.local
          <copy-to-clipboard
              class="copy-to-clipboard copy-to-clipboard-sm"
              text="{{loadBalancer.name}}.{{loadBalancer.namespace}}.svc.cluster.local"
              tool-tip="Copy Internal DNS Name to clipboard">
          </copy-to-clipboard>
        </dd>
      </dl>
      <dl ng-if="loadBalancer.service.spec.clusterIP">
        <dt>Cluster IP</dt>
        <dd>
        {{loadBalancer.service.spec.clusterIP}}
          <copy-to-clipboard
              class="copy-to-clipboard copy-to-clipboard-sm"
              text="{{loadBalancer.service.spec.clusterIP}}"
              tool-tip="Copy Cluster IP to clipboard">
          </copy-to-clipboard>
        </dd>
      </dl>
      <dl ng-if="loadBalancer.service.spec.loadBalancerIP">
        <dt>Load Balancer IP</dt>
        <dd>
        {{loadBalancer.service.spec.loadBalancerIP}}
          <copy-to-clipboard
              class="copy-to-clipboard copy-to-clipboard-sm"
              text="{{loadBalancer.service.spec.loadBalancerIP}}"
              tool-tip="Copy Load Balancer IP to clipboard">
          </copy-to-clipboard>
        </dd>
      </dl>
    </collapsible-section>
    <collapsible-section heading="Status" expanded="true">
      <health-counts class="pull-left" container="loadBalancer.instanceCounts"></health-counts>
    </collapsible-section>
    <collapsible-section heading="Ports" expanded="true">
      <dl ng-repeat="port in loadBalancer.service.spec.ports" class="dl-horizontal"
          ng-class="InsightFilterStateModel.filtersExpanded ? 'dl-narrow' : 'dl-wide'" >
        <div ng-if="port.name">
          <dt>Name</dt>
          <dd>{{port.name}}</dd>
        </div>
        <div ng-if="port.protocol">
          <dt>Protocol</dt>
          <dd>{{port.protocol}}</dd>
        </div>
        <div ng-if="port.port">
          <dt>Port</dt>
          <dd>{{port.port}}</dd>
        </div>
        <div ng-if="port.targetPort">
          <dt>Target Port</dt>
          <dd>{{port.targetPort}}</dd>
        </div>
        <div ng-if="port.nodePort">
          <dt>Node Port</dt>
          <dd>{{port.nodePort}}</dd>
        </div>
      </dl>
    </collapsible-section>
  </div>
</div>
