<div modal-page>
  <modal-close></modal-close>
  <div class="modal-header">
    <h3 data-purpose="modal-header">Edit Notification</h3>
  </div>

  <form role="form" class="container-fluid" novalidate name="editNotificationForm">
    <div class="modal-body">
      <notification-selector notification="notification"></notification-selector>
    </div>

    <div class="modal-footer">
      <a href class="btn btn-default" ng-click="$dismiss()">Cancel</a>
      <button type="submit"
              class="btn btn-primary"
              data-purpose="submit"
              ng-click="editNotification.submit()"
              ng-disabled="editNotificationForm.$invalid"
        >
        <span class="glyphicon glyphicon-ok-circle"></span> Add
      </button>
    </div>
  </form>
</div>
