<div class="form-horizontal canary-config-view">
  <h4>Canary Config</h4>

  <stage-config-field label="Lifetime" field-columns="3">
    <input type="text"
           ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.lifetimeHours"
           class="form-control input-sm"
           style="display: inline-block; width: 33%"/>
    <span class="form-control-static">hours</span>
  </stage-config-field>

  <stage-config-field label="Result Strategy" field-columns="3">
    <select class="form-control input-sm"
            ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.combinedCanaryResultStrategy">
      <option value="LOWEST">lowest</option>
      <option value="AVERAGE">average</option>
    </select>
  </stage-config-field>

  <h5>Analysis Config</h5>
  <div class="horizontal-rule"></div>

  <stage-config-field label="Config Name">
    <ui-select required
               ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.canaryConfigId"
               class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"
               style="width:245px">
      <ui-select-match>{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="name in kayentaCanaryStageCtrl.canaryConfigNames | filter: $select.search">
        {{name}}
      </ui-select-choices>
    </ui-select>
  </stage-config-field>

  <stage-config-field label="Delay" field-columns="5">
    <input type="text"
           ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.beginCanaryAnalysisAfterMins"
           class="form-control input-sm"
           style="display: inline-block; width: 19%"/>
    <span class="form-control-static">
      minutes before starting analysis
    </span>
  </stage-config-field>

  <stage-config-field label="Frequency" field-columns="3">
    <input type="text"
           ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.canaryAnalysisIntervalMins"
           class="form-control input-sm"
           style="width: 33%; display: inline-block"/>
    <span class="form-control-static"> minutes</span>
  </stage-config-field>

  <stage-config-field label="Analysis Type"
                      field-columns="3">
    <select class="form-control input-sm"
            ng-model="kayentaCanaryStageCtrl.state.useLookback"
            ng-options="(useLookback ? 'Sliding Lookback' : 'Growing') for useLookback in [false, true]"
            ng-change="kayentaCanaryStageCtrl.onUseLookbackChange()">
    </select>
  </stage-config-field>
  <stage-config-field ng-if="kayentaCanaryStageCtrl.state.useLookback">
    <div class="form-group">
      <div class="col-md-9">
        <p class="form-control-static" ng-if="kayentaCanaryStageCtrl.isExpression(kayentaCanaryStageCtrl.stage.canaryConfig.lookbackMins)">
          Using a sliding lookback duration defined by an expression viewable in the pipeline JSON editor.
        </p>
        <span ng-if="!kayentaCanaryStageCtrl.isExpression(kayentaCanaryStageCtrl.stage.canaryConfig.lookbackMins)">
          with a look-back duration of
          <input type="number"
                 min="1"
                 max="{{kayentaCanaryStageCtrl.stage.canaryConfig.lifetimeHours * 60}}"
                 required
                 ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.lookbackMins"
                 class="form-control input-sm" style="display: inline-block; margin: 0 5px; width: 15%"/>
          minutes
        </span>
      </div>
    </div>
    <div class="error-message col-md-12"
         ng-if="kayentaCanaryStageCtrl.stage.canaryConfig.lookbackMins > 0 && kayentaCanaryStageCtrl.stage.canaryConfig.lookbackMins < 30">
      <b>NOTE:</b> To provide enough data points for the canary analysis it is recommended to set the look-back
      time to at least 30 minutes.
    </div>
  </stage-config-field>

  <h5>Metric Scope</h5>
  <div class="horizontal-rule"></div>

  <stage-config-field label="Baseline">
    <input
      class="form-control input-sm"
      ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.controlScope"
      required
      type="text"/>
  </stage-config-field>

  <stage-config-field label="Canary">
    <input
      class="form-control input-sm"
      ng-model="kayentaCanaryStageCtrl.stage.canaryConfig.experimentScope"
      required
      type="text"/>
  </stage-config-field>
</div>
