kubernetes-annotation-configurer {
  .sm-label-left {
    border-bottom: 1px solid #ddd;
  }

  .table {
    border-top: 2px solid white;

    .table-label {
      padding: .8rem 0 0 1rem;
    }

    .table-remove-button {
      padding: 0 0 1rem 1rem;
    }
  }
}
