<div class="form-group">
  <label class="col-md-3 sm-label-right">Master</label>
  <div class="col-md-8">
    <ui-select class="form-control input-sm" ng-model="$ctrl.trigger.master">
      <ui-select-match placeholder="Select a master...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="master in $ctrl.masters | filter: $select.search">
        <span ng-bind-html="master | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-md-1 text-center">
    <a
      href
      ng-click="$ctrl.refreshMasters()"
      tooltip-placement="right"
      uib-tooltip="{{$ctrl.viewState.mastersRefreshing ? 'Masters refreshing.' : 'Refresh masters list' }}"
    >
      <span ng-class="{'fa-spin':$ctrl.viewState.mastersRefreshing}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 sm-label-right"
    >Job<help-field ng-if="$ctrl.shouldFilter()" key="pipeline.config.travis.job.isFiltered"></help-field
  ></label>
  <div class="col-md-8">
    <p class="form-control-static" ng-if="!$ctrl.trigger.master">(Select a master)</p>
    <div ng-if="$ctrl.trigger.master && $ctrl.viewState.jobsLoaded">
      <ui-select class="form-control input-sm" ng-model="$ctrl.trigger.job">
        <ui-select-match placeholder="{{$ctrl.shouldFilter() ? 'Start typing...' : 'Select a job...'}}"
          >{{$select.selected}}</ui-select-match
        >
        <ui-select-choices
          repeat="job in $ctrl.jobs | filter: $select.search | limitTo: $ctrl.shouldFilter() ? $ctrl.filterLimit : undefined"
          ><span ng-bind-html="job | highlight: $select.search"></span
        ></ui-select-choices>
      </ui-select>
    </div>
    <div class="horizontal center" ng-if="$ctrl.trigger.master && !$ctrl.viewState.jobsLoaded">
      <loading-spinner size="'small'"></loading-spinner>
    </div>
  </div>
  <div class="col-md-1 text-center">
    <a
      href
      ng-click="$ctrl.refreshJobs()"
      tooltip-placement="right"
      uib-tooltip="{{$ctrl.viewState.jobsRefreshing ? 'Jobs refreshing.' : 'Refresh job list' }}"
    >
      <span ng-class="{'fa-spin':$ctrl.viewState.jobsRefreshing}" class="fa fa-sync-alt"></span>
    </a>
  </div>
</div>
<div class="form-group">
  <div class="col-md-3 sm-label-right">
    <b>Property File</b>
    <help-field key="pipeline.config.travis.trigger.propertyFile"></help-field>
  </div>
  <div class="col-md-6">
    <input type="text" class="form-control input-sm" ng-model="$ctrl.trigger.propertyFile" />
  </div>
</div>
<div class="form-group" ng-if="$ctrl.fiatEnabled">
  <run-as-user-selector service-accounts="$ctrl.serviceAccounts" component="$ctrl.trigger" field="runAsUser">
  </run-as-user-selector>
</div>
