# jenkins configuration
SERVICES_JENKINS_DEFAULTMASTER_NAME=spinnaker
SERVICES_JENKINS_DEFAULTMASTER_BASEURL=https://spinnaker.builds.myjenkinshost.com
SERVICES_JENKINS_DEFAULTMASTER_USERNAME=username
SERVICES_JENKINS_DEFAULTMASTER_PASSWORD=password

# clouddriver config
PROVIDERS_AWS_ENABLED=true

# front end overrides - enter the results of docker-machine ip [yourenv] here
API_HOST=192.168.99.100:8080
SERVICES_DEFAULT_HOST=192.168.99.100

# embedded cassandra
CASSANDRA_HOST=127.0.0.1
CASSANDRA_EMBEDDED=true

# Internal configuration for docker compose - don't need to change
REDIS_CONNECTION=redis://redis:6379
