<div class="form-horizontal">

  <account-region-cluster-selector
    application="application"
    component="stage"
    accounts="accounts"
    cluster-field="clusterName"
    single-region="true">
  </account-region-cluster-selector>

  <stage-config-field label="Package" help-key="pipeline.config.quickPatchAsg.package">
    <input type="text" required ng-model="stage.package"
           class="form-control input-sm" />
  </stage-config-field>
  <stage-config-field label="Base OS" help-key="pipeline.config.quickPatchAsg.baseOs">
    <label class="radio-inline" ng-repeat="baseOsOption in baseOsOptions">
      <input type="radio"
             ng-model="stage.baseOs"
             ng-value="baseOsOption"/>
      {{baseOsOption}}
    </label>
  </stage-config-field>
  <stage-config-field label="Rolling Patch" help-key="pipeline.config.quickPatchAsg.rollingPatch">
    <label class="checkbox-inline">
      <input
        type="checkbox"
        ng-model="stage.rollingPatch"
        name="rollingPatch"/> &nbsp;
    </label>
  </stage-config-field>
  <stage-config-field label="Skip If UpToDate" help-key="pipeline.config.quickPatchAsg.skipUpToDate">
    <label class="checkbox-inline">
      <input
        type="checkbox"
        ng-model="stage.skipUpToDate"
        name="skipUpToDate"/> &nbsp;
    </label>
  </stage-config-field>
</div>
