<div class="form-horizontal">
  <stage-config-field label="Account">
    <account-select-field component="stage" field="credentials" accounts="accounts" provider="'aws'" on-change="quickPatchAsgStageCtrl.accountUpdated()" required></account-select-field>
  </stage-config-field>
  <region-select-field component="stage"
                       field="region"
                       account="stage.credentials"
                       provider="'aws'"
                       regions="regions"
                       label-columns="2 col-md-offset-1"
                       field-columns="6"></region-select-field>
  <stage-config-field label="Cluster" help-key="pipeline.config.quickPatchAsg.cluster">
    <input type="text" required ng-model="stage.clusterName"
      class="form-control input-sm" />
  </stage-config-field>
  <stage-config-field label="Package" help-key="pipeline.config.quickPatchAsg.package">
    <input type="text" required ng-model="stage.package"
           class="form-control input-sm" />
  </stage-config-field>
  <stage-config-field label="Base OS" help-key="pipeline.config.quickPatchAsg.baseOs">
    <label class="radio-inline" ng-repeat="baseOsOption in baseOsOptions">
      <input type="radio"
             ng-model="stage.baseOs"
             ng-value="baseOsOption"/>
      {{baseOsOption}}
    </label>
  </stage-config-field>
  <stage-config-field label="Rolling Patch" help-key="pipeline.config.quickPatchAsg.rollingPatch">
    <label class="checkbox-inline">
      <input
        type="checkbox"
        ng-model="stage.rollingPatch"
        name="rollingPatch"/> &nbsp;
    </label>
  </stage-config-field>
  <stage-config-field label="Skip If UpToDate" help-key="pipeline.config.quickPatchAsg.skipUpToDate">
    <label class="checkbox-inline">
      <input
        type="checkbox"
        ng-model="stage.skipUpToDate"
        name="skipUpToDate"/> &nbsp;
    </label>
  </stage-config-field>
</div>
