.execution-artifacts {
  background: var(--color-alabaster);
  display: flex;
  margin-right: 0;
  padding: 6px;
}

.artifact-list-container {
  background: var(--color-white);
  padding: 8px 6px 6px;

  > h5 {
    margin-top: 0;
  }
}

.artifact-list-item {
  height: 28px;
  position: relative;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.1em;
}

.artifact-list-item-icon {
  position: absolute;
  top: 4px;
}

.artifact-list-item-name {
  padding-left: 24px;
}
