# .github/workflows/gcr-cleaner.yml
name: 'gcr-cleaner'

on:
  schedule:
    - cron: '0 0 */1 * *' # runs daily
  workflow_dispatch: # allows for manual invocation

jobs:
  ghcr-cleaner:
    runs-on: 'ubuntu-latest'
    steps:
      # configure based on your registry
      - name: Login to GHCR
        uses: docker/login-action@v3 # Use the latest stable version
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # delete untaggd images older than 48 hours
      - name: Clean images
        uses: 'docker://us-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli'
        with:
          args: >-
            -repo=ghcr.io/spinnaker/clouddriver
            -repo=ghcr.io/spinnaker/deck
            -repo=ghcr.io/spinnaker/echo
            -repo=ghcr.io/spinnaker/fiat
            -repo=ghcr.io/spinnaker/front50
            -repo=ghcr.io/spinnaker/gate
            -repo=ghcr.io/spinnaker/halyard
            -repo=ghcr.io/spinnaker/igor
            -repo=ghcr.io/spinnaker/kayenta
            -repo=ghcr.io/spinnaker/keel
            -repo=ghcr.io/spinnaker/orca
            -repo=ghcr.io/spinnaker/rosco
            -grace=48h
            -dry-run=false

  gcr-cleaner:
    runs-on: 'ubuntu-latest'
    steps:
      # configure based on your registry
      - name: Login to GAR
        uses: 'docker/login-action@v3'
        with:
          registry: us-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GAR_JSON_KEY }}


      # delete untaggd images older than 48 hours
      - uses: 'docker://us-docker.pkg.dev/gcr-cleaner/gcr-cleaner/gcr-cleaner-cli'
        with:
          args: >-
            -repo=us-docker.pkg.dev/spinnaker-community/docker
            -grace=48h
            -dry-run=true
