name: Clouddriver Integration Tests

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - release-*
    paths:
      - 'clouddriver/**'

  pull_request:
    paths:
      - 'clouddriver/**'

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Xmx10g -Xms10g

jobs:
  it-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: |
          17
        distribution: 'zulu'
    - name: Cache on push
      if: github.event_name == 'push'
      uses: actions/cache@v4
      with:
        path: ~/.gradle
        key: ${{ runner.os }}-cd-it-${{ github.sha }}
        # Restore build outputs from the previous commit (if successful), if current commit hasn't run successfully yet
        restore-keys: |
          ${{ runner.os }}-cd-it-${{ github.event.before }}
    - name: Cache on pull_request
      if: github.event_name == 'pull_request'
      uses: actions/cache@v4
      with:
        path: ~/.gradle
        key: ${{ runner.os }}-cd-it-${{ github.event.pull_request.head.sha }}
        restore-keys: |
          ${{ runner.os }}-cd-it-${{ github.event.before }}
    # Separating integration tests by provider allows to have separate logs
    - name: Amazon ECS Provider Integration Tests
      run: ./gradlew --build-cache :clouddriver:clouddriver-ecs:integrationTest
    - name: Artifacts Integration Tests
      run: ./gradlew --build-cache :clouddriver:clouddriver-artifacts:integrationTest
    - name: AWS EC2 Provider Integration Tests
      run: ./gradlew --build-cache :clouddriver:clouddriver-aws:integrationTest
