.gce-scaling-policy-modal {
  .error-message {
    margin-top: 4px;
  }

  input.form-control {
    margin-bottom: 2px;
    width: 100%;
  }

  .collapsible-subsection {
    .content-body {
      padding-left: 0;
    }
  }
}
