<div class="form-group">
  <div class="col-md-2 sm-label-left">
    <b>Account</b>
  </div>
  <div class="col-md-7">
    <account-select-field component="command" field="credentials" accounts="command.backingData.accounts" provider="'gce'"></account-select-field>
  </div>
</div>
<gce-region-select-field label-columns="2" component="command" field="region" account="command.credentials" regions="command.backingData.filtered.regions"></gce-region-select-field>
<gce-zone-select-field label-columns="2" component="command" field="zone" account="command.credentials" zones="command.backingData.filtered.zones"></gce-zone-select-field>
<div class="form-group">
  <div class="col-md-2 sm-label-left">
    <b>Stack</b>
    <help-field key="aws.serverGroup.stack"></help-field>
  </div>
  <div class="col-md-3"><input type="text"
                               class="form-control input-sm"
                               ng-model="command.stack"/></div>

  <div class="col-md-2 sm-label-right">
    <b>Detail</b>
    <help-field key="aws.serverGroup.detail"></help-field>
  </div>
  <div class="col-md-3"><input type="text"
                               class="form-control input-sm"
                               ng-model="command.freeFormDetails"/></div>
</div>
<div class="form-group" ng-if="!command.viewState.disableImageSelection">
  <div class="col-md-2 sm-label-left"><b>Image</b></div>
  <div class="col-md-7">
    <!-- TODO(duftler): Dynamically populate this field with the correct set of images based on region/zone/project. -->
    <select class="form-control input-sm"
            ng-model="command.image"
            ng-change="onChange()"
            required>
      <option ng-repeat="image in command.backingData.filtered.imageNames"
              value="{{image}}"
              ng-selected="command.image === image">{{image}}</option>
    </select>
  </div>
</div>
<deployment-strategy-selector ng-if="!command.viewState.disableStrategySelection && command.selectedProvider" command="command"></deployment-strategy-selector>
<div class="form-group" ng-if="!command.viewState.hideClusterNamePreview">
  <div class="col-md-9 col-md-offset-2">
    <div class="well-compact" ng-class="basicSettingsCtrl.createsNewCluster() ? 'alert alert-warning' : 'well'">
      <h5 class="text-center">
        <p>Your server group will be in the cluster:</p>
        <strong>
          {{basicSettingsCtrl.getNamePreview()}}
          <span ng-if="basicSettingsCtrl.createsNewCluster()"> (new cluster)</span>
        </strong>
      </h5>
    </div>
  </div>
</div>
