<div modal-page class="overlay overlay-modal" modal-overlay ng-if="taskMonitor.submitting || taskMonitor.error">
  <div class="modal-header">
    <h3>{{taskMonitor.title}}</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="clearfix" auto-scroll="[taskMonitor.task.getValueFor('kato.tasks'), taskMonitor.task.error, taskMonitor.task.forceRefreshing]">
      <div class="col-md-12 overlay-modal-status" ng-if="taskMonitor.task">
        <ul class="task task-progress" ng-repeat="katoTask in taskMonitor.task.getValueFor('kato.tasks')">
          <li ng-repeat="step in katoTask.history">
            <span class="glyphicon glyphicon-{{step.status.indexOf('Orchestration failed') === 0 ? 'warning-sign' : 'ok-circle'}}"></span>
            {{step.status}}
          </li>
        </ul>
        <ul class="task task-progress task-progress-refresh" ng-if="taskMonitor.forceRefreshing">
          <li ng-if="taskMonitor.forceRefreshing">
            <span class="glyphicon glyphicon-spinning glyphicon-asterisk"></span> {{taskMonitor.forceRefreshMessage}}
            <p>You can <a href ng-click="taskMonitor.closeModal()">close this dialog</a> and continue working while we clean up.</p>
          </li>
        </ul>
        <ul class="task task-progress task-progress-refresh" ng-if="taskMonitor.forceRefreshComplete">
          <li>
            <span class="glyphicon glyphicon-ok-circle"></span> <strong>Operation succeeded!</strong>
          </li>
        </ul>
        <ul class="task task-progress task-progress-running" ng-if="!taskMonitor.forceRefreshComplete && !taskMonitor.forceRefreshing && !taskMonitor.error">
          <li><span class="glyphicon glyphicon-spinning glyphicon-asterisk"></span></li>
        </ul>
        <p ng-if="taskMonitor.task.id && !taskMonitor.error">
            You can
            <a ui-sref="home.applications.application.tasks.taskDetails({application: taskMonitor.application.name, taskId: taskMonitor.task.id})">monitor
              this task from the Tasks view</a>.
        </p>
      </div>
      <div class="col-md-12 overlay-modal-error" ng-if="taskMonitor.error">
        <alert type="danger">
          <h4><span class="glyphicon glyphicon-warning-sign"></span> Error:</h4>

          <p>{{taskMonitor.errorMessage}}</p>
        </alert>
        <p ng-if="taskMonitor.task.id">
          <a
            ui-sref="home.applications.application.tasks.taskDetails({application: taskMonitor.application.name, taskId: taskMonitor.task.id})">
            View this failed task in the tasks pane.
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="!taskMonitor.error">
    <button class="btn btn-primary" ng-click="taskMonitor.closeModal()" autofocus>Close</button>
  </div>
  <div class="modal-footer" ng-if="taskMonitor.error">
    <button class="btn btn-primary" ng-if="taskMonitor.error" ng-click="taskMonitor.error = null">Go back and try to fix
      this
    </button>
    <button class="btn btn-default" ng-if="taskMonitor.error" ng-click="taskMonitor.closeModal()">Cancel</button>
  </div>
</div>
