<div class="container-fluid form-horizontal">
  <div class="modal-body">
    <div class="form-group">
      <div
        class="col-md-12 well"
        ng-class="{'alert-danger': form.securityGroupName.$error.validateUnique, 'alert-info': !form.securityGroupName.$error.validateUnique}"
      >
        <strong>Your <firewall-label label="firewall"></firewall-label> will be named:</strong>
        <span ng-bind="namePreview"></span>
        <input
          type="hidden"
          class="form-control input-sm"
          ng-model="securityGroup.name"
          validate-unique="existingSecurityGroupNames"
          validate-ignore-case="true"
          name="securityGroupName"
          ng-pattern="ctrl.namePattern"
          trigger-validation="securityGroup.subnet"
          required
        />
        <validation-error
          ng-if="form.securityGroupName.$error.validateUnique && securityGroup.credentials"
          message="There is already a {{firewallLabel}} in {{securityGroup.credentials}} with that name."
        ></validation-error>
        <validation-error
          ng-if="form.securityGroupName.$error.pattern"
          message="Name can only contain letters, numbers, and dashes(-)."
        ></validation-error>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Detail (optional)</div>
      <div class="col-md-4">
        <input
          type="text"
          class="form-control input-sm"
          ng-model="securityGroup.detail"
          ng-change="ctrl.updateName()"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Description</div>
      <div class="col-md-8">
        <input type="text" required class="form-control input-sm" ng-model="securityGroup.description" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 sm-label-right">Account</div>
      <div class="col-md-8">
        <account-select-field
          component="securityGroup"
          field="credentials"
          accounts="accounts"
          provider="'gce'"
          on-change="ctrl.accountUpdated()"
        ></account-select-field>
      </div>
    </div>
    <gce-network-select-field
      label-columns="4"
      field-columns="8"
      component="securityGroup"
      field="network"
      account="securityGroup.credentials"
      networks="securityGroup.backingData.networks"
      on-change="ctrl.registerHelpTextService()"
    ></gce-network-select-field>
  </div>
</div>
