.pipeline-template-variable {
  .add-new {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }

  code {
    color: var(--color-black);
    margin-right: 3px;
    max-width: 100px;
    word-break: break-all;
  }
}
