@import "../../../presentation/less/imports/commonImports.less";

application-links {
  .row-heading {
    padding: 10px 0;
    border-bottom: 1px solid @mid_light_grey;
    border-top: 1px solid @mid_light_grey;
  }
  .link-section {
    margin: 10px 0;
  }
  .sm-label-right {
    padding-left: 0;
  }
  .link-title {
    display: flex;
    flex-direction: row;
    input {
      flex: 1;
    }
  }
  .glyphicon-resize-vertical {
    margin: 0 5px;
    padding-top: 7px;
    border-radius: 2px;
  }
}
