.filters-toggle {
  position: absolute;

  .filters-hidden {
    margin-top: 11px;
  }

  .filters-open {
    background-color: var(--color-accent-g2);
    height: 32px;
    font-size: 16px;
    margin-top: 6px;

    @media (min-width: 768px) and (max-width: 992px) {
      width: 104px;
    }

    @media (min-width: 992px) {
      width: 124px;
    }
    @media (min-width: 1200px) {
      width: 154px;
    }
    @media (min-width: 1400px) {
      width: 184px;
    }
    @media (min-width: 1600px) {
      width: 214px;
    }
    @media (min-width: 1800px) {
      width: 224px;
    }
    @media (min-width: 2000px) {
      width: 254px;
    }
  }
  button {
    height: 22px;
    line-height: 12px;
  }

  .show-filter-text {
    border-left: 1px solid var(--color-accessory-light);
  }
}
